<template>
  <div class="reflection" :class="elClass">
    <h1 class="reflection__text">{{ elText }}</h1>
    <span class="reflection__text__under"> {{ elText }} </span>
  </div>
</template>

<script>
export default {
  name: 'ReflectiveHover',

  props: {
    elClass: {
      type: Array,
      default() {
        return [];
      },
    },
    elText: {
      type: String,
      default: '',
    },
  },
};
</script>

<style scoped lang="scss">
.reflection {
  position: relative;

  &__text {
    z-index: 99;
    font-size: $h1;
    font-weight: 500;
    color: $corporate-light;
    position: relative;
    word-wrap: break-word;

    &__under {
      position: absolute;
      color: $grey;
      font-size: $h1-reflection;
      font-weight: 500;
      top: -10px;
      left: -10px;
      z-index: 1;
    }
  }
}
</style>
