<template>
  <div
    :class="[
      'regular-input',
      { '-activated': activated },
      { '-focused': focus },
      { '-error': fieldError },
    ]"
  >
    <label
      v-if="!(errorMessage && fieldError)"
      :for="elId"
      class="regular-input__label"
      :class="elClass"
    >
      {{ elLabel }}
    </label>
    <span v-if="errorMessage && fieldError" class="regular-input__error">
      {{ errorMessage }}
    </span>
    <input
      class="regular-input__field"
      :disabled="elDisabled"
      :type="elType"
      :class="elClass"
      :id="elId"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @focus="focused"
      @blur="unfocused"
    />
  </div>
</template>

<script>
export default {
  name: 'ShopSearchField',
  data: function() {
    return {
      activated: false, //visited + have data
      visited: false,
      focus: false,
    };
  },
  props: {
    value: String,
    error: {
      type: Boolean,
      default: false,
    },
    errorMessages: {
      type: Object,
      default: null,
    },
    elType: {
      type: String,
      default: 'text',
    },
    elId: {
      type: String,
      default: '',
    },
    elClass: {
      type: Array,
      default() {
        return [];
      },
    },
    elLabel: {
      type: String,
      default: '',
    },
    elDisabled: {
      type: Boolean,
      default: null,
    },
  },
  mounted() {
    this.unfocused;
  },
  computed: {
    fieldError() {
      return this.error && this.visited && !this.focus;
    },
    errorMessage() {
      for (let message in this.errorMessages) {
        if (this.errorMessages[message] === true) {
          return message;
        }
      }
      return null;
    },
  },
  watch: {
    value() {
      this.activated = this.value ? true : false;
    },
  },
  methods: {
    focused() {
      this.activated = true;
      this.visited = true;
      this.focus = true;
    },
    unfocused() {
      this.activated = this.value;
      this.focus = false;
    },
  },
};
</script>

<style scoped lang="scss">
.regular-input {
  display: block;
  position: relative;
  border: 0px solid transparent;
  background: $grey;
  margin: 3px;
  max-width: 100%;
  border-radius: 24px;
  &:after {
    content: '';
    background-image: url(./../../../assets/img/svg/search-ico.svg);
    right: 20px;
    top: 12px;
    height: 20px;
    width: 20px;
    position: absolute;
  }

  &__label {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 24px;
    color: $light-grey-font;
    font-size: $regular + 2;
    transition: all 0.3s;
    &:hover {
      cursor: text;
    }
  }
  &__error {
    position: absolute;
    top: 2px;
    left: 24px;
    color: $red;
    font-size: $small;
    transition: all 0.3s;
  }
  &__field {
    border: 0px solid;
    width: 100%;
    height: 100%;
    padding: 15px 24px;
    background: transparent;
    outline: 0;

    &:active {
      border: 0px solid;
    }
  }

  &.-activated {
    .regular-input__label {
      font-size: $small;
      top: 0px;
    }
  }
  // &.-focused:before{
  //     content: '';
  //     top: 0;
  //     left: -3px;
  //     bottom: 0;
  //     width: 3px;
  //     height: 100%;
  //     background: $corporate;
  //     position: absolute;
  // }
  // &.-error:before{
  //     content: '';
  //     top: 0;
  //     left: -3px;
  //     bottom: 0;
  //     width: 3px;
  //     height: 100%;
  //     background: $red;
  //     position: absolute;
  // }
}
</style>
