<template>
  <div class="confirmation">
    <loader v-if="loading" />
    <div v-if="!loading && success" class="success">
      <h1>
        {{ $t('home.emailConfirmation.successTitle') }}
      </h1>
      <h2>
        {{ $t('home.emailConfirmation.preSuccessLink') }}
        <router-link :to="{ name: 'home' }">{{
          $t('home.emailConfirmation.successLink')
        }}</router-link>
        {{ $t('home.emailConfirmation.postSuccessLink') }}
      </h2>
    </div>
    <div v-if="!loading && !success" class="error">
      <h1>
        {{ $t('home.emailConfirmation.failedTitle') }}
      </h1>
      <h2>
        {{ $t('home.emailConfirmation.failedMessage') }}
      </h2>
      <form>
        <regular-input
          class="input"
          elId="email"
          :elLabel="$t('home.fields.email') + '*'"
          v-model="email"
        />

        <regular-button
          class="button"
          :elClass="['corporate']"
          :elDisabled="!email"
          @click="sendNewToken"
        >
          {{ $t('home.buttons.send') }}
        </regular-button>
      </form>
    </div>
  </div>
</template>

<script>
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import RegularInput from '@/components/primitives/RegularInput';
import RegularButton from '@/components/primitives/RegularButton';
import Loader from '@/components/common/Loader.vue';

const authRepository = RepositoryFactory.get('auth');

export default {
  name: 'EmailConfirm',
  components: {
    RegularButton,
    RegularInput,
    Loader,
  },
  beforeMount() {
    this.confirmEmail();
  },
  data: function() {
    return {
      email: null,
      loading: true,
      success: false,
    };
  },
  methods: {
    async confirmEmail() {
      let token = this.$route.query.token;
      try {
        const resp = await authRepository.emailConfirm(
          JSON.stringify({ token })
        );
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Подтверждение прошло успешно',
            'Подтверждение электронной почты прошло успешно',
            'success'
          );
          this.loading = false;
          this.success = true;
        } else {
          componentErrorHandler(
            this,
            'Подтверждение электронной почты',
            `Возникла ошибка во подтверждения электронной почты:  "${resp.data.message}"`,
            'error'
          );
          this.loading = false;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async sendNewToken() {
      try {
        const resp = await authRepository.emailConfirmToken(
          JSON.stringify({ email: this.email })
        );
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Повторная отправка токена',
            'Токен отправлен, проверьте свою почту.',
            'success'
          );
        } else {
          componentErrorHandler(
            this,
            'Повторная отправка токена',
            `Возникла ошибка при повторной отправке токена:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.confirmation {
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  padding: 10px 20px;
  text-align: center;
  .success {
    h1 {
      color: $dark-grey-font;
      font-size: $big;
    }

    h2 {
      font-size: $semi-big;

      a {
        font-size: $semi-big;
        text-decoration: underline;
      }
    }
  }
  .error {
    h1 {
      color: $dark-grey-font;
      font-size: $big;
    }

    h2 {
      font-size: $semi-big;
      margin-bottom: 40px;

      a {
        font-size: $semi-big;
        text-decoration: underline;
      }
    }

    form {
      max-width: 600px;
      margin: 0 auto;
      .input {
        margin-bottom: 30px;
      }
      .button {
      }
    }
  }
}
</style>
