<template>
  <div class="forgot">
    <reflective-hover
      :elClass="['forgot__header']"
      :elText="$t('home.passwordRecovery.title')"
    />
    <p class="forgot__description">
      {{ $t('home.passwordRecovery.instructions') }}
    </p>
    <p class="forgot__description">
      {{ $t('home.passwordRecovery.warning') }}
    </p>
    <div class="forgot__phone">
      <hint class="forgot__hint">
        <template v-slot:text>
          * {{ $t('messages.hints.extraNum1') }}
        </template>
      </hint>
      <regular-select-slots
        elId="prephone"
        class="forgot__phone__code"
        placeholder="Код"
        :optionList="countryCode"
        :error="!$v.forgot.prephone.required"
        v-model="forgot.prephone"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.title }}
        </template>
        <template v-slot:item="{ option }">
          {{ option.title }}
        </template>
      </regular-select-slots>
      <regular-input-masked
        elId="phone"
        class="forgot__phone__number"
        :elLabel="$t('home.fields.phone')"
        :error="!$v.forgot.phone.required"
        :mask="['### ###-##-##']"
        v-model="forgot.phone"
      />
      <regular-input-masked
        elId="subphone"
        class="forgot__phone__subnumber"
        :elLabel="'Добавочный'"
        :mask="'#'"
        v-model="forgot.subphone"
      />
    </div>
    <regular-input
      elId="surname"
      :elLabel="$t('home.fields.secondName') + '*'"
      :required="!$v.forgot.surname.required"
      :error="!$v.forgot.surname.required"
      v-model="forgot.surname"
    />
    <regular-input
      elId="email"
      :elLabel="$t('home.fields.email') + '*'"
      :errorMessages="{
        [$t('home.fieldErrors.emailRequired')]:
          !$v.forgot.email.required || !$v.forgot.email.email,
      }"
      :error="!$v.forgot.email.required || !$v.forgot.email.email"
      v-model="forgot.email"
    />
    <div class="forgot__helpers">
      <span
        class="forgot__helpers__return"
        @click="$emit('current', 'Login')"
        >{{ $t('home.buttons.backToLogin') }}</span
      >
    </div>
    <div class="forgot__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.forgot.$invalid"
        @click="send"
      >
        {{ $t('home.buttons.send') }}
      </regular-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { validationMixin } from 'vuelidate';

import { phoneCodes } from '@/helpers/data/phoneCode';
import { forgotValidate } from '@/helpers/validations/register';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import Hint from '@/components/common/Hint';
import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover.vue';

export default {
  name: 'Forgot',
  mixins: [validationMixin, phoneCodes],
  components: {
    Hint,
    RegularSelectSlots,
    RegularInput,
    RegularInputMasked,
    RegularButton,
    ReflectiveHover,
  },
  validations: forgotValidate,
  computed: {
    ...mapState({
      coreURL: state => state.common.urls.core,
    }),
  },
  data: function() {
    return {
      forgot: {
        username: null,
        phone: null,
        surname: null,
        email: null,
        prephone: null,
        subphone: null,
      },
    };
  },
  methods: {
    async send() {
      const regEx = /[^\d]/g;
      this.forgot.username = await this.forgot.phone.replace(regEx, '');
      this.forgot.phone = await (
        '' +
        this.countryCode[this.forgot.prephone].value +
        this.forgot.phone +
        this.forgot.subphone
      ).replace(regEx, '');

      const authRepository = RepositoryFactory.get('auth');

      try {
        const resp = await authRepository.recoverPassword(
          JSON.stringify(this.forgot)
        );

        if (resp.data.status == 'ok') {
          componentErrorHandler(
            this,
            'Восстановление пароля',
            `Мы отправили новый пароль на указанную электронную почту.`,
            'success'
          );
        } else {
          componentErrorHandler(
            this,
            'Восстановление пароля',
            `Возникла ошибка при восстановлении пароля: ${resp?.data?.message}`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.forgot {
  &__hint {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 99;
  }
  &__phone {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    &__code {
      width: 100px;
    }
    &__number {
      flex-grow: 1;
    }
    &__subnumber {
      flex-grow: 0;
      max-width: 150px;
    }
  }
  &__description {
    padding: 10px;
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px auto;
    &__return {
      display: inline-block;
      color: $corporate;
      font-size: $small;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
</style>
