<template>
  <div class="login">
    <reflective-hover
      :elClass="['login__header']"
      :elText="$t('home.login.title')"
    />
    <form>
      <div class="login__phone">
        <hint class="login__hint">
          <template v-slot:text>
            * {{ $t('messages.hints.extraNum1') }}
          </template>
        </hint>
        <regular-select-slots
          class="login__phone__code"
          :placeholder="$t('home.fields.phoneCode')"
          :optionList="countryCode"
          v-model="prelogin"
        >
          <template v-slot:value="{ valueName }">
            {{ valueName.title }}
          </template>
          <template v-slot:item="{ option }">
            {{ option.title }}
          </template>
        </regular-select-slots>
        <regular-input-masked
          elId="phone"
          class="login__phone__number"
          :elLabel="$t('home.fields.phone')"
          :error="!$v.auth.login.required"
          :mask="['### ###-##-##']"
          v-model="auth.login"
        />
        <regular-input-masked
          elId="subphone"
          class="login__phone__subnumber"
          :elLabel="$t('home.fields.extPhone')"
          :mask="'#'"
          v-model="subphone"
        />
      </div>
      <regular-input-password
        elId="pass"
        :elLabel="$t('home.fields.password')"
        elType="password"
        :error="!$v.auth.password.required"
        v-model="auth.password"
      />
      <div class="login__helpers">
        <regular-checkbox
          elValue="loginRemember"
          @click="loginRemember = !loginRemember"
          :elChecked="loginRemember"
          elId="loginRemember"
          >{{ $t('home.login.rememberMe') }}</regular-checkbox
        >
        <span
          class="login__helpers__forgot"
          @click="$emit('current', 'Forgot')"
        >
          {{ $t('home.buttons.forgotPassword') }}
        </span>
      </div>
      <div class="login__buttons">
        <div class="login__buttons__top">
          <regular-button
            :elClass="['corporate']"
            :elDisabled="$v.auth.$invalid"
            @click="login"
            >{{ $t('home.buttons.login') }}</regular-button
          >
          <span class="login__buttons__separator">{{
            $t('home.buttons.orSeparator')
          }}</span>
          <regular-button :elClass="['grey']" @click="registerUser">{{
            $t('home.buttons.register')
          }}</regular-button>
        </div>
        <regular-button :elClass="['grey']" @click="registerEntity">
          {{ $t('home.buttons.registerObject') }}
        </regular-button>
      </div>
    </form>
    <counters />
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { phoneCodes } from '@/helpers/data/phoneCode';

import { mapState } from 'vuex';
import { loginValidate } from '@/helpers/validations/register';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { asyncSetLocalStorage } from '@/helpers/methods/asyncLocalStorage';

import Hint from '@/components/common/Hint';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularCheckbox from '@/components/primitives/RegularCheckbox.vue';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover.vue';
import RegularInputPassword from '@/components/primitives/RegularInputPassword.vue';
import Counters from '@/views/home/Counters';

export default {
  name: 'Login',
  mixins: [validationMixin, phoneCodes],
  components: {
    Counters,
    Hint,
    RegularInputPassword,
    RegularInputMasked,
    RegularSelectSlots,
    RegularButton,
    RegularCheckbox,
    ReflectiveHover,
  },
  validations: loginValidate,
  data: function() {
    return {
      prelogin: 0,
      subphone: null,
      auth: {
        login: null,
        password: null,
      },
      loginRemember: false,
    };
  },
  mounted() {
    if (
      localStorage.getItem('role') == null ||
      localStorage.getItem('role') == undefined ||
      localStorage.getItem('role') == 'undefined'
    ) {
      localStorage.removeItem('token');
      localStorage.removeItem('userId');
      localStorage.removeItem('role');
      localStorage.removeItem('refresh_token');
      localStorage.removeItem('token');
      localStorage.removeItem('uid');
    }
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
    }),
  },
  methods: {
    async login() {
      const regEx = /[^\d]/g;
      let username = (
        '' +
        this.countryCode[this.prelogin].value +
        this.auth.login +
        this.subphone
      ).replace(regEx, '');
      let password = this.auth.password;

      const authRepository = RepositoryFactory.get('auth');
      const refreshHeaders = RepositoryFactory.get('refreshHeaders');
      try {
        const resp = await authRepository.login({
          username,
          password,
        });
        if (resp.data.status == 'ok') {
          let parsedJwt = this.parseJwt(resp.data?.data?.token);
          await refreshHeaders.refresh(
            resp.data?.data?.token,
            parsedJwt?.userId
          );
          await asyncSetLocalStorage('userId', resp.data.data.id);
          await asyncSetLocalStorage('role', resp.data.data.role);
          await asyncSetLocalStorage('token', resp.data?.data?.token);
          await asyncSetLocalStorage(
            'refresh_token',
            resp.data.data.refresh_token
          );
          await asyncSetLocalStorage('uid', resp.data?.data?.uid);

          this.$store.commit('user/SET_USER_INFO', resp.data?.data);

          if (this.userInfo.role === 'child') {
            await this.$router.push('/kids');
          } else {
            await this.$router.push('/parents');
          }
        } else {
          if (resp.data.code == 100102) {
            componentErrorHandler(
              this,
              'Подтвердите ваш аккаунт.',
              `Ваш аккаунт не подтвержден! Cсылка для активации была отправлена к Вам на почту.`,
              'error'
            );
          } else {
            componentErrorHandler(
              this,
              'Авторизация',
              `Возникла ошибка при авторизации: ${
                resp?.data?.message === 'Error on User Login. Wrong username'
                  ? 'Не правильный логин'
                  : 'Не правильный пароль'
              }`,
              'error'
            );
          }
        }
      } catch (err) {
        console.error(err);
      }
    },
    registerUser() {
      this.$router.push('/register-user');
    },
    parseJwt(token) {
      let base64Url = token.split('.')[1];
      let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      let jsonPayload = decodeURIComponent(
        atob(base64)
          .split('')
          .map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join('')
      );
      return JSON.parse(jsonPayload);
    },
    registerEntity() {
      this.$router.push('/register-company');
    },
  },
};
</script>

<style scoped lang="scss">
.login {
  &__hint {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 99;
  }
  &__phone {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    &__code {
      width: 100px;
    }
    &__number {
      flex-grow: 1;
    }
    &__subnumber {
      flex-grow: 0;
      max-width: 150px;
    }
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__top {
      margin-bottom: 30px;
    }
    &__separator {
      margin: 0 10px;
    }
    button {
      @media screen and (max-width: 800px) {
        margin: 10px 0;
      }
    }
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    &__forgot {
      display: inline-block;
      color: $corporate;
      font-size: $small;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
</style>
