<template>
  <div class="register">
    <reflective-hover :elClass="['register__header']" :elText="currentTitle" />
    <component
      :is="currentComponent"
      :register="register"
      :isAdult="isAdult"
      @input="updateRegister"
      @goToLogin="goToLogin"
    />
  </div>
</template>

<script>
import { differenceInYears } from 'date-fns';

import RegisterKid from '@/components/home/auth/RegisterKid';
import RegisterParent from '@/components/home/auth/RegisterParent';
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover.vue';

export default {
  name: 'Register',
  components: {
    RegisterKid,
    RegisterParent,
    ReflectiveHover,
  },

  computed: {
    isAdult() {
      if (
        this.register?.userDay &&
        this.register?.userMonth &&
        this.register?.userYear
      ) {
        let chosenDate = `${this.register?.userYear}-${(
          '0' + this.register?.userMonth
        ).slice(-2)}-${('0' + this.register?.userDay).slice(-2)}`;
        let difference = differenceInYears(new Date(), new Date(chosenDate));
        if (difference < 18) {
          return false;
        }
        return true;
      }
      return true;
    },
    currentTitle() {
      if (!this.isAdult) {
        return this.$t('home.register.title');
      } else {
        return this.$t('home.register.title');
      }
    },
    currentComponent() {
      if (!this.isAdult) {
        return 'RegisterKid';
      } else {
        return 'RegisterParent';
      }
    },
  },
  data() {
    return {
      register: {
        userDay: null,
        userMonth: null,
        userYear: null,
        name: null,
        second_name: null,
        email: null,
        phone: null,
        password: null,
        passwordRepeat: null,
        personalData: false, //Разрешение на обработку персональных данных
        parentsEmail: null,
      },
    };
  },
  methods: {
    updateRegister(val) {
      this.$set(this.register, val?.key, val?.value);
    },
    goToLogin() {
      this.$router.push('/');
    },
  },
};
</script>

<style scoped lang="scss">
.register {
  max-width: 60%;
  margin: 50px auto;

  @media screen and (max-width: 400px) {
    max-width: 80%;
  }
}
</style>
