<template>
  <div class="register">
    <reflective-hover
      :elClass="['register__header']"
      :elText="`${$t('home.registerParentsKid.title')} ${$route.params.kid}`"
    />
    <div class="parent-kid">
      <form class="register-parent">
        <h2 class="register-parent__title">
          {{ $t('home.registerParentsKid.parentData') }}:
        </h2>
        <p class="register-parent__instruct">
          {{ $t('home.registerParentsKid.warning') }}
        </p>
        <div class="register-parent__phone">
          <regular-select-slots
            class="register-parent__phone__code"
            placeholder="Код"
            :optionList="countryCode"
            v-model="register.prephone"
          >
            <template v-slot:value="{ valueName }">
              {{ valueName.title }}
            </template>
            <template v-slot:item="{ option }">
              {{ option.title }}
            </template>
          </regular-select-slots>
          <regular-input-masked
            elId="phone"
            class="register-parent__phone__number"
            :elLabel="$t('home.fields.phone')"
            :mask="['### ###-##-##']"
            v-model="register.phone"
          />
        </div>
        <div class="register-parent__birth">
          <regular-select
            :placeholder="$t('home.fields.birthday') + '*'"
            class="register-parent__birth__day"
            :option-list="days"
            :value="register.userDay"
            @select="selectDate"
          />
          <regular-select
            :placeholder="$t('home.fields.month') + '*'"
            class="register-parent__birth__month"
            :option-list="monthes"
            :value="register.userMonth"
            @select="selectMonth"
          />
          <regular-select
            :placeholder="$t('home.fields.year') + '*'"
            class="register-parent__birth__year"
            :option-list="years"
            :value="register.userYear"
            @select="selectYear"
          />
        </div>
        <regular-input
          elId="name"
          :elLabel="$t('home.fields.name') + '*'"
          :error="!$v.register.name.required"
          :errorMessages="{
            [$t('home.fieldErrors.fieldRequired')]: !$v.register.name.required,
          }"
          v-model="register.name"
        />
        <regular-input
          elId="second_name"
          :elLabel="$t('home.fields.secondName') + '*'"
          :error="!$v.register.second_name.required"
          :errorMessages="{
            [$t('home.fieldErrors.fieldRequired')]: !$v.register.second_name
              .required,
          }"
          v-model="register.second_name"
        />
        <regular-input
          elId="email"
          :elLabel="$t('home.fields.email') + '*'"
          :errorMessages="{
            [$t('home.fieldErrors.emailRequired')]: !$v.register.email.required,
          }"
          :error="!$v.register.email.required"
          v-model="register.email"
        />
        <regular-input-password
          elId="password"
          :elLabel="$t('home.fields.password') + '*'"
          elType="password"
          :error="
            !$v.register.password.required || register.password.length < 6
          "
          :errorMessages="{
            [`${$t('home.fieldErrors.fieldRequired')}, ${$tc(
              'home.fieldErrors.minLength',
              6
            )}`]:
              !$v.register.password.required || register.password.length < 6,
          }"
          v-model="register.password"
        />
        <regular-input-password
          elId="passwordRepeat"
          :elLabel="$t('home.fields.passwordCheck') + '*'"
          elType="password"
          :errorMessages="{
            [$t('home.fieldErrors.fieldRequired')]: !$v.register.passwordRepeat
              .required,
            [$t('home.fieldErrors.samePassword')]: !$v.register.passwordRepeat
              .sameAsPassword,
          }"
          :error="$v.register.passwordRepeat.$invalid"
          v-model="register.passwordRepeat"
        />

        <div class="register-parent__helpers">
          <h2 class="register-parent__title">
            {{ $t('home.registerParentsKid.kidsData') }}:
          </h2>
          <regular-input
            elId="child-name"
            :elLabel="$t('home.fields.kidsName') + '*'"
            v-model="register.childName"
          />
          <regular-input
            elId="child-surname"
            :elLabel="$t('home.fields.kidsSecondName') + '*'"
            v-model="register.childSurname"
          />
          <regular-checkbox
            elValue="personalData"
            @click="register.personalData = !register.personalData"
            :elChecked="register.personalData"
            elId="personalData"
          >
            {{ $t('home.register.dataRequest') }}
            {{ $tc('home.register.personalData', 2) }} *
          </regular-checkbox>
        </div>
        <p
          class="warning"
          v-if="
            !register.gender ||
              !register.userYear ||
              !register.personalData ||
              !register.password ||
              !register.email ||
              !register.prephone ||
              !register.phone ||
              !register.second_name ||
              !register.name
          "
        >
          * {{ $t('home.register.fieldsRequired') }}
        </p>
        <div class="register-parent__buttons">
          <regular-button
            :elClass="['corporate']"
            :elDisabled="$v.register.$invalid"
            @click="registerApply"
          >
            {{ $t('home.buttons.register') }}
          </regular-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { getTime } from 'date-fns';
import { validationMixin } from 'vuelidate';
import { dates } from '@/helpers/data/dates.js';
import { phoneCodes } from '@/helpers/data/phoneCode';
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover.vue';

import { parrentValidate } from '@/helpers/validations/register.js';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularSelect from '@/components/primitives/RegularSelect.vue';
import RegularCheckbox from '@/components/primitives/RegularCheckbox.vue';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import RegularInputPassword from '@/components/primitives/RegularInputPassword.vue';

export default {
  name: 'RegisterParentKid',
  mixins: [validationMixin, dates, phoneCodes],
  components: {
    RegularSelectSlots,
    RegularInput,
    RegularButton,
    RegularSelect,
    RegularCheckbox,
    ReflectiveHover,
    RegularInputMasked,
    RegularInputPassword,
  },
  validations: parrentValidate,
  data() {
    return {
      register: {
        userDay: null,
        userMonth: null,
        userYear: null,
        name: null,
        second_name: null,
        email: null,
        phone: null,
        password: null,
        passwordRepeat: null,
        personalData: false, //Разрешение на обработку персональных данных
        childName: null,
        childSurname: null,
        prelogin: 0,
      },
    };
  },
  async mounted() {
    let role = localStorage.getItem('role');
    if (role === 'child') {
      await this.$router.push('/kids');
    } else if (role) {
      await this.$router.push(
        '/parents/register-kid/' + this.$route.params.kid
      );
    }
    try {
      const userRepository = RepositoryFactory.get('user');
      const resp = await userRepository.getUserInfo(
        JSON.stringify({ user_id: this.$route.params.kid })
      );
      if (resp.data?.status == 'ok') {
        console.log('user');
      } else {
      }
    } catch (err) {
      console.error(err);
    }
  },
  methods: {
    async registerApply() {
      const authRepository = RepositoryFactory.get('auth');
      let birthday = `${this.register.userYear}-${(
        '0' + this.register.userMonth
      ).slice(-2)}-${('0' + this.register.userDay).slice(-2)}`;
      const regEx = /[^\d]/g;
      let data = {
        name: this.register.name,
        surname: this.register.second_name,
        email: this.register.email,
        phone: (
          '' +
          this.countryCode[this.register.prephone].value +
          this.register.phone
        ).replace(regEx, ''),
        password: this.register.password,
        birthday: '' + birthday,
        personalDataAgreement: this.register.personalData,
        child_id: this.$route.params.kid,
        child_name: this.register.childName,
        child_surname: this.register.childSurname,
      };
      try {
        const resp = await authRepository.registerUser(JSON.stringify(data));
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Регистрация',
            'Регистрация прошла успешно',
            'success'
          );

          await this.$router.push({ name: 'home' });
        } else {
          componentErrorHandler(
            this,
            'Регистрация',
            `Возникла ошибка во время регистрации:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    registerEntity() {
      this.$emit('registerEntity');
    },
    selectDate(date) {
      this.register.userDay = date;
    },
    selectMonth(month) {
      this.register.userMonth = month;
    },
    selectYear(year) {
      this.register.userYear = year;
    },
    parseJwt(token) {
      let base64Url = token.split('.')[1];
      let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      let jsonPayload = decodeURIComponent(
        atob(base64)
          .split('')
          .map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join('')
      );

      return JSON.parse(jsonPayload);
    },
  },
};
</script>

<style lang="scss" scoped>
.register {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  padding: 10px 20px;

  .register-parent {
    &__hint {
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 99;
    }
    &__phone {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: stretch;
      align-items: center;
      &__code {
        width: 100px;
      }
      &__number {
        flex-grow: 1;
      }
      &__subnumber {
        flex-grow: 0;
        max-width: 150px;
      }
    }
    &__title {
      font-size: $big;
    }
    &__instruct {
      color: $red;
    }
    &__birth {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @media screen and (max-width: 550px) {
        flex-direction: column;
        align-items: stretch;
      }

      &__day {
        display: flex;
        flex-grow: 2;
      }
      &__month {
        display: flex;
        flex-grow: 1;
      }
      &__year {
        display: flex;
        flex-grow: 1;
      }
    }
    &__buttons {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &__separator {
        margin: 10px 10px;
      }
      button {
        margin: 10px 0;
      }
    }
    &__helpers {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      margin: 10px auto;

      &__forgot {
        display: inline-block;
        color: $corporate;
        font-size: $small;
        font-weight: 500;
      }
    }
  }
  .parent-kid {
    @media screen and (min-width: 900px) {
      max-width: 60%;
      margin: 0 auto;
    }
  }
}
</style>
