<template>
  <div class="background">
    <div class="new-barcode">
      <h2 class="new-barcode__title">
        {{ $t('elements.newBarcodeAdding') }} {{ product.name }}.
      </h2>
      <regular-input
        elId="name"
        :elLabel="$t('elements.product.barCode')"
        v-model="newBarcode"
      />
      <div class="new-barcode__buttons">
        <regular-button
          :elClass="['corporate']"
          :elDisabled="!newBarcode"
          @click="addBarcode"
        >
          {{ $t('elements.apply') }}
        </regular-button>
        <regular-button :elClass="['grey']" @click="cancel">
          {{ $t('elements.cancel') }}
        </regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularInput from './../primitives/RegularInput.vue';
import RegularButton from './../primitives/RegularButton.vue';
import { mapState } from 'vuex';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

export default {
  components: {
    RegularInput,
    RegularButton,
  },
  name: 'AddNewProduct',
  props: {
    product: Object,
  },
  data: function() {
    return {
      newBarcode: '',
    };
  },
  computed: {
    ...mapState({
      outletURL: state => state.common.urls.outlet,
      outlet_id: state => state.outlet.outlet_id,
      barcodeList: state => state.outlet.barcodeList,
    }),
  },
  methods: {
    cancel() {
      this.newProduct = { category: {} };
      this.$emit('cancel');
    },
    async addBarcode() {
      console.log(this.barcodeList);
      if (this.barcodeList.find(x => x.barcode == this.newBarcode)) {
        let notification = {};
        notification.title = 'Добавление штрихкода';
        notification.text = 'Такой штрихкод уже существует в системе';
        notification.notificationType = 'error';
        notification.status = 'new';
        this.$store.dispatch('notifications/addNewNotification', notification);
      } else {
        let data = {};
        data.product_id = this.product.id;
        data.barcodes = [];
        let tempBarcode = {};
        tempBarcode.barcode = this.newBarcode;
        tempBarcode.barcode_type_id = '1';
        data.barcodes.push(tempBarcode);
        const OutletRepository = RepositoryFactory.get('outlet');
        try {
          const resp = await OutletRepository.postBarCode(JSON.stringify(data));
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Добавление штрихкода';
            notification.text = 'Добавление штрихкода прошло успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
            this.$store.dispatch('outlet/getBarcodeList', {
              outlet_id: this.outlet_id,
            });
            this.$emit('apply', this.newProduct);
          } else {
            let notification = {};
            notification.title = 'Добавление штрихкода';
            notification.text =
              'Возникла ошибка при добавлении штрихкода. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        } catch (err) {
          console.error(err);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);
}
.new-barcode {
  min-width: 40%;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;

  &__title {
    text-align: center;
    font-size: $big;
    color: $black-font;
  }
  &__catalog {
    &__header {
      font-size: $semi-big;
    }
    &__tree {
      list-style: none;
      cursor: pointer;
    }
    &__new {
      margin: 20px auto;
      background-color: $grey;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__title {
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 1px solid $grey;
        margin: 0 10px;
        padding: 5px;
      }
      &__apply {
        margin-left: 10px;
        border: 0px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $corporate;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
  }
}
</style>
