<template>
  <div class="background">
    <div class="new-product">
      <h2 class="new-product__title">{{ $t('elements.newProductAdding') }}.</h2>
      <regular-input
        elId="name"
        :elLabel="$t('elements.product.name')"
        v-model="newProduct.name"
      />
      <regular-input
        elId="price_in_rate"
        :elLabel="$t('elements.product.priceIn') + ' ' + currentCurrency.abbr"
        v-model="priceInCurrency"
      />
      <regular-input
        elId="price_in"
        :elLabel="$t('elements.product.priceIn') + ' Руб'"
        :value="newProduct.price"
        @input="newProduct.price = formatDecimals(arguments[0])"
      />
      <regular-input
        elId="article"
        :elLabel="$t('elements.product.article')"
        v-model="newProduct.article"
      />
      <div class="new-product__catalog">
        <h3 class="new-product__catalog__header">
          {{ $t('elements.product.category') }}: {{ newProduct.category.name }}
        </h3>
        <div class="new-product__catalog__new">
          <span class="new-product__catalog__new__info">
            {{ $t('elements.product.addForCategory') }}
            <input
              type="text"
              v-model="newCategory"
              class="new-product__catalog__new__title"
            />
            {{ $t('elements.product.addInForCategory') }}:
            <strong>{{ newProduct.category.name }}</strong>
          </span>
          <button
            class="new-product__catalog__new__apply"
            @click.prevent="addCategory"
          >
            {{ $t('elements.product.applyForCategory') }}
          </button>
        </div>
        <shop-catalog-categories
          class="new-product__catalog__tree"
          :item="categories"
          :products="[]"
          :selected="selectedCatalog"
          @selectItem="selectCatalog"
          v-if="categories"
        />
      </div>
      <div class="new-product__buttons">
        <regular-button
          :elClass="['corporate']"
          :elDisabled="!newProduct.name"
          @click="apply"
          >{{ $t('elements.apply') }}</regular-button
        >
        <regular-button :elClass="['grey']" @click="cancel">{{
          $t('elements.cancel')
        }}</regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularInput from './../primitives/RegularInput.vue';
import { decimal } from '@/helpers/methods/decimal.js';
import RegularButton from './../primitives/RegularButton.vue';
import ShopCatalogCategories from './ShopCatalogCategories.vue';
import axios from 'axios';
import { mapState } from 'vuex';

export default {
  name: 'AddNewKitchenProduct',
  mixins: [decimal], //formatDecimals(val)
  components: {
    RegularInput,
    RegularButton,
    ShopCatalogCategories,
  },
  data: function() {
    return {
      newProduct: {
        name: null,
        category: {},
        price: null,
        category_id: null,
        quantity: null,
      },
      newCategory: '',
      selectedCatalog: {},
    };
  },
  computed: {
    ...mapState({
      categories: state => state.outlet.kitchenCategories,
      currentKitchen: state => state.outlet.currentKitchen,
      currentCurrency: state => state.common.currentCurrency,
    }),
    priceInCurrency: {
      get() {
        return this.formatDecimals(
          this.formatDecimals(this.newProduct?.price) *
            this.currentCurrency.ratio
        );
      },
      set(val) {
        this.newProduct.price = this.formatDecimals(
          this.formatDecimals(val) / this.currentCurrency.ratio
        );
      },
    },
  },
  methods: {
    selectCatalog(catalog) {
      this.newProduct.category = catalog;
      this.newProduct.category_id = catalog.id;
    },
    async apply() {
      if (!this.newProduct.category.id) {
        let notification = {};
        notification.title = 'Добавление продукта';
        notification.text = 'Товар не может существовать без категории';
        notification.notificationType = 'error';
        notification.status = 'new';
        this.$store.dispatch('notifications/addNewNotification', notification);
      } else {
        let data = {
          kitchen_id: this.currentKitchen,
          product_name: this.newProduct.name,
          category_id: this.newProduct.category_id,
          product_qty: 0,
          product_price: this.newProduct.price,
        };
        let url =
          process.env.VUE_APP_API_OUTLET +
          '/rest/v1/offlineoutletkitchen/addkitchenproduct';
        try {
          const response = await axios.post(url, data);
          if (response.data.status == 'ok') {
            this.$emit('apply', response.data.data);
          } else {
            let notification = {};
            notification.title = 'Категория';
            notification.text =
              'Возникла проблема при добавлении категории. (' +
              response.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        } catch (error) {
          console.error(error);
        }
      }
    },
    cancel() {
      this.newProduct = { category: {} };
      this.$emit('cancel');
    },
    addCategory() {
      let data = {};
      data.kitchen_id = this.currentKitchen;
      data.parent_category_id = this.newProduct?.category.id;
      data.category_name = this.newCategory;
      axios({
        url:
          process.env.VUE_APP_API_OUTLET +
          '/rest/v1/offlineoutletkitchen/createcategory',
        data: JSON.stringify(data),
        method: 'POST',
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Категория';
            notification.text = 'Добавление категории прошло успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );

            this.$store.dispatch('outlet/getKitchenCategories', {
              kitchen_id: this.currentKitchen,
            });
          } else {
            let notification = {};
            notification.title = 'Категория';
            notification.text =
              'Возникла проблема при добавлении категории. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
          let notification = {};
          notification.title = 'Категория';
          notification.text =
            'Возникла проблема при добавлении категории. (' + err + ')';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);
}
.new-product {
  min-width: 40%;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  overflow-y: auto;
  max-height: 100vh;

  &__title {
    text-align: center;
    font-size: $big;
    color: $black-font;
  }
  &__catalog {
    &__header {
      font-size: $semi-big;
    }
    &__tree {
      list-style: none;
      cursor: pointer;
    }
    &__new {
      margin: 20px auto;
      background-color: $grey;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__info {
      }
      &__title {
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 1px solid $grey;
        margin: 0 10px;
        padding: 5px;
      }
      &__apply {
        margin-top: 10px;
        margin-left: 10px;
        border: 0px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $corporate;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
</style>
