<template>
  <div class="background">
    <div class="new-recipe">
      <h2 class="new-recipe__title">{{ $t('elements.newProductAdding') }}.</h2>
      <h3 class="new-recipe__sub-title">
        Создание нового рецепта для кухни "{{ currentKitchenInfo.name }}"
      </h3>

      <div class="new-recipe__shop-select">
        <h3>
          Выберите торговую точку, в которую будут поставляться товар рецепта:
        </h3>
        <regular-select-slots
          placeholder="Торговая точка"
          :optionList="outletsList"
          v-model="currentOutlet"
        >
          <template v-slot:value="{ valueName }">
            {{ valueName.name }}
            <span v-if="valueName.id">(ID: {{ valueName.id }} )</span>
          </template>
        </regular-select-slots>
        <div
          class="new-recipe__product-select"
          v-if="currentOutlet || currentOutlet == 0"
        >
          <h3>
            Выберите продукт торговой точки, который будет готовиться:
          </h3>
          <div class="new-recipe__product-select__container">
            <div class="new-recipe__product-select__container__catalog">
              <shop-catalog-categories
                class="shop-catalog__container"
                :item="currentShopCategories"
                :products="currentShopProducts"
                :selected="selectedOutletCatalog"
                :closeTree="!!selectedCatalog.id || !!resultCatalog.id"
                @selectItem="selectOutletCatalog"
                @selectProduct="selectOutletProduct"
                v-if="
                  currentShopProducts &&
                    currentShopCategories.children &&
                    currentShopCategories.children.length > 0
                "
              />
            </div>
            <div
              class="new-recipe__product-select__container__selected-products"
            >
              <span
                class="new-recipe__product-select__container__selected-products__item"
                >{{ selectedOutletItem.name }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="new-recipe__ingredient-select">
        <h3>
          Выберите ингредиенты:
        </h3>
        <div class="new-recipe__ingredient-select__container">
          <div class="new-recipe__ingredient-select__container__catalog">
            <shop-catalog-categories
              class="shop-catalog__container"
              :item="categories"
              :products="products"
              :selected="selectedCatalog"
              :closeTree="!!selectedOutletCatalog.id || !!resultCatalog.id"
              @selectItem="selectCatalog"
              @selectProduct="selectProduct"
            />
          </div>
          <div
            class="new-recipe__ingredient-select__container__selected-products"
          >
            <table class="ingredients__list">
              <tbody>
                <tr
                  class="ingredients__list__item"
                  v-for="product in newRecipe.products"
                  :key="product.product_id"
                >
                  <td>{{ product.name }}</td>
                  <td>x</td>
                  <td>
                    <input
                      class="ingredient__qty"
                      :value="product.product_qty"
                      @input="
                        product.product_qty = formatDecimals(
                          $event.target.value
                        )
                      "
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="new-recipe__result-select">
        <h3>
          Выберите продукт кухни, изготавливаемый по рецепту:
        </h3>
        <div class="new-recipe__ingredient-select__container">
          <div class="new-recipe__result-select__container__catalog">
            <shop-catalog-categories
              class="shop-catalog__container"
              :item="categories"
              :products="products"
              :selected="resultCatalog"
              :closeTree="!!selectedOutletCatalog.id || !!selectedCatalog.id"
              @selectItem="selectResultCatalog"
              @selectProduct="selectResultProduct"
            />
          </div>
          <div class="new-recipe__result-select__container__selected-products">
            {{ resultProduct }}
          </div>
        </div>
      </div>

      <regular-input
        elId="name"
        :elLabel="'Название рецепта'"
        v-model="newRecipe.name"
      />

      <regular-input
        elId="comment"
        :elLabel="'Комментарий'"
        v-model="newRecipe.comment"
      />

      <div class="new-recipe__buttons">
        <regular-button
          :elClass="['corporate']"
          :elDisabled="
            !newRecipe.name ||
              !newRecipe.product_id ||
              !newRecipe.outlet_product_id ||
              newRecipe.products.length < 1
          "
          @click="apply"
          >{{ $t('elements.apply') }}</regular-button
        >
        <regular-button :elClass="['grey']" @click="cancel">{{
          $t('elements.cancel')
        }}</regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularInput from './../primitives/RegularInput.vue';
import { decimal } from '@/helpers/methods/decimal.js';
import RegularButton from './../primitives/RegularButton.vue';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import ShopCatalogCategories from './ShopCatalogCategories.vue';
// import axios from 'axios';
import { mapState } from 'vuex';
import axios from 'axios';

export default {
  name: 'AddNewKitchenRecipe',
  mixins: [decimal], //formatDecimals(val)
  components: {
    RegularInput,
    RegularButton,
    ShopCatalogCategories,
    RegularSelectSlots,
  },
  data: function() {
    return {
      newRecipe: {
        outlet_id: null, //ID торговой точки, в которую поступит товар.
        outlet_product_id: null, //ID продукта, который будет произведен.
        kitchen_id: null, //ID кухни
        product_id: null, // продукт, который будет создан на кухни.
        name: null, // Название рецепта
        products: [], //Ингридиенты
        comment: null,
      },
      selectedOutletCatalog: {},
      selectedOutletItem: {},
      selectedCatalog: {},
      currentOutlet: null,
      resultCatalog: {},
    };
  },
  computed: {
    ...mapState({
      categories: state => state.outlet.kitchenCategories,
      currentKitchen: state => state.outlet.currentKitchen,
      kitchenList: state => state.outlet.kitchenList,
      currentCurrency: state => state.common.currentCurrency,
      outletsList: state => state.outlet.outletsList,
      products: state => state.outlet.kitchenProducts,
      currentShopCategories: state => state.outlet.currentShopCategories,
      currentShopProducts: state => state.outlet.currentShopProducts,
      currentProducts: state => state.outlet.currentProducts,
    }),
    priceInCurrency: {
      get() {
        return this.formatDecimals(
          this.formatDecimals(this.newProduct?.price) *
            this.currentCurrency.ratio
        );
      },
      set(val) {
        this.newProduct.price = this.formatDecimals(
          this.formatDecimals(val) / this.currentCurrency.ratio
        );
      },
    },
    currentKitchenInfo() {
      return this.kitchenList.find(x => x.id == this.currentKitchen);
    },
    resultProduct() {
      if (this.newRecipe?.product_id && this.newRecipe?.product_id >= 0) {
        return this.products?.find(x => x.id == this.newRecipe?.product_id)
          .name;
      } else {
        return null;
      }
    },
  },
  watch: {
    currentOutlet: {
      immediate: true,
      handler(value) {
        if (value || value === 0) {
          this.$store.dispatch('outlet/getCurrentShopCategories', {
            outlet_id: this.outletsList[this.currentOutlet].id,
          });
          this.$store.dispatch('outlet/getCurrentShopProducts', {
            outlet_id: this.outletsList[this.currentOutlet].id,
          });
          this.newRecipe.outlet_id = this.outletsList[this.currentOutlet].id;
        }
      },
    },
  },
  mounted() {},
  methods: {
    async apply() {
      this.newRecipe.kitchen_id = this.currentKitchen;
      let url =
        process.env.VUE_APP_API_OUTLET +
        '/rest/v1/offlineoutletkitchen/createkitchenrecipe';
      axios({
        url: url,
        data: JSON.stringify(this.newRecipe),
        method: 'POST',
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Создание рецепта';
            notification.text = 'Рецепт сохранен успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );

            this.$store.dispatch('outlet/getKitchenRecipes', {
              kitchen_id: this.currentKitchen,
            });
            this.cancel();
          } else {
            let notification = {};
            notification.title = 'Создание рецепта';
            notification.text =
              'Возникла ошибка при создании рецепта. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    cancel() {
      this.newRecipe = {
        outlet_id: null,
        outlet_product_id: null,
        kitchen_id: null,
        product_id: null,
        name: null,
        products: [],
        comment: null,
      };
      this.$emit('cancel');
    },
    selectOutletCatalog(item) {
      this.selectedCatalog = {};
      this.resultCatalog = {};
      this.selectedOutletCatalog = item;
    },
    selectOutletProduct(item) {
      this.newRecipe.outlet_product_id = item.id;
      this.selectedOutletItem = item;
    },
    selectCatalog(item) {
      this.resultCatalog = {};
      this.selectedOutletCatalog = {};
      this.selectedCatalog = item;
    },
    selectProduct(item) {
      if (
        this.newRecipe.products.findIndex(x => x.product_id === item.id) < 0
      ) {
        this.newRecipe.products.push({
          product_id: item.id,
          product_qty: 1,
          name: item.name,
        });
      } else {
        let index = this.newRecipe.products.findIndex(
          x => x.product_id === item.id
        );
        this.newRecipe.products[index].product_qty += 1;
      }
    },
    selectResultCatalog(item) {
      this.selectedCatalog = {};
      this.selectedOutletCatalog = item;
      this.resultCatalog = item;
    },
    selectResultProduct(item) {
      this.newRecipe.product_id = item.id;
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);
}
.new-recipe {
  min-width: 40%;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  overflow-y: auto;
  max-height: 100vh;

  &__product-select {
    border: 1px solid $border;
    padding: 20px;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__catalog {
        width: 50%;
        max-height: 400px;
        overflow: auto;

        .shop-catalog__container {
          list-style: none;
          cursor: pointer;
        }
      }
      &__selected-products {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
          font-size: $regular + 2px;
          font-weight: 500;
        }
      }
    }
  }
  &__ingredient-select {
    border: 1px solid $border;
    padding: 20px;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__catalog {
        width: 50%;
        max-height: 400px;
        overflow: auto;

        .shop-catalog__container {
          list-style: none;
          cursor: pointer;
        }
      }
      &__selected-products {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ingredients {
          &__list {
            &__item {
              font-size: $regular + 2px;
              font-weight: 500;

              .ingredient__qty {
                border-top: 0 solid;
                border-left: 0 solid;
                border-right: 0 solid;
                border-bottom: 1px solid grey;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  &__result-select {
    border: 1px solid $border;
    padding: 20px;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__catalog {
        width: 50%;
        max-height: 400px;
        overflow: auto;

        .shop-catalog__container {
          list-style: none;
          cursor: pointer;
        }
      }
      &__selected-products {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
          font-size: $regular + 2px;
          font-weight: 500;
        }
      }
    }
  }

  &__title {
    text-align: center;
    font-size: $big;
    color: $black-font;
  }
  &__catalog {
    &__header {
      font-size: $semi-big;
    }
    &__tree {
      list-style: none;
      cursor: pointer;
    }
    &__new {
      margin: 20px auto;
      background-color: $grey;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__info {
      }
      &__title {
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 1px solid $grey;
        margin: 0 10px;
        padding: 5px;
      }
      &__apply {
        margin-top: 10px;
        margin-left: 10px;
        border: 0px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $corporate;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
}
</style>
