<template>
  <div class="background">
    <div class="new-product">
      <h2 class="new-product__title">{{ $t('elements.newProductAdding') }}.</h2>
      <regular-input
        elId="name"
        :elLabel="$t('elements.product.name')"
        v-model="newProduct.name"
      />
      <regular-input
        elId="price_in_rate"
        :elLabel="$t('elements.product.priceIn') + ' ' + currentCurrency.abbr"
        v-model="priceInCurrency"
      />
      <regular-input
        elId="price_in"
        :elLabel="$t('elements.product.priceIn') + ' Руб'"
        :value="newProduct.price_in"
        @input="newProduct.price_in = formatDecimals(arguments[0])"
      />
      <regular-input
        elId="price_out"
        :elLabel="$t('elements.product.priceOut') + ' ' + currentCurrency.abbr"
        :value="newProduct.price_out * currentCurrency.ratio"
        @input="
          newProduct.price_out = formatDecimals(
            formatDecimals(arguments[0]) / currentCurrency.ratio
          )
        "
      />
      <regular-input
        elId="barCode"
        :elLabel="$t('elements.product.barCode')"
        v-model="newProduct.barCode"
      />
      <regular-input
        elId="article"
        :elLabel="$t('elements.product.article')"
        v-model="newProduct.article"
      />
      <regular-input
        elId="qty"
        :elLabel="$t('elements.product.qty')"
        :value="newProduct.quantity"
        @input="newProduct.quantity = formatDecimals(arguments[0])"
      />
      <div class="new-product__catalog">
        <h3 class="new-product__catalog__header">
          {{ $t('elements.product.category') }}: {{ newProduct.category.name }}
        </h3>
        <div class="new-product__catalog__new">
          <span class="new-product__catalog__new__info">
            {{ $t('elements.product.addForCategory') }}
            <input
              type="text"
              v-model="newCategory"
              class="new-product__catalog__new__title"
            />
            {{ $t('elements.product.addInForCategory') }}:
            <strong>{{ newProduct.category.name }}</strong>
          </span>
          <button
            class="new-product__catalog__new__apply"
            @click.prevent="addCategory"
          >
            {{ $t('elements.product.applyForCategory') }}
          </button>
        </div>
        <shop-catalog-categories
          class="new-product__catalog__tree"
          :item="categories"
          :products="[]"
          :selected="selectedCatalog"
          @selectItem="selectCatalog"
          v-if="categories"
        />
      </div>
      <div class="new-product__buttons">
        <regular-button
          :elClass="['corporate']"
          :elDisabled="!newProduct.name"
          @click="apply"
          >{{ $t('elements.apply') }}</regular-button
        >
        <regular-button :elClass="['grey']" @click="cancel">{{
          $t('elements.cancel')
        }}</regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularInput from './../primitives/RegularInput.vue';
import { decimal } from '@/helpers/methods/decimal.js';
import RegularButton from './../primitives/RegularButton.vue';
import ShopCatalogCategories from './ShopCatalogCategories.vue';
import { mapState } from 'vuex';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  name: 'AddNewProduct',
  mixins: [decimal], //formatDecimals(val)
  components: {
    RegularInput,
    RegularButton,
    ShopCatalogCategories,
  },
  data: function() {
    return {
      newProduct: {
        category: {},
        price_in: null,
        price_out: null,
        category_id: null,
        quantity: null,
      },
      newCategory: '',
      selectedCatalog: {},
    };
  },
  computed: {
    ...mapState({
      categories: state => state.outlet.productCategories,
      outletURL: state => state.common.urls.outlet,
      outlet_id: state => state.outlet.outlet_id,
      currentCurrency: state => state.common.currentCurrency,
      barcodeList: state => state.outlet.barcodeList,
    }),
    priceInCurrency: {
      get() {
        return this.formatDecimals(
          this.formatDecimals(this.newProduct.price_in) *
            this.currentCurrency.ratio
        );
      },
      set(val) {
        this.newProduct.price_in = this.formatDecimals(
          this.formatDecimals(val) / this.currentCurrency.ratio
        );
      },
    },
  },
  methods: {
    selectCatalog(catalog) {
      this.newProduct.category = catalog;
      this.newProduct.category_id = catalog.id;
    },
    apply() {
      if (this.barcodeList.find(x => x.barcode == this.newProduct.barCode)) {
        let notification = {};
        notification.title = 'Добавление продукта';
        notification.text = 'Такой штрихкод уже существует в системе';
        notification.notificationType = 'error';
        notification.status = 'new';
        this.$store.dispatch('notifications/addNewNotification', notification);
      } else if (!this.newProduct.category.id) {
        let notification = {};
        notification.title = 'Добавление продукта';
        notification.text = 'Товар не может существовать без категории';
        notification.notificationType = 'error';
        notification.status = 'new';
        this.$store.dispatch('notifications/addNewNotification', notification);
      } else {
        this.$emit('apply', this.newProduct);
      }
    },
    cancel() {
      this.newProduct = { category: {} };
      this.$emit('cancel');
    },
    async addCategory() {
      let data = {};
      data.parent_category_id = this.newProduct.category.id;
      data.new_category_name = this.newCategory;
      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.addCategory(JSON.stringify(data));
        if (resp.data.status === 'ok') {
          componentErrorHandler(
            this,
            'Добавление категории',
            'Добавление категории прошло успешно',
            'success'
          );
          this.newCategory = '';
          this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: this.outlet_id,
          });
        } else {
          componentErrorHandler(
            this,
            'Добавление категории',
            'Возникла ошибка при добавлении категории.',
            'error',
            resp.data.message
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);
}
.new-product {
  min-width: 40%;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  overflow-y: auto;
  max-height: 100vh;

  &__title {
    text-align: center;
    font-size: $big;
    color: $black-font;
  }
  &__catalog {
    &__header {
      font-size: $semi-big;
    }
    &__tree {
      list-style: none;
      cursor: pointer;
    }
    &__new {
      margin: 20px auto;
      background-color: $grey;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__info {
      }
      &__title {
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 1px solid $grey;
        margin: 0 10px;
        padding: 5px;
      }
      &__apply {
        margin-top: 10px;
        margin-left: 10px;
        border: 0px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $corporate;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
</style>
