<template>
  <div class="bill">
    <div class="bill__back" @click="closeModal"></div>
    <div class="bill__container">
      <div class="bill__container__main">
        <div class="bill__container__main__info">
          <h3>Чек №{{ billData.check_id }}</h3>
          {{ billAction }}
          <br />
          <span>{{ billData.date }}</span>
        </div>
        <div class="bill__container__main__products">
          <table>
            <tbody>
              <tr v-for="(product, key) in products" :key="key">
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }} x</td>
                <td>
                  {{ (product.price * currentCurrency.ratio).toFixed(2) }}
                  {{ currentCurrency.abbr }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="bill__container__main__summ">
          Сумма: {{ (summ * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </div>
      </div>
      <div v-show="false" class="bill__container__main" id="print-bill">
        <div
          style="page-break-after: always; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; border: 1px solid #000; padding: 5mm; max-width: 80mm"
        >
          <div class="bill__container__main__info">
            <h3 style="text-align: center;">Чек №{{ billData.check_id }}</h3>
            {{ billAction }}
            <br />
            <span>{{ billData.date }}</span>
          </div>
          <div class="bill__container__main__products">
            <table style="margin-bottom: 5mm;">
              <tbody>
                <tr v-for="(product, key) in products" :key="key">
                  <td>{{ product.name }}</td>
                  <td>{{ product.quantity }} x</td>
                  <td>
                    {{ (product.price * currentCurrency.ratio).toFixed(2) }}
                    {{ currentCurrency.abbr }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin-bottom: 5mm;" class="bill__container__main__summ">
            Сумма: {{ (summ * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </div>
          <div style="margin-bottom: 15mm;">
            <table>
              <tbody>
                <tr>
                  <td>Покупатель</td>
                  <td>{{ buyerInfo.name }} {{ buyerInfo.surname }}</td>
                </tr>
                <tr>
                  <td>ID покупателя</td>
                  <td>{{ buyerInfo.id }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin-bottom: 5mm;">
            <span
              style="margin-bottom: 5mm; display: block; width: 100%; text-align: center;"
              >{{
                new Date().getDate() +
                  '.' +
                  (new Date().getMonth() + 1) +
                  '.' +
                  new Date().getFullYear() +
                  ' ' +
                  new Date().getHours() +
                  ':' +
                  new Date().getMinutes() +
                  ':' +
                  new Date().getSeconds()
              }}</span
            >
            <span style="display: block; width: 100%; text-align: center;">{{
              outletInfo.name
            }}</span>
          </div>
        </div>
      </div>
      <div class="bill__container__buttons">
        <regular-button :elClass="['cancel']" @click="closeModal"
          >Закрыть</regular-button
        >
        <regular-button :elClass="['cancel']" @click="print"
          >Печать</regular-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from './../primitives/RegularButton.vue';
import { mapState } from 'vuex';

export default {
  name: 'BillSale',
  props: {
    products: Array,
    billData: Object,
    outletInfo: Object,
    billAction: String,
  },
  components: {
    RegularButton,
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
      buyerInfo: state => state.outlet.buyerInfo,
    }),
    summ() {
      let summ = 0;
      this.products.map(x => (summ += x.price * x.quantity));
      return summ;
    },
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    print() {
      this.$htmlToPaper('print-bill', () => {
        console.log('Printing done or got cancelled!');
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.bill {
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    min-width: 100vw;
    z-index: 999;
  }
  &__container {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grey;
    padding: 20px 30px;
    -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    &__main {
      &__info {
        padding-bottom: 20px;
        h3 {
          margin-bottom: 5px;
        }
        span {
          margin-bottom: 10px;
        }
      }
      &__products {
        table {
          width: 100%;
          tr {
            td {
              &:last-child {
                text-align: right;
              }
            }
          }
        }
      }
      &__summ {
        padding: 10px 0;
        font-size: $regular;
        font-weight: 400;
      }
    }
    &__buttons {
      text-align: center;
      margin-top: 20px;
    }
  }
}
@media print {
  .bill {
    &__container {
      &__buttons {
        display: none;
      }
    }
  }
}
</style>
