<template>
  <div class="background">
    <div class="edit-category">
      <h2 class="edit-category__title">
        {{ $t('elements.editCategory') }} ID {{ category.id }}
      </h2>
      <regular-input
        elId="name"
        :elLabel="$t('elements.product.name')"
        v-model="category.name"
      />

      <h3 class="edit-category__catalog__header">
        {{ $t('elements.product.parentCategory') }}: {{ category.parent_name }}
      </h3>
      <div class="edit-category__catalog">
        <h3 class="edit-category__catalog__header">
          {{ $t('elements.product.editParentCategory') }}:
          {{ newParentCatalog.name }}
        </h3>
        <div class="edit-category__catalog__new">
          <span>
            {{ $t('elements.product.addForCategory') }}
            <input
              type="text"
              v-model="newCategory"
              class="edit-category__catalog__new__title"
            />
            {{ $t('elements.product.addInForCategory') }}:
            <strong>{{ newParentCatalog.name }}</strong>
          </span>
          <button
            class="edit-category__catalog__new__apply"
            @click.prevent="addCategory"
          >
            {{ $t('elements.product.applyForCategory') }}
          </button>
        </div>
        <shop-catalog-categories
          class="edit-category__catalog__tree"
          :item="categories"
          :products="[]"
          :selected="selectedCatalog"
          @selectItem="selectCatalog"
          v-if="categories"
        />
      </div>
      <div class="edit-category__buttons">
        <regular-button :elClass="['corporate']" @click="apply">{{
          $t('elements.apply')
        }}</regular-button>
        <regular-button :elClass="['grey']" @click="cancel">{{
          $t('elements.cancel')
        }}</regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularInput from './../primitives/RegularInput.vue';
import RegularButton from './../primitives/RegularButton.vue';
import ShopCatalogCategories from './ShopCatalogCategories.vue';
import axios from 'axios';
import { mapState } from 'vuex';

export default {
  components: {
    RegularInput,
    RegularButton,
    ShopCatalogCategories,
  },
  name: 'EditCategory',
  data: function() {
    return {
      newParentCatalog: {},
      newCategory: '',
      selectedCatalog: {},
    };
  },
  props: {
    category: Object,
  },
  computed: {
    ...mapState({
      categories: state => state.outlet.productCategories,
      outletURL: state => state.common.urls.outlet,
      outlet_id: state => state.outlet.outlet_id,
    }),
  },
  methods: {
    selectCatalog(catalog) {
      this.newParentCatalog = catalog;
    },
    apply() {
      let data = {};
      data.category_id = this.category.id;
      data.new_name = this.category.name;
      axios({
        url: this.outletURL + '/rest/v1/offlinecategory/changename',
        data: JSON.stringify(data),
        method: 'POST',
      })
        .then(resp => {
          this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: this.outlet_id,
          });

          if (this.newParentCatalog.id && resp.data.status === 'ok') {
            let catData = {};
            catData.category_id = this.category.id;
            catData.parent_category_id = this.newParentCatalog.id;
            axios({
              url: this.outletURL + '/rest/v1/offlinecategory/movecategory',
              data: JSON.stringify(catData),
              method: 'POST',
            })
              .then(resp => {
                if (resp.data.status === 'ok') {
                  let notification = {};
                  notification.title = 'Редактирование категории';
                  notification.text = 'Редактирование категории прошло успешно';
                  notification.notificationType = 'success';
                  notification.status = 'new';
                  this.$store.dispatch(
                    'notifications/addNewNotification',
                    notification
                  );

                  this.$store.dispatch('outlet/getCategoriesList', {
                    outlet_id: this.outlet_id,
                  });
                  this.cancel();
                } else {
                  let notification = {};
                  notification.title = 'Редактирование категории';
                  notification.text =
                    'Возникла ошибка при редактировании категории. (' +
                    resp.data.message +
                    ')';
                  notification.notificationType = 'error';
                  notification.status = 'new';
                  this.$store.dispatch(
                    'notifications/addNewNotification',
                    notification
                  );
                }
              })
              .catch(err => {
                console.log(err);
              });
          } else if (resp.data.status != 'ok') {
            let notification = {};
            notification.title = 'Редактирование категории';
            notification.text =
              'Возникла ошибка при редактировании категории. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          } else if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Редактирование категории';
            notification.text = 'Редактирование категории прошло успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
            this.cancel();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    cancel() {
      this.newProduct = { category: {} };
      this.$emit('cancel');
    },
    addCategory() {
      let data = {};
      data.parent_category_id = this.newParentCatalog.id;
      data.new_category_name = this.newCategory;
      axios({
        url: this.outletURL + '/rest/v1/offlinecategory/createcategory',
        data: JSON.stringify(data),
        method: 'POST',
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Добавление категории';
            notification.text = 'Добавление категории прошло успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
            this.$store.dispatch('outlet/getCategoriesList', {
              outlet_id: this.outlet_id,
            });
          } else {
            let notification = {};
            notification.title = 'Добавление категории';
            notification.text =
              'Возникла ошибка при добавлении категории. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);
}
.edit-category {
  min-width: 40%;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;

  &__title {
    text-align: center;
    font-size: $big;
    color: $black-font;
  }
  &__barcodes {
    &__list {
      list-style: none;
      &__item {
        &__title {
          font-size: $semi-big;
          font-weight: 300;
        }
        &__remove {
          font-size: $semi-big;
          font-weight: 600;
          padding: 10px;
        }
      }
    }
    &__button {
      font-size: $regular;
      margin: 20px auto;
      display: block;
      padding: 15px 30px;
    }
  }

  &__catalog {
    &__header {
      font-size: $semi-big;
    }
    &__tree {
      list-style: none;
      cursor: pointer;
    }
    &__new {
      margin: 20px auto;
      background-color: $grey;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__title {
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 1px solid $grey;
        margin: 0 10px;
        padding: 5px;
      }
      &__apply {
        margin-left: 10px;
        border: 0px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $corporate;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
</style>
