<template>
  <div class="background">
    <div class="edit-product">
      <h2 class="edit-product__title">
        {{ $t('elements.editProduct') }} ID {{ product.id }}
      </h2>
      <regular-input
        elId="name"
        :elLabel="$t('elements.product.name')"
        v-model="product.name"
      />
      <div class="edit-product__barcodes">
        <h3 class="edit-product__barcodes__title">
          {{ $t('elements.product.barCodes') }}:
        </h3>
        <ul class="edit-product__barcodes__list">
          <li
            class="edit-product__barcodes__list__item"
            v-for="(barcode, key) in product.barcodes"
            :key="'barcodes-' + key"
          >
            <span
              class="edit-product__barcodes__list__item__remove"
              @click="removeBarcode(barcode)"
              >x</span
            >
            <span class="edit-product__barcodes__list__item__title">{{
              barcode.barcode
            }}</span>
          </li>
        </ul>
        <regular-button
          :elClass="['grey']"
          @click="addBarCode = true"
          class="edit-product__barcodes__button"
          >Добавить штрих-код</regular-button
        >
      </div>
      <div v-if="statuses.length > 0" class="edit-product__statuses">
        <h3>{{ $t('elements.status.header') }}:</h3>
        <ul class="edit-product__statuses__list">
          <li
            class="edit-product__statuses__list__item"
            :class="{ '-active': activeStatus == status.id }"
            v-for="(status, key) in statuses"
            :key="'status-' + key"
            @click="() => (activeStatus = status.id)"
          >
            {{ $t('elements.status.' + status.name) }}
          </li>
        </ul>
      </div>

      <h3 class="edit-product__catalog__header">
        {{ $t('elements.product.category') }}: {{ category.name }}
      </h3>
      <div class="edit-product__catalog">
        <h3 class="edit-product__catalog__header">
          {{ $t('elements.product.editCategory') }}:
          {{ newProduct.category.name }}
        </h3>
        <div class="edit-product__catalog__new">
          <span>
            {{ $t('elements.product.addForCategory') }}
            <input
              type="text"
              v-model="newCategory"
              class="edit-product__catalog__new__title"
            />
            {{ $t('elements.product.addInForCategory') }}:
            <strong>{{ newProduct.category.name }}</strong>
          </span>
          <button
            class="edit-product__catalog__new__apply"
            @click.prevent="addCategory"
          >
            {{ $t('elements.product.applyForCategory') }}
          </button>
        </div>
        <shop-catalog-categories
          class="edit-product__catalog__tree"
          :item="categories"
          :products="[]"
          :selected="selectedCatalog"
          @selectItem="selectCatalog"
          v-if="categories"
        />
      </div>
      <div class="edit-product__buttons">
        <regular-button :elClass="['corporate']" @click="apply">{{
          $t('elements.apply')
        }}</regular-button>
        <regular-button :elClass="['grey']" @click="cancel">{{
          $t('elements.cancel')
        }}</regular-button>
      </div>
    </div>
    <add-bar-code
      @apply="addedBarCode"
      v-if="addBarCode"
      :product="product"
      @cancel="addBarCode = false"
    />
  </div>
</template>

<script>
import AddBarCode from './AddBarCode.vue';
import RegularInput from './../primitives/RegularInput.vue';
import RegularButton from './../primitives/RegularButton.vue';
import ShopCatalogCategories from './ShopCatalogCategories.vue';
import { mapState } from 'vuex';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  components: {
    RegularInput,
    RegularButton,
    ShopCatalogCategories,
    AddBarCode,
  },
  name: 'AddNewProduct',
  data: function() {
    return {
      newProduct: {
        category: {},
      },
      addBarCode: false,
      newCategory: '',
      selectedCatalog: {},
      activeStatus: null,
    };
  },
  props: {
    product: Object,
    category: Object,
  },
  mounted() {
    if (this.statuses?.length < 1) {
      this.$store.dispatch('outlet/getProductStatuses');
    }
    this.activeStatus = this.product.product_status_id;
  },
  computed: {
    ...mapState({
      categories: state => state.outlet.productCategories,
      outletURL: state => state.common.urls.outlet,
      outlet_id: state => state.outlet.outlet_id,
      statuses: state => state.outlet.productStatuses,
    }),
  },
  methods: {
    addedBarCode() {
      this.addBarCode = false;
      this.$store.dispatch('outlet/getProductsList', {
        outlet_id: this.outlet_id,
      });
    },
    selectCatalog(catalog) {
      this.newProduct.category = catalog;
    },
    async apply() {
      let data = {};
      data.product = {};
      data.product_id = this.product.id;
      data.product.name = this.product.name;
      data.product.category_id = this.newProduct.category.id;
      data.product.product_status_id = this.activeStatus;
      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.updateProduct(JSON.stringify(data));
        if (resp.data.status === 'ok') {
          componentErrorHandler(
            this,
            'Редактирование товара',
            'Редактирование товара прошло успешно',
            'success'
          );
          this.$store.dispatch('outlet/getProductsList', {
            outlet_id: this.outlet_id,
          });
          this.cancel();
        } else {
          componentErrorHandler(
            this,
            'Редактирование товара',
            'Возникла ошибка при редактировании товара.',
            'error',
            resp.data.message
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    cancel() {
      this.newProduct = { category: {} };
      this.$emit('cancel');
    },
    async addCategory() {
      let data = {};
      data.parent_category_id = this.newProduct.category.id;
      data.new_category_name = this.newCategory;
      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.addCategory(JSON.stringify(data));
        if (resp.data.status === 'ok') {
          componentErrorHandler(
            this,
            'Добавление категории',
            'Добавление категории прошло успешно',
            'success'
          );
          this.newCategory = '';
          this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: this.outlet_id,
          });
        } else {
          componentErrorHandler(
            this,
            'Добавление категории',
            'Возникла ошибка при добавлении категории.',
            'error',
            resp.data.message
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    async removeBarcode(barcode) {
      let data = {};
      data.product_id = this.product.id;
      data.barcode = barcode.barcode;
      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.removeBaCode(JSON.stringify(data));
        if (resp.data.status === 'ok') {
          componentErrorHandler(
            this,
            'Удаление Штрихкода',
            'Удаление Штрихкода прошло успешно',
            'success'
          );
          this.$store.dispatch('outlet/getProductsList', {
            outlet_id: this.outlet_id,
          });
        } else {
          componentErrorHandler(
            this,
            'Удаление Штрихкода',
            'Возникла ошибка при удалении Штрихкода.',
            'error',
            resp.data.message
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);
}
.edit-product {
  min-width: 40%;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;

  &__title {
    text-align: center;
    font-size: $big;
    color: $black-font;
  }
  &__barcodes {
    &__list {
      list-style: none;
      &__item {
        &__title {
          font-size: $semi-big;
          font-weight: 300;
        }
        &__remove {
          font-size: $semi-big;
          font-weight: 600;
          padding: 10px;
        }
      }
    }
    &__button {
      font-size: $regular;
      margin: 20px auto;
      display: block;
      padding: 15px 30px;
    }
  }

  &__catalog {
    &__header {
      font-size: $semi-big;
    }
    &__tree {
      list-style: none;
      cursor: pointer;
    }
    &__new {
      margin: 20px auto;
      background-color: $grey;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__title {
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 1px solid $grey;
        margin: 0 10px;
        padding: 5px;
      }
      &__apply {
        margin-left: 10px;
        border: 0px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $corporate;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__statuses {
    margin: 40px 0;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      &__item {
        padding: 0 0 0 30px;
        margin: 0;
        position: relative;
        color: $dark-grey-font;

        &:before {
          position: absolute;
          content: '';
          left: 5px;
          top: 2px;
          width: 15px;
          height: 15px;
          // background-color: grey;
          border-radius: 10px;
          border: 1px solid $border;
        }

        &.-active {
          color: $black-font;

          &:before {
            background-color: $corporate-light;
          }
          &:after {
            position: absolute;
            content: '';
            left: 11px;
            top: 8px;
            width: 5px;
            height: 5px;
            border-radius: 10px;
            background-color: $border;
          }
        }
      }
    }
  }
}
</style>
