// Компонент каталогов товаров и списка товаров
<template>
  <li>
    <div
      class="category bold"
      :class="{ selected: item.id == selected.id }"
      @dblclick="toggle"
    >
      <span class="category__badge" v-if="isFolder" @click="toggle">{{
        isOpen ? '-' : '+'
      }}</span>
      <span class="category__no-badge" v-if="!isFolder" @click="toggle"></span>
      <span class="category__title" @click="select(item)">{{ item.name }}</span>
    </div>
    <ul
      class="category__product"
      v-if="item.id == selected.id && productsInSelected"
    >
      <li
        class="category__product__item"
        v-for="(item, key) in productsInSelected"
        :key="key"
        @click="selectProduct(item)"
      >
        <span class="category__product__item__name">{{ item.name }}</span>
        <span class="category__product__item__price">{{ item.qty }}</span>
        <!-- <span
          class="category__product__item__price"
        >{{ (item.price * currentCurrency.ratio).toFixed(2) }} {{ currentCurrency.abbr }}</span>-->
      </li>
    </ul>
    <ul v-show="isOpen" v-if="isFolder">
      <shop-catalog-categories
        class="item"
        v-for="(child, index) in item.children"
        :selected="selected"
        :products="products"
        :key="index"
        :item="child"
        @selectProduct="selectProduct"
        @selectItem="select"
      ></shop-catalog-categories>
    </ul>
  </li>
</template>

<script>
// import ShopCatalogCategories from "./ShopCatalogCategories.vue";

export default {
  name: 'ShopCatalogCategories',
  components: {
    // ShopCatalogCategories
  },
  props: {
    item: Object,
    selected: Object,
    products: Array,
  },
  data: function() {
    return {
      isOpen: false,
    };
  },
  computed: {
    isFolder: function() {
      return this.item.children && this.item.children.length;
    },
    productsInSelected() {
      return this.products.filter(x =>
        this.categories.find(currentValue => currentValue == x.category_id)
      );
    },
    categories() {
      let categoriesNested = [];
      function search(category) {
        categoriesNested.push(category.id);
        if (category.children) {
          category.children.map(child => search(child));
        }
      }
      search(this.selected);
      return categoriesNested;
    },
  },
  methods: {
    toggle() {
      if (this.isFolder) {
        this.isOpen = !this.isOpen;
        this.$emit('selectItem', {});
      }
    },
    select(item) {
      this.$emit('selectItem', item);
    },
    selectProduct(item) {
      this.$emit('selectProduct', item);
    },
  },
};
</script>

<style lang="scss" scoped>
.category {
  &.bold {
    font-size: $regular;
    font-weight: 800;
  }
  &.selected {
    background-color: $grey;
  }

  &__badge {
    padding: 0 10px;
    font-size: 18px;
  }
  &__no-badge {
    padding-left: 30px;
  }

  &__title {
    font-size: $regular + 2px;
  }

  &__product {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;

      &__name {
        font-size: $regular + 4px;
        font-weight: 400;
      }
      &__price {
        padding-left: 10px;
        min-width: 100px;
      }
    }
  }
}

.item {
  cursor: pointer;
  font-size: $small;
  font-weight: 500;
  padding-bottom: 5px;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: none;
}
</style>
