<template>
  <div class="icons">
    <img
      v-if="!!showEdit"
      @click="edit"
      src="@/assets/img/svg/common-icons/edit.svg"
      class="icons__icon"
      alt="menu"
    />
    <img
      v-if="!!showCook"
      @click="cook"
      src="@/assets/img/svg/common-icons/cook.svg"
      class="icons__icon"
      alt="menu"
    />
    <img
      v-if="!!showDelete"
      @click="remove"
      src="@/assets/img/svg/common-icons/delete.svg"
      class="icons__icon"
      alt="menu"
    />
  </div>
</template>

<script>
export default {
  name: 'KitchenEditDelete',
  props: {
    showEdit: { type: Boolean, default: true },
    showCook: { type: Boolean, default: true },
    showDelete: { type: Boolean, default: true },
  },
  methods: {
    edit() {
      this.$emit('edit');
    },
    cook() {
      this.$emit('cook');
    },
    remove() {
      this.$emit('remove');
    },
  },
};
</script>

<style lang="scss" scoped>
.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;

  &__icon {
    max-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}
</style>
