<template>
  <div :class="{ expanded: expanded }">
    <div class="shop-menu__header">
      <span class="shop-menu__header__logo">
        <img
          src="./../../assets/img/svg/logo-white.svg"
          class="shop-menu__header__logo__img"
          alt="Justapp"
        />
      </span>
      <a @click.prevent="collapse" href class="shop-menu__header__close">
        <img
          src="./../../assets/img/svg/menu-close.svg"
          class="shop-menu__header__close__img"
          alt="x"
        />
      </a>
    </div>
    <div class="shop-menu__user"></div>
    <div class="shop-menu__select">
      <regular-select-slots
        class="shop-menu__selector"
        placeholder="Выберите кухню:"
        v-if="kitchenList.length > 1"
        :optionList="kitchenList"
        @input="currentKitchenUpdate"
        :value="currentKitchenIndex"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.name }} (ID: {{ valueName.id }} )
        </template>
      </regular-select-slots>
    </div>
    <div class="shop-menu__items">
      <ul class="shop-menu__items__list">
        <li
          v-for="(item, index) in menuItems"
          :key="index"
          class="shop-menu__items__list__link"
        >
          <router-link :to="item.route">{{ item.name }}</router-link>
        </li>
      </ul>
    </div>
    <div class="shop-menu__sub-menu">
      <ul class="shop-menu__sub-menu__list">
        <li class="shop-menu__sub-menu__list__link">
          <router-link :to="`/shop/`">Магазин</router-link>
        </li>
        <li class="shop-menu__sub-menu__list__link">Помощь</li>
        <li @click="logout" class="shop-menu__sub-menu__list__link">Выход</li>
      </ul>
    </div>
    <div class="shop-menu__sub-menu">
      <h3 class="shop-menu__sub-menu__title">
        {{ $t('elements.currency.chooseCurrency') }}
      </h3>
      <ul class="shop-menu__sub-menu__list">
        <li
          class="shop-menu__sub-menu__list__link"
          v-for="(currency, key) in currencies"
          :key="'currency-' + key"
          @click="changeCurrency(currency.id)"
          :class="{ '-current': currency.id === currentCurrency.id }"
        >
          {{ currency.title }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import KitchenMenu from '@/helpers/data/kitchenMenu.js';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';

export default {
  name: 'KitchenMenu',
  components: {
    RegularSelectSlots,
  },
  mixins: [KitchenMenu],
  props: {
    expanded: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
      currencies: state => state.common.currencies,
      kitchenList: state => state.outlet.kitchenList,
      currentKitchen: state => state.outlet.currentKitchen,
    }),
    currentKitchenIndex() {
      if (this.currentKitchen && this.currentKitchen >= 0) {
        return this.kitchenList?.findIndex(
          val => val.id == this.currentKitchen
        );
      } else {
        return 0;
      }
    },
  },
  watch: {
    kitchenList: {
      handler() {
        if (!this.currentKitchen || this.currentKitchen <= 0) {
          this.$store.commit(
            'outlet/SET_CURRENT_KITCHEN',
            this.kitchenList[0]?.id - 0
          );
        }
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    collapse() {
      this.$emit('collapse');
    },
    changeCurrency(id) {
      this.$store.dispatch('common/changeCurrentCurrency', id);
    },
    logout() {
      this.$store.dispatch('logout').then(() => this.$router.push('/'));
    },
    currentKitchenUpdate(value) {
      this.$store.commit(
        'outlet/SET_CURRENT_KITCHEN',
        this.kitchenList[value].id
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-menu {
  background-color: $corporate-menu;
  height: 100vh;
  width: 0;
  padding: 0;
  overflow: auto;

  &.expanded {
    width: 50%;
    padding: 10px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
      padding: 0px 10px;
    }

    &__close {
      padding: 0px 20px;
    }
  }

  &__user {
    display: none;
  }

  &__items {
    &__list {
      list-style: none;
      padding: 25px;
      margin: 0;

      &__link {
        font-size: $semi-big;
        color: $white;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-weight: 500;

        a {
          color: $white;
          cursor: pointer;

          &:visited {
            color: $white;
          }
        }
      }
    }
  }

  &__sub-menu {
    padding-top: 30px;

    &__list {
      list-style: none;
      padding: 25px;
      margin: 0;

      &__link {
        font-size: $semi-big;
        color: $white;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-weight: 500;
        cursor: pointer;

        a {
          font-size: $semi-big;
          color: $white;
          text-transform: capitalize;
          padding-bottom: 10px;
          font-weight: 500;
          cursor: pointer;
        }

        &.-current {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
