<template>
  <div>
    <div class="barcode-scanner-back" @click="closeModal"></div>
    <div class="barcode-scanner">
      <div class="barcode-scanner__scan-zone">
        <qrcode-stream
          v-if="!cameraError"
          @init="onInit"
          @decode="onDecode"
        ></qrcode-stream>
        <span v-if="cameraError">Камера не обнаружена.</span>
      </div>
      <div class="barcode-scanner__buttons">
        <regular-button :elClass="['cancel']" @click="closeModal"
          >Отмена</regular-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from './../primitives/RegularButton.vue';
import { QrcodeStream } from 'vue-qrcode-reader';

export default {
  name: 'QrCodeScanner',
  data() {
    return {
      cameraError: false,
      cameraInited: false,
    };
  },
  components: {
    RegularButton,
    QrcodeStream,
  },
  methods: {
    async onInit(promise) {
      // show loading indicator
      try {
        await promise;
        this.cameraInited = true;

        // successfully initialized
        //@todo добавить переводы!
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          // user denied camera access permisson
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text =
            'Разрешение на использование камеры не предоставлено.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotFoundError') {
          // no suitable camera device installed
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не обнаружена.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotSupportedError') {
          // page is not served over HTTPS (or localhost)
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'SSL сертификат отсутствует.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotReadableError') {
          // maybe camera is already in use
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'OverconstrainedError') {
          // did you requested the front camera although there is none?
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'StreamApiNotSupportedError') {
          // browser seems to be lacking features
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        }
      } finally {
        // hide loading indicator
        this.cameraInited = true;
      }
    },

    closeModal() {
      this.$emit('closeModal');
    },
    onDecode(resp) {
      this.$emit('qrCode', resp);
      this.closeModal();
    },
  },
};
</script>

<style lang="scss">
.barcode-scanner-back {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 999;
}
.barcode-scanner {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $grey;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);

  &__scan-zone {
    height: 300px;
    width: 400px;
    display: block;
    margin-bottom: 20px;

    .viewport video {
      height: 300px;
      width: 400px;
    }

    .viewport canvas {
      height: 300px;
      width: 400px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
</style>
