// Компонент выбора количества в магазине
<template>
  <div class="quantity">
    <button
      class="quantity__minus"
      @click.prevent="changeQuantity(quantity - 1)"
    >
      -
    </button>
    <input
      type="number"
      class="quantity__value"
      :value="this.formatDecimals(quantity)"
      @change="changeQuantity($event.target.value)"
    />
    <button
      class="quantity__plus"
      @click.prevent="changeQuantity(quantity - -1)"
    >
      +
    </button>
  </div>
</template>

<script>
import { decimal } from '@/helpers/methods/decimal.js';
export default {
  name: 'QuantitySelector',
  mixins: [decimal], //formatDecimals(val)
  props: {
    quantity: Number,
  },
  methods: {
    changeQuantity(val) {
      this.$emit('change', this.formatDecimals(val));
    },
  },
};
</script>

<style lang="scss" scoped>
.quantity {
  text-align: center;

  &__minus {
    border-radius: 22px 0 0 22px;
    border: 0px solid transparent;
    background-color: $grey;
    padding: 10px 12px;
    cursor: pointer;
    font-size: $regular + 2px;
  }
  &__value {
    background-color: $grey;
    -moz-appearance: textfield; /* Firefox */
    border: 0px solid transparent;
    padding: 10px 12px;
    cursor: text;
    font-size: $regular + 2px;
    text-align: center;
    max-width: 60px;

    &::-webkit-outer-spin-button {
      /* Chrome */
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-inner-spin-button {
      /* Chrome */
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__plus {
    border-radius: 0 22px 22px 0;
    border: 0px solid transparent;
    background-color: $grey;
    padding: 10px 12px;
    cursor: pointer;
    font-size: $regular + 2px;
  }
}
</style>
