<template>
  <div class="recipe">
    <div class="recipe__header">
      <h3 class="recipe__header__name">{{ recipe.name }}</h3>
      <slot class="recipe__header__slot" name="header"> </slot>
    </div>
    <div class="recipe__container">
      <div class="recipe__container__info">
        <p class="recipe__container__info__string">
          <span class="recipe__container__info__string__title">ID: </span>
          {{ recipe.id }}
        </p>
        <p class="recipe__container__info__string">
          <span class="recipe__container__info__string__title">{{
            $t('kitchen.creationDate') + ': '
          }}</span>
          {{ formatDate(recipe.created_at) }}
        </p>
        <p v-if="recipe.comment" class="recipe__container__info__string">
          <span class="recipe__container__info__string__title">{{
            $t('kitchen.comment') + ': '
          }}</span>
          {{ recipe.comment }}
        </p>
        <p class="recipe__container__info__string">
          <span class="recipe__container__info__string__title">{{
            $t('kitchen.recipeForOutlet') + ': '
          }}</span>
          {{ recipe.outlet_name }}
        </p>
        <p class="recipe__container__info__string">
          <span class="recipe__container__info__string__title">{{
            $t('kitchen.recipeForProduct') + ': '
          }}</span>
          {{ recipe.outlet_product_name }}
        </p>
      </div>

      <div class="recipe__container__ingredients">
        <h4>{{ $t('kitchen.ingredients') + ':' }}</h4>
        <table class="recipe__container__ingredients__list">
          <tbody>
            <tr
              class="recipe__container__ingredients__list__item"
              v-for="item in recipe.items"
              :key="item.id"
            >
              <td class="recipe__container__ingredients__list__item__name">
                {{ productById(item.id) || $t('kitchen.nameNotFound') }}
              </td>
              <td class="recipe__container__ingredients__list__item__qty">
                {{ item.product_qty }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { fromUnixTime, format } from 'date-fns';
import { mapState } from 'vuex';

export default {
  name: 'Recipe',
  props: {
    recipe: Object,
  },
  computed: {
    ...mapState({
      products: state => state.outlet.kitchenProducts,
    }),
  },
  methods: {
    formatDate(date) {
      return format(fromUnixTime(date), 'dd.MM.yyyy');
    },
    productById(id) {
      return this.products?.find(el => el.id == id)?.name;
    },
  },
};
</script>

<style lang="scss" scoped>
.recipe {
  border-bottom: 1px solid $corporate;
  padding-bottom: 10px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__name {
      font-size: $semi-big;
    }

    &__slot {
      padding-right: 20px;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;

    &__info {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px;

      &__string {
        margin: 5px 0;
        &__title {
          font-weight: 500;
        }
      }
    }
    &__ingredients {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px;

      &__list {
        display: flex;
        flex-direction: column;

        &__item {
          &__name {
            font-size: $regular;
          }

          &__qty {
            font-size: $regular;
          }
        }
      }
    }
  }
}
</style>
