import {format} from "date-fns";import {fromUnixTime} from "date-fns";
<template>
  <div class="report-list">
    <ul class="report-list__container">
      <li
        class="report-list__container__item"
        v-for="(item, key) in items"
        :key="key"
      >
        Ордер:{{ item.id }} Позиций: {{ item.orderItems.length }} Дата:
        {{ formatDate(item.created_at) }} Комментарий: {{ item.comment }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';

export default {
  name: 'ReportsList',
  props: {
    items: Array,
  },
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outlet_id: state => state.outlet.outlet_id,
    }),
  },
  methods: {
    formatDate(date) {
      return format(fromUnixTime(date), 'dd.MM.yyyy');
    },
  },
};
</script>

<style lang="scss" scoped></style>
