<template>
  <table class="reserve__list">
    <thead class="reserve__list__header">
      <tr class="reserve__list__header__line">
        <td class="reserve__list__header__line__item">Название</td>
        <td class="reserve__list__header__line__item">Кол-во</td>
        <td class="reserve__list__header__line__item">Вход.цена</td>
        <td class="reserve__list__header__line__item">Цена</td>
      </tr>
    </thead>
    <tbody class="reserve__list__item__body">
      <tr
        class="reserve__list__body__item"
        v-for="(item, key) in productsSorted"
        :key="key"
        @dblclick="selectProduct(item)"
      >
        <td class="reserve__list__body__item__cell">{{ item.name }}</td>
        <td class="reserve__list__body__item__cell">{{ item.qty }}</td>
        <td class="reserve__list__body__item__cell">
          {{ (item.price_in * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </td>
        <td class="reserve__list__body__item__cell">
          {{ (item.price_out * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState } from 'vuex';

export default {
  props: {
    products: Array,
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
    }),
    productsSorted() {
      if (this.products && this.products.length > 0) {
        var array = [...this.products];
        return array.sort((a, b) => {
          if (a.name.toLowerCase() < b.name.toLowerCase()) {
            return -1;
          }
          if (a.name.toLowerCase() > b.name.toLowerCase()) {
            return 1;
          }
          return 0;
        });
      } else {
        return this.products;
      }
    },
  },
  methods: {
    selectProduct(product) {
      console.log(product);
      this.$router.push({ name: 'productLog', params: { id: product.id } });
    },
  },
};
</script>

<style lang="scss" scoped>
.reserve {
  &__list {
    width: 100%;
    padding-top: 20px;
    border-collapse: collapse;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;

        &__item {
          font-size: $regular + 2px;
          font-weight: 600;
          padding-bottom: 5px;

          margin: 0;
        }
      }
    }
    &__body {
      &__item {
        border-bottom: 1px solid $grey;

        &__cell {
          font-size: $regular;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
</style>
