<template>
  <li class="container">
    <div class="category bold" @dblclick="selectCategory(item)">
      <span class="category__title" @dblclick="selectCategory(item)">{{
        item.name
      }}</span>
    </div>
    <ul class="category__product">
      <li
        class="category__product__item"
        v-for="(product, key) in productsInCategory"
        :key="key"
        @dblclick="selectProduct(product)"
      >
        <span class="category__product__item__name">{{ product.name }}</span>
        <span class="category__product__item__price">{{ product.qty }}</span>
      </li>
    </ul>
    <ul v-show="isOpen" v-if="isFolder">
      <reserve-category-list
        class="item"
        v-for="(child, index) in item.children"
        :products="products"
        :key="index"
        :item="child"
      ></reserve-category-list>
    </ul>
    <edit-product
      v-if="isEditProduct"
      :product="selectedProduct"
      :category="selectedProductCategory"
      @cancel="cancelEditProduct"
    />
    <edit-category
      v-if="isEditCategory"
      :category="selectedCategory"
      @cancel="cancelEditCategory"
    />
  </li>
</template>

<script>
import ReserveCategoryList from './ReserveCategoryList.vue';
import EditProduct from './EditProduct.vue';
import EditCategory from './EditCategory.vue';

export default {
  name: 'ReserveCategoryList',
  components: {
    ReserveCategoryList,
    EditProduct,
    EditCategory,
  },
  props: {
    item: Object,
    selected: Object,
    products: Array,
  },
  data: function() {
    return {
      isOpen: true,
      isEditProduct: false,
      selectedProduct: {},
      selectedProductCategory: {},
      isEditCategory: false,
      selectedCategory: {},
    };
  },
  computed: {
    isFolder: function() {
      return this.item.children && this.item.children.length;
    },
    productsInCategory() {
      return this.products.filter(x => x.category_id == this.item.id);
    },
  },
  methods: {
    selectProduct(prod) {
      this.selectedProduct = prod;
      this.selectedProductCategory = this.item;
      this.isEditProduct = true;
    },
    cancelEditProduct() {
      this.selectedProduct = {};
      this.isEditProduct = false;
    },
    selectCategory(cat) {
      this.selectedCategory = cat;
      this.isEditCategory = true;
    },
    cancelEditCategory() {
      this.selectedCategory = {};
      this.isEditCategory = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  background-color: rgba(235, 235, 235, 0.2);
}
.category {
  &.bold {
    font-size: $regular;
    font-weight: 800;
  }
  &.selected {
  }
  &__title {
    // background: $grey;
    // width: 100%;
    // display: block;
  }

  &__product {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;

      &__name {
        font-size: $regular + 2px;
        font-weight: 400;
      }
      &__price {
      }
    }
  }
}

.item {
  cursor: pointer;
  font-size: $small;
  font-weight: 500;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: none;
}
</style>
