// Компонент каталогов товаров и списка товаров
<template>
  <ul v-if="products" class="category__product">
    <li
      class="category__product__item"
      v-for="(item, key) in filteredProducts"
      :key="key"
      @click="selectProduct(item)"
    >
      <span class="category__product__item__name">{{ item.name }}</span>
      <span class="category__product__item__price"
        >{{ (item.price * currentCurrency.ratio).toFixed(2) }}
        {{ currentCurrency.abbr }}</span
      >
    </li>
  </ul>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ShopCatalogSearch',
  props: {
    searchTitle: {
      type: String,
      default: '',
    },
    searchBarcode: {
      type: String,
      default: '',
    },
  },
  data: function() {
    return {};
  },
  mounted() {},
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outlet_id: state => state.outlet.outlet_id,
      currentCurrency: state => state.common.currentCurrency,
    }),
    filteredProducts() {
      return this.products.filter(item => {
        if (this.searchTitle && this.searchBarcode) {
          return (
            item.name.toLowerCase().includes(this.searchTitle.toLowerCase()) &&
            item.barcodes.find(element =>
              element.barcode.toString().includes(this.searchBarcode.toString())
            )
          );
        } else if (this.searchTitle) {
          return item.name
            .toLowerCase()
            .includes(this.searchTitle.toLowerCase());
        } else if (this.searchBarcode) {
          return item.barcodes.find(element =>
            element.barcode.toString().includes(this.searchBarcode.toString())
          );
        } else {
          return true;
        }
      });
    },
  },
  methods: {
    selectProduct(item) {
      this.$emit('selectProduct', item);
    },
  },
};
</script>

<style lang="scss" scoped>
.category {
  &__product {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;

      &__name {
        font-size: $regular + 2px;
        font-weight: 400;
      }
      &__price {
      }
    }
  }
}
</style>
