<template>
  <table class="products-table">
    <thead v-if="header" class="products-table__header">
      <tr class="products-table__header__row">
        <td></td>
        <slot name="header"></slot>
      </tr>
    </thead>
    <tbody class="products-table__body">
      <tr
        class="products-table__body__row"
        v-for="(item, index) in items"
        :key="index"
      >
        <td
          class="products-table__body__row__item-remove"
          @click.prevent="$emit('removeItem', item.id)"
        >
          <span>x</span>
        </td>
        <slot name="body" :item="item" :index="index"></slot>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'ShopProductTable',
  props: {
    items: Array,
    header: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.products-table {
  width: 100%;

  &__header {
    &__row {
      td {
        text-align: center;
        padding: 10px 0;
        font-size: $regular;
        font-weight: 500;
      }
    }
  }

  &__body {
    &__row {
      &__item-remove {
        text-align: center;
        font-weight: 600;
        font-size: $regular + 2px;
        cursor: pointer;
        padding: 10px 15px;
      }
      td {
        border-bottom: 1px solid $grey;
        padding: 10px;
        max-width: 300px;
      }
    }
  }
}
</style>
