<template>
  <div>
    <div class="user-info-back" @click="closeModal"></div>
    <div class="user-info">
      <div class="user-info__container">
        <div
          class="user-info__container__image"
          :style="`background-image:url(${userInfo.image})`"
        >
          <!-- <img class="user-info__container__image__item" :src="userInfo.image"> -->
        </div>
        <div class="user-info__container__text">
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"></span
            >{{ userInfo.id }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.name') }}: </span
            >{{ userInfo.name }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.secondName') }}: </span
            >{{ userInfo.surname }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.phone') }}: </span
            >{{ userInfo.phone }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.email') }}: </span
            >{{ userInfo.email }}</span
          >
          <!-- <span class="user-info__container__text__item"><span class="user-info__container__text__item__field">{{ $t('elements.gender') }}: </span>{{ $t('constants.'+userInfo.gender)}}</span> -->
          <br /><br />
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >Остаток на счете: </span
            >{{ (userInfo.account_main * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}</span
          >
          <br /><br />
          <span
            v-if="cashLimit.buyer_limit && cashLimit.buyer_limit.cash_limit > 0"
            >У пользователя установлен суточный лимит<br />
            в
            <b>{{
              (
                cashLimit.buyer_limit.cash_limit * currentCurrency.ratio
              ).toFixed(2)
            }}</b>
            {{ currentCurrency.abbr }}. <br />Из них уже потрачено <br />{{
              (cashLimit.paid_daily_sum * currentCurrency.ratio).toFixed(2)
            }}
            {{ currentCurrency.abbr }}</span
          >
          <br />
          <span v-if="banProducts.length > 0 || banCategories > 0"
            >Имеются ограничения по товарам!</span
          >
        </div>
      </div>
      <div class="user-info__buttons">
        <regular-button :elClass="['corporate']" @click="applyPay">{{
          $t('elements.confirm')
        }}</regular-button>
        <regular-button :elClass="['red']" @click="closeModal">{{
          $t('elements.cancel')
        }}</regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from './../primitives/RegularButton.vue';
import { mapState } from 'vuex';

export default {
  props: {
    userInfo: Object,
  },
  name: 'QrCodeScanner',
  data() {
    return {};
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
      cashLimit: state => state.outlet.cashLimit,
      banProducts: state => state.outlet.banProducts,
      banCategories: state => state.outlet.banCategories,
    }),
  },
  components: {
    RegularButton,
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    applyPay() {
      this.$emit('apply');
    },
  },
};
</script>

<style lang="scss" scoped>
.user-info-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  z-index: 999;
}
.user-info {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $grey;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);

  &__container {
    display: flex;
    flex-direction: row;

    &__image {
      width: 300px;
      height: 300px;
      padding: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 10px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      padding: 10px;

      &__item {
        font-weight: 400;
        font-size: $regular + 2px;

        &__field {
          font-weight: 200;
          font-size: $regular;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
</style>
