<template>
  <div class="find-company">
    <div class="find-company__form">
      <regular-input-mask
        class="find-company__form__input"
        :elDisabled="elDisabled"
        elId="inn"
        :elLabel="$t('home.fields.inn')"
        :errorMessages="{
          [$t('home.fieldErrors.innRequired')]: !$v.inn.required,
          [$t('home.fieldErrors.innIncorrect')]:
            !$v.inn.minLength || !$v.inn.maxLength,
        }"
        :error="!$v.inn.required || !$v.inn.minLength || !$v.inn.maxLength"
        :mask="'#### ###### ##'"
        :value="inn"
        @input="$emit('input', $event)"
      />
      <regular-button
        class="find-company__form__button"
        :elClass="['corporate']"
        :elDisabled="false"
        @click="test"
      >
        {{ $t('home.buttons.search') }}
      </regular-button>
    </div>
    <div v-if="suggestions.length > 1" class="find-company__suggestions">
      <h3>{{ $t('home.registerObject.multipleInn') }}:</h3>
      <regular-select-slots
        :placeholder="$t('home.fields.chooseCompany')"
        :optionList="suggestions"
        @input="selectCompany"
        :value="selectedCompany"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.value }}
        </template>
        <template v-slot:item="{ option }">
          {{ option.value }}
        </template>
      </regular-select-slots>
    </div>
  </div>
</template>

<script>
import RegularInputMask from '@/components/primitives/RegularInputMasked';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import RegularButton from '@/components/primitives/RegularButton';
import axios from 'axios';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';

export default {
  name: 'FindCompany',
  components: { RegularSelectSlots, RegularButton, RegularInputMask },
  mixins: [validationMixin],
  props: {
    elDisabled: Boolean,
    inn: [String, Number],
  },
  data: function() {
    return {
      suggestions: [],
      selectedCompany: null,
    };
  },
  validations: {
    inn: {
      required,
      maxLength: maxLength(14),
      minLength: minLength(10),
    },
  },
  methods: {
    test() {
      let query = {
        query: this.inn.split(' ').join(''),
      };
      axios({
        url:
          'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party',
        data: JSON.stringify(query),
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: 'Token 42b83fec62847fa0f99c80c8c62c153226630504',
        },
      })
        .then(resp => {
          if (resp.data.suggestions.length == 1) {
            this.suggestions = resp.data.suggestions;
            this.selectCompany(0);
          } else if (resp.data.suggestions.length > 1) {
            this.suggestions = resp.data.suggestions;
          } else {
            this.$emit('innApiError', this.inn);
          }
        })
        .catch(err => {
          console.error(err);
          this.$emit('innApiError', this.inn);
        });
    },
    selectCompany(index) {
      this.selectedCompany = index;
      this.$emit('select', this.suggestions[this.selectedCompany]);
    },
  },
};
</script>

<style lang="scss" scoped>
.find-company {
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 70px;

    &__input {
      flex-grow: 2;
      flex-shrink: 2;
    }

    &__button {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
</style>
