<template>
  <div class="find-bank">
    <div class="find-bank__form">
      <regular-input-mask
        class="find-bank__form__input"
        :elDisabled="elDisabled"
        elId="bik"
        :elLabel="$t('home.fields.bik')"
        :errorMessages="{
          [$t('home.fieldErrors.bikRequired')]: !$v.bik.required,
          [$t('home.fieldErrors.bikIncorrect')]:
            !$v.bik.minLength || !$v.bik.maxLength,
        }"
        :error="!$v.bik.required || !$v.bik.minLength || !$v.bik.maxLength"
        :mask="'04#######'"
        :value="bik"
        @input="$emit('input', $event)"
      />
      <regular-button
        class="find-bank__form__button"
        :elClass="['corporate']"
        :elDisabled="false"
        @click="test"
      >
        {{ $t('home.buttons.search') }}
      </regular-button>
    </div>
  </div>
</template>

<script>
import RegularInputMask from '@/components/primitives/RegularInputMasked';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import RegularButton from '@/components/primitives/RegularButton';
import axios from 'axios';

export default {
  name: 'FindBank',
  components: { RegularButton, RegularInputMask },
  mixins: [validationMixin],
  props: {
    elDisabled: Boolean,
    bik: [String, Number],
  },
  data: function() {
    return {};
  },
  validations: {
    bik: {
      required,
      maxLength: maxLength(10),
      minLength: minLength(8),
    },
  },
  methods: {
    test() {
      let query = {
        query: this.bik,
      };
      axios({
        url:
          'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/bank',
        data: JSON.stringify(query),
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: 'Token 42b83fec62847fa0f99c80c8c62c153226630504',
        },
      })
        .then(resp => {
          if (resp.data.suggestions.length > 0) {
            this.suggestions = resp?.data?.suggestions;
            this.$emit('select', this.suggestions[0]);
          } else {
            this.$emit('bikApiError', this.bik);
          }
        })
        .catch(err => {
          console.error(err);
          this.$emit('bikApiError', this.bik);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.find-bank {
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 70px;

    &__input {
      flex-grow: 2;
      flex-shrink: 2;
    }

    &__button {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
</style>
