<template>
  <div class="step1" :class="{ '-collapsed': collapsed }">
    <div @click="$emit('collapse')" class="header">
      <h2 class="header__title">
        {{ $t('home.registerObject.step1') }}
      </h2>
      <span class="header__arrow">
        <img src="@/assets/img/svg/common-icons/arrow.svg" alt=">" />
      </span>
    </div>
    <div v-if="!collapsed" class="container">
      <form class="register-parent">
        <div class="register-parent__helpers">
          <p class="instructions">
            Нажимая кнопку "Далее", вы начнете регистрацию объекта в системе
            Justapp. Пользователь будет обозначен, как владелец объекта в нашей
            системе.
          </p>
        </div>
        <div class="register-parent__buttons">
          <regular-button :elClass="['corporate']" @click="registerApply">
            {{ $t('home.buttons.next') }}
          </regular-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { dates } from '@/helpers/data/dates.js';

import { parrentValidate } from '@/helpers/validations/register.js';

import RegularButton from '@/components/primitives/RegularButton.vue';
import { mapState } from 'vuex';

export default {
  name: 'PartnerStep1Registered',
  mixins: [validationMixin, dates],
  props: {
    register: Object,
    disableAll: Boolean,
    collapsed: Boolean,
  },
  computed: {
    ...mapState({
      userId: state => state.user.info.id,
    }),
  },
  data: function() {
    return {};
  },
  components: {
    RegularButton,
  },
  validations: parrentValidate,
  methods: {
    async registerApply() {
      this.$emit('userRegistered', this.userId);
    },
  },
};
</script>

<style scoped lang="scss">
.step1 {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: $corporate-gradient-header;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;

    &__title {
      color: $white;
      font-size: $semi-big;
      padding: 0;
      margin: 0;
    }
    &__arrow {
      transform: rotate(270deg);
      img {
        height: 20px;
        filter: invert(100%);
      }
    }
  }
  .container {
    padding: 0 5px;

    .register-parent {
      padding: 10px;
      background-color: $grey;
      border-radius: 0px 0px 10px 10px;
      &__instruct {
        color: $red;
      }

      &__birth {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @media screen and (max-width: 550px) {
          flex-direction: column;
          align-items: stretch;
        }

        &__day {
          display: flex;
          flex-grow: 2;
        }

        &__month {
          display: flex;
          flex-grow: 1;
        }

        &__year {
          display: flex;
          flex-grow: 1;
        }
      }

      &__buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__separator {
          margin: 10px 10px;
        }

        button {
          margin: 10px 0;
        }
      }

      &__helpers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;

        .instructions {
          padding: 10px;
          background-color: $grey;
          border-radius: 0px 0px 10px 10px;
          font-size: $regular + 2px;
        }

        &__forgot {
          width: 100%;
          text-align: right;

          span {
            display: inline-block;
            color: $corporate;
            font-size: $small;
            font-weight: 500;
            cursor: pointer;
            font-size: $regular;
          }
        }
      }
    }
  }
  &.-collapsed {
    .header {
      border-radius: 10px;
      &__arrow {
        transform: rotate(90deg);
      }
    }
  }
}
</style>
