<template>
  <div class="step2" :class="{ '-collapsed': collapsed }">
    <div @click="$emit('collapse')" class="header">
      <h2 class="header__title">
        {{ $t('home.registerObject.step2') }}
      </h2>
      <span class="header__arrow">
        <img src="@/assets/img/svg/common-icons/arrow.svg" alt=">" />
      </span>
    </div>
    <div v-if="!collapsed" class="container">
      <div class="register-company">
        <find-company
          class="register-company__find"
          :elDisabled="disableAll"
          @select="getFindedCompany"
          @innApiError="innApiError"
          :inn="register.inn"
          @input="update('inn', $event)"
        />
        <form class="register-company__form">
          <regular-input
            elId="companyName"
            :elDisabled="!innNoResponse || disableAll"
            :elLabel="$t('home.fields.objectName')"
            :error="!$v.register.name.required"
            :errorMessages="{
              [$t('home.fieldErrors.fieldRequired')]: !$v.register.name
                .required,
            }"
            :value="register.name"
            @input="update('name', $event)"
          />
          <regular-input
            elId="companyFullName"
            :elDisabled="!innNoResponse || disableAll"
            :elLabel="$t('home.fields.objectFullName')"
            :error="!$v.register.fullName.required"
            :errorMessages="{
              [$t('home.fieldErrors.fieldRequired')]: !$v.register.fullName
                .required,
            }"
            :value="register.fullName"
            @input="update('fullName', $event)"
          />
          <regular-input
            elId="companyKpp"
            :elDisabled="!innNoResponse || disableAll"
            :elLabel="$t('home.fields.kpp')"
            :value="register.kpp"
            @input="update('kpp', $event)"
          />
          <regular-input
            elId="companyAddress"
            :elDisabled="!innNoResponse || disableAll"
            :elLabel="$t('home.fields.address')"
            :error="!$v.register.address.required"
            :errorMessages="{
              [$t('home.fieldErrors.fieldRequired')]: !$v.register.address
                .required,
            }"
            :value="register.address"
            @input="update('address', $event)"
          />
          <find-bank
            class="register-company__find"
            :elDisabled="disableAll"
            @select="getFindedBank"
            @bikApiError="bikApiError"
            :bik="register.bankBik"
            @input="update('bankBik', $event)"
          />
          <regular-input
            elId="companyBankName"
            :elDisabled="!bikNoResponse || disableAll"
            :elLabel="$t('home.fields.bankName')"
            :value="register.bankName"
            @input="update('bankName', $event)"
          />
          <regular-input-mask
            elId="companyPaymentAccount"
            :elDisabled="disableAll"
            :elLabel="$t('home.fields.account')"
            :mask="'####################'"
            :error="
              !$v.register.paymentAccount.required ||
                !$v.register.paymentAccount.minLength ||
                !$v.register.paymentAccount.maxLength
            "
            :errorMessages="{
              [$t('home.fieldErrors.fieldRequired')]: !$v.register
                .paymentAccount.required,
            }"
            :value="register.paymentAccount"
            @input="update('paymentAccount', $event)"
          />
        </form>
        <div class="register-company__buttons">
          <regular-button
            :elClass="['corporate']"
            :elDisabled="
              $v.register.$invalid || !register.bankBik || !register.bankName
            "
            @click="registerApply"
          >
            {{ $t('home.buttons.next') }}
          </regular-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';

import { objectValidate } from '@/helpers/validations/register.js';

import FindCompany from '@/components/home/auth/FindCompany';
import RegularInput from '@/components/primitives/RegularInput';
import RegularButton from '@/components/primitives/RegularButton';
import FindBank from '@/components/home/auth/FindBank';
import RegularInputMask from '@/components/primitives/RegularInputMasked';

export default {
  name: 'PartnerStep2',
  components: {
    RegularInputMask,
    FindBank,
    RegularButton,
    RegularInput,
    FindCompany,
  },
  mixins: [validationMixin],
  props: {
    disableAll: Boolean,
    collapsed: Boolean,
    register: Object,
  },
  validations: objectValidate,
  data: function() {
    return {
      findedCompany: {},
      innNoResponse: false,
      bikNoResponse: false,
    };
  },
  methods: {
    getFindedBank(bank) {
      this.$emit('input', { key: 'bankName', value: bank.value });
      this.$emit('input', { key: 'bankBik', value: bank.data.bic });
    },
    getFindedCompany(value) {
      this.$emit('input', { key: 'name', value: value.value });
      this.$emit('input', {
        key: 'fullName',
        value: value.data.name.full_with_opf,
      });
      this.$emit('input', {
        key: 'inn',
        value: value.data.inn,
      });
      this.$emit('input', { key: 'kpp', value: value.data.kpp });
      this.$emit('input', {
        key: 'address',
        value: value.data.address.unrestricted_value,
      });
    },
    innApiError(inn) {
      this.innNoResponse = true;
      this.$emit('input', { key: 'inn', value: inn });
    },
    bikApiError(bik) {
      this.bikNoResponse = true;
      this.$emit('input', { key: 'bankBik', value: bik });
    },
    registerApply() {
      this.$emit('apply');
    },
    update(key, value) {
      this.$emit('input', { key, value });
    },
  },
};
</script>

<style lang="scss" scoped>
.step2 {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: $corporate-gradient-header;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;

    &__title {
      color: $white;
      font-size: $semi-big;
      padding: 0;
      margin: 0;
    }
    &__arrow {
      transform: rotate(270deg);
      img {
        height: 20px;
        filter: invert(100%);
      }
    }
  }
  .container {
    padding: 0 5px;

    .register-company {
      padding: 10px;
      background-color: $grey;
      border-radius: 0px 0px 10px 10px;

      &__find {
        margin-bottom: 5px;
      }

      &__buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &.-collapsed {
    .header {
      border-radius: 10px;
      &__arrow {
        transform: rotate(90deg);
      }
    }
  }
}
</style>
