<template>
  <div class="step4" :class="{ '-collapsed': collapsed }">
    <div @click="$emit('collapse')" class="header">
      <h2 class="header__title">
        {{ $t('home.registerObject.step4') }}
      </h2>
      <span class="header__arrow">
        <img src="@/assets/img/svg/common-icons/arrow.svg" alt=">" />
      </span>
    </div>
    <div v-if="!collapsed" class="container">
      <div class="success">
        <p>
          {{ $t('home.registerObject.tempSuccess') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PartnerStep2',
  props: {
    disableAll: Boolean,
    collapsed: Boolean,
  },
};
</script>

<style lang="scss" scoped>
.step4 {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: $corporate-gradient-header;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;

    &__title {
      color: $white;
      font-size: $semi-big;
      padding: 0;
      margin: 0;
    }
    &__arrow {
      transform: rotate(270deg);
      img {
        height: 20px;
        filter: invert(100%);
      }
    }
  }
  .container {
    padding: 0 5px;

    .success {
      padding: 10px;
      background-color: $grey;
      border-radius: 0px 0px 10px 10px;
      p {
        font-size: $semi-big;
        text-align: justify;
      }
    }
  }
  &.-collapsed {
    .header {
      border-radius: 10px;
      &__arrow {
        transform: rotate(90deg);
      }
    }
  }
}
</style>
