<template>
  <div class="step3" :class="{ '-collapsed': collapsed }">
    <div @click="$emit('collapse')" class="header">
      <h2 class="header__title">
        {{ $t('home.registerObject.step3') }}
      </h2>
      <span class="header__arrow">
        <img src="@/assets/img/svg/common-icons/arrow.svg" alt=">" />
      </span>
    </div>
    <div v-if="!collapsed" class="container">
      <div class="register-info">
        <form class="register-info__form">
          <regular-input
            elId="objectEmail"
            :elLabel="$t('home.fields.objectEmail')"
            :error="!$v.register.objectEmail.required"
            :errorMessages="{
              [$t('home.fieldErrors.fieldRequired')]: !$v.register.objectEmail
                .required,
            }"
            :value="register.objectEmail"
            @input="update('objectEmail', $event)"
          />
<!--          <regular-input-->
<!--            elId="companyFullName"-->
<!--            :elLabel="$t('home.fields.campName')"-->
<!--            :error="!$v.register.objectName.required"-->
<!--            :errorMessages="{-->
<!--              [$t('home.fieldErrors.fieldRequired')]: !$v.register.objectName-->
<!--                .required,-->
<!--            }"-->
<!--            :value="register.objectName"-->
<!--            @input="update('objectName', $event)"-->
<!--          />-->
        </form>
        <div class="register-info__buttons">
          <regular-button
            :elClass="['corporate']"
            :elDisabled="$v.register.$invalid"
            @click="registerApply"
          >
            {{ $t('home.buttons.next') }}
          </regular-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';

import { objectInfoValidate } from '@/helpers/validations/register.js';

import RegularInput from '@/components/primitives/RegularInput';
import RegularButton from '@/components/primitives/RegularButton';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  name: 'PartnerStep2',
  components: {
    RegularButton,
    RegularInput,
  },
  mixins: [validationMixin],
  props: {
    disableAll: Boolean,
    collapsed: Boolean,
    register: Object,
    userID: [String, Number],
  },
  validations: objectInfoValidate,
  data: function() {
    return {};
  },
  methods: {
    async registerApply() {
      const authRepository = RepositoryFactory.get('auth');
      let data = {
        userId: this.userID,
        legalName: this.register.name,
        legalFullName: this.register.fullName,
        // name: this.register.objectName,
        email: this.register.objectEmail,
        address: this.register.address,
        inn: this.register.inn,
        kpp: this.register.kpp,
        bankName: this.register.bankName,
        bankBik: this.register.bankBik,
        paymentAccount: this.register.paymentAccount,
      };
      try {
        const resp = await authRepository.registerObject(JSON.stringify(data));
        if (resp.data?.status == 'ok') {
          this.$emit('apply');
        } else {
          componentErrorHandler(
            this,
            'Регистрация',
            `Возникла ошибка во время регистрации:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    update(key, value) {
      this.$emit('input', { key, value });
    },
  },
};
</script>

<style lang="scss" scoped>
.step3 {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: $corporate-gradient-header;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;

    &__title {
      color: $white;
      font-size: $semi-big;
      padding: 0;
      margin: 0;
    }
    &__arrow {
      transform: rotate(270deg);
      img {
        height: 20px;
        filter: invert(100%);
      }
    }
  }
  .container {
    padding: 0 5px;

    .register-info {
      padding: 10px;
      background-color: $grey;
      border-radius: 0px 0px 10px 10px;

      &__find {
        margin-bottom: 5px;
      }

      &__buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &.-collapsed {
    .header {
      border-radius: 10px;
      &__arrow {
        transform: rotate(90deg);
      }
    }
  }
}
</style>
