<template>
  <form class="register-kid">
    <p class="register-kid__instruct">* {{ $t('home.register.kidMessage') }}</p>
    <div class="register-kid__phone">
      <hint class="register-kid__hint">
        <template v-slot:text>
          * {{ $t('messages.hints.extraNum1') }}
        </template>
      </hint>
      <regular-select-slots
        class="register-kid__phone__code"
        placeholder="Код"
        :optionList="countryCode"
        :value="register.prephone"
        @input="update('prephone', $event)"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.title }}
        </template>
        <template v-slot:item="{ option }">
          {{ option.title }}
        </template>
      </regular-select-slots>
      <regular-input-masked
        elId="phone"
        class="register-kid__phone__number"
        :elLabel="$t('home.fields.phone')"
        :mask="['### ###-##-##']"
        :value="register.phone"
        @input="update('phone', $event)"
      />
      <regular-input-masked
        elId="subphone"
        class="register-kid__phone__subnumber"
        :elLabel="'Добавочный'"
        :mask="'#'"
        :value="register.subphone"
        @input="update('subphone', $event)"
      />
    </div>
    <div class="register-kid__birth">
      <regular-select
        :placeholder="$t('home.fields.birthday') + '*'"
        class="register-kid__birth__day"
        :option-list="days"
        :value="register.userDay"
        @select="update('userDay', $event)"
      />
      <regular-select
        :placeholder="$t('home.fields.month') + '*'"
        class="register-kid__birth__month"
        :option-list="monthes"
        :value="register.userMonth"
        @select="update('userMonth', $event)"
      />
      <regular-select
        :placeholder="$t('home.fields.year') + '*'"
        class="register-kid__birth__year"
        :option-list="years"
        :value="register.userYear"
        @select="update('userYear', $event)"
      />
    </div>
    <regular-input
      elId="email"
      :elLabel="$t('home.fields.email') + '*'"
      :errorMessages="{
        [$t('home.fieldErrors.emailRequired')]:
          !$v.register.email.required || !$v.register.email.email,
      }"
      :error="!$v.register.email.required || !$v.register.email.email"
      :value="register.email"
      @input="update('email', $event)"
    />
    <regular-input
      elId="parentssEmail"
      :elLabel="`${$t('home.fields.email')} ${$tc('home.fields.parent', 2)} *`"
      :errorMessages="{
        [$t('home.fieldErrors.emailRequired')]:
          !$v.register.parentsEmail.required || !$v.register.parentsEmail.email,
      }"
      :error="
        !$v.register.parentsEmail.required || !$v.register.parentsEmail.email
      "
      :value="register.parentsEmail"
      @input="update('parentsEmail', $event)"
    />
    <p
      class="warning"
      v-if="
        !register.gender ||
          !register.userYear ||
          !register.personalData ||
          !register.password ||
          !register.email ||
          !register.phone ||
          !register.subphone ||
          !register.prephone ||
          !register.second_name ||
          !register.name
      "
    >
      * {{ $t('home.register.fieldsRequired') }}
    </p>
    <div class="register-kid__helpers__forgot">
      <span @click="$emit('goToLogin')">
        {{ $t('home.buttons.backToLogin') }}
      </span>
    </div>
    <div class="register-kid__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.register.$invalid"
        @click="registerApply"
      >
        {{ $t('home.buttons.register') }}
      </regular-button>
    </div>
  </form>
</template>

<script>
import { phoneCodes } from '@/helpers/data/phoneCode';
import { dates } from '@/helpers/data/dates.js';
import { validationMixin } from 'vuelidate';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import Hint from '@/components/common/Hint';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import RegularInput from '../../primitives/RegularInput.vue';
import RegularInputMasked from '../../primitives/RegularInputMasked.vue';
import RegularButton from '../../primitives/RegularButton.vue';
import RegularSelect from '../../primitives/RegularSelect.vue';
import { kidValidate } from '@/helpers/validations/register.js';

export default {
  name: 'RegisterKid',
  mixins: [validationMixin, dates, phoneCodes],
  props: {
    register: Object,
  },
  data: function() {
    return {
      prelogin: 0,
    };
  },
  components: {
    Hint,
    RegularSelectSlots,
    RegularInput,
    RegularButton,
    RegularSelect,
    RegularInputMasked,
  },
  validations: kidValidate,
  methods: {
    async registerApply() {
      const authRepository = RepositoryFactory.get('auth');
      let birthday = `${this.register.userYear}-${(
        '0' + this.register.userMonth
      ).slice(-2)}-${('0' + this.register.userDay).slice(-2)}`;
      const regEx = /[^\d]/g;
      let data = {
        email: this.register.email,
        parent_email: this.register.parentsEmail,
        phone: (
          '' +
          this.countryCode[this.register.prephone].value +
          this.register.phone +
          this.register.subphone
        ).replace(regEx, ''),
        birthday: '' + birthday,
      };
      try {
        const resp = await authRepository.registerUser(JSON.stringify(data));
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Регистрация',
            'Регистрация прошла успешно, когда родитель подтвердит вашу регистрацию, вы получите уведомление на указанный email',
            'success'
          );
          this.$router.push({ name: 'home' });
        } else {
          componentErrorHandler(
            this,
            'Регистрация',
            `Возникла ошибка во время регистрации:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    update(key, value) {
      this.$emit('input', { key, value });
    },
  },
};
</script>

<style scoped lang="scss">
.register-kid {
  &__instruct {
    color: $red;
  }
  &__hint {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 99;
  }
  &__phone {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    &__code {
      width: 100px;
    }
    &__number {
      flex-grow: 1;
    }
    &__subnumber {
      flex-grow: 0;
      max-width: 150px;
    }
  }
  &__birth {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__day {
      max-width: 40%;
      display: flex;
      flex-grow: 1;
    }
    &__month {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
    }
    &__year {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
    }
  }
  &__buttons {
    margin-top: 30px;

    &__separator {
      margin: 0 10px;
    }
    button {
      @media screen and (max-width: 800px) {
        margin: 10px 0;
      }
    }
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    &__forgot {
      width: 100%;
      text-align: right;

      span {
        display: inline-block;
        color: $corporate;
        font-size: $small;
        font-weight: 500;
        cursor: pointer;
        font-size: $regular;
      }
    }
  }
}
</style>
