<template>
  <form v-if="!success" class="register-parent">
    <p class="register-parent__instruct">
      {{ $t('home.register.parentMessage') }}
    </p>
    <div class="register-parent__phone">
      <regular-select-slots
        class="register-parent__phone__code"
        placeholder="Код"
        :optionList="countryCode"
        v-model="prelogin"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.title }}
        </template>
        <template v-slot:item="{ option }">
          {{ option.title }}
        </template>
      </regular-select-slots>
      <regular-input-masked
        class="register-parent__phone__number"
        elId="phone"
        :elLabel="$t('home.fields.phone') + '*'"
        :errorMessages="{
          [$t('home.fieldErrors.phoneRequired')]: !$v.register.phone.required,
        }"
        :error="
          !$v.register.phone.required ||
            !$v.register.phone.maxLength ||
            !$v.register.phone.minLength
        "
        :mask="['### ###-##-##']"
        :value="register.phone"
        @input="update('phone', $event)"
      />
    </div>
    <div class="register-parent__birth">
      <regular-select
        :placeholder="$t('home.fields.birthday') + '*'"
        class="register-parent__birth__day"
        :option-list="days"
        :value="register.userDay"
        @select="update('userDay', $event)"
      />
      <regular-select
        :placeholder="$t('home.fields.month') + '*'"
        class="register-parent__birth__month"
        :option-list="monthes"
        :value="register.userMonth"
        @select="update('userMonth', $event)"
      />
      <regular-select
        :placeholder="$t('home.fields.year') + '*'"
        class="register-parent__birth__year"
        :option-list="years"
        :value="register.userYear"
        @select="update('userYear', $event)"
      />
    </div>
    <regular-input
      elId="name"
      :elLabel="$t('home.fields.name') + '*'"
      :error="!$v.register.name.required"
      :errorMessages="{
        [$t('home.fieldErrors.fieldRequired')]: !$v.register.name.required,
      }"
      :value="register.name"
      @input="update('name', $event)"
    />
    <regular-input
      elId="second_name"
      :elLabel="$t('home.fields.secondName') + '*'"
      :error="!$v.register.second_name.required"
      :errorMessages="{
        [$t('home.fieldErrors.fieldRequired')]: !$v.register.second_name
          .required,
      }"
      :value="register.second_name"
      @input="update('second_name', $event)"
    />
    <regular-input
      elId="email"
      :elLabel="$t('home.fields.email') + '*'"
      :errorMessages="{
        [$t('home.fieldErrors.emailRequired')]:
          !$v.register.email.required || !$v.register.email.email,
      }"
      :error="!$v.register.email.required || !$v.register.email.email"
      :value="register.email"
      @input="update('email', $event)"
    />
    <regular-input-password
      elId="password"
      :elLabel="$t('home.fields.password') + '*'"
      elType="password"
      :error="!$v.register.password.required || register.password.length < 6"
      :errorMessages="{
        [`${$t('home.fieldErrors.fieldRequired')}, ${$tc(
          'home.fieldErrors.minLength',
          6
        )}`]: !$v.register.password.required || register.password.length < 6,
      }"
      :value="register.password"
      @input="update('password', $event)"
    />
    <regular-input-password
      elId="passwordRepeat"
      :elLabel="$t('home.fields.passwordCheck') + '*'"
      elType="password"
      :errorMessages="{
        [$t('home.fieldErrors.fieldRequired')]: !$v.register.passwordRepeat
          .required,
        [$t('home.fieldErrors.samePassword')]: !$v.register.passwordRepeat
          .sameAsPassword,
      }"
      :error="$v.register.passwordRepeat.$invalid"
      :value="register.passwordRepeat"
      @input="update('passwordRepeat', $event)"
    />
    <div class="register-parent__helpers">
      <regular-checkbox
        elValue="personalData"
        @click="update('personalData', !register.personalData)"
        :elChecked="register.personalData"
        elId="personalData"
      >
        <a href="/documents/oferta.pdf" target="blank"
          >{{ $t('home.register.dataRequest') }}
          {{ $tc('home.register.personalData', 2) }}</a
        >
        *
      </regular-checkbox>
    </div>
    <p
      class="warning"
      v-if="
        !register.gender ||
          !register.userYear ||
          !register.personalData ||
          !register.password ||
          !register.email ||
          !register.phone ||
          !register.second_name ||
          !register.name
      "
    >
      * {{ $t('home.register.fieldsRequired') }}
    </p>
    <div class="register-parent__helpers__forgot">
      <span @click="$emit('goToLogin')">
        {{ $t('home.buttons.backToLogin') }}
      </span>
    </div>
    <div class="register-parent__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.register.$invalid"
        @click="registerApply"
      >
        {{ $t('home.buttons.register') }}
      </regular-button>
    </div>
  </form>
  <div class="register-success" v-else>
    <h1>{{ $t('home.register.successHover') }}</h1>
    <h2>
      {{ $t('home.register.successMessage') }}
    </h2>
  </div>
</template>

<script>
import { phoneCodes } from '@/helpers/data/phoneCode';

// import { getTime } from 'date-fns';
import { validationMixin } from 'vuelidate';
import { dates } from '../../../helpers/data/dates.js';

import { parrentValidate } from '@/helpers/validations/register.js';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
// import { asyncSetLocalStorage } from '@/helpers/methods/asyncLocalStorage';

import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularSelect from '@/components/primitives/RegularSelect.vue';
import RegularCheckbox from '@/components/primitives/RegularCheckbox.vue';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import RegularInputPassword from '@/components/primitives/RegularInputPassword.vue';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';

export default {
  name: 'RegisterParent',
  mixins: [validationMixin, dates, phoneCodes],
  props: {
    register: Object,
  },
  data: function() {
    return {
      success: false,
      prelogin: 0,
    };
  },
  components: {
    RegularSelectSlots,
    RegularInput,
    RegularButton,
    RegularSelect,
    RegularCheckbox,
    RegularInputMasked,
    RegularInputPassword,
  },
  validations: parrentValidate,
  methods: {
    async registerApply() {
      const authRepository = RepositoryFactory.get('auth');
      let birthday = `${this.register.userYear}-${(
        '0' + this.register.userMonth
      ).slice(-2)}-${('0' + this.register.userDay).slice(-2)}`;
      const regEx = /[^\d]/g;
      let data = {
        name: this.register.name,
        surname: this.register.second_name,
        email: this.register.email,
        phone: (
          '' +
          this.countryCode[this.prelogin].value +
          this.register.phone
        ).replace(regEx, ''),
        password: this.register.password,
        birthday,
        personalDataAgreement: this.register.personalData,
      };
      try {
        const resp = await authRepository.registerUser(JSON.stringify(data));
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Регистрация',
            'Регистрация прошла успешно',
            'success'
          );
          this.success = true;

          // let parsedJwt = this.parseJwt(resp.data?.data?.token);
          // await asyncSetLocalStorage('userId', parsedJwt?.userId);
          // await asyncSetLocalStorage('role', parsedJwt?.role);
          // await asyncSetLocalStorage('token', resp.data?.data?.token);
          // await asyncSetLocalStorage(
          //   'refresh_token',
          //   resp.data.data.refresh_token
          // );
          // if (
          //   parsedJwt.role === 'outlet_manager' ||
          //   parsedJwt.role === 'outlet_user'
          // ) {
          //   await this.$router.push('/shop');
          // } else if (parsedJwt.role === 'child') {
          //   await this.$router.push('/kids');
          // } else {
          //   await this.$router.push('/parents');
          // }
        } else {
          componentErrorHandler(
            this,
            'Регистрация',
            `Возникла ошибка во время регистрации:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    update(key, value) {
      this.$emit('input', { key, value });
    },
    parseJwt(token) {
      let base64Url = token.split('.')[1];
      let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      let jsonPayload = decodeURIComponent(
        atob(base64)
          .split('')
          .map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join('')
      );

      return JSON.parse(jsonPayload);
    },
  },
};
</script>

<style scoped lang="scss">
.register-parent {
  &__phone {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    &__code {
      width: 100px;
      flex-grow: 0;
    }
    &__number {
      flex-grow: 1;
    }
  }
  &__instruct {
    color: $red;
  }
  &__birth {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @media screen and (max-width: 550px) {
      flex-direction: column;
      align-items: stretch;
    }

    &__day {
      display: flex;
      flex-grow: 2;
    }
    &__month {
      display: flex;
      flex-grow: 1;
    }
    &__year {
      display: flex;
      flex-grow: 1;
    }
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__separator {
      margin: 10px 10px;
    }
    button {
      margin: 10px 0;
    }
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    &__forgot {
      width: 100%;
      text-align: right;

      span {
        display: inline-block;
        color: $corporate;
        font-size: $small;
        font-weight: 500;
        cursor: pointer;
        font-size: $regular;
      }
    }
  }
}
.register-success {
  text-align: center;
  h1 {
    color: $dark-grey-font;
    font-size: $big;
  }

  h2 {
    font-size: $semi-big;

    a {
      font-size: $semi-big;
      text-decoration: underline;
    }
  }
}
</style>
