<template>
  <div class="debtors">
    <table class="debtors__list">
      <div class="debtors__list__header">
        <div class="debtors__list__header__line">
          <span class="debtors__list__header__line__item">ФИО ребенка</span>
          <span class="debtors__list__header__line__item secondary">
            ФИО родителя
          </span>
          <span class="debtors__list__header__line__item secondary"
            >Группа</span
          >
          <span class="debtors__list__header__line__item">Сумма</span>
        </div>
      </div>
      <div class="debtors__list__item__body">
        <div
          class="debtors__list__body__item"
          v-for="(item, key) in fakeData"
          :key="key"
        >
          <span class="debtors__list__body__item__cell">{{
            item.childName
          }}</span>
          <div class="debtors__list__body__item__cell secondary">
            <ul>
              <li :key="i" v-for="(parent, i) in item.parents">
                {{ parent }}
              </li>
            </ul>
          </div>
          <span class="debtors__list__body__item__cell secondary">
            {{ item.group }}
          </span>
          <span class="debtors__list__body__item__cell">
            {{ (item.total_sum * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </span>
          <div class="debtors__list__body__item__cell active">
            <span class="debtors__list__header__line__item">
              ФИО родителя
            </span>
            <ul>
              <li :key="i" v-for="(parent, i) in item.parents">
                {{ parent }}
              </li>
            </ul>
          </div>
          <div class="debtors__list__body__item__cell active">
            <span class="debtors__list__header__line__item">
              Группа
            </span>
            <span class="debtors__list__body__item__cell">
              {{ item.group }}
            </span>
          </div>
        </div>
      </div>
    </table>
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />
  </div>
</template>

<script>
import Pagination from '@/components/common/Pagination.vue';
import { fromUnixTime, format } from 'date-fns';
import { mapState } from 'vuex';
// import axios from 'axios';

export default {
  data: function() {
    return {
      pagination: {
        page: 1,
        perPage: 10,
      },
      fakeData: [
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
        {
          childName: 'Fale',
          parents: ['loh', 'mama', 'ded', 'pes Aleg'],
          total_sum: 666,
        },
      ],
    };
  },
  components: {
    Pagination,
  },
  computed: {
    ...mapState({
      currentPagination: state => state.outlet.currentPagination,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  methods: {
    formatDate(date) {
      // return moment.unix(date).format('DD.MM.YYYY HH:mm');
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy hh:mm');
      }
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.updateData();
    },
    changePage(val) {
      this.pagination.page = val;
      this.updateData();
    },
  },
};
</script>

<style lang="scss" scoped>
.secondary {
  @media screen and (max-width: 800px) {
    display: none;
  }
}
ul,
li {
  padding: 0;
  list-style: none;
}
.debtors {
  margin-top: 20px;
  padding: 0 20px;
  &__list {
    width: 100%;
    padding-top: 20px;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;
        display: grid;
        grid-auto-flow: column;

        &__item {
          font-size: $regular + 2px;
          font-weight: 600;
          padding-bottom: 5px;
          text-align: center;

          margin: 0;
        }
      }
    }

    &__body {
      &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;
        display: grid;
        grid-auto-flow: column;
        align-items: center;

        @media screen and (max-width: 800px) {
          grid-auto-flow: row;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, auto);
          grid-auto-columns: auto;
          grid-template-areas: '. .' '.';
        }

        &:nth-child(2n) {
          background-color: $grey;
        }

        @media screen and (max-width: 800px) {
          &:hover {
            .active {
              display: flex;
            }
          }
        }

        &__cell {
          font-size: $regular;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;

          &.active {
            display: none;
            flex-direction: column;
          }
        }
      }
    }
  }
}
</style>
