<template>
  <div class="security">
    <security-header class="security__header" />
    <loader v-if="loading" />
    <div class="security__main">
      <side-bar
        :key="'security-side-bar' + $i18n.locale"
        class="security__main__side-bar"
      />
      <router-view id="main" class="security__main__container" />
    </div>
    <security-footer
      :key="'security-footer' + $i18n.locale"
      :parent="true"
      class="security__footer"
    />
    <notification-catcher :id="this.userId * 1" />
  </div>
</template>

<script>
import Loader from '@/components/common/Loader.vue';
import Footer from '@/views/user/parents/ParentsFooter';
import NotificationCatcher from '@/components/common/NotificationCatcher';
import SideBar from '@/views/user/security/SideBar';
import Header from '@/views/user/parents/Header';
import { mapState } from 'vuex';

export default {
  name: 'Security',
  components: {
    SideBar,
    Loader,
    'security-header': Header,
    NotificationCatcher,
    'security-footer': Footer,
  },
  data: function() {
    return {
      loading: false,
      userId: null,
      role: null,
    };
  },
  async mounted() {
    //Получаем размер окна.
    this.windowWidth = window.innerWidth;
    //
    this.role = localStorage.getItem('role');
    this.userId = localStorage.getItem('userId');
    await this.$store.dispatch('user/getUserInfo', { id: this.userId });
    this.$store.commit(
      'user/SET_ROLE_INFO',
      this.roles.find(i => {
        return i.role === this.role;
      })
    );
  },
  computed: {
    ...mapState({
      roles: state => state.user.roles,
    }),
  },
  // async mounted() {
  //   this.role = localStorage.getItem('role');
  //   try {
  //     const resp = await UserRepository.getAccountInfo({
  //       user_id: localStorage.getItem('userId'),
  //     });
  //     if (resp.data.status === 'ok') {
  //       this.account = resp.data.data[0];
  //     } else{
  //       this.account = false;
  //     }
  //   } catch (e) {
  //     console.log(e);
  //   }
  // },
};
</script>

<style lang="scss" scoped>
.security {
  background: $user_bg;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  min-height: 100vh;

  &__header {
    flex-grow: 0;
  }
  &__main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
    flex-grow: 2;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: stretch;
      padding: 0 20px;
    }

    &__container {
      /*min-height: calc(100vh - 200px);*/
      max-width: 74%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      min-height: 700px;

      @media screen and (max-width: 800px) {
        max-width: 100%;
        margin-top: 20px;
      }
    }
    &__side-bar {
      height: fit-content;
      flex-grow: 0;
      max-width: 24%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__footer {
    flex-grow: 0;
  }
}
</style>
