<template>
  <div class="debtors">
    <page-title title="Должники" />
    <debtors-list />
  </div>
</template>

<script>
import DebtorsList from '@/views/user/security/DebtorsList';
import PageTitle from '@/components/user/common/PageTitle';

export default {
  name: 'SecurityMain',
  components: {
    DebtorsList,
    PageTitle,
  },
  data: function() {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.debtors {
  padding: 10px;
  background-color: $white;
  border-radius: 10px;

  @media screen and (max-width: 800px) {
    margin: 20px auto;
    min-width: 94%;
  }
}
</style>
