<template>
  <div class="security-main">
    <page-title title="QR-сканнер" />
    <div class="security-main__scan-zone">
      <b>Поднесите код к сканеру</b>
      <regular-button
        @click="onInit"
        :elClass="['corporate-light-radius-small']"
        >Camera</regular-button
      >
    </div>
    <user-info
      v-if="userInfoModal"
      :userInfo="user_info"
      :parents="parents"
      :loading="loading"
      @closeModal="userInfoModal = false"
      @rescan="reScan"
    />
    <div class="camera-model-wrapper" v-if="renderComponent">
      <div class="camera-model">
        <qrcode-stream v-if="!cameraError" @init="onInit" @decode="onDecode" />
        <regular-button @click="renderComponent = false" :elClass="['red']"
          >Cancel</regular-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { format } from 'date-fns';
import { QrcodeStream } from 'vue-qrcode-reader';
import PageTitle from '@/components/user/common/PageTitle';
import UserInfo from '@/components/user/SecurityModal.vue';
import RegularButton from '@/components/primitives/RegularButton';
import { mapState } from 'vuex';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
const userAPI = RepositoryFactory.get('user');
const authorityAPI = RepositoryFactory.get('authority');
const attendanceAPI = RepositoryFactory.get('attendance');

export default {
  name: 'SecurityMain',
  components: {
    UserInfo,
    PageTitle,
    QrcodeStream,
    RegularButton,
  },
  data: function() {
    return {
      userInfoModal: false,
      user_info: null,
      barcode: '',
      timestamps: [],
      format,
      cameraError: false,
      renderComponent: false,
      parents: [],
      loading: false,
    };
  },
  computed: {
    isBarcodeScanner() {
      const [prev, next] = this.timestamps;
      const diff = next - prev;
      return diff < 1000;
    },
    ...mapState({
      roleInfo: state => state.user.roleInfo,
    }),
  },
  mounted() {
    window.addEventListener('keydown', this.handleGlobalKeyDown);
  },
  beforeDestroy() {
    window.removeEventListener('keydown', this.handleGlobalKeyDown);
  },
  methods: {
    handleGlobalKeyDown(event) {
      this.queueTimeStamps(event.timeStamp);
      if (this.isBarcodeScanner) {
        if (event.key === 'Enter') {
          this.onDecode(this.barcode);
          this.barcode = '';
        } else {
          this.barcode += event.key;
        }
      }
    },
    queueTimeStamps(timeStamp) {
      this.timestamps.push(timeStamp);

      if (this.timestamps.length > 2) {
        this.timestamps.shift();
      }
    },
    async onDecode(idRaw) {
      const id = idRaw.substring(3);
      if (idRaw[1] === '1') {
        try {
          this.parents = [];
          const resp = await userAPI.getUserInfo({ id: id });
          if (resp.data.status === 'ok') {
            this.renderComponent = false;
            this.userInfoModal = true;
            this.user_info = resp.data.data;
            this.getAccountInfo(id);
            this.getAuthorities(id);
            this.getLinkedParents(this.user_info.id);
            const setPresenceResponse = await attendanceAPI.setClientPresence({
              user_id: this.user_info.id,
              attendance_type: 'user',
              security_id: this.roleInfo.user_id,
              department_id: this.roleInfo.department_id,
              attended: 1,
              attended_at: format(new Date(), 'dd.MM.yyyy'),
              comment: '',
            });
            if (setPresenceResponse.data.status === 'error') {
              componentErrorHandler(
                this,
                'Ошибка сервиса отметок',
                'Возникла ошибка при попытке отметить посещение:' +
                  setPresenceResponse.data.message,
                'error'
              );
            }
          }
        } catch (e) {
          console.log(e);
        }
      } else {
        try {
          this.parents = [];
          const resp = await userAPI.getUserInfo({ account_id: id });
          if (resp.data.status === 'ok') {
            this.renderComponent = false;
            this.userInfoModal = true;
            this.user_info = resp.data.data;
            this.getAccountInfo(id);
            this.getAuthorities(id);
            this.getLinkedParents(this.user_info.id);
            const setPresenceResponse = await attendanceAPI.setClientPresence({
              user_id: this.user_info.id,
              attendance_type: 'client', //user если сотрудник
              security_id: this.roleInfo.user_id,
              department_id: this.roleInfo.department_id,
              group_id: this.user_info.departmentClient[0]
                .kindergarten_group_id,
              attended: 1,
              attended_at: format(new Date(), 'dd.MM.yyyy'),
              comment: '',
            });
            if (setPresenceResponse.data.status === 'error') {
              componentErrorHandler(
                this,
                'Ошибка сервиса отметок',
                'Возникла ошибка при попытке отметить посещение:' +
                  setPresenceResponse.data.message,
                'error'
              );
            }
          }
        } catch (e) {
          console.log(e);
        }
      }
    },
    async getLinkedParents(id) {
      const resp = await userAPI.getLinkedParents({
        user_id: id,
      });
      if (resp.data.status === 'ok') {
        this.loading = true;
        resp.data?.data.map(item => {
          this.getParentsInfo(item.parent_id);
        });
        this.loading = false;
      }
    },
    async getAuthorities(id) {
      const resp = await authorityAPI.getAuthorities({ child_id: id });
      if (resp.data.status === 'ok') {
        this.$set(this.user_info, 'authority', resp.data?.data);
      }
    },
    async getAccountInfo(id) {
      const resp = await userAPI.getAccountInfo({ user_id: id });
      if (resp.data.status === 'ok') {
        this.$set(this.user_info, 'account_main', resp.data?.data[0]?.main);
      } else {
        this.$set(this.user_info, 'account_main', 0);
      }
    },
    async getParentsInfo(parent_id) {
      try {
        const resp = await userAPI.getUserInfo({ id: parent_id });
        if (resp.data.status === 'ok') {
          this.parents.push(resp.data.data);
        } else {
          componentErrorHandler(
            this,
            'Ошибка загрузки данных',
            'Невозможно получить информацию по ребенку',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить информацию по ребенку',
          'error'
        );
      }
    },
    async onInit(promise) {
      try {
        await promise;
        this.cameraInited = true;
        this.renderComponent = true;
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          // user denied camera access permisson
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text =
            'Разрешение на использование камеры не предоставлено.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotFoundError') {
          // no suitable camera device installed
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не обнаружена.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotSupportedError') {
          // page is not served over HTTPS (or localhost)
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'SSL сертификат отсутствует.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotReadableError') {
          // maybe camera is already in use
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'OverconstrainedError') {
          // did you requested the front camera although there is none?
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'StreamApiNotSupportedError') {
          // browser seems to be lacking features
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        }
      } finally {
        // hide loading indicator
        this.cameraInited = true;
      }
    },
    reScan() {
      this.userInfoModal = false;
      this.renderComponent = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.security-main {
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
  @media screen and (max-width: 800px) {
    margin: 20px auto;
    min-width: 94%;
  }

  .camera-model-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
    width: 100%;
    z-index: 999;

    .camera-model {
      position: absolute;
      z-index: 10000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $grey;
      padding: 20px;
      -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
      width: 300px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .regular-button {
        margin: 30px;
        width: 150px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $corporate-light;
      color: $white-font;
      border: 0px solid transparent;
      padding: 30px;
      flex: 0 4 auto;
      width: 80%;
      cursor: pointer;
      font-size: $semi-big;
      font-weight: 400;
      text-transform: uppercase;
      &:disabled {
        opacity: 0.6;
        cursor: default;
      }
      &__value {
        text-align: right;
        font-size: $big;
        font-weight: 500;
      }
    }

    &__cancel {
      flex: 0 1 auto;
      width: 20%;
      border: 0px solid transparent;
      background-color: $grey;
      cursor: pointer;

      &:disabled {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
  &__scan-zone {
    margin: 20px auto;
    height: 300px;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .regular-button {
      width: 120px;
    }
    b {
      font-size: $h1-reflection;
    }

    .viewport video {
      height: 300px;
      max-width: 400px;
    }

    .viewport canvas {
      height: 300px;
      max-width: 400px;
    }
  }
}
</style>
