<template>
  <div class="side-bar">
    <user-info />
    <div class="side-bar__items">
      <ul class="side-bar__items__list">
        <li
          v-for="(item, index) in menuItems"
          :key="index"
          class="side-bar__items__list__link"
        >
          <router-link :to="item.route">{{ item.name }}</router-link>
        </li>
      </ul>
    </div>
    <span @click="logout" class="side-bar__exit">
      {{ $t('user.buttons.logout') }}
    </span>
  </div>
</template>

<script>
import UserInfo from '@/components/user/sideBar/UserInfo';

export default {
  name: 'SideBar',
  components: {
    UserInfo,
  },
  data() {
    return {
      menuItems: [],
    };
  },
  async mounted() {
    this.userId = localStorage.getItem('userId');
    await this.$store.dispatch('user/getUserInfo', { id: this.userId });
  },
  methods: {
    logout() {
      this.$store
        .dispatch('logout')
        .then(() => this.$router.push({ name: 'home' }));
    },
  },
};
</script>

<style lang="scss" scoped>
.side-bar {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
    min-width: 94%;
  }

  &__items {
    &__list {
      list-style: none;
      padding: 25px;
      margin: 0;

      &__link {
        font-size: $semi-big;
        color: $black-font;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-weight: 500;

        a {
          color: $black-font;
          cursor: pointer;

          &:visited {
            color: $black-font;
          }
        }
      }
    }
  }

  &__exit {
    display: block;
    padding: 10px 10px 10px 35px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 10px;
      left: 10px;
      height: 15px;
      width: 15px;
      background-image: url('../../../assets/img/svg/exit.svg');
    }
  }
}
</style>
