<template>
  <main class="account">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :activeKid="activeUser"
      :activeKidCamp="activeKidCamp"
      :currentCurrency="currentCurrency"
    ></component>
  </main>
</template>

<script>
import { mapState } from 'vuex';

import pageTabs from '@/components/user/common/PageTabs';
import Operations from '@/components/user/account/Operations';

export default {
  name: 'Account',
  components: {
    operations: Operations,
    pageTabs,
  },
  data() {
    return {
      activeTab: null,
      tabs: [{ val: 'operations', name: 'Все операции' }],
    };
  },
  computed: {
    ...mapState({
      activeUser: state => state.user.info,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.account {
  padding: 20px;
}
</style>
