<template>
  <div class="authority">
    <div class="authority__header">
      <page-title :title="$t('user.titles.application')" />
      <regular-button
        :elClass="['corporate']"
        @click="showAuthorityModal = true"
        v-if="!showAuthorityModal"
      >
        {{ $t('user.buttons.attach') }}
      </regular-button>
      <regular-button
        :elClass="['red']"
        @click="showAuthorityModal = false"
        v-else
      >
        {{ $t('user.buttons.cancel') }}
      </regular-button>
    </div>
    <authority-kid-modal
      @close="showAuthorityModal = false"
      @apply="createAuthorityRequest"
      v-show="showAuthorityModal"
    />
    <div class="authority__body">
      <div v-if="createAuthority" class="authority__body__create">
        <div class="authority__body__create__date">
          <label for="start">Дата окончания доверенности</label>
          <input
            id="start"
            class="date-picker"
            type="date"
            min="2019-01-01"
            v-model="date"
            data-date="{'buttonOnly': true}"
          />
        </div>
        <div class="authority__body__create__input">
          <label for="input">ФИО доверенности</label>
          <input
            disabled
            id="input"
            class="date-picker"
            type="text"
            :value="
              `${createAuthority.authority.name} ${createAuthority.authority.surname}`
            "
          />
        </div>
        <div class="authority__body__create__files">
          <div>
            Загрузить новый документ
            <input
              type="file"
              id="file"
              ref="file"
              accept="application/pdf, image/jpeg, image/png, image/jpg"
              @change="handleFileUpload()"
            />
          </div>
          <regular-button
            :elClass="['submit']"
            @click="sendAuthorityRequest(createAuthority)"
            >Отправить</regular-button
          >
        </div>
      </div>
      <h2 class="authority__body__header">Сохраненные доверенности</h2>
      <table>
        <thead>
          <tr>
            <td>
              Статус
            </td>
            <td>
              На кого доверенность
            </td>
            <td>
              От кого доверенность
            </td>
            <td>
              Кому доверенность
            </td>
            <td>
              Дата
            </td>
            <td>
              Файлы
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in authorities" :key="item.id">
            <td>{{ item.status }}</td>
            <td>{{ item.child }}</td>
            <td>{{ item.parent }}</td>
            <td>{{ item.authority }}</td>
            <td>{{ formatDate(item.expired_at) }}</td>
            <td>
              <div v-if="item.storage.length !== 0">
                <div :key="file.id" v-for="file in item.storage" class="file">
                  {{ file.file_name }}
                  <img
                    @click="deleteFile(item.id, file.id)"
                    src="@/assets/img/svg/delete.svg"
                    alt="Delete"
                  />
                </div>
              </div>
              <label :for="'file' + item.id">
                <img src="@/assets/img/svg/upload.svg" alt="Upload" />
                <input
                  type="file"
                  :id="'file' + item.id"
                  accept="application/pdf, image/jpeg, image/png, image/jpg"
                  @change="getFileToUpload(item.id, $event)"
                  style="display: none"
                />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { format, fromUnixTime } from 'date-fns';
import { mapState } from 'vuex';

import RegularButton from '@/components/primitives/RegularButton.vue';
import PageTitle from '@/components/user/common/PageTitle';
import AuthorityKidModal from '@/components/user/AuthorityKidModal';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

const authorityAPI = RepositoryFactory.get('authority');
const userAPI = RepositoryFactory.get('user');

export default {
  name: 'Authority',
  components: {
    PageTitle,
    RegularButton,
    AuthorityKidModal,
  },
  data() {
    return {
      activeCategory: '',
      showAuthorityModal: false,
      authorities: [],
      createAuthority: null,
      date: null,
      file: '',
      format,
      fromUnixTime,
    };
  },
  watch: {
    'activeKid.id': {
      async handler() {
        await this.getAuthority();
      },
    },
  },
  async mounted() {
    await this.getAuthority();
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
      activeDepartment: state => state.user.activeDepartment,
      activeKid: state => state.user.activeKid,
    }),
    dateForApi: {
      set(val) {
        this.date = val;
      },
      get() {
        if (this.date) {
          return this.format(new Date(this.date), 'dd.MM.yyyy');
        } else return null;
      },
    },
  },
  methods: {
    handleFileUpload() {
      this.showPreview = false;
      this.imagePreview = null;
      this.file = this.$refs.file.files[0];
      let reader = new FileReader();
      if (this.file) {
        reader.readAsDataURL(this.file);
      } else {
        this.file = '';
        componentErrorHandler(
          this,
          'Ошибка загрузки файла',
          'Не допустимый формат файлов',
          'error'
        );
      }
    },
    async getFileToUpload(id, e) {
      this.file = e.target.files[0];
      let reader = new FileReader();
      if (this.file) {
        reader.readAsDataURL(this.file);
        await this.uploadFile(this.file, id);
      } else {
        this.file = '';
        componentErrorHandler(
          this,
          'Ошибка загрузки файла',
          'Не допустимый формат файлов',
          'error'
        );
      }
    },
    createAuthorityRequest(data) {
      this.showAuthorityModal = false;
      data.status = 'unresolved';
      this.createAuthority = data;
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
    async sendAuthorityRequest(item) {
      try {
        const resp = await authorityAPI.createAuthority({
          created_by: this.userInfo.id,
          authority_id: item.authority.id,
          child_id: item.kid.id,
          department_id: this.activeDepartment,
          expired: this.dateForApi,
        });
        if (resp.data.status === 'ok' && this.file !== '') {
          this.uploadFile(this.file, resp.data.data[0].id);
        } else {
          throw new Error(resp.data.message);
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Ошибка загрузки доверенности',
          'Доверенность существует или не может быть создана',
          'error'
        );
      }
    },
    async deleteFile(item, file) {
      try {
        const resp = await authorityAPI.deleteFile({
          request_id: item,
          storage_ids: [`${file}`],
        });
        if (resp.data.status === 'ok') {
          componentErrorHandler(this, 'Успех', 'Файл удален', 'success');
          this.getAuthority();
        } else {
          componentErrorHandler(this, 'Ошибка', 'Выберете ребенка', 'error');
        }
      } catch (e) {
        console.log(e);
      }
    },
    async getAuthority() {
      try {
        const resp = await authorityAPI.getAuthority({
          child_id: this.activeKid.id,
          department_id: this.activeDepartment,
        });
        if (resp.data.status === 'ok') {
          const res = resp.data.data.map(async item => {
            item.parent = this.userInfo.name + ' ' + this.userInfo.surname;
            item.child = this.activeKid.name + ' ' + this.activeKid.surname;
            item.status = this.$t(`messages.status.${item.status}`);
            const resp = await userAPI.getUserInfo({
              id: item.authority_id,
            });
            if (resp.data.status === 'ok') {
              item.authority =
                resp.data.data.name + ' ' + resp.data.data.surname;
            }
            return item;
          });
          this.authorities = await Promise.all(res);
        } else {
          componentErrorHandler(this, 'Ошибка', 'Выберете ребенка', 'error');
        }
      } catch (e) {
        console.log(e);
      }
    },
    async uploadFile(file, id) {
      try {
        let formData = new FormData();
        formData.append('imageFiles', file);
        formData.set('request_id', id);
        formData.set('type_document', 'certificate');
        const resp1 = await authorityAPI.uploadFile(formData);
        if (resp1.data.status === 'ok') {
          componentErrorHandler(this, 'Успех!', 'Файл загружен', 'success');
          this.getAuthority();
          this.createAuthority = null;
        } else {
          componentErrorHandler(
            this,
            'Ошибка',
            'Ошибка загрузки файла',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(this, 'Ошибка загрузки доверенности', e, 'error');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.authority {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body {
    margin: 20px 0;
    width: 100%;
    overflow-x: auto;
    &__create {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      &__date {
        display: flex;
        max-width: 230px;
        width: 30%;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;

        .date-picker {
          border: 1px solid $corporate-light;
          padding: 15px 23px;
          width: 100%;
          background-color: $white;
          border-radius: 5px;
          height: 40px;
        }
        input[type='date']::-webkit-inner-spin-button {
          display: none;
          -webkit-appearance: none;
        }
      }
      &__input {
        display: flex;
        max-width: 550px;
        width: 60%;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;

        .date-picker {
          border: 1px solid $corporate-light;
          padding: 15px 23px;
          width: 100%;
          background-color: $white;
          border-radius: 5px;
          height: 40px;
        }
        input[type='date']::-webkit-inner-spin-button {
          display: none;
          -webkit-appearance: none;
        }
      }
      &__files {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        margin-bottom: 20px;
        img {
          max-width: 100px;
          max-height: 100px;
        }
        input {
          border-radius: 8px;
          padding: 18px 30px;
          border: 1px dashed $corporate;
          text-transform: uppercase;
          font-weight: 500;
          cursor: pointer;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        div {
          @media screen and (max-width: 950px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        @media screen and (max-width: 950px) {
          flex-direction: column;
        }
      }
    }
    table {
      width: 100%;
      padding-top: 20px;
      border-collapse: collapse;
      td {
        padding: 20px;
      }

      thead {
        tr {
          border-bottom: 2px solid $grey;

          td {
            font-size: $regular + 2px;
            font-weight: 600;
            padding-bottom: 5px;

            margin: 0;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $grey;
          cursor: pointer;
          &:nth-child(2n) {
            background-color: $bg_blue;
          }

          td {
            font-size: $regular;
            padding-top: 5px;
            padding-bottom: 5px;

            & > label {
              cursor: pointer;
              img {
                width: 20px;
                height: auto;
              }
            }

            .file {
              display: flex;
            }
          }
        }
      }
    }
  }

  &__container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
  }
  &__categories {
    &__authority {
      position: relative;
      padding: 10px 20px;
      background-color: $background-grey;
      cursor: pointer;

      &__title {
        font-weight: 600;
        font-size: $regular + 2px;
      }
    }
  }
}
</style>
