<template>
  <main class="calendar">
    <calendar />
  </main>
</template>

<script>
import Calendar from '@/components/user/calendar/parent/Calendar';
import { mapState } from 'vuex';

export default {
  name: 'CalendarPage',
  components: { Calendar },
  computed: {
    ...mapState({

    }),
  },
};
</script>

<style lang="scss" scoped>
.calendar {
  padding: 20px;
}
</style>
