<template>
  <div class="register">
    <reflective-hover
      :elClass="['register__header']"
      :elText="`${$t('user.buttons.registerKid')}`"
    />
    <div class="parent-kid">
      <p class="register__helper">
        * {{ $t('messages.hints.extraNum2') }}
      </p>
      <form class="register-parent">
        <div class="register__phone">
          <hint class="register__hint">
            <template v-slot:text>
              * {{ $t('messages.hints.extraNum1') }}
            </template>
          </hint>
          <regular-select-slots
            class="register__phone__code"
            placeholder="Код"
            :optionList="countryCode"
            v-model="prelogin"
          >
            <template v-slot:value="{ valueName }">
              {{ valueName.title }}
            </template>
            <template v-slot:item="{ option }">
              {{ option.title }}
            </template>
          </regular-select-slots>

          <regular-input-masked
            elId="phone"
            class="register__phone__number"
            :elLabel="$t('home.fields.phone') + '*'"
            :errorMessages="{
              [$t('home.fieldErrors.phoneRequired')]: !$v.register.phone
                .required,
            }"
            :error="
              !$v.register.phone.required ||
                !$v.register.phone.maxLength ||
                !$v.register.phone.minLength
            "
            :mask="['### ###-##-##']"
            v-model="register.phone"
          />
          <regular-input-masked
            elId="subphone"
            class="register__phone__subnumber"
            :elLabel="'Добавочный'"
            :mask="'#'"
            v-model="subphone"
          />
        </div>

        <div class="register-parent__birth">
          <regular-select
            :placeholder="$t('home.fields.birthday') + '*'"
            class="register-parent__birth__day"
            :option-list="days"
            :value="register.userDay"
            @select="selectDate"
          />
          <regular-select
            :placeholder="$t('home.fields.month') + '*'"
            class="register-parent__birth__month"
            :option-list="monthes"
            :value="register.userMonth"
            @select="selectMonth"
          />
          <regular-select
            :placeholder="$t('home.fields.year') + '*'"
            class="register-parent__birth__year"
            :option-list="childYears"
            :value="register.userYear"
            @select="selectYear"
          />
        </div>
        <regular-input
          elId="name"
          :elLabel="$t('home.fields.name') + '*'"
          :error="!$v.register.name.required"
          :errorMessages="{
            [$t('home.fieldErrors.fieldRequired')]: !$v.register.name.required,
          }"
          v-model="register.name"
        />
        <regular-input
          elId="second_name"
          :elLabel="$t('home.fields.secondName') + '*'"
          :error="!$v.register.second_name.required"
          :errorMessages="{
            [$t('home.fieldErrors.fieldRequired')]: !$v.register.second_name
              .required,
          }"
          v-model="register.second_name"
        />
        <regular-input
          elId="email"
          :elLabel="$t('home.fields.email') + '*'"
          :errorMessages="{
            [$t('home.fieldErrors.emailRequired')]: !$v.register.email.required,
          }"
          :error="!$v.register.email.required"
          v-model="register.email"
        />
        <regular-input-password
          elId="password"
          :elLabel="$t('home.fields.password') + '*'"
          elType="password"
          :error="
            !$v.register.password.required || register.password.length < 6
          "
          :errorMessages="{
            [`${$t('home.fieldErrors.fieldRequired')}, ${$tc(
              'home.fieldErrors.minLength',
              6
            )}`]:
              !$v.register.password.required || register.password.length < 6,
          }"
          v-model="register.password"
        />
        <regular-input-password
          elId="passwordRepeat"
          :elLabel="$t('home.fields.passwordCheck') + '*'"
          elType="password"
          :errorMessages="{
            [$t('home.fieldErrors.fieldRequired')]: !$v.register.passwordRepeat
              .required,
            [$t('home.fieldErrors.samePassword')]: !$v.register.passwordRepeat
              .sameAsPassword,
          }"
          :error="$v.register.passwordRepeat.$invalid"
          v-model="register.passwordRepeat"
        />

        <regular-checkbox
          elValue="personalData"
          @click="register.personalData = !register.personalData"
          :elChecked="register.personalData"
          elId="personalData"
        >
          {{ $t('home.register.dataRequest') }}
          {{ $tc('home.register.personalData', 2) }} *
        </regular-checkbox>
        <p
          class="warning"
          v-if="
            !register.gender ||
              !register.userYear ||
              !register.personalData ||
              !register.password ||
              !register.email ||
              !register.phone ||
              !register.second_name ||
              !register.name
          "
        >
          * {{ $t('home.register.fieldsRequired') }}
        </p>
        <div class="register-parent__buttons">
          <regular-button
            :elClass="['corporate']"
            :elDisabled="$v.register.$invalid"
            @click="registerApply"
          >
            {{ $t('home.buttons.register') }}
          </regular-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { validationMixin } from 'vuelidate';
import { dates } from '@/helpers/data/dates.js';
import { phoneCodes } from '@/helpers/data/phoneCode';

import { parrentValidate } from '@/helpers/validations/register.js';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import Hint from '@/components/common/Hint';
import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularSelect from '@/components/primitives/RegularSelect.vue';
import RegularCheckbox from '@/components/primitives/RegularCheckbox.vue';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover.vue';
import RegularInputPassword from '@/components/primitives/RegularInputPassword.vue';

export default {
  name: 'CreateKid',
  mixins: [validationMixin, dates, phoneCodes],
  components: {
    RegularSelectSlots,
    Hint,
    RegularInput,
    RegularButton,
    RegularSelect,
    RegularCheckbox,
    ReflectiveHover,
    RegularInputMasked,
    RegularInputPassword,
  },
  validations: parrentValidate,
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
    }),
  },
  data() {
    return {
      register: {
        userDay: null,
        userMonth: null,
        userYear: null,
        name: null,
        second_name: null,
        email: null,
        phone: null,
        password: null,
        passwordRepeat: null,
        personalData: false,
      },
      prelogin: 0,
      subphone: null,
    };
  },
  methods: {
    async registerApply() {
      const authRepository = RepositoryFactory.get('auth');
      let birthday = `${this.register.userYear}-${(
        '0' + this.register.userMonth
      ).slice(-2)}-${('0' + this.register.userDay).slice(-2)}`;
      const regEx = /[^\d]/g;
      let data = {
        name: this.register.name,
        surname: this.register.second_name,
        email: this.register.email,
        phone: this.register.phone.replace(regEx, ''),
        login: (
          this.countryCode[this.prelogin].value +
          this.register.phone +
          this.subphone
        ).replace(regEx, ''),
        password: this.register.password,
        birthday: '' + birthday,
        parent_id: this.userInfo.id,
      };
      try {
        const resp = await authRepository.createKid(data);
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Регистрация',
            'Регистрация прошла успешно',
            'success'
          );

          await this.$router.push({ name: 'home' });
        } else {
          componentErrorHandler(
            this,
            'Регистрация',
            `Возникла ошибка во время регистрации:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    selectDate(date) {
      this.register.userDay = date;
    },
    selectMonth(month) {
      this.register.userMonth = month;
    },
    selectYear(year) {
      this.register.userYear = year;
    },
  },
};
</script>

<style lang="scss" scoped>
.register {
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
  @media screen and (max-width: 800px) {
    margin: 20px auto;
    min-width: 94%;
  }

  &__hint {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 99;
    @media screen and (max-width: 450px) {
      top: unset;
      bottom: 50px;
    }
  }
  &__phone {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    @media screen and (max-width: 450px) {
      flex-wrap: wrap;
    }
    &__code {
      width: 100px;
      @media screen and (max-width: 450px) {
        flex-grow: 1;
      }
    }
    &__number {
      flex-grow: 1;
    }
    &__subnumber {
      flex-grow: 0;
      max-width: 150px;
      @media screen and (max-width: 450px) {
        flex-grow: 1;
        max-width: 450px;
      }
    }
  }

  .register-parent {
    &__title {
      font-size: $big;
    }
    &__instruct {
      color: $red;
    }
    &__birth {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @media screen and (max-width: 550px) {
        flex-direction: column;
        align-items: stretch;
      }

      &__day {
        display: flex;
        flex-grow: 2;
      }
      &__month {
        display: flex;
        flex-grow: 1;
      }
      &__year {
        display: flex;
        flex-grow: 1;
      }
    }
    &__buttons {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &__separator {
        margin: 10px 10px;
      }
      button {
        margin: 10px 0;
      }
    }
    &__helpers {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      margin: 10px auto;

      &__forgot {
        display: inline-block;
        color: $corporate;
        font-size: $small;
        font-weight: 500;
      }
    }
  }
  .parent-kid {
    @media screen and (min-width: 900px) {
      max-width: 60%;
      margin: 0 auto;
    }
  }
}
</style>
