<template>
  <header class="header">
    <div class="header__container">
      <div class="header__container__logo">
        <router-link :to="{ name: logoUrl }">
          <logo />
        </router-link>
      </div>
      <div class="header__container__search">
        <header-search v-if="false" />
      </div>
      <div class="header__container__icons">
        <div
          v-click-outside-except="{ handler: collapseChooseRole }"
          class="header__container__icons__ico roles"
        >
          <img
            v-show="rolesList.length > 0"
            @click="showChooseRole = !showChooseRole"
            src="@/assets/img/svg/user-white.svg"
            alt="User"
          />
          <div v-show="showChooseRole" class="header__container__submenu">
            <div
              v-for="item in rolesList"
              :key="item.role + item.type_department"
              class="header__container__submenu__item"
              @click="chooseRole(item)"
            >
              {{ item.name }}
            </div>
          </div>
        </div>
        <div v-show="showQr" class="header__container__icons__ico">
          <router-link :to="{ name: qrUrl }">
            <qr-small-button />
          </router-link>
        </div>
        <div class="header__container__icons__ico">
          <notification-icon />
        </div>
        <div v-show="showCalendar" class="header__container__icons__ico">
          <router-link :to="{ name: calendarUrl }">
            <calendar-small-button />
          </router-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import logo from '../../../components/primitives/Logo';
import QrSmallButton from '../../../components/user/sideBar/QrSmallButton';
import HeaderSearch from '../../../components/primitives/HeaderSearch.vue';
import NotificationIcon from '@/components/user/header/NotficationIcon';
import CalendarSmallButton from '@/components/user/header/CalendarSmallButton';
import { ClickOutsideExcept } from '@/helpers/directives/ClickOutsideDirectiveExcept.js';

import { mapState } from 'vuex';
export default {
  name: 'Header',
  components: {
    CalendarSmallButton,
    NotificationIcon,
    logo,
    HeaderSearch,
    QrSmallButton,
  },
  directives: {
    ClickOutsideExcept,
  },
  data() {
    return {
      role: null,
      showChooseRole: false,
    };
  },
  created() {
    this.role = localStorage.getItem('role');
  },
  computed: {
    ...mapState({
      roles: state => state.user.roles,
    }),
    logoUrl() {
      if (this.role === 'child') {
        return 'kidsMain';
      } else if (this.role === 'parent') {
        return 'parent';
      } else if (this.role === 'security') {
        return 'security';
      } else if (this.role === 'leader') {
        return 'leader';
      } else {
        return '#';
      }
    },
    calendarUrl() {
      if (this.role === 'child') {
        return 'kids-calendar';
      } else {
        return 'calendar';
      }
    },
    qrUrl() {
      if (this.role === 'child') {
        return 'kid-qr';
      } else {
        return 'qr';
      }
    },
    showCalendar() {
      return this.role !== 'security' && this.role !== 'leader';
    },
    showQr() {
      return this.role === 'parent' || this.role === 'child';
    },
    rolesList() {
      if (this.role !== 'child') {
        let res = this.roles.map(i => {
          switch (i.role) {
            case 'leader':
              i.name = 'Воспитатель';
              break;
            case 'security':
              i.name = 'Охранник';
              break;
            case 'reception':
              i.name = 'Рецепция';
              break;
          }
          return i;
        }, []);
        res.push({ role: 'parent', name: 'Родитель' });
        return res;
      } else return [];
    },
  },
  methods: {
    chooseRole(role) {
      localStorage.setItem('role', role.role);
      this.$router.push({ name: role.role });
    },
    collapseChooseRole() {
      this.showChooseRole = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  padding-top: 10px;
  background-image: url(../../../assets/img/user/cloud.png),
    $corporate-gradient-header;
  background-repeat: repeat-x, no-repeat;
  background-position: left bottom, left top;
  background-size: 151px 21px, 100% 95px;
  height: 100px;

  @media screen and (max-width: 800px) {
    background-image: $corporate-gradient-header;
    background-repeat: no-repeat;
    background-size: 100% 70px;
    background-position: left top;
    padding-top: 5px;
    position: sticky;
    top: 0;
    z-index: 99999;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    @media screen and (max-width: 1200px) {
      padding: 0 20px;
      justify-content: space-between;
    }

    &__logo {
      height: 50px;
      flex-grow: 0;
      margin: 0 10px;
      @media screen and (max-width: 800px) {
        height: 40px;
      }
    }
    &__search {
      flex-grow: 1;
      margin: 0 10px;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    &__icons {
      display: flex;
      flex-direction: row;
      flex-grow: 0;
      &__ico {
        height: 60px;
        cursor: pointer;
        img {
          height: 60px;
          width: 60px;
          padding: 10px 20px;
        }

        @media screen and (max-width: 800px) {
          height: 60px;
        }
      }
    }
    .roles {
      position: relative;
    }
    &__submenu {
      position: absolute;
      z-index: 999999;
      background-color: white;
      left: -50px;
      width: 160px;
      border-radius: 8px;
      padding: 10px 0;
      &__item {
        text-align: center;
        width: 160px;
        padding: 10px 0;
        &:hover {
          background-color: $corporate-light;
          color: white;
        }
      }
    }
  }
}
</style>
