<template>
  <main class="account">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :activeKid="activeKid"
      :department="department"
      :currentCurrency="currentCurrency"
      :link="'/parents/debt/'"
    ></component>
  </main>
</template>

<script>
import { mapState } from 'vuex';

import pageTabs from '@/components/user/common/PageTabs';
// import Refill from '@/components/user/account/Refill';
import Bills from '@/components/user/account/Operations';
import Operations from '@/components/user/account/Operations';
import Restrictions from '@/components/user/account/Restrictions';
// import DayLimit from '@/components/user/account/DayLimit';
import Debts from '@/components/user/account/Debts';

export default {
  name: 'KidsAccount',
  components: {
    // refill: Refill,
    bills: Bills,
    debts: Debts,
    operations: Operations,
    restrictions: Restrictions,
    // dayLimit: DayLimit,
    pageTabs,
  },
  data() {
    return {
      activeTab: null,
      tabs: [
        // { val: 'refill', name: this.$t('user.titles.refillTab') },
        { val: 'debts', name: this.$t('user.titles.debts') },

        { val: 'bills', name: this.$t('user.titles.billsTab') },
        // { val: 'operations', name: 'Все операции' },
        // { val: 'dayLimit', name: this.$t('user.titles.dayLimitTab') },
        { val: 'restrictions', name: this.$t('user.titles.restrictionsTab') },
      ],
    };
  },
  computed: {
    ...mapState({
      activeKid: state => state.user.activeKid,
      activeKidCamp: state => state.user.activeKidCamp,
      currentCurrency: state => state.common.currentCurrency,
      department: state => state.user.activeDepartment,
    }),
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.account {
  padding: 20px;
}
</style>
