<template>
  <main class="object">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :activeKid="activeKid"
      :campInfo="campInfo"
    ></component>
  </main>
</template>

<script>
import { mapState } from 'vuex';

import pageTabs from '@/components/user/common/PageTabs';
import ObjectInfo from '@/components/user/object/ObjectInfo';
import ObjectContacts from '@/components/user/object/ObjectContacts';
import ObjectGroup from '@/components/user/object/ObjectGroup';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

const CommonRepository = RepositoryFactory.get('common');
export default {
  name: 'KidsObject',
  components: {
    pageTabs,
    objectInfo: ObjectInfo,
    objectContacts: ObjectContacts,
    objectGroup: ObjectGroup,
  },
  data() {
    return {
      tabs: [
        { val: 'objectInfo', name: this.$t('user.titles.objectInfoTab') },
        // { val: 'objectGroup', name: this.$t('user.titles.objectGroupTab') },
        {
          val: 'objectContacts',
          name: this.$t('user.titles.objectContactsTab'),
        },
      ],
      activeTab: null,
      campInfo: {},
    };
  },
  computed: {
    ...mapState({
      activeKid: state => state.user.activeKid,
      department: state => state.user.activeDepartment,
    }),
  },
  async mounted() {
    await this.getCampInfo();
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
    async getCampInfo() {
      this.campInfo = {};
      try {
        const resp = await CommonRepository.getDepartmentInfo({
          id: this.department,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение дынных о лагере',
            'Возникла ошибка при получении данных о лагере',
            'error'
          );
        } else {
          console.log(resp);
          this.campInfo = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.object {
  padding: 20px;
}
</style>
