<template>
  <main class="calendar">
    <calendar
      :activeDepartment="activeDepartment"
      :activeGroup="activeGroup"
      :activeKid="activeKid"
    />
  </main>
</template>

<script>
import Calendar from '@/components/user/calendar/parent/KidCalendar';
import { mapState } from 'vuex';

export default {
  name: 'KidsCalendar',
  components: { Calendar },
  computed: {
    ...mapState({
      activeDepartment: state => state.user.activeDepartment,
      activeKid: state => state.user.activeKid,
    }),
    activeGroup() {
      return this.activeKid.departmentClient.find(
        i => i.department_id === this.activeDepartment
      ).kindergarten_group_id;
    },
  },
};
</script>

<style lang="scss" scoped>
.calendar {
  padding: 20px;
}
</style>
