<template>
  <div class="service">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :kidCamp="kidCamp"
      :currentUser="currentUser"
      :currentCurrency="currentCurrency"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';

import pageTabs from '@/components/user/common/PageTabs';
import OnlineStoreCatalog from '@/components/user/onlineOutlet/OnlineStoreCatalog';
import OnlineStoreHistory from '@/components/user/onlineOutlet/OnlineStoreHistory';

export default {
  name: 'KidsOnlineStore',
  components: {
    pageTabs,
    OnlineStoreHistory,
    OnlineStoreCatalog,
  },
  data: function() {
    return {
      tabs: [
        {
          val: 'OnlineStoreCatalog',
          name: this.$t('user.titles.onlineCatalogTab'),
        },
        {
          val: 'OnlineStoreHistory',
          name: this.$t('user.titles.onlineCatalogHistoryTab'),
        },
      ],
      activeTab: null,
      categories: [],
    };
  },
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeKidCamp,
      currentUser: state => state.user.activeKid,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.service {
  padding: 20px;
}
</style>
