<template>
  <div class="service">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :categories="categories"
      :campId="kidCamp"
      :userId="currentUser.id"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

import pageTabs from '@/components/user/common/PageTabs';
import MyRequests from '@/components/user/service/MyRequests';
import SendRequest from '@/components/user/service/SendRequest';

export default {
  name: 'KidsServiceMessages',
  components: {
    pageTabs,
    SendRequest,
    MyRequests,
  },
  data: function() {
    return {
      tabs: [
        { val: 'SendRequest', name: this.$t('user.titles.sendRequestTab') },
        { val: 'MyRequests', name: this.$t('user.titles.myRequestsTab') },
      ],
      categories: [],
      activeTab: null,
    };
  },
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeDepartment,
      currentUser: state => state.user.activeKid,
    }),
  },
  watch: {
    kidCamp: {
      immediate: true,
      handler() {
        if (this.kidCamp) {
          this.getServiceMessagesCategory();
        }
      },
    },
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
    async getServiceMessagesCategory() {
      const serviceMessagesRepository = RepositoryFactory.get(
        'serviceMessages'
      );
      let params = {
        department_id: this.kidCamp,
      };
      try {
        const resp = await serviceMessagesRepository.getCategories(params);
        if (resp.data.status == 'ok') {
          this.categories = resp.data.data.items;
        } else {
          componentErrorHandler(
            this,
            'Получение категорий сервисных сообщений',
            'Возникла ошибка при получении категорий сервисных сообщений',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.service {
  padding: 20px;
}
</style>
