<template>
  <main class="main">
    <page-title :title="$t('user.titles.main')" />
    <section class="main__container">
      <p>
        <strong>{{ $t('user.parents.welcomeText.dear') }}</strong>
        {{ $t('user.parents.welcomeText.welcome') }}
        <br />
        {{ $t('user.parents.welcomeText.childInfo') }}
      </p>
      <p>
        {{ $t('user.parents.welcomeText.support') }}
        <a :href="`mailto:${$t('user.parents.welcomeText.supportEmail')}`">{{
          $t('user.parents.welcomeText.supportEmail')
        }}</a>
      </p>
    </section>
  </main>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
export default {
  name: 'ParentMain',
  components: {
    PageTitle,
  },
};
</script>

<style lang="scss" scoped>
.main {
  padding: 20px;
}
</style>
