<template>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__container__brand">
        <logo></logo>
      </div>
      <div class="footer__container__links -main">
        <ul class="footer-links">
          <li class="footer-links__item">
            <a
              class="footer-links__item__link"
              href="https://justapp.org:8081/"
              target="_blank"
              >{{ $t('home.footer.subMenu.admin') }}</a
            >
          </li>
          <li v-show="parent" class="footer-links__item">
            <router-link
              class="footer-links__item__link"
              :to="{ name: 'register-object' }"
              >{{ $t('home.footer.subMenu.regCompany') }}</router-link
            >
          </li>
        </ul>
      </div>
      <div class="footer__container__links">
        <ul class="footer-links">
          <li
            v-for="item in footerSubMenuItems"
            :key="item.route"
            class="footer-links__item"
          >
            <router-link
              v-if="!item.disabled"
              class="footer-links__item__link"
              :to="item.route"
              >{{ item.name }}</router-link
            >
            <span v-else class="footer-links__item__link">{{ item.name }}</span>
          </li>
        </ul>
      </div>
      <div class="footer__container__social">
        <div class="footer__container__social__language">
          <footer-language-selector />
        </div>
        <img src="@/assets/img/svg/social/telegram.svg" alt="Telegram" />
        <img src="@/assets/img/svg/social/whatsapp.svg" alt="WhatsApp" />
        <img src="@/assets/img/svg/social/instagram.svg" alt="Instagram" />
      </div>
    </div>
    <div class="footer__support">
      <span class="support">
        {{ $t('home.footer.support') }}
        <a :href="`mailto:${$t('home.footer.supportEmail')}`">{{
          $t('home.footer.supportEmail')
        }}</a>
      </span>
      <p class="footer__support__rights">
        © 2020 . All rights reserved
      </p>
    </div>
  </footer>
</template>

<script>
import logo from '@/components/auth/LogoWhite';
import { mainLinks } from '@/helpers/data/mainHeaderMenu.js';
import FooterLanguageSelector from '@/components/common/FooterLanguageSelector';

export default {
  name: 'main-footer',
  components: {
    logo,
    FooterLanguageSelector,
  },
  computed: {
    parent() {
      return localStorage.getItem('role') === 'parent';
    },
  },
  mixins: [mainLinks],
};
</script>

<style scoped lang="scss">
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: $corporate-menu;

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 40px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__brand {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 900px) {
        margin-bottom: 30px;
      }

      &__under-logo {
        color: $black-font;
        font-size: $small;
      }
    }

    &__social {
      color: white;
      img {
        cursor: pointer;
        margin: 0 15px;

        &:hover {
          transform: scale(1.1);
        }
      }
      &__language {
        margin-bottom: 10px;
      }
    }

    &__links {
      @media screen and (max-width: 900px) {
        min-width: 180px;
      }
    }

    .footer-links {
      list-style: none;
      padding: 0;
      @media screen and (max-width: 900px) {
        margin-bottom: 20px;
      }

      &__item {
        &__link {
          font-size: $regular - 1px;
          line-height: 22px;
          color: white;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__support {
    background-color: $corporate;
    box-shadow: 0px -9px 37px -10px $corporate;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 900px) {
      max-width: 100%;
      flex-direction: column;
    }

    .support {
      text-align: center;
      display: block;
      font-size: $regular - 1px;
      line-height: 22px;

      a {
        font-size: $regular - 1px;
        line-height: 22px;
        text-decoration: underline;
        color: white;
      }
    }

    .app-logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
      }

      &__image {
        max-height: 50px;
        max-width: calc(50% - 20px);
        margin: 10px;
        @media screen and (max-width: 1024px) {
          max-width: calc(100% - 20px);
        }
      }
    }

    &__rights {
      @media screen and (max-width: 900px) {
        margin-left: 0;
      }
      margin-left: 40px;
    }
  }
}
</style>
