<template>
  <div class="success">
    <h1>Ошибка платежа.</h1>
    <h3>
      Во время совершения платежа произошла ошибка, попробуйте повторить платеж
      позже.
    </h3>
  </div>
</template>

<script>
export default {
  mounted() {
    setTimeout(() => this.$router.push('/parents'), 5000);
  },
};
</script>

<style lang="scss" scoped>
.success {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;

  h1 {
    font-size: $big;
    text-align: center;
    color: $red;
  }
  h3 {
    font-size: $semi-big;
    text-align: center;
  }
}
</style>
