<template>
  <div class="side-bar">
    <user-info />
    <div class="side-bar__kids">
      <h2 class="side-bar__kids__title">{{ $t('user.parents.yourKids') }}:</h2>
    </div>
    <side-bar-kid
      v-for="(kid, key) in myKids"
      :key="'kid-' + key"
      :kid="kid"
      @activate="activate"
    />
    <span @click="logout" class="side-bar__exit">
      {{ $t('user.buttons.logout') }}
    </span>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import UserInfo from '@/components/user/sideBar/UserInfo';
import SideBarKid from '@/components/user/SideBarKid';

export default {
  components: {
    UserInfo,
    SideBarKid,
  },
  computed: {
    ...mapState({
      userKidsInfo: state => state.user.kidsInfo,
    }),
    myKids() {
      return this.userKidsInfo?.slice()?.sort((a, b) => (a.id > b.id ? 1 : -1));
    },
  },
  methods: {
    activate(kid) {
      this.$store.commit('user/SET_ACTIVE_KID', kid);
      this.$router.push('/parents');
    },
    logout() {
      this.$store.dispatch('logout').then(() => this.$router.push('/'));
    },
  },
};
</script>

<style lang="scss" scoped>
.side-bar {
  &__kids {
    padding: 10px;
    &__title {
      font-size: $regular;
      color: $dark-grey-font;
    }
  }
  &__exit {
    display: block;
    padding: 10px 10px 10px 35px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 10px;
      left: 10px;
      height: 15px;
      width: 15px;
      background-image: url('../../../assets/img/svg/exit.svg');
    }
  }
}
</style>
