<template>
  <div class="event-calendar">
    <div class="event-calendar__container">
      <section id="calendar" class="event-calendar__container__view">
        <div class="event-calendar__container__view__sidebar">
          <btn :elClass="['corporate-bordered']">Создать</btn>
          <calendar-view
            :show-date="showSmallDate"
            :current-date="currentDay"
            :locale="$i18n.locale"
            :showEventTimes="false"
            :startingDayOfWeek="1"
            currentPeriodLabel="-"
            @click-date="setCurrentDate"
          >
            <calendar-view-header
              slot="header"
              slot-scope="{ headerProps }"
              :header-props="headerProps"
              @input="setSmallShowDate"
            />
          </calendar-view>
          <div class="event-calendar__container__view__sidebar__type-select">
            <img
              class="left-arrow"
              src="@/assets/img/svg/arrow-thin-white.svg"
              alt="More"
              @click="setCurrentType(1)"
            />
            <span>{{ this.types[currentType].name }}</span>
            <img
              src="@/assets/img/svg/arrow-thin-white.svg"
              @click="setCurrentType(-1)"
              alt="Less"
            />
          </div>
        </div>
        <FullCalendar
          @datesRender="handleMonthChange"
          ref="fullCalendar"
          :options="calendarOptions"
        />
      </section>
      <button
        v-if="events.length > 0 && currentScroll"
        class="go-to-events"
        @click.prevent="scrollToEvents"
      >
        {{ $t('user.buttons.goToEvents') }}
      </button>
      <section id="events" class="event-calendar__container__events">
        <div
          v-if="events.length > 0"
          class="event-calendar__container__events__list"
        >
          <event-in-calendar
            @openProduct="openModal(event.id)"
            v-for="event in events"
            :key="event.id"
            :event="event"
            :format="format"
          />
        </div>
      </section>
    </div>
    <product-modal
      v-if="selectedProduct.id"
      :product="selectedProduct"
      :currentCurrency="currentCurrency"
      @cancelProduct="cancelProduct"
      @buyProduct="buyProduct"
    />
    <product-bill
      class="product-bill"
      :product="selectedProduct"
      :bill="bill"
      :currentCurrency="currentCurrency"
      v-if="bill.order_id"
      @apply="cancelProduct"
    />
    <event-modal
      :content="currentModal"
      @close="showModal = false"
      v-show="showModal"
    />
  </div>
</template>

<script>
import CalendarView from '@/components/user/calendar/CalendarView';
import CalendarViewHeader from '@/components/user/calendar/CalendarViewHeader';
import EventModal from '@/components/user/calendar/EventModal';
import RegularButton from '@/components/primitives/RegularButton';
import { format } from 'date-fns';
import { mapState } from 'vuex';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
const attendanceApi = RepositoryFactory.get('attendance');

// import { componentErrorHandler } from '@/helpers/methods/errorHandler';
// import { CalendarEvent } from '@/helpers/models/calendar'; //Calendar events models.

import ProductModal from '@/components/user/onlineOutlet/ProductModal';
import ProductBill from '@/components/user/onlineOutlet/productBill';
import EventInCalendar from '@/components/user/EventInCalendar';

import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import timeGridPlugin from '@fullcalendar/timegrid';
import interactionPlugin from '@fullcalendar/interaction';

export default {
  name: 'Calendar',
  props: {
    currentCurrency: Object,
    activeDepartment: Number,
    activeKid: Object,
  },
  components: {
    EventInCalendar,
    CalendarView,
    CalendarViewHeader,
    ProductModal,
    ProductBill,
    btn: RegularButton,
    FullCalendar,
    EventModal,
  },
  data: function() {
    return {
      showSmallDate: null,
      showModal: false,
      currentModal: {},
      currentDay: null,
      headerProps: null,
      selectedProduct: {},
      bill: {},
      types: [
        { name: 'Неделя', val: 'timeGridWeek' },
        { name: 'День', val: 'timeGridDay' },
        { name: 'Месяц', val: 'dayGridMonth' },
      ],
      currentType: 1,
      currentScroll: false,
      format,
      calendarOptions: {
        columnFormat: {
          month: 'ddd',
          week: 'ddd d/M',
          day: 'dddd d/M',
        },
        nowIndicator: true,
        locale: this.$i18n.locale,
        eventBackgroundColor: 'rgb(110,209,215)',
        eventBorderColor: 'rgb(110,209,215)',
        eventTextColor: 'rgb(0,0,0)',
        dayMaxEventRows: true,
        displayEventTime: false,
        views: {
          timeGrid: {
            dayMaxEventRows: 6,
            dayHeaderFormat: {
              weekday: 'short',
              day: 'numeric',
              omitCommas: true,
            },
          },
          dayGrid: {},
        },
        plugins: [timeGridPlugin, dayGridPlugin, interactionPlugin],
        initialView: 'dayGridMonth',
        events: [],
        headerToolbar: {
          start: 'today',
          center: 'prev title next',
          end: '',
        },
        allDaySlot: false,
        slotLabelFormat: {
          hour: 'numeric',
          minute: '2-digit',
          hour12: false,
        },
        firstDay: 1,
        dateClick: this.handleDateClick,
        eventClick: this.handleEventClick,
        selectable: true,
      },
    };
  },
  watch: {
    activeGroup: {
      immediate: true,
      async handler() {
        await this.getChildAttendance();
      },
    },
    activeDepartment: {
      async handler() {
        await this.getChildAttendance();
      },
    },
    currentType: {
      handler() {
        let calendarApi = this.$refs.fullCalendar.getApi();
        calendarApi.changeView(this.types[this.currentType].val);
      },
    },
  },
  created() {
    this.showSmallDate = new Date();
    this.currentDay = new Date();
  },
  mounted() {
    window.addEventListener('scroll', this.onScroll);
    this.$on('hook:beforeDestroy', () => {
      window.removeEventListener('scroll', this.onScroll);
    });
  },
  computed: {
    events() {
      return this.calendarOptions.events
        .filter(i => {
          return this.isSameDate(new Date(i.start), this.currentDay);
        })
        .sort((a, b) => {
          if (new Date(a.start) < new Date(b.start)) return -1;
          if (new Date(b.start) < new Date(a.start)) return 1;
          return a.id < b.id ? -1 : 1;
        });
    },
    ...mapState({}),
  },
  methods: {
    async getChildAttendance() {
      const calendarView = this.$refs.fullCalendar.getApi().view;

      try {
        const resp = await attendanceApi.getPresenceReport(
          {
            group_id: this.activeKid.departmentClient.find(
              i => i.department_id === this.activeDepartment
            ).kindergarten_group_id,
            attended_at_from: format(calendarView.currentStart, 'dd.MM.yyyy'),
            attended_at_to: format(calendarView.currentEnd, 'dd.MM.yyyy'),
          },
          { user_id: this.activeKid.id }
        );
        if (resp.data.status === 'ok') {
          this.calendarOptions.events = [];
          for (const [key, value] of Object.entries(
            resp.data.data[this.activeKid.id]
          )) {
            if (value.attended) {
              let res = {
                id: Math.floor(Math.random() * 100000),
                start: key,
                title: `Посетил ${
                  this.activeKid.departmentClient.find(
                    i => i.department_id === this.activeDepartment
                  ).kindergarten_group_id
                }`, //TODO name
                description: '',
                disableButtons: true,
              };
              this.calendarOptions.events.push(res);
            }
          }
        } else {
          componentErrorHandler(
            this,
            'Ошибка загрузки данных',
            'Попробуйте перезагрузить страницу',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Попробуйте перезагрузить страницу или выбрать департамент',
          'error'
        );
      }
    },
    handleMonthChange(arg) {
      console.log(arg);
    },
    handleDateClick(arg) {
      this.setCurrentDate(arg.date);
    },
    handleEventClick(arg) {
      console.log(arg);
    },
    openModal(id) {
      this.showModal = true;
      let calendarApi = this.$refs.fullCalendar.getApi();
      this.currentModal = calendarApi.getEventById(id);
    },
    setSmallShowDate(d) {
      this.showSmallDate = d;
      this.headerProps = d;
    },
    setCurrentDate(d) {
      let calendarApi = this.$refs.fullCalendar.getApi();
      calendarApi.gotoDate(d);
      calendarApi.select(d);
      this.currentDay = d;
    },
    setCurrentType(i) {
      let end = this.$root.$el.clientWidth > 600 ? 2 : 1;
      if (this.currentType + i > end) {
        this.currentType = 0;
      } else if (this.currentType + i < 0) {
        this.currentType = end;
      } else this.currentType += i;
    },
    dayDiff(d1, d2) {
      if (d1 && d2) {
        const endDate = new Date(d2.getFullYear(), d2.getMonth(), d2.getDate()),
          startDate = new Date(d1.getFullYear(), d1.getMonth(), d1.getDate());
        endDate.setUTCHours(0, 0, 0, 0);
        startDate.setUTCHours(0, 0, 0, 0);
        return (endDate - startDate) / 86400000;
      } else return -1;
    },
    isSameDate(d1, d2) {
      return this.dayDiff(d1, d2) === 0;
    },
    // async getCalendarEvents(date_from, date_to) {
    //   if (this.kidCamp.camp_id) {
    //     const calendarRepository = RepositoryFactory.get('calendar');
    //
    //     try {
    //       const resp = await calendarRepository.findEvents({
    //         camp_id: this.kidCamp?.camp_id,
    //         date_from,
    //         date_to,
    //       });
    //       if (resp.data.status == 'ok') {
    //         this.eventsCalendar = [];
    //         for (let data of resp.data?.data) {
    //           const result = ({
    //             name,
    //             event_date_start,
    //             event_date_finish,
    //             product_id,
    //             ...rest
    //           }) => ({
    //             title: name,
    //             startDate: event_date_start
    //               ? format(new Date(event_date_start), 'yyyy-MM-dd HH:MM:SS')
    //               : null,
    //             endDate: event_date_finish
    //               ? format(new Date(event_date_finish), 'yyyy-MM-dd HH:MM:SS')
    //               : null,
    //             style: product_id > 0 ? 'background-color: #2eadca' : '',
    //             ...rest,
    //           });
    //           let newEvent = new CalendarEvent({
    //             ...result(data),
    //           });
    //           this.eventsCalendar.push(newEvent);
    //         }
    //       } else {
    //         componentErrorHandler(
    //           this,
    //           'Получение списка событий',
    //           'Возникла ошибка при получении списка событий',
    //           'error'
    //         );
    //       }
    //     } catch (err) {
    //       console.error(err);
    //     }
    //   }
    // },
    // showDateEvents(date) {
    //   this.currentDay = date;
    // this.events = [];
    // const calendarRepository = RepositoryFactory.get('calendar');
    // let params = {
    //   camp_id: this.kidCamp?.camp_id,
    //   date_from: format(startOfDay(new Date(date)), 'yyyy-MM-dd HH:mm:ss'),
    //   date_to: format(endOfDay(new Date(date)), 'yyyy-MM-dd HH:mm:ss'),
    // };
    // try {
    //   const resp = await calendarRepository.findEvents(params);
    //   if (resp.data.status == 'ok') {
    //     for (let data of resp.data?.data) {
    //       this.events.push({
    //         ...data,
    //         event_date_start: data.event_date_start
    //           ? format(new Date(data.event_date_start), 'dd.MM.yyyy')
    //           : null,
    //         event_date_finish: data.event_date_finish
    //           ? format(new Date(data.event_date_finish), 'dd.MM.yyyy')
    //           : null,
    //       });
    //     }
    //   } else {
    //     componentErrorHandler(
    //       this,
    //       'Получение списка событий',
    //       'Возникла ошибка при получении списка событий',
    //       'error'
    //     );
    //   }
    // } catch (err) {
    //   console.error(err);
    // }
    // },
    // showEvent(calendarItem) {
    //   this.events = [];
    //   this.events = calendarItem;
    // this.events = [];
    // const calendarRepository = RepositoryFactory.get('calendar');
    //
    // let params = {
    //   id: calendarItem?.id,
    //   camp_id: this.kidCamp?.camp_id,
    // };
    // try {
    //   const resp = await calendarRepository.getEvent(params);
    //   if (resp.data.status == 'ok') {
    //     let formatData = {
    //       ...resp.data.data,
    //       event_date_start: resp.data?.data?.event_date_start
    //         ? format(
    //             new Date(resp.data?.data?.event_date_start),
    //             'dd.MM.yyyy'
    //           )
    //         : null,
    //       event_date_finish: resp.data?.data?.event_date_finish
    //         ? format(
    //             new Date(resp.data?.data?.event_date_finish),
    //             'dd.MM.yyyy'
    //           )
    //         : null,
    //     };
    //     this.events = [];
    //     this.events.push(formatData);
    //   } else {
    //     componentErrorHandler(
    //       this,
    //       'Получение списка событий',
    //       'Возникла ошибка при получении списка событий',
    //       'error'
    //     );
    //   }
    // } catch (err) {
    //   console.error(err);
    // }
    // },
    // async openProduct(productId) {
    //   const onlineOutletRepository = RepositoryFactory.get('onlineOutlet');
    //   try {
    //     const resp = await onlineOutletRepository.getProduct({ id: productId });
    //     if (resp.data?.status == 'ok') {
    //       this.selectedProduct = resp.data?.data;
    //       this.selectedProduct.image = this.events[
    //         this.events?.findIndex(x => x.product_id === productId)
    //       ]?.image;
    //     } else {
    //       componentErrorHandler(
    //         this,
    //         'Получение товара из события',
    //         'Возникла ошибка при получении товара из события:',
    //         'error'
    //       );
    //     }
    //   } catch (err) {
    //     console.error(err);
    //   }
    //   console.log(productId);
    // },
    // async buyProduct() {
    //   const onlineOutletRepository = RepositoryFactory.get('onlineOutlet');
    //   const data = {
    //     outlet_id: this.selectedProduct?.outlet_id,
    //     user_id: this.currentUser?.id,
    //     account_id: this.currentUser?.account_main,
    //     products: [
    //       {
    //         product: {
    //           id: this.selectedProduct?.id,
    //         },
    //       },
    //     ],
    //   };
    //   try {
    //     const resp = await onlineOutletRepository.buyProduct(
    //       JSON.stringify(data)
    //     );
    //     if (resp.data.status != 'ok') {
    //       componentErrorHandler(
    //         this,
    //         'Покупка товара',
    //         'Возникла ошибка при покупке товара',
    //         'error'
    //       );
    //     } else {
    //       await this.$store.dispatch(
    //         'user/getUserInfo',
    //         JSON.stringify({ id: this.currentUser?.id })
    //       );
    //       this.bill = resp?.data?.data;
    //     }
    //   } catch (err) {
    //     console.error(err);
    //   }
    // },
    // cancelProduct() {
    //   this.selectedProduct = {};
    //   this.bill = {};
    // },
    scrollToEvents() {
      document.getElementById('events').scrollIntoView({ behavior: 'smooth' });
    },
  },
};
</script>

<style lang="scss">
@import '~@/assets/css/calendarDefault.css';
.left-arrow {
  transform: rotateZ(180deg);
}
.event-calendar {
  position: relative;
  &__container {
    &__view {
      display: flex;
      height: 600px;
      margin: 0 auto;
      @media screen and (max-width: 800px) {
        flex-direction: column;
        height: max-content;
        .fc-view-harness {
          overflow-x: scroll;
        }
        .fc-view.fc-timeGridWeek-view.fc-view {
          width: 130%;
        }
      }

      .fc {
        width: 100%;
      }
      .fc-daygrid-day-top {
        display: flex;
        justify-content: center;
      }
      .fc-daygrid-day-number {
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;

        &.active {
          background: linear-gradient(to left, #53e1e1 0%, #15caca 100%);
          color: white;
        }
      }
      .fc-day-today {
        .fc-daygrid-day-number {
          background: #b2b2b2;
          color: white;
        }
      }
      .fc .fc-today-button {
        background: none;
        color: black;
        border: none;
        font-size: 14px;
        font-weight: 500;
        &:active,
        &:focus {
          border: none;
          background: none;
          color: black;
          outline: none;
          box-shadow: none;
        }
      }
      .fc .fc-prev-button,
      .fc .fc-next-button {
        border: none;
        background: none;
        color: #0ca8ad;
        outline: none;
        &:active,
        &:focus {
          border: none;
          background: none;
          color: #0ca8ad;
          outline: none;
          box-shadow: none;
        }
      }
      .fc-toolbar-chunk {
        display: flex;
        align-items: center;

        .fc-toolbar-title {
          font-size: 22px;
          font-weight: 500;
        }
      }
      .fc-daygrid-more-link {
        @media screen and (max-width: 800px) {
          font-size: 10px;
        }
      }
      .fc-event-title {
        font-size: 10px;
      }

      &__sidebar {
        height: max-content;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 800px) {
          margin-bottom: 40px;
          padding: 50px;
          justify-content: center;
          align-items: center;
        }

        .regular-button {
          width: 100%;
        }
        .cv-wrapper {
          height: 40%;
          border: 1px solid $border;
          border-radius: 20px;
          overflow-y: auto;

          @media screen and (max-width: 800px) {
            margin: 20px 0;
          }

          .cv-header {
            border: 0 solid transparent;
            padding-top: 15px;
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
          }
          .cv-header-nav {
            display: flex;
            align-items: center;

            button {
              background: none;
              border: none;
              color: $black-font;
              img {
                height: 20px;
                width: auto;
              }
            }
            .previousYear {
            }
            .nextYear {
            }
          }
          .periodLabel {
            color: $black-font;
            margin: 0;
          }
          .cv-header-days {
            border: 0px solid transparent;

            .cv-header-day {
              color: $dark-grey-font;
              border-bottom: 1px solid $border;
              border-top: 0 solid;
              border-left: 0 solid;
              border-right: 0 solid;
            }
          }
          .cv-weeks {
            border: 0px solid transparent;

            .cv-week {
              border: 0px solid transparent;

              .outsideOfMonth {
                color: $dark-grey-font;
              }

              &:last-child {
                border-bottom: 0 solid transparent;
              }

              .cv-day {
                border: 0px solid transparent;

                .cv-day-number {
                  font-weight: 800;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 20px;
                  width: 20px;
                  border-radius: 50%;
                }
                &.past {
                  background-color: #fafafa;
                }
                &.today {
                  background-color: #ffe;

                  .cv-day-number {
                    color: white;
                    background: #b2b2b2;
                  }
                }
              }
              .cv-event {
                cursor: pointer;
                border-radius: 4px;
                background-color: rgba(12, 161, 167, 0.25);
                border: 1px solid $grey;
                text-align: center;
              }
            }
          }
        }

        &__type-select {
          background-color: $corporate;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          border-radius: 8px;
          padding: 0 10px;
          margin-top: 20px;
          @media screen and (max-width: 800px) {
            width: 100%;
          }

          img {
            height: 20px;
            width: 20px;
            cursor: pointer;
          }
        }
      }
    }
    &__events {
      padding: 20px 0 40px 0;

      &__list {
        .event {
          margin: 20px 0;
        }
      }
    }
  }
  .go-to-events {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: block;
    border: 1px solid rgba(12, 168, 173, 0.7);
    background: rgba(12, 168, 173, 0.5);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 1px grey;
    z-index: 999;
    cursor: pointer;
    @media screen and (min-width: 801px) {
      display: none;
    }
    @media screen and (max-height: 900px) and (min-width: 800px) {
      display: block;
      right: 30%;
    }
  }
}
</style>
