// Elements colors:
$active-border: #cfcfcf;
$border: #e5e5e5;

//Font-colors:
$light-grey-font: #a4a3a3;
$dark-grey-font: #5d5d5d;
$white-font: #fffefe;
$black-font: #000000;

// Colors:
$white: #ffffff;
$grey: #ebebeb;
$corporate: #0ca8ad;
$corporate-menu: #1bbfc6;
$corporate-light: #2ec5ca;
$corporate-gradient: linear-gradient(to left, #53e1e1 0%, #15caca 100%);
$corporate-gradient-header: linear-gradient(to left, #00acc5 0%, #00babf 100%);
$red: #ff0000;
$red-back: #fb3f3f;
$bg_blue: #edfeff;
$user_bg: #f3f4f4;

// Font size
$ultra-big: 50px;
$big: 24px;
$semi-big: 18px;
$regular: 14px;
$small: 12px;

$h1: 40px;
$h1-reflection: 30px;

// home colors
$background-grey: #f7f7f7;
