*{
    font-size: $regular;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Gilroy';
    // font-family: 'Gilroy', Arial, Helvetica, sans-serif
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
}
