<template>
  <div class="notification">
    <page-title :title="$t('user.titles.notifications')" />
    <notification-history-item
      v-for="notification in notifications"
      :key="notification.id"
      :notification="notification"
    />
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import Pagination from '@/components/common/Pagination';
import PageTitle from '@/components/user/common/PageTitle';
import NotificationHistoryItem from '@/components/user/notifications/NotificationHistoryItem';

export default {
  name: 'NotificationHistory',
  components: {
    NotificationHistoryItem,
    PageTitle,
    Pagination,
  },
  data: function() {
    return {
      pagination: {
        page: 1,
        perPage: 10,
      },
      currentPagination: {},
      notifications: [],
    };
  },
  computed: {
    ...mapState({
      userId: state => state.user.info.id,
    }),
  },
  watch: {
    userId: {
      immediate: true,
      handler() {
        this.getNotifications();
      },
    },
  },
  methods: {
    async getNotifications() {
      let params = {
        user_id: this.userId,
        page: this.pagination?.page || 1,
        per_page: this.pagination?.perPage || 20,
      };
      const NotificationsRepository = RepositoryFactory.get('notifications');
      try {
        const resp = await NotificationsRepository.getNotificationsList(params);
        if (resp.data.status != 'ok') {
          componentErrorHandler(
            this,
            'Ошибка при получении уведомлений.',
            'Возникла ошибка  при получении списка уведомлений:',
            'error',
            resp.data.message
          );
        } else {
          this.currentPagination = resp.data?.data?.pagination;
          this.notifications = resp.data?.data?.items;
        }
      } catch (err) {
        console.error(err);
      }
    },
    changePerPage(val) {
      if (this.pagination?.page * val > this.currentPagination?.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination?.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.getNotifications();
    },
    changePage(val) {
      this.pagination.page = val;
      this.getNotifications();
    },
  },
};
</script>

<style lang="scss" scoped>
.notification {
  padding: 20px;
}
</style>
