<template>
  <div class="qr">
    <page-title :title="$t('user.titles.qr')" />
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <div class="qr__container">
      <span
        v-show="
          userInfo.departmentClient.length === 0 && tabs[0].val === activeTab
        "
        class="qr__description"
      >
        {{ $t('user.qr.noObject') }}
      </span>
      <qrcode-vue
        v-if="activeTab"
        class="qr__image"
        renderAs="svg"
        :value="activeTab"
        :size="200"
        level="H"
      ></qrcode-vue>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import QrcodeVue from 'qrcode.vue';

import pageTabs from '@/components/user/common/PageTabs';
import PageTitle from '@/components/user/common/PageTitle';

export default {
  name: 'QR',
  components: {
    PageTitle,
    QrcodeVue,
    pageTabs,
  },
  data: function() {
    return {
      qrLength: 7,
      activeTab: null,
    };
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  watch: {
    tabs() {
      this.activeTab = this.tabs[0]?.val;
    },
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
      kids: state => state.user.kidsInfo,
    }),
    account() {
      if (
        this.userInfo?.account_id &&
        String(this.userInfo?.account_id)?.length < this.qrLength
      ) {
        let numberOfZeros =
          this.qrLength - String(this.userInfo?.account_id)?.length;
        return '0'.repeat(numberOfZeros) + this.userInfo?.account_id;
      }
      return this.userInfo?.account_id;
    },
    tabs() {
      const res = [];
      res.push({ val: '010' + this.userInfo.id, name: 'QR' });
      this.kids.forEach(item => {
        item.departmentClient.forEach(item1 => {
          res.push({
            val: item1.account_id
              ? '020' + item1.account_id
              : '010' + item1.user_id,
            name: item.name + ' - ' + item1.department_name,
          });
        });
      });
      return res;
    },
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.qr {
  padding: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__description {
    font-size: $semi-big;
    color: $black-font;
    padding: 20px;
  }
  &__image {
    margin: 20px;
    padding: 20px;
  }
}
</style>
