<template>
  <div class="kids">
    <div class="kids__header">
      <div class="kids__header__title">
        Ваши Дети
      </div>
      <a @click.prevent="addKidModal = true" class="kids__header__new">
        <img src="./../../assets/img/svg/add-user.svg" alt="Add new kid" />
      </a>
    </div>
    <add-new-kid-modal @close="addKidModal = false" v-if="addKidModal" />
  </div>
</template>

<script>
import AddNewKidModal from './AddNewKidModal.vue';

export default {
  data: function() {
    return {
      addKidModal: false,
    };
  },
  components: {
    AddNewKidModal,
  },
};
</script>

<style lang="scss" scoped>
.kids {
  padding: 10px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: $regular;
      color: $dark-grey-font;
    }
    &__new {
    }
  }
}
</style>
