<template>
  <div class="new-kid-accept">
    <div class="new-kid-accept__bg"></div>
    <div class="new-kid-accept__modal">
      <div v-if="!tempKid.id" class="new-kid-accept__modal__main">
        <h2>{{ $t('user.parents.kidNotFound') }}</h2>
      </div>
      <div v-if="tempKid.id" class="new-kid-accept__modal__main">
        <div class="new-kid-accept__modal__main__foto">
          <img :src="tempKid.image" />
        </div>
        <div class="new-kid-accept__modal__main__info">
          <table>
            <tr>
              <td>{{ $t('user.fields.name') }}</td>
              <td class="value">{{ tempKid.name }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.secondName') }}</td>
              <td class="value">{{ tempKid.surname }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.birthday') }}</td>
              <td class="value">{{ tempKid.birthday }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.phone') }}</td>
              <td class="value">{{ numberToNormal(tempKid.login) }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.camp') }}</td>
              <td class="value">{{ tempKid.camp_name }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.squad') }}</td>
              <td class="value">{{ tempKid.squad_name }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.room') }}</td>
              <td class="value">{{ tempKid.room_id }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="new-kid-accept__modal__buttons">
        <regular-button
          v-if="tempKid.id"
          :elClass="['corporate']"
          @click="apply"
        >
          {{ $t('user.buttons.attach') }}
        </regular-button>
        <regular-button :elClass="['red']" @click="close">
          {{ $t('user.buttons.cancel') }}
        </regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import axios from 'axios';
import RegularButton from '../../components/primitives/RegularButton.vue';
export default {
  name: 'AddNewKidAccept',
  computed: {
    ...mapState({
      tempKid: state => state.user.tempKid,
      coreURL: state => state.common.urls.core,
    }),
  },
  components: {
    RegularButton,
  },
  methods: {
    numberToNormal(login) {
      if (login?.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
    close() {
      this.$emit('close');
    },
    apply() {
      let data = {
        parent_id: localStorage.getItem('userId'),
        user_id: this.tempKid.id,
      };
      console.log(data);
      axios({
        url: this.coreURL + '/rest/v1/auth/link',
        method: 'POST',
        data,
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Добавление ребенка';
            notification.text = 'Добавление ребенка прошло успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
            let userId = localStorage.getItem('userId');
            this.$store.dispatch('user/getUsersKids', { parent_id: userId });
            this.close();
          } else {
            let notification = {};
            notification.title = 'Добавление ребенка';
            notification.text =
              'Возникла ошибка при добавлении ребенка. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.new-kid-accept {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 9999;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $dark-grey-font;
    opacity: 0.7;
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 20px;
    min-width: 500px;
    border-radius: 10px;

    &__main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__foto {
        padding: 10px;
        img {
          border-radius: 10px;
          max-width: 250px;
        }
      }
      &__info {
        table {
          width: 100%;
          tr {
            td {
              padding: 5px;
              &.value {
                font-weight: 500;
                font-size: $regular + 2px;
              }
            }
          }
        }
      }
    }
    &__buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
</style>
