<template>
  <div class="new-kid">
    <div class="new-kid__bg" @click="close"></div>
    <div class="new-kid__modal">
      <div class="new-kid__form">
        <h3>
          {{ $t('user.parents.addNewKid') }}
        </h3>
        <h2>{{ $t('user.fieldErrors.allFieldsRequired') }}</h2>
        <div class="new-kid__form__phone">
          <hint class="new-kid__form__phone__hint">
            <template v-slot:text>
              * Добавочный номер используется для идентификации ребенка,
              привязанного к телефону родителя. В качестве добавочного номера
              могут быть использованы цифры от 0 до 9.
              <!--            TODO Заменить текст переводом-->
            </template>
          </hint>
          <regular-select-slots
            class="new-kid__form__phone__code"
            placeholder="Код"
            :optionList="countryCode"
            v-model="prelogin"
          >
            <template v-slot:value="{ valueName }">
              {{ valueName.title }}
            </template>
            <template v-slot:item="{ option }">
              {{ option.title }}
            </template>
          </regular-select-slots>
          <regular-input-masked
            elId="login"
            class="new-kid__form__phone__number"
            :elLabel="$t('user.fields.phone')"
            :required="!$v.newKid.phone.required"
            :mask="'### ###-##-##'"
            v-model="newKid.phone"
          />
          <regular-input-masked
            elId="subphone"
            class="new-kid__form__phone__subnumber"
            :elLabel="'Добавочный'"
            :mask="'#'"
            v-model="subphone"
          />
        </div>
        <regular-input
          elId="name"
          :elLabel="$t('user.fields.name')"
          :required="!$v.newKid.name.required"
          v-model="newKid.name"
        />
        <regular-input
          elId="surname"
          :elLabel="$t('user.fields.secondName')"
          :required="!$v.newKid.surname.required"
          v-model="newKid.surname"
        />
        <div class="new-kid__form__buttons">
          <regular-button
            :elClass="['corporate']"
            :disabled="!newKid.phone || !newKid.name || !newKid.surname"
            @click="search"
          >
            {{ $t('user.buttons.search') }}
          </regular-button>
          <regular-button :elClass="['red']" @click="close">
            {{ $t('user.buttons.cancel') }}
          </regular-button>
        </div>
        <div class="new-kid__form__buttons">
          <regular-button :elClass="['corporate']" @click="createKid">
            {{ $t('user.buttons.registerKid') }}
          </regular-button>
        </div>
      </div>
    </div>
    <add-new-kid-accept v-if="newKidAcceptShow" @close="close" />
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import { phoneCodes } from '@/helpers/data/phoneCode';
import { validationMixin } from 'vuelidate';
import { mapState } from 'vuex';
import AddNewKidAccept from './AddNewKidAccept';
import RegularInput from '../../components/primitives/RegularInput.vue';
import RegularInputMasked from '../../components/primitives/RegularInputMasked.vue';
import RegularButton from '../../components/primitives/RegularButton.vue';
import Hint from '@/components/common/Hint';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
export default {
  name: 'AddNewKidModal',
  mixins: [validationMixin, phoneCodes],
  data: function() {
    return {
      prelogin: 0,
      subphone: null,
      newKid: {},
      loginRemember: false,
      newKidAcceptShow: false,
    };
  },
  components: {
    RegularSelectSlots,
    Hint,
    RegularInput,
    RegularButton,
    RegularInputMasked,
    AddNewKidAccept,
  },
  computed: {
    ...mapState({
      tempKid: state => state.user.tempKid,
    }),
  },
  validations: {
    newKid: {
      phone: {
        required,
      },
      name: {
        required,
      },
      surname: {
        required,
      },
    },
  },
  watch: {
    tempKid: {
      immediate: true,
      deep: true,
      handler() {
        if (this.tempKid?.id) {
          this.newKidAcceptShow = true;
        }
      },
    },
  },
  methods: {
    createKid() {
      this.$router.push({ name: 'create-kid' });
      this.$emit('close');
    },
    close() {
      this.$emit('close');
      this.$store.commit('user/CLEAR_TEMP_KID');
      this.newKidAcceptShow = false;
    },
    search() {
      const regEx = /[^\d]/g;
      let params = {
        username: (
          '' +
          this.countryCode[this.prelogin].value +
          this.newKid?.phone +
          this.subphone
        ).replace(regEx, ''),
        name: this.newKid?.name,
        surname: this.newKid.surname,
      };
      this.$store.dispatch('user/findKid', params);
      console.log(this.tempKid);
    },
  },
};
</script>

<style lang="scss" scoped>
.new-kid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 999;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $dark-grey-font;
    opacity: 0.7;
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
  &__form {
    width: 400px;
    @media screen and (max-width: 500px) {
      width: auto;
    }
    &__phone {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: stretch;
      align-items: center;

      &__hint {
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: 99;
      }

      &__code {
        width: 100px;
      }
      &__number {
        flex-grow: 1;
      }
      &__subnumber {
        flex-grow: 0;
        max-width: 150px;
      }
    }

    &__buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        @media screen and (max-width: 500px) {
          margin: 10px auto;
        }
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
</style>
