<template>
  <div class="new-kid">
    <div v-if="!newKidAcceptShow" class="new-kid__modal">
      <div class="new-kid__form">
        <h3>
          {{ $t('user.parents.authorityKid') }}
        </h3>
        <h2>{{ $t('user.fieldErrors.allFieldsRequired') }}</h2>
        <regular-input-masked
          elId="login"
          :elLabel="$t('user.fields.phone')"
          :required="!$v.authority.phone.required"
          :mask="'+# ### ###-##-##'"
          v-model="authority.phone"
        />
        <regular-input
          elId="name"
          :elLabel="$t('user.fields.name')"
          :required="!$v.authority.name.required"
          v-model="authority.name"
        />
        <regular-input
          elId="surname"
          :elLabel="$t('user.fields.secondName')"
          :required="!$v.authority.surname.required"
          v-model="authority.surname"
        />
        <div class="new-kid__form__buttons">
          <regular-button
            :elClass="['corporate']"
            :disabled="
              !authority.phone || !authority.name || !authority.surname
            "
            @click="search"
          >
            {{ $t('user.buttons.search') }}
          </regular-button>
        </div>
      </div>
    </div>
    <authority-kid-accept v-else @close="close" @apply="apply" />
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import { mapState } from 'vuex';
import AuthorityKidAccept from './AuthorityKidAccept';
import RegularInput from '../../components/primitives/RegularInput.vue';
import RegularInputMasked from '../../components/primitives/RegularInputMasked.vue';
import RegularButton from '../../components/primitives/RegularButton.vue';
export default {
  name: 'AuthorityKidModal',
  mixins: [validationMixin],

  data: function() {
    return {
      authority: {},
      loginRemember: false,
      newKidAcceptShow: false,
    };
  },
  components: {
    RegularInput,
    RegularButton,
    RegularInputMasked,
    AuthorityKidAccept,
  },
  computed: {
    ...mapState({
      tempAuthority: state => state.user.tempAuthority,
      activeKid: state => state.user.activeKid,
    }),
  },
  validations: {
    authority: {
      phone: {
        required,
      },
      name: {
        required,
      },
      surname: {
        required,
      },
    },
  },
  methods: {
    apply() {
      this.$emit('apply', {
        authority: this.tempAuthority,
        kid: this.activeKid,
      });
      this.newKidAcceptShow = false;
    },
    close() {
      this.newKidAcceptShow = false;
      this.$store.commit('user/CLEAR_AUTHORITY');
      this.$emit('close');
    },
    search() {
      const regEx = /[^\d]/g;
      let params = {
        username: this.authority?.phone?.replace(regEx, ''),
        surname: this.authority.surname,
      };
      this.$store.dispatch('user/findUser', params).then(() => {
        this.newKidAcceptShow = true;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.new-kid {
  &__modal {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
  &__form {
    width: 100%;
    @media screen and (max-width: 500px) {
      width: auto;
    }

    &__buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        @media screen and (max-width: 500px) {
          margin: 10px auto;
        }
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
</style>
