<template>
  <div class="new-kid-accept">
    <div class="new-kid-accept__modal">
      <div v-if="!tempAuthority.id" class="new-kid-accept__modal__main">
        <h2>{{ $t('user.parents.userNotFound') }}</h2>
      </div>
      <div v-else class="new-kid-accept__modal__main">
        <div class="new-kid-accept__modal__main__foto">
          <img :src="tempAuthority.image" />
        </div>
        <div class="new-kid-accept__modal__main__info">
          <table>
            <tr>
              <td>{{ $t('user.fields.name') }}</td>
              <td class="value">{{ tempAuthority.name }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.secondName') }}</td>
              <td class="value">{{ tempAuthority.surname }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.birthday') }}</td>
              <td class="value">{{ tempAuthority.birthday }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.phone') }}</td>
              <td class="value">{{ numberToNormal(tempAuthority.login) }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="new-kid-accept__modal__buttons">
        <regular-button
          v-show="tempAuthority.id"
          :elClass="['corporate']"
          @click="apply"
        >
          {{ $t('user.buttons.attach') }}
        </regular-button>
        <regular-button :elClass="['red']" @click="close">
          {{ $t('user.buttons.cancel') }}
        </regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import RegularButton from '../../components/primitives/RegularButton.vue';
export default {
  name: 'AuthorityKidAccept',
  computed: {
    ...mapState({
      tempAuthority: state => state.user.tempAuthority,
      coreURL: state => state.common.urls.core,
    }),
  },
  components: {
    RegularButton,
  },
  methods: {
    numberToNormal(login) {
      if (login?.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
    close() {
      this.$emit('close');
    },
    apply() {
      this.$emit('apply');
    },
  },
};
</script>

<style lang="scss" scoped>
.new-kid-accept {
  &__modal {
    background-color: $white;
    padding: 20px;
    min-width: 500px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;

    &__main {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__foto {
        padding: 10px;
        img {
          border-radius: 10px;
          max-width: 250px;
        }
      }
      &__info {
        table {
          width: 100%;
          tr {
            td {
              padding: 5px;
              &.value {
                font-weight: 500;
                font-size: $regular + 2px;
              }
            }
          }
        }
      }
    }
    &__buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
</style>
