<template>
  <div class="event">
    <div class="event__photo">
      <img src="@/assets/img/svg/event.svg" alt="Photo" />
    </div>
    <div class="event__body">
      <div class="event__body__header">
        <p v-if="!event.disableButtons" class="event__body__header__time">
          {{ format(new Date(event.start), 'HH:mm') }}
        </p>
        <p class="event__body__header__title">{{ event.title }}</p>
      </div>
      <div class="event__body__description">{{ event.description }}</div>
      <div v-show="!event.disableButtons" class="event__body__buttons">
        <btn
          @click="$emit('openProduct')"
          :elClass="['corporate-light-radius-small']"
          >Перейти к событию</btn
        >
        <btn @click="$emit('openProduct')" :elClass="['corporate-radius-small']"
          >Купить</btn
        >
      </div>
    </div>
  </div>
</template>
<script>
import RegularButton from '@/components/primitives/RegularButton';
export default {
  name: 'Event',
  props: {
    event: Object,
    format: Function,
  },
  components: {
    btn: RegularButton,
  },
};
</script>
<style lang="scss" scoped>
.event {
  margin-top: 0px;
  background-color: #fafafa;
  padding: 0 20px 0 0;
  border-radius: 15px;
  border: 1px solid $border;
  position: relative;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

  }

  &__photo {
    width: 200px;
    padding: 10px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    @media screen and (max-width: 800px) {
      text-align: center;
    }

    &__header {
      width: 100%;

      p {
        font-size: $big;
      }
      @media screen and (max-width: 800px) {
        p {
          font-size: $semi-big;
        }
      }
      &__time {
        color: $light-grey-font;
      }
      &__title {
        margin-left: 7px;
        color: $corporate;
        font-weight: 600;
      }
    }
    &__description {
      margin-bottom: 10px;
    }
    &__buttons {
      width: 320px;
      align-self: flex-end;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
</style>
