<template>
  <div class="company">
    <object-step1-registered
      class="company__step"
      v-bind="$props"
      :disableAll="step1.disabled"
      :collapsed="step1.collapsed"
      v-on="$listeners"
      @userRegistered="updateUser"
      @collapse="collapse('step1')"
    />
    <partner-step2
      class="company__step"
      :disableAll="step2.disabled"
      :collapsed="step2.collapsed || step2.locked"
      :register="objectRegister"
      @apply="applyEntity"
      @input="updateObject"
      @collapse="collapse('step2')"
    />
    <partner-step3
      class="company__step"
      :disableAll="false"
      :collapsed="step3.collapsed || step3.locked"
      :register="objectRegister"
      :userID="userID"
      @apply="applyContacts"
      @input="updateObject"
      @collapse="collapse('step3')"
    />
    <partner-step4
      class="company__step"
      :disableAll="false"
      :collapsed="step4.collapsed || step4.locked"
      @collapse="collapse('step4')"
    />
  </div>
</template>

<script>
import ObjectStep1Registered from '@/components/home/auth/ObjectStep1Registered';
import PartnerStep2 from '@/components/home/auth/ObjectStep2';
import PartnerStep3 from '@/components/home/auth/ObjectStep3';
import PartnerStep4 from '@/components/home/auth/ObjectStep4';

export default {
  name: 'ParentRegisterObject',
  components: {
    ObjectStep1Registered,
    PartnerStep2,
    PartnerStep3,
    PartnerStep4,
  },
  props: {
    register: Object,
  },
  data: function() {
    return {
      userID: null,
      currentStep: 1,
      step1: {
        collapsed: false,
        disabled: false,
      },
      step2: {
        collapsed: true,
        disabled: true,
        locked: true,
      },
      step3: {
        collapsed: true,
        disabled: true,
        locked: true,
      },
      step4: {
        collapsed: true,
        disabled: true,
        locked: true,
      },
      objectRegister: {
        inn: null,
        name: null,
        fullName: null,
        kpp: null,
        address: null,
        paymentAccount: null,
        bankBik: null,
        bankName: null,
        objectEmail: null,
        objectName: null,
      },
    };
  },
  methods: {
    collapse(step) {
      this.$set(this.$data[step], 'collapsed', !this.$data[step]?.collapsed);
      for (let i = 1; i < 5; i++) {
        if (step != `step${i}`) {
          this.$set(this.$data[`step${i}`], 'collapsed', true);
        }
      }
    },
    updateUser(val) {
      console.log(val);
      this.userID = val;
      this.currentStep = 2;
      this.$set(this.step1, 'collapsed', true);
      this.$set(this.step1, 'disabled', true);
      this.$set(this.step2, 'collapsed', false);
      this.$set(this.step2, 'disabled', false);
      this.$set(this.step2, 'locked', false);
    },
    applyEntity() {
      this.$set(this.step2, 'collapsed', true);
      this.$set(this.step3, 'collapsed', false);
      this.$set(this.step3, 'disabled', false);
      this.$set(this.step3, 'locked', false);
    },
    applyContacts() {
      this.$set(this.step1, 'locked', true);
      this.$set(this.step2, 'collapsed', true);
      this.$set(this.step2, 'disabled', true);
      this.$set(this.step2, 'locked', true);
      this.$set(this.step3, 'collapsed', true);
      this.$set(this.step3, 'disabled', true);
      this.$set(this.step3, 'locked', true);
      this.$set(this.step4, 'collapsed', false);
      this.$set(this.step4, 'disabled', false);
      this.$set(this.step4, 'locked', false);
    },
    updateObject(val) {
      this.$set(this.objectRegister, val.key, val.value);
    },
  },
};
</script>

<style lang="scss" scoped>
.company {
  padding: 20px;
  &__step {
    max-width: 600px;
    margin: 0px auto 20px auto;
  }
}
</style>
