<template>
  <section class="register">
    <reflective-hover
      :elClass="['register__header']"
      :elText="`${$t('home.registerParentsKid.title')} ${$route.params.kid}`"
    />
    <p>Для завершения регистрации ребенка введите его Имя и Фамилию.</p>
    <form name="kids-data">
      <regular-input
        elId="child-name"
        :elLabel="$t('home.fields.kidsName') + '*'"
        v-model="register.childName"
      />
      <regular-input
        elId="child-surname"
        :elLabel="$t('home.fields.kidsSecondName') + '*'"
        v-model="register.childSurname"
      />

      <regular-checkbox
        elValue="personalData"
        @click="register.personalData = !register.personalData"
        :elChecked="register.personalData"
        elId="personalData"
      >
        {{ $t('home.register.dataRequest') }}
        {{ $tc('home.register.personalData', 2) }} *
      </regular-checkbox>
    </form>
    <div class="register__buttons">
      <regular-button :elClass="['corporate']" @click="registerApply">
        {{ $t('home.buttons.register') }}
      </regular-button>
    </div>
  </section>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import RegularInput from '@/components/primitives/RegularInput';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularCheckbox from '@/components/primitives/RegularCheckbox.vue';
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover.vue';

export default {
  name: 'RegisterKid',
  components: {
    RegularInput,
    RegularButton,
    RegularCheckbox,
    ReflectiveHover,
  },
  data: function() {
    return {
      register: {
        userId: null,
        childName: null,
        childSurname: null,
      },
    };
  },
  async mounted() {
    this.userId = localStorage.getItem('userId');
  },
  methods: {
    async registerApply() {
      const authRepository = RepositoryFactory.get('auth');
      let data = {
        parent_id: this.userId,
        child_id: this.$route.params?.kid,
        name: this.register?.childName,
        surname: this.register?.childSurname,
      };
      try {
        const resp = await authRepository.registerKid(JSON.stringify(data));
        if (resp.data?.status == 'ok') {
          componentErrorHandler(
            this,
            'Регистрация',
            'Регистрация прошла успешно',
            'success'
          );
        } else {
          componentErrorHandler(
            this,
            'Регистрация',
            `Возникла ошибка во время регистрации:  "${resp.data.message}"`,
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.register {
  padding: 20px;
}
</style>
