<template>
  <div>
    <div class="user-info-back" @click="closeModal"></div>
    <div class="user-info">
      <div class="user-info__container">
        <div class="user-info__container__image" :style="userImage">
          <!-- <img class="user-info__container__image__item" :src="userInfo.image"> -->
        </div>
        <div class="user-info__container__text">
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.name') }}: </span
            >{{ userInfo.name }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.secondName') }}: </span
            >{{ userInfo.surname }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.phone') }}: </span
            >{{ userInfo.phone }}</span
          >
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >{{ $t('elements.email') }}: </span
            >{{ userInfo.email }}</span
          >
          <!-- <span class="user-info__container__text__item"><span class="user-info__container__text__item__field">{{ $t('elements.gender') }}: </span>{{ $t('constants.'+userInfo.gender)}}</span> -->
          <br /><br />
          <span class="user-info__container__text__item"
            ><span class="user-info__container__text__item__field"
              >Остаток на счете: </span
            >{{ (userInfo.account_main * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}</span
          >
          <br /><br />
          <span
            >Доверенности:
            <br />
            <b :key="item.id" v-for="item in userInfo.authority">
              {{ `${item.name} ${item.surname} - ${item.phone}` }}
              <br />
            </b>
          </span>
          <br /><br />
          <span>Родители: </span>
          <br />
          <div v-if="!loading">
            <b :key="item.id" v-for="item in parents">
              {{ `${item.name} ${item.surname} - ${item.phone}` }}
              <br />
            </b>
          </div>
          <div v-else class="loader">
            <div class="loader__spiner">
              <span />
              <span />
              <span />
            </div>
          </div>
        </div>
      </div>
      <div class="user-info__buttons">
        <regular-button :elClass="['red']" @click="closeModal">{{
          $t('user.buttons.ok')
        }}</regular-button>
        <regular-button :elClass="['corporate']" @click="reScan">{{
          $t('elements.securityMain')
        }}</regular-button>
      </div>
    </div>
  </div>
</template>

<script>
//TODO перевод

import RegularButton from './../primitives/RegularButton.vue';
import { mapState } from 'vuex';

export default {
  props: {
    userInfo: Object,
    parents: Array,
    loading: {
      type: Boolean,
      default: false,
    },
  },
  name: 'SecurityModal',
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
    }),
    userImage() {
      return this.userInfo.image
        ? 'background-image: url(' + this.userInfo?.image + ');'
        : `background-image: url(${require('@/assets/img/svg/avatar.svg')})`;
    },
  },
  components: {
    RegularButton,
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    reScan() {
      this.$emit('rescan');
    },
    applyPay() {
      this.$emit('apply');
    },
  },
};
</script>

<style lang="scss" scoped>
.user-info-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  z-index: 999;
}
.user-info {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, -50%);
  background-color: $grey;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);

  &__container {
    display: flex;
    flex-direction: row;

    &__image {
      width: 300px;
      height: 300px;
      padding: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 10px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      padding: 10px;

      &__item {
        font-weight: 400;
        font-size: $regular + 2px;

        &__field {
          font-weight: 200;
          font-size: $regular;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.loader {
  &__spiner {
    border-radius: 100%;
    position: relative;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $corporate;
      margin: 10px 5px;
      opacity: 0;

      &:nth-child(1) {
        animation: opacitychange 1s ease-in-out infinite;
      }
      &:nth-child(2) {
        animation: opacitychange 1s ease-in-out 0.33s infinite;
      }
      &:nth-child(3) {
        animation: opacitychange 1s ease-in-out 0.66s infinite;
      }
    }
  }
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
</style>
