// Компонент каталогов товаров и списка товаров
<template>
  <li>
    <div
      class="category bold"
      :class="{
        selected:
          categoryToBan.findIndex(i => i === item.id) >= 0 ||
          (categoryRestricts.find(i => i.category_id == item.id) &&
            categoryToUnban.findIndex(i => i === item.id) < 0),
      }"
      @dblclick="toggle"
    >
      <span class="category__badge" v-if="isFolder" @click="toggle">{{
        isOpen ? '-' : '+'
      }}</span>
      <span class="category__no-badge" v-if="!isFolder" @click="toggle"> </span>
      <span class="category__title" @click="selectCategory(item.id)">{{
        item.name
      }}</span>
    </div>
    <ul class="category__product" v-show="isOpen">
      <li
        :class="{
          selected:
            (productsToBan.findIndex(i => i === product.id) >= 0 ||
              productsRestricts.find(i => i.product_id == product.id)) &&
            productsToUnban.findIndex(i => i === product.id) < 0,
        }"
        class="category__product__item"
        v-for="(product, key) in productsInCategory"
        :key="key"
        @click="selectProduct(product.id)"
        v-show="product.product_status_id == 1"
      >
        <span class="category__product__item__name">{{ product.name }}</span>
      </li>
    </ul>
    <ul v-show="isOpen" v-if="isFolder">
      <shop-catalog-categories
        class="item"
        v-for="(child, index) in item.children"
        :selected="selected"
        :products="products"
        :key="index"
        :item="child"
        :categoryToBan="categoryToBan"
        :productsToBan="productsToBan"
        :categoryToUnban="categoryToUnban"
        :productsToUnban="productsToUnban"
        :categoryRestricts="categoryRestricts"
        :productsRestricts="productsRestricts"
        @selectProduct="selectProduct"
        @selectCategory="selectCategory"
      ></shop-catalog-categories>
    </ul>
  </li>
</template>

<script>
import ShopCatalogCategories from './ShopCatalogCategories.vue';

export default {
  name: 'ShopCatalogCategories',
  components: {
    ShopCatalogCategories,
  },
  props: {
    item: Object,
    selected: Object,
    products: Array,
    categoryToBan: {
      type: Array,
      default() {
        return [];
      },
    },
    productsToBan: {
      type: Array,
      default() {
        return [];
      },
    },
    categoryToUnban: {
      type: Array,
      default() {
        return [];
      },
    },
    productsToUnban: {
      type: Array,
      default() {
        return [];
      },
    },
    categoryRestricts: {
      type: Array,
      default() {
        return [];
      },
    },
    productsRestricts: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data: function() {
    return {
      isOpen: false,
    };
  },
  computed: {
    isFolder: function() {
      // return this.item.children &&
      // this.item.children.length>0
      return true;
    },
    productsInCategory() {
      return this.products.filter(x => x.category_id == this.item.id);
    },
    categories() {
      let categoriesNested = [];
      function search(category) {
        categoriesNested.push(category.id);
        if (category.children) {
          category.children.map(child => search(child));
        }
      }
      search(this.selected);
      return categoriesNested;
    },
  },
  methods: {
    toggle() {
      if (this.isFolder) {
        this.isOpen = !this.isOpen;
        this.$emit('selectItem', {});
      }
    },
    selectProduct(item) {
      this.$emit('selectProduct', item);
    },
    selectCategory(item) {
      this.$emit('selectCategory', item);
    },
  },
};
</script>

<style lang="scss" scoped>
.category {
  &.bold {
    font-size: $regular;
    font-weight: 800;
  }
  &.selected {
    background-color: $red;
    background-blend-mode: multiply;
  }

  &__badge {
    padding: 0 10px;
    font-size: 18px;
  }
  &__no-badge {
    padding-left: 30px;
  }

  &__title {
    font-size: $regular + 2px;
  }

  &__product {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0px 5px 40px;
      &.selected {
        background-color: rgba(255, 0, 0, 0.5);
      }
      &__name {
        font-size: $regular + 4px;
        font-weight: 400;
      }
      &__price {
        padding-left: 10px;
        min-width: 100px;
      }
    }
  }
}

.item {
  cursor: pointer;
  font-size: $small;
  font-weight: 500;
  padding-bottom: 5px;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: none;
}
</style>
