// Компонент каталогов товаров и списка товаров
<template>
  <li>
    <div class="category bold" @dblclick="toggle">
      <span class="category__badge" v-if="isFolder" @click="toggle">
        <img
          v-if="isOpen"
          src="@/assets/img/svg/common-icons/folder-open.svg"
          alt="folder"
        />
        <img
          v-else
          src="@/assets/img/svg/common-icons/folder.svg"
          alt="folder"
        />
      </span>
      <span class="category__no-badge" v-if="!isFolder" @click="toggle"></span>
      <span class="category__title" @click="toggle"
        ><slot :item="item" name="item">{{ item.name }}</slot></span
      >
    </div>
    <ul v-show="isOpen" v-if="isFolder">
      <shop-catalog-categories-design
        class="item"
        v-for="child in item.children"
        :selected="selected"
        :products="products"
        :key="child.id"
        :item="child"
        @selectProduct="selectProduct"
      >
        <template v-slot:item="props"
          ><slot v-bind="props" name="item"
        /></template>
        <template v-slot:product="props"
          ><slot v-bind="props" name="product"
        /></template>
      </shop-catalog-categories-design>
    </ul>
    <ul class="category__product" v-show="isOpen">
      <li
        class="category__product__item"
        v-for="product in productsInCategory"
        :key="product.id"
        @click="selectProduct(product.id)"
        v-show="product.product_status_id == 1"
      >
        <span class="category__product__item__name"
          ><slot :product="product" name="product">{{
            product.name
          }}</slot></span
        >
      </li>
    </ul>
  </li>
</template>

<script>
import ShopCatalogCategoriesDesign from './ShopCatalogCategoriesDesign.vue';

export default {
  name: 'ShopCatalogCategoriesDesign',
  components: {
    ShopCatalogCategoriesDesign,
  },
  props: {
    item: [Object, Array],
    selected: Object,
    products: Array,
  },
  data: function() {
    return {
      isOpen: false,
    };
  },
  computed: {
    isFolder: function() {
      // return this.item.children &&
      // this.item.children.length>0
      return true;
    },
    productsInCategory() {
      return this.products.filter(x => x.category_id == this.item.id);
    },
    categories() {
      let categoriesNested = [];
      function search(category) {
        categoriesNested.push(category.id);
        if (category.children) {
          category.children.map(child => search(child));
        }
      }
      search(this.selected);
      return categoriesNested;
    },
  },
  methods: {
    toggle() {
      if (this.isFolder) {
        this.isOpen = !this.isOpen;
        this.$emit('selectItem', {});
      }
    },
    selectProduct(item) {
      this.$emit('selectProduct', item);
    },
  },
};
</script>

<style lang="scss" scoped>
.category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &.bold {
    font-size: $regular;
    font-weight: 800;
  }
  &.selected {
    background-color: $red;
    background-blend-mode: multiply;
  }

  &__badge {
    padding: 0 10px;

    img {
      height: 20px;
    }
  }
  &__no-badge {
    padding-left: 40px;
  }

  &__title {
    font-size: $regular + 2px;
  }

  &__product {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 5px 0px 5px 20px;
      &.selected {
        background-color: rgba(255, 0, 0, 0.5);
      }
      &__name {
        font-size: $regular + 4px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        * {
          font-size: $regular + 4px;
          font-weight: 400;
        }
      }
      &__price {
        padding-left: 10px;
        min-width: 100px;
      }
      &__marker {
        padding: 0 10px;
      }
    }
  }
}

.item {
  position: relative;
  cursor: pointer;
  font-size: $small;
  font-weight: 500;
  padding-bottom: 5px;
}
ul {
  padding-left: 30px;
  line-height: 1.5em;
  list-style-type: none;
}
</style>
