<template>
  <div class="side-link">
    <router-link
      :class="{ '-active': $route.path.indexOf(link) != -1 }"
      class="side-link__anchor"
      :to="link"
    >
      {{ name }}
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    name: null,
    link: null,
  },
  mounted() {
    // console.log(this.$route);
  },
};
</script>

<style lang="scss" scoped>
.side-link {
  &__anchor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: $dark-grey-font;
    margin: 10px 0;

    &.-active {
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
