<template>
  <div class="sidebar-kid">
    <div class="sidebar-kid__container" @click="$emit('activate', kid)">
      <div class="sidebar-kid__ava" :style="currentKidAva"></div>
      <div class="sidebar-kid__info">
        <h4 class="sidebar-kid__info__name">
          <span v-if="kid.name">{{ kid.name }} </span>
          <span v-if="kid.surname"> {{ kid.surname }}</span>
        </h4>
        <span
          v-if="kid.login && kid.id == activeKid.id"
          class="sidebar-kid__info__phone"
        >
          {{ $t('user.common.login') }}:
          <strong>{{ numberToNormal(kid.login) }}</strong>
        </span>
        <span v-if="kid.id == activeKid.id" class="sidebar-kid__info__balance">
          {{ $t('user.common.balance') }}:
          <strong v-if="account">{{
            `${(account.main * currentCurrency.ratio).toFixed(2)}
            ${currentCurrency.abbr}`
          }}</strong>
          <strong v-else>-</strong>
        </span>
      </div>
    </div>
    <div v-if="kid.id === activeKid.id" class="sidebar-kid__categories">
      <kid-category
        v-for="category in ParentKids"
        :disabled="
          kidsDepartments &&
            !kidsDepartments.find(item => item.user_id === activeKid.id)[
              category.id
            ]
        "
        :key="category.id"
        :category="category"
        :activeCategory="activeCategory"
        @activateCategory="activateCategory"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import KidCategory from '@/components/user/sideBar/KidCategory';

import { kidsCategoriesLink } from '@/helpers/data/usersLinks';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

const UserRepository = RepositoryFactory.get('user');

export default {
  name: 'SideBarKid',
  components: {
    KidCategory,
  },
  mixins: [kidsCategoriesLink],
  props: {
    kid: {},
  },
  data() {
    return {
      activeCategory: '',
      account: null,
    };
  },
  watch: {
    async activeCategory() {
      this.$store.commit(
        'user/SET_ACTIVE_DEPARTMENT',
        this.kidsDepartments.find(item => item.user_id === this.activeKid.id)[
          this.activeCategory
        ]
      );
      try {
        const resp = await UserRepository.getAccountInfo({
          user_id: this.activeKid.id,
        });
        if (resp.data.status === 'ok') {
          this.account = resp.data.data.find(
            item => item.department_id === this.department
          );
        } else {
          this.account = null;
        }
      } catch (e) {
        console.log(e);
      }
    },
  },
  computed: {
    ...mapState({
      activeKid: state => state.user.activeKid,
      currentCurrency: state => state.common.currentCurrency,
      kidsDepartments: state => state.user.kidsDepartments,
      department: state => state.user.activeDepartment,
    }),
    currentKidAva() {
      return this.kid.image
        ? 'background-image: url(' + this.kid.image + ');'
        : '';
    },
  },
  methods: {
    numberToNormal(login) {
      if (login.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
    activateCategory(val) {
      if (this.activeCategory === val) {
        this.activeCategory = null;
        this.account = null;
      } else {
        this.activeCategory = val;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar-kid {
  margin-bottom: 20px;
  position: relative;

  &__container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
  }
  &__categories {
    &__authority {
      position: relative;
      padding: 10px 20px;
      background-color: $background-grey;
      cursor: pointer;

      &__title {
        font-weight: 600;
        font-size: $regular + 2px;
      }
    }
  }

  &__ava {
    content: '';
    height: 40px;
    width: 40px;
    background-color: $grey;
    margin-right: 10px;
    border-radius: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $grey;
    background-image: url('./../../assets/img/svg/avatar.svg');
  }
  &__info {
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 10px;

    &__name {
      color: $black-font;
      font-size: $regular;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 10px;
    }
    &__phone {
      display: block;
      color: $dark-grey-font;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $black-font;
        font-size: $regular;
        font-weight: 500;
      }
    }
    &__balance {
      display: block;
      color: $dark-grey-font;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $black-font;
        font-size: $regular;
        font-weight: 500;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    bottom: 0;
    left: 10px;
    background-color: $grey;
  }
}
</style>
