<template>
  <div class="notification">
    <h2
      class="notification__title"
      v-if="notification.sender_role && sender[notification.sender_role]"
    >
      {{ sender[notification.sender_role] }}
    </h2>
    <time
      datetime="notification.notification_time"
      class="notification__date"
      >{{
        format(new Date(notification.notification_time), 'dd.MM.yyyy hh:mm')
      }}</time
    >
    <p class="notification__text">{{ notification.message }}</p>
  </div>
</template>

<script>
import { format } from 'date-fns';

import { notifications } from '@/helpers/data/notifications';

export default {
  name: 'NotificationHistoryItem',
  mixins: [notifications], //Объект Sender
  props: {
    notification: Object,
  },
  data: function() {
    return {
      format,
    };
  },
};
</script>

<style lang="scss" scoped>
.notification {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  border-bottom: 1px solid $border;

  &__title {
    font-size: $semi-big;
    border-bottom: 2px solid $corporate;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  &__date {
  }
  &__text {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
</style>
