<template functional>
  <div class="camp">
    <div
      style=" background-color: rgba(131, 224, 228, .1);"
      class="block block1"
    >
      <h2 class="block__title">
        {{ parent.$t('home.partner.camp.automationTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.camp.automationText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/notebook.png"
        alt=""
      />
    </div>
    <div
      style="background-color: rgba(255, 219, 146, .1);"
      class="block block2"
    >
      <h2 class="block__title">
        {{ parent.$t('home.partner.camp.eventsTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.camp.eventsText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/calendar1.png"
        alt=""
      />
    </div>
    <div style="background-color: rgba(191, 155, 80, .1);" class="block block3">
      <img
        class="block__img"
        src="@/assets/img/home/partners/email.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.camp.notificationTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.camp.notificationText') }}
      </p>
    </div>
    <div style="background-color: rgba(96, 223, 228, .1);" class="block block4">
      <h2 class="block__title">
        {{ parent.$t('home.partner.camp.paymentTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.camp.paymentText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/qr-phones.png"
        alt=""
      />
    </div>
    <div style="background-color: rgba(46, 195, 202, .1);" class="block block5">
      <h2 class="block__title">
        {{ parent.$t('home.partner.camp.purchaseTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.camp.purchaseText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/restrictions.png"
        alt=""
      />
    </div>
    <div
      style="background-color: rgba(131, 224, 228, .1);"
      class="block block6"
    >
      <h2 class="block__title">
        {{ parent.$t('home.partner.camp.accessTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.camp.accessText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/push.jpg"
        alt=""
      />
    </div>
    <div class="block block7">
      <component
        :is="injections.components.HomeButton"
        :elClass="['corporate']"
        @myclick="listeners['redirectSignUp']"
        class="home-button"
      >
        {{ parent.$t('home.buttons.registerPartner') }}
        <img src="@/assets/img/svg/arrow.svg" alt="Arrow Right" />
      </component>
    </div>
  </div>
</template>

<script>
import HomeButton from '@/components/primitives/HomeButton';
export default {
  functional: true,
  name: 'Camp',
  inject: {
    components: {
      default: {
        HomeButton,
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.camp {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  margin-top: -50px;

  @media screen and (max-width: 800px) {
    margin-top: -50px;
  }

  .block {
    width: 48%;
    height: 600px;
    margin: 1%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

    @media screen and (max-width: 800px) {
      width: 98%;
    }

    @media screen and (max-width: 500px) {
      height: 500px;
    }

    &:nth-child(2n + 1) {
      margin-top: -300px;
      @media screen and (max-width: 800px) {
        margin-top: 1%;
      }
    }

    &.block1 .block__title {
      margin-top: 120px;
      @media screen and (max-width: 800px) {
        margin-top: 0;
      }
    }
    &.block2 .block__img {
      max-height: 100%;
      margin-bottom: -150px;
      @media screen and (max-width: 450px) {
        max-height: 80%;
      }
    }

    &.block3 .block__img {
      max-height: 40%;
      transform: rotate(20deg);
      margin-bottom: 30px;
    }
    &.block4 .block__img {
      max-height: 80%;
      margin-left: 50%;
      max-width: 50%;
      margin-bottom: -100px;
    }
    &.block5 .block__img {
      max-height: 70%;
      @media screen and (max-width: 500px) {
        max-width: 40%;
      }
    }
    &.block6 .block__img {
      max-height: 65%;
      margin-left: 50px;
    }

    &.block7 {
      height: auto;
      padding-top: 175px;
      padding-left: 0;
      padding-right: 0;
      @media screen and (max-width: 800px) {
        padding-top: 20px;
      }

      .home-button {
        min-width: 100%;
      }
    }

    &__title {
      text-align: center;
      font-size: $big;
      font-weight: 200;
    }
    &__text {
      text-align: center;
      color: $black-font;
      max-width: 350px;
    }
    &__img {
      max-width: 80%;
      max-height: 100%;
    }
  }
}
</style>
