<template functional>
  <div class="kindergarten partner__description">
    <div
      style=" background-color: rgba(131, 224, 228, .1);"
      class="block block1"
    >
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/automation.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.automationTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.automationText') }}
      </p>
    </div>
    <div
      style="background-color: rgba(255, 219, 146, .1);"
      class="block block2"
    >
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.messengerTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.messengerText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/messenger.png"
        alt=""
      />
    </div>
    <div style="background-color: rgba(191, 155, 80, .1);" class="block block3">
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.paymentTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.paymentText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/payment.png"
        alt=""
      />
    </div>
    <div style="background-color: rgba(46, 195, 202, .1);" class="block block5">
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.scheduleTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.scheduleText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/schedule.png"
        alt=""
      />
    </div>
    <div
      style="background-color: rgba(131, 224, 228, .1);"
      class="block block6"
    >
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/service.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.serviceTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.serviceText') }}
      </p>
    </div>
    <div
      style="background-color: rgba(255, 219, 146, .1);"
      class="block block7"
    >
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/docs.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.docsTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.docsText') }}
      </p>
    </div>
    <div style="background-color: rgba(191, 155, 80, .1);" class="block block8">
      <h2 class="block__title">
        {{ parent.$t('home.partner.kindergarten.classesTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.kindergarten.classesText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/kindergarten/classes.png"
        alt=""
      />
    </div>
    <div class="block block9">
      <component
        :is="injections.components.HomeButton"
        :elClass="['corporate']"
        @myclick="listeners['redirectSignUp']"
        class="home-button"
      >
        {{ parent.$t('home.buttons.registerPartner') }}
        <img src="@/assets/img/svg/arrow.svg" alt="Arrow Right" />
      </component>
    </div>
  </div>
</template>
<script>
import HomeButton from '@/components/primitives/HomeButton';
export default {
  functional: true,
  name: 'Kindergarten',
  inject: {
    components: {
      default: {
        HomeButton,
      },
    },
  },
};
</script>
<style lang="scss" scoped>
.kindergarten {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  margin-top: -50px;
  margin-bottom: -120px;

  @media screen and (max-width: 800px) {
    margin-top: -50px;
    margin-bottom: 0px;
  }

  .block {
    width: 48%;
    height: 600px;
    margin: 1%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

    @media screen and (max-width: 800px) {
      width: 98%;
    }

    @media screen and (max-width: 500px) {
      height: 500px;
    }

    &:nth-child(2n + 1) {
      margin-top: -300px;
      @media screen and (max-width: 800px) {
        margin-top: 1%;
      }
    }

    &.block1 .block__img {
      max-height: 190px;
      margin-top: 120px;

      @media screen and (max-width: 800px) {
        margin-top: 0;
        max-height: 250px;
      }
    }

    &.block4 .block__img {
      @media screen and (max-width: 400px) {
        max-width: 40%;
      }
    }
    &.block9 {
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      padding: 0;
      border-radius: 0;

      @media screen and (max-width: 800px) {
        height: auto;
        padding-top: 20px;
      }

      .home-button {
        min-width: 100%;
        margin-top: -161px;
        @media screen and (max-width: 800px) {
          margin-top: 10px;
        }
      }
    }
    &__title {
      text-align: center;
      font-size: $big;
      font-weight: 200;
    }
    &__text {
      text-align: center;
      color: $black-font;
      max-width: 350px;
    }
    &__img {
      max-width: 80%;
      max-height: 250px;
    }
  }
}
</style>
