<template functional>
  <div class="school">
    <div
      style=" background-color: rgba(131, 224, 228, .1);"
      class="block block1"
    >
      <h2 class="block__title -with-sub">
        {{ parent.$t('home.partner.school.skudTitle') }}
      </h2>
      <h3 class="block__title__sub">
        {{ parent.$t('home.partner.school.skudSubTitle') }}
      </h3>
      <p class="block__text">
        {{ parent.$t('home.partner.school.skudText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/skud.png"
        alt=""
      />
    </div>
    <div
      style="background-color: rgba(255, 219, 146, .1);"
      class="block block2"
    >
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.messengerTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.messengerText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/messenger.png"
        alt=""
      />
    </div>
    <div style="background-color: rgba(191, 155, 80, .1);" class="block block3">
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/payment.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.paymentTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.paymentText') }}
      </p>
    </div>
    <div style="background-color: rgba(96, 223, 228, .1);" class="block block4">
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.tradeTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.tradeText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/trade.png"
        alt=""
      />
    </div>
    <div style="background-color: rgba(46, 195, 202, .1);" class="block block5">
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/schedule.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.scheduleTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.scheduleText') }}
      </p>
    </div>
    <div
      style="background-color: rgba(131, 224, 228, .1);"
      class="block block6"
    >
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.serviceTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.serviceText') }}
      </p>
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/service.png"
        alt=""
      />
    </div>
    <div
      style="background-color: rgba(255, 219, 146, .1);"
      class="block block7"
    >
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/docs.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.docsTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.docsText') }}
      </p>
    </div>
    <div style="background-color: rgba(191, 155, 80, .1);" class="block block8">
      <img
        class="block__img"
        src="@/assets/img/home/partners/school/classes.png"
        alt=""
      />
      <h2 class="block__title">
        {{ parent.$t('home.partner.school.classesTitle') }}
      </h2>
      <p class="block__text">
        {{ parent.$t('home.partner.school.classesText') }}
      </p>
    </div>
    <div class="block block9">
      <component
        :is="injections.components.HomeButton"
        :elClass="['corporate']"
        @myclick="listeners['redirectSignUp']"
        class="home-button"
      >
        {{ parent.$t('home.buttons.registerPartner') }}
        <img src="@/assets/img/svg/arrow.svg" alt="Arrow Right" />
      </component>
    </div>
  </div>
</template>
<script>
import HomeButton from '@/components/primitives/HomeButton';
export default {
  functional: true,
  name: 'School',
  inject: {
    components: {
      default: {
        HomeButton,
      },
    },
  },
};
</script>
<style lang="scss" scoped>
.school {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  margin-top: -50px;

  @media screen and (max-width: 800px) {
    margin-top: -50px;
  }

  .block {
    width: 48%;
    height: 600px;
    margin: 1%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

    @media screen and (max-width: 800px) {
      width: 98%;
    }

    @media screen and (max-width: 500px) {
      height: 500px;
    }

    &:nth-child(2n + 1) {
      margin-top: -300px;
      @media screen and (max-width: 800px) {
        margin-top: 1%;
      }
    }

    &.block1 .block__title {
      margin-top: 120px;

      &.-with-sub {
        margin-bottom: 5px;
      }

      &__sub {
        margin: 0;
        font-size: $semi-big;
        font-weight: 300;
      }

      @media screen and (max-width: 800px) {
        margin-top: 0;
      }
    }

    &__title {
      text-align: center;
      font-size: $big;
      font-weight: 200;
    }
    &__text {
      text-align: center;
      color: $black-font;
      max-width: 350px;
    }
    &__img {
      max-width: 80%;
      max-height: 250px;
    }
    &.block1 {
      .block__img {
        max-height: 190px;
        @media screen and (max-width: 800px) {
          max-height: 250px;
        }
      }
    }
    &.block2 {
      .block__img {
        max-height: 350px;
        margin-bottom: -84px;
        @media screen and (max-width: 1200px) {
          margin-bottom: -128px;
        }
        @media screen and (max-width: 800px) {
          margin-bottom: -84px;
        }
      }
    }
    &.block9 {
      height: auto;
      padding-top: 175px;
      padding-left: 0;
      padding-right: 0;
      @media screen and (max-width: 800px) {
        padding-top: 20px;
      }

      .home-button {
        min-width: 100%;
      }
    }
  }
}
</style>
