<template functional>
  <div class="qr-button">
    <img class="qr-button__image" src="@/assets/img/svg/calendar.svg" />
  </div>
</template>

<style lang="scss" scoped>
.qr-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px 20px;

  img {
    max-height: calc(100% - 20px);
    transition: all 0.5s;
    margin-top: 0;
  }

  &:hover {
    img {
      transition: all 0.5s;
      max-height: calc(100% - 10px);
      margin: -5px;
    }
  }
}
</style>
