<template>
  <div v-click-outside-except="{ handler: collapsePopup }" class="notification">
    <img
      @click="showPopup = !showPopup"
      class="notification__image"
      src="@/assets/img/svg/notification.svg"
    />
    <notification-popup @close="collapsePopup" ref="popup" v-show="showPopup" />
  </div>
</template>

<script>
import NotificationPopup from '@/components/user/header/NotificationPopup';
import { ClickOutsideExcept } from '@/helpers/directives/ClickOutsideDirectiveExcept.js';
export default {
  name: 'NotificationIcon',
  components: { NotificationPopup },
  directives: {
    ClickOutsideExcept,
  },
  data: function() {
    return {
      showPopup: false,
    };
  },
  methods: {
    collapsePopup() {
      this.showPopup = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  position: relative;

  img {
    max-height: calc(100% - 20px);
    transition: all 0.5s;
    margin-top: 0;
  }

  &:hover {
    img {
      transition: all 0.5s;
      max-height: calc(100% - 10px);
      margin: -5px;
    }
  }
}
</style>
