<template>
  <div class="notifications-popup">
    <div class="notifications-popup__container">
      <div
        v-if="notifications.length > 0"
        class="notifications-popup__container__list"
      >
        <div
          v-for="notification in notifications"
          :key="notification.id"
          class="notification-item"
        >
          <h2>{{ notification.title }}</h2>
          <time>{{ notification.date }} {{ notification.time }}</time>
          <p>{{ notification.text }}</p>
        </div>
      </div>
      <div v-else class="notifications-popup__container__empty">
        <span>{{ $t('user.notifications.noMessages') }}</span>
      </div>
      <div @click="$emit('close')" class="notifications-popup__container__more">
        <router-link
          :to="{ name }"
          class="notifications-popup__container__more__link"
          >{{ $t('user.notifications.archive') }}</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'NotificationPopup',
  mounted() {
    this.role = localStorage.getItem('role');
  },
  data: function() {
    return {
      role: 'parent',
    };
  },
  computed: {
    ...mapState({
      notifications: state => state.notifications.notificationList,
    }),
    name() {
      if (this.role === 'child') {
        return 'kids-notifications';
      } else if (this.role === 'parent') {
        return 'notifications';
      } else if (this.role === 'leader') {
        return 'LeaderNotifications';
      } else if (this.role === 'security') {
        return 'SecurityNotifications';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.notifications-popup {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  border: 1px solid $border;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  @media screen and (max-width: 1400px) {
    left: 0%;
    transform: translate(-70%, 0);
  }
  &__container {
    min-width: 300px;
    &__list {
      margin-bottom: 20px;
      .notification-item {
        border-bottom: 1px solid $corporate;
        h2 {
          margin-bottom: 5px;
        }
        p {
          margin-top: 5px;
        }
      }
    }
    &__empty {
      text-align: center;
      color: $dark-grey-font;
      padding: 30px 0;
    }
    &__more {
      text-align: right;
      &__link {
        text-decoration: underline;
      }
    }
  }
}
</style>
