<template>
  <div class="account">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :activeKid="userInfo"
      :activeKidCamp="activeKidCamp"
      :currentCurrency="currentCurrency"
      :link="'/kids/kinder/account/debt/'"
    ></component>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import pageTabs from '@/components/user/common/PageTabs';
import Debts from '@/components/user/account/Debts';

export default {
  name: 'KinderAccount',
  components: {
    debts: Debts,
    pageTabs,
  },
  data() {
    return {
      activeTab: null,
      tabs: [{ val: 'debts', name: this.$t('kinder.account.tabs.bills') }],
    };
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
      activeKidCamp: state => state.user.activeKidCamp,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.account {
  padding: 20px;
}
</style>
