<template>
  <div class="debt-item">
    <div class="debt-item__info">
      <h3 class="debt-item__info__header">
        {{ $t('elements.shop.from') }} {{ formatDate(info.year_month) }}
        {{ info.department_name }} {{ info.group_name }}
      </h3>
    </div>
    <div class="debt-item__container">
      <table>
        <thead>
          <tr>
            <td>
              {{ $t('kinder.account.billsTable.name') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.date') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.fio') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.sum') }}
            </td>
            <td>
              {{ $t('elements.product.discount') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.workingDays') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.visits') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.finalPrice') }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in info.items.billItems" :key="item.name">
            <td>{{ item.name }}</td>
            <td>{{ formatDate(info.year_month) }}</td>
            <td>{{ info.items.nameUserFull }}</td>
            <td>
              {{ item.price_month + ' .руб'
              }}<!--TODO Quick fix add currency-->
            </td>
            <td>
              {{ item.discount + ' .руб'
              }}<!--TODO Quick fix add currency-->
            </td>
            <td>{{ item.count_day_month }}</td>
            <td>{{ item.count_day_attended }}</td>
            <td>
              {{ item.amount + ' .руб' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span class="debt-item__total_sum"
      >{{ $t('kinder.account.billsTable.finalPrice') }}: {{ info.amount }} .руб
      <span v-if="info.account_main < 0"
        >+ {{ $t('kinder.account.billsTable.doubt') }}:
        {{ info.account_main * -1 }}</span
      >
      .руб</span
    >
    <br />
    <!--    <div v-show="false" id="print">-->
    <!--      <div style="max-width: 80mm; padding: 5mm; page-break-after: always;">-->
    <!--        <center>-->
    <!--          {{ $t('elements.shop.checkNumber') }}: {{ writeOfInfo.check_no }}-->
    <!--        </center>-->
    <!--        <br />-->
    <!--        <center>-->
    <!--          <strong>{{ buyerInfo.name }} {{ buyerInfo.surname }}</strong>-->
    <!--        </center>-->
    <!--        <br /><br />-->
    <!--        <table>-->
    <!--          <tbody>-->
    <!--            <tr>-->
    <!--              <td style="padding-bottom: 20px;">-->
    <!--                {{ $t('elements.shop.orderNumber') }}-->
    <!--              </td>-->
    <!--              <td></td>-->
    <!--              <td style="padding-bottom: 20px;">{{ $route.params.id }}</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--              <td style="padding-bottom: 20px;">-->
    <!--                {{ formatDate(writeOfInfo.created_at) }}-->
    <!--              </td>-->
    <!--              <td></td>-->
    <!--              <td></td>-->
    <!--            </tr>-->
    <!--            <tr v-for="(product, key) in saleProducts" :key="key">-->
    <!--              <td>{{ findName(product.product_id) }}</td>-->
    <!--              <td style="text-align:right;">{{ product.product_qty }}</td>-->
    <!--              <td>-->
    <!--                x-->
    <!--                {{ (product.product_price * currentCurrency.ratio).toFixed(2) }}-->
    <!--                {{ currentCurrency.abbr }}-->
    <!--              </td>-->
    <!--            </tr>-->
    <!--          </tbody>-->
    <!--        </table>-->
    <!--        <h2>{{ $t('elements.shop.result') }}: {{ writeOfInfo.total_sum }}</h2>-->
    <!--      </div>-->
    <!--    </div>-->
    <button class="print" @click.prevent="print">Печатать чек</button>
    <button class="print red" @click.prevent="$router.go(-1)">Назад</button>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
const UserRepository = RepositoryFactory.get('user');

// import axios from 'axios';

export default {
  name: 'DebtsItem',
  data: function() {
    return {
      info: {},
    };
  },
  async mounted() {
    try {
      const resp = await UserRepository.getAccountBill({
        bill_id: this.$route.params.id,
      });
      if (resp.data.status === 'ok') {
        this.info = resp.data.data;
        this.info.department_name = this.department.department_name;
        this.info.group_name = this.department.kindergarten_group_name;
      }
    } catch (e) {
      console.log(e);
    }
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
      userInfo: state => state.user.info,
      department: state => state.user.activeDepartment,
    }),
  },
  methods: {
    findName(id) {
      if (this.saleProducts.length > 0 && this.products) {
        return this.products?.find(x => x.id === id)?.name;
      } else {
        return '';
      }
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'MM/yyyy');
      }
    },
    print() {
      const prtHtml = document.getElementById('print').innerHTML;
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,toolbar=0,scrollbars=0,status=0'
      );
      let stylesHtml = '';
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML;
      }
      WinPrint.document.write(`<!DOCTYPE html>
                                        <html>
                                          <head>
                                             ${stylesHtml}
                                          </head>
                                          <body>
                                            ${prtHtml}
                                          </body>
                                        </html>`);
      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.addEventListener(
        'load',
        () => {
          WinPrint.print();
          WinPrint.close();
        },
        false
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.debt-item {
  padding: 1% 2%;
  height: max-content;
  min-height: 0 !important;

  @media screen and (max-width: 800px) {
    padding: 2% 4%;
  }
  .print {
    margin: 40px 3% 40px 3%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0px solid transparent;
    cursor: pointer;
  }
  .red {
    background: $red;
    color: white;
  }
  &__container {
    margin: 20px 0;
    width: 100%;
    overflow-x: auto;
    table {
      border-spacing: 10px 10px;
      thead {
        tr {
          td {
            font-size: $regular;
            font-weight: 500;
            padding: 10px 0;
            border-bottom: 1px solid $border;
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: $regular + 2px;
            padding: 10px 0;

            &:not(:first-child) {
              text-align: center;
            }
          }
        }
      }
    }
  }
  &__total_sum {
    font-size: $big;
    span {
      font-size: $big;
    }
  }
}
</style>
