<template functional>
  <div class="tabs">
    <span
      v-for="tab in props.tabs"
      :key="tab.val"
      class="tabs__link"
      :class="{ active: tab.val == props.activeTab }"
      @click="listeners['selectTab'](tab.val)"
    >
      {{ tab.name }}
    </span>
    <span class="tabs__link-free">
      <!--      eslint-disable  -->
      &nbsp
      <!--      eslint-enable -->
    </span>
  </div>
</template>

<style lang="scss" scoped>
.tabs {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  &__link {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 0px 15px 15px 15px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid $corporate;
    flex-grow: 0;
    @media screen and (max-width: 800px) {
      flex-grow: 1;
    }

    &.active {
      border-bottom: 3px solid $corporate;
    }
  }
  &__link-free {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 0px 15px 15px 15px;
    display: inline-block;
    border-bottom: 1px solid $corporate;
    flex-grow: 2;
  }
}
</style>
