<template functional>
  <h1 class="title">{{ props.title }}</h1>
</template>

<style lang="scss" scoped>
.title {
  font-size: $semi-big + 2px;
  font-weight: 500;
  color: $black-font;
  position: relative;
  margin-bottom: 40px;

  &:before {
    content: '';
    position: absolute;
    border-radius: 3px;
    background-image: $corporate-gradient;
    width: 45px;
    height: 3px;
    bottom: -13px;
    left: 0;
  }
  &:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 5px;
    bottom: -13px;
    border-bottom: 3px dashed $border;
    left: 60px;
  }
}
</style>
