// Компонент ограничений для каталогов товаров и списка товаров
<template>
  <li>
    <div class="category bold" v-if="item.status == 1">
      <div @click="toggle" class="category__name">
        <span class="category__badge"
          ><img
            v-if="isOpen"
            src="@/assets/img/svg/common-icons/folder-open.svg"
            alt="folder"
          />
          <img
            v-else
            src="@/assets/img/svg/common-icons/folder.svg"
            alt="folder"
          />
        </span>
        <span class="category__title">{{ item.name }}</span>
      </div>
      <span @click="selectCategory(item.id)" class="category__status">
        <img
          v-if="
            categoryToBan.findIndex(i => i === item.id) >= 0 ||
              (categoryRestricts.find(i => i.category_id == item.id) &&
                categoryToUnban.findIndex(i => i === item.id) < 0) ||
              showAllBaned
          "
          src="@/assets/img/svg/common-icons/restricted.svg"
          alt=""
        />
        <img
          v-else-if="itemHasRestricted"
          src="@/assets/img/svg/common-icons/restricted-inside.svg"
          alt=""
        />
        <img v-else src="@/assets/img/svg/common-icons/allowed.svg" alt="" />
      </span>
    </div>
    <ul v-show="isOpen">
      <products-restrictions
        class="item"
        v-for="(child, index) in item.children"
        :selected="selected"
        :products="products"
        :key="index"
        :item="child"
        :categoryToBan="categoryToBan"
        :productsToBan="productsToBan"
        :categoryToUnban="categoryToUnban"
        :productsToUnban="productsToUnban"
        :categoryRestricts="categoryRestricts"
        :productsRestricts="productsRestricts"
        :showAllBaned="
          categoryToBan.findIndex(i => i === item.id) >= 0 ||
            (categoryRestricts.find(i => i.category_id == item.id) &&
              categoryToUnban.findIndex(i => i === item.id) < 0) ||
            showAllBaned
        "
        @selectProduct="selectProduct"
        @selectCategory="selectCategory"
      ></products-restrictions>
    </ul>
    <ul class="category__product" v-show="isOpen">
      <li
        class="category__product__item"
        v-for="(product, key) in productsInCategory"
        :key="key"
        @click="selectProduct(product.id)"
        v-show="product.product_status_id == 1"
      >
        <span class="category__product__item__name">{{ product.name }}</span>
        <span class="category__product__status">
          <img
            v-if="
              ((productsToBan.findIndex(i => i === product.id) >= 0 ||
                productsRestricts.find(i => i.product_id == product.id)) &&
                productsToUnban.findIndex(i => i === product.id) < 0) ||
                categoryToBan.findIndex(i => i === item.id) >= 0 ||
                (categoryRestricts.find(i => i.category_id == item.id) &&
                  categoryToUnban.findIndex(i => i === item.id) < 0) ||
                showAllBaned
            "
            src="@/assets/img/svg/common-icons/restricted.svg"
            alt=""
          />
          <img v-else src="@/assets/img/svg/common-icons/allowed.svg" alt="" />
        </span>
      </li>
    </ul>
  </li>
</template>

<script>
import ProductsRestrictions from './ProductsRestrictions.vue';

export default {
  name: 'ProductsRestrictions',
  components: {
    ProductsRestrictions,
  },
  props: {
    item: Object,
    selected: Object,
    products: Array,
    categoryToBan: {
      type: Array,
      default() {
        return [];
      },
    },
    productsToBan: {
      type: Array,
      default() {
        return [];
      },
    },
    categoryToUnban: {
      type: Array,
      default() {
        return [];
      },
    },
    productsToUnban: {
      type: Array,
      default() {
        return [];
      },
    },
    categoryRestricts: {
      type: Array,
      default() {
        return [];
      },
    },
    productsRestricts: {
      type: Array,
      default() {
        return [];
      },
    },
    showAllBaned: Boolean,
  },
  data: function() {
    return {
      isOpen: false,
    };
  },
  computed: {
    itemHasRestricted() {
      const banedCategories = this.allCategoriesInItem(this.item).filter(
        cat =>
          (this.categoryRestricts
            .map(e => e.category_id * 1)
            .includes(cat * 1) ||
            this.categoryToBan.includes(cat)) &&
          !this.categoryToUnban.includes(cat)
      );
      const banedProducts = this.allProductsInCategory(this.item).filter(
        prod =>
          (this.productsRestricts
            .map(e => e.product_id * 1)
            .includes(prod * 1) ||
            this.productsToBan.includes(prod)) &&
          !this.productsToUnban.includes(prod)
      );
      return banedCategories.length + banedProducts.length > 0;
    },
    productsInCategory() {
      return this.products.filter(x => x.category_id == this.item.id);
    },
    categories() {
      let categoriesNested = [];
      function search(category) {
        categoriesNested.push(category.id);
        if (category.children) {
          category.children.map(child => search(child));
        }
      }
      search(this.selected);
      return categoriesNested;
    },
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
      this.$emit('selectItem', {});
    },
    selectProduct(item) {
      this.$emit('selectProduct', item);
    },
    selectCategory(item) {
      this.$emit('selectCategory', item);
    },
    allCategoriesInItem(item) {
      const categoriesInside = [];
      if (item.children?.length > 0) {
        item.children?.forEach(element => {
          if (element.children?.length > 0) {
            categoriesInside.push(...this.allCategoriesInItem(element));
          }
          categoriesInside.push(element.id);
        });
      }
      return categoriesInside;
    },
    allProductsInCategory(item) {
      const productsInside = this.products
        .filter(el =>
          [item.id, ...this.allCategoriesInItem(item)].includes(el.category_id)
        )
        .map(e => e.id);
      return productsInside;
    },
  },
};
</script>

<style lang="scss" scoped>
ul li.item:first-of-type {
  margin-top: 30px;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 7px 0;
  background-color: $user_bg;

  &.bold {
    font-size: $regular;
    font-weight: 600;
  }
  &__name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: $regular;
    flex-grow: 2;
  }
  &__badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    img {
      width: 25px;
    }
  }
  &__no-badge {
    padding-left: 30px;
  }

  &__title {
    font-size: $regular;
  }

  &__status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    flex-grow: 0;
    img {
      width: 25px;
    }
  }

  &__product {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0px 5px 40px;
      @media screen and (max-width: 600px) {
        padding: 5px 0px 5px 10px;
      }

      &__name {
        font-size: $regular + 1px;
        font-weight: 400;
      }
      &__price {
        padding-left: 10px;
        min-width: 100px;
      }
    }
    &__status {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      padding-right: 10px;
      img {
        width: 25px;
      }
    }
  }
}

.item {
  cursor: pointer;
  font-size: $small;
  font-weight: 500;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: none;
}
</style>
