<template>
  <div class="chat">
    <div class="chat__header"></div>
    <div class="chat__body">
      <div
        class="message"
        v-for="message in messages"
        :key="message.id"
        :class="{ '-own': message.userId == currentUser }"
      >
        <div class="message__header">
          <span v-if="message.userId == currentUser">
            Вы
          </span>
          <span v-else>
            {{ message.userId }}
          </span>
          {{ format(message.createdAt, 'dd.MM.yyyy HH:mm') }}
        </div>
        <div class="message__body">
          {{ message.content }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { format } from 'date-fns';

export default {
  name: 'ChatMessages',
  props: {
    messages: Array,
    currentUser: Number,
  },
  data: function() {
    return {
      format,
    };
  },
};
</script>

<style lang="scss" scoped>
.chat {
  padding: 20px;
  height: 100%;
  width: 100%;

  &__header {
  }
  &__body {
    .message {
      &__body {
      }
      &__header {
      }
    }
  }
}
</style>
