<template>
  <div class="chats">
    <div class="chats__header">
      {{ status }}
    </div>
    <div class="chats-body">
      <div
        @click="$emit('historyRequest', chat.id)"
        class="chat"
        v-for="chat in chats"
        :key="chat.id"
      >
        <span class="chat-name">
          Чат с пользователем
          {{
            getUsersFromChatId(chat.id)[0] == currentUser
              ? getUsersFromChatId(chat.id)[1]
              : getUsersFromChatId(chat.id)[0]
          }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatsList',
  props: {
    chats: Array,
    status: String,
    currentUser: Number,
  },
  methods: {
    getUsersFromChatId(id) {
      const parts = id.split('~');
      if (parts.length !== 2) {
        return null;
      }
      const [user1, user2] = parts;
      if (user1 > user2) {
        return null;
      }
      return [user1, user2];
    },
  },
};
</script>

<style lang="scss" scoped>
.chats {
  background-color: $dark-grey-font;
  min-height: 100%;
  padding: 20px;
  color: $white;
}
</style>
