<template>
  <div class="wrapper">
    <textarea class="textarea js-autoresize"></textarea>
  </div>
</template>

<script>
import { setResizeListeners } from '@/helpers/methods/autoResize.js';

export default {
  name: 'MessageArea',
  mounted() {
    setResizeListeners(this.$el, '.js-autoresize');
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  padding: 0 10px;
  border: 1px solid $grey;
  border-radius: 10px;

  .textarea {
    max-height: 100px;
    width: 100%;
    padding: 10px;
    overflow: auto;
    height: 38px;

    outline: none;
    -moz-appearance: none;
    border: none; /* удаляем обводку в FireFox */

    resize: none;

    &::-webkit-scrollbar-track {
      background-color: transparent;
      padding-right: 10px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      margin-right: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      overflow: hidden;
      background-color: $grey;
    }
  }
}
</style>
