<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--    special Apple meta-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Justapp" />
    <link rel="apple-touch-icon" href="<%= BASE_URL %>img/icons/android/android-launchericon-144-144.png">
    <!--    //special Apple meta-->

    <!--    special Edge meta-->
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>img/icons/msteams/msteams-silhouette-32-32.png">
    <meta name="msapplication-TileColor" content="#0ca8ad">
    <!--    //special Edge meta-->


    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="manifest" href="<%= BASE_URL %>manifest.json" />
    <title>justapp</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but justapp doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
