<template>
  <div class="shop-online">
    <h1>Test</h1>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Acceptance',
  mounted() {},
  data: function() {
    return {};
  },
  computed: {
    ...mapState({
      outlet_id: state => state.outlet.outlet_id,
    }),
  },
  components: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.online-shop {
  background-color: $white;
}
</style>
