<template>
  <div class="account">
    <div class="account__header">
      <router-link
        class="account__header__link"
        :class="{ '-active': $route.link == '/kids/account/' }"
        to="/kids/account/"
        >Покупки</router-link
      ><router-link
        class="account__header__link"
        :class="{ '-active': $route.link == '/kids/account/operations/' }"
        to="/kids/account/operations/"
        >Все операции</router-link
      >
    </div>
    <router-view class="account__container" />
  </div>
</template>

<script>
export default {
  name: 'KidAccount',
};
</script>

<style lang="scss" scoped>
.account {
  padding: 20px;

  &__header {
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;

    &__link {
      color: $black-font;
      font-size: 15px;
      font-weight: 400;
      margin-right: 20px;
      padding: 0px 10px 15px 10px;
      display: inline-block;
      cursor: pointer;

      &.-active {
        padding: 0px 10px 15px 10px;
        display: inline-block;
        border-bottom: 2px solid $corporate-menu;
      }
    }
  }
}
</style>
