<template>
  <div class="profile">
    <div class="profile__header">
      <router-link
        class="profile__header__link"
        :class="{ '-active': $route.link == '/kids/profile/' }"
        to="/kids/profile/"
        >QR</router-link
      ><router-link
        class="profile__header__link"
        :class="{ '-active': $route.link == '/kids/profile/edit/' }"
        to="/kids/profile/edit/"
        >Редактировать данные</router-link
      ><router-link
        class="profile__header__link"
        :class="{ '-active': $route.link == '/kids/profile/password/' }"
        to="/kids/profile/password/"
        >Сменить пароль</router-link
      >
    </div>
    <router-view class="profile__container" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.profile {
  padding: 20px;

  &__header {
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;

    &__link {
      color: $black-font;
      font-size: 15px;
      font-weight: 400;
      margin-right: 20px;
      padding: 0px 10px 15px 10px;
      display: inline-block;
      cursor: pointer;

      &.-active {
        padding: 0px 10px 15px 10px;
        display: inline-block;
        border-bottom: 2px solid $corporate-menu;
      }
    }
  }
}
</style>
