<template>
  <div class="operations">
    <div v-if="operations.length === 0" class="operations__conatiner">
      <h3>К сожалению у данного пользователя не найдено операций по счету.</h3>
    </div>
    <div v-if="operations.length > 0" class="operations__conatiner">
      <div
        v-for="(operation, key) in operations"
        :key="'operation-' + key"
        class="operations__container__bill"
      >
        <h2 class="operations__container__bill__title">
          ID операции: {{ operation.id }}
        </h2>
        <span class="operations__container__bill__date">{{
          formatDate(operation.created_at)
        }}</span>
        <span class="operations__container__bill__date"
          >Тип опеарции:
          <b>{{
            operation.operation_id == 1 ? 'Пополнение' : 'Покупка'
          }}</b></span
        >
        <span class="operations__container__bill__summ"
          >Сумма: <b>{{ operation.amount }} руб.</b></span
        >
        <span class="operations__container__bill__date"
          >Идиентифиактор: {{ operation.transaction }}</span
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
export default {
  name: 'AccountOperations',
  computed: {
    ...mapState({
      operations: state => state.user.kidAccountOperations,
      userId: state => state.account.userId,
    }),
  },
  watch: {
    userId: {
      immediate: true,
      handler() {
        this.getLogs();
      },
    },
  },
  methods: {
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
    getLogs() {
      if (this.userId) {
        this.$store.dispatch(
          'user/getKidAccountLogs',
          JSON.stringify({ user_id: this.userId })
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.operations {
  &__container {
    &__bill {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__date {
      }

      &__items {
        width: 100%;
        thead {
          td {
            font-size: $regular + 2px;
            font-weight: 500;
            padding: 5px;
          }
        }
        tbody {
          td {
            font-size: $regular;
            font-weight: 300;
            padding: 5px;
          }
        }
        td {
          &:nth-child(1) {
            width: 55%;
          }
          &:nth-child(2) {
            width: 15%;
          }
          &:nth-child(3) {
            width: 15%;
          }
          &:nth-child(4) {
            width: 15%;
          }
        }
      }
    }
  }
}
</style>
