<template>
  <div class="service">
    <div class="service__header">
      <span
        class="service__header__link"
        :class="{ active: currentTab === 'KidsOnlineStoreCatalog' }"
        @click="currentTab = 'KidsOnlineStoreCatalog'"
        >Онлайн каталог</span
      >
      <span
        class="service__header__link"
        :class="{ active: currentTab === 'KidsOnlineStoreHistory' }"
        @click="currentTab = 'KidsOnlineStoreHistory'"
        >История онлайн покупок</span
      >
    </div>
    <div class="service__container">
      <component
        :is="currentTabComponent"
        :kidCamp="kidCamp"
        :currentUser="userInfo"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import KidsOnlineStoreCatalog from '@/components/user/onlineOutlet/OnlineStoreCatalog';
import KidsOnlineStoreHistory from '@/components/user/onlineOutlet/OnlineStoreHistory';

export default {
  name: 'KidsOnlineStore',
  data: function() {
    return {
      currentTab: 'KidsOnlineStoreCatalog',
      categories: [],
    };
  },
  components: {
    KidsOnlineStoreHistory,
    KidsOnlineStoreCatalog,
  },
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeKidCamp,
      userInfo: state => state.user.info,
    }),
    currentTabComponent() {
      return `${this.currentTab}`;
    },
  },
  watch: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.service {
  padding: 20px;
  &__header {
    border-bottom: 1px solid $corporate;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;

    &__link {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      margin-right: 20px;
      padding: 0px 10px 15px 10px;
      display: inline-block;
      cursor: pointer;

      &.active {
        padding: 0px 10px 15px 10px;
        display: inline-block;
        border-bottom: 2px solid $corporate;
      }
    }
  }
}
</style>
