<template>
  <div class="camp">
    <div class="camp__header">
      <router-link
        class="camp__header__link"
        :class="{ '-active': $route.link == '/kids/camp/' }"
        to="/kids/camp/"
        >Лагерь</router-link
      ><router-link
        v-if="kidCamp.squad_id && kidCamp.squad_id > 0"
        class="camp__header__link"
        :class="{ '-active': $route.link == '/kids/camp/squad/' }"
        to="/kids/camp/squad/"
        >Отряд</router-link
      >
    </div>
    <router-view class="camp__container" />
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeKidCamp,
    }),
  },
};
</script>

<style lang="scss" scoped>
.camp {
  padding: 20px;

  &__header {
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;

    &__link {
      color: $black-font;
      font-size: 15px;
      font-weight: 400;
      margin-right: 20px;
      padding: 0px 10px 15px 10px;
      display: inline-block;
      cursor: pointer;

      &.-active {
        padding: 0px 10px 15px 10px;
        display: inline-block;
        border-bottom: 2px solid $corporate-menu;
      }
    }
  }
}
</style>
