<template>
  <div class="qr">
    <div v-if="!userInfo.account_id">
      <span class="qr__description"
        >На данный момент вы не привязаны ни к одному лагерю и у вас нет
        расчетного счета.</span
      >
    </div>
    <div v-if="userInfo.account_id">
      <span class="qr__description"
        >Вы можете использовать этот QR код для оплаты.</span
      >
      <!--      <qriously class="qr__image" :value="account" :size="200" />-->
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
// import Vue from 'vue';
// import VueQriously from 'vue-qriously';
// Vue.use(VueQriously);
export default {
  data: function() {
    return {
      qrLength: 7,
    };
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
    }),
    account() {
      if (
        this.userInfo.account_id &&
        String(this.userInfo.account_id).length < this.qrLength
      ) {
        let numberOfZeros =
          this.qrLength - String(this.userInfo.account_id).length;
        return '0'.repeat(numberOfZeros) + this.userInfo.account_id;
      }
      return this.userInfo.account_id;
    },
  },
};
</script>

<style lang="scss" scoped>
.qr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__description {
    font-size: $semi-big;
    color: $black-font;
    padding: 20px 0;
  }
  &__image {
    margin: 20px;
    padding: 20px;
  }
}
</style>
