<template>
  <div class="squad">
    <div v-if="squadInfo.squad">
      <h2 class="squad__header">{{ squadInfo.squad.name }}</h2>
      <div class="squad__leader">
        <h2 class="squad__leader__header">Вожатые:</h2>
        <div v-if="squadInfo.leaders.length > 0" class="squad__leader__item">
          <div class="squad__leader__item__img">
            <img :src="squadInfo.leaders[0].image" alt="" />
          </div>
          <div class="squad__leader__item__info">
            <span class="squad__leader__item__info__string"
              ><h3>
                {{ squadInfo.leaders[0].name }}
                {{ squadInfo.leaders[0].surname }}
              </h3></span
            ><br />
            <span class="squad__leader__item__info__string">{{
              numberToNormal(squadInfo.leaders[0].username)
            }}</span>
            <span
              v-if="squadInfo.leaders[0].email"
              class="squad__leader__item__info__string"
            >
              email: {{ squadInfo.leaders[0].email }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <h2>Вы не привязаны к лагерю.</h2>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeKidCamp,
      squadInfo: state => state.user.squadInfo,
    }),
  },
  mounted() {},
  watch: {
    'kidCamp.squad_id': {
      immediate: true,
      handler() {
        if (this.kidCamp.squad_id) {
          this.$store.dispatch('user/getSquadInfo', {
            squad_id: this.kidCamp.squad_id,
          });
        }
      },
    },
  },
  methods: {
    numberToNormal(login) {
      if (login.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.squad {
  &__leader {
    &__item {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }

      &__img {
        padding: 20px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &__info {
        padding: 20px;
        display: flex;
        flex-direction: column;

        &__string {
        }
      }
    }
  }
}
</style>
