<template>
  <div class="password">
    <p class="password__description">
      * Для смены текущего пароля введите старый пароль, и выберите новый. Новый
      пароль не должен состоять менее чем из 6 символов.
    </p>
    <regular-input
      elId="oldPassword"
      :elLabel="$t('elements.oldPassword') + '*'"
      :error="!$v.passwords.old.required"
      elType="password"
      v-model="passwords.old"
    />
    <regular-input
      elId="password"
      :elLabel="$t('elements.password') + '*'"
      elType="password"
      :error="!$v.passwords.new.required || passwords.new.length < 6"
      :errorMessages="{
        'Это поле обязательно для заполнения, не меньше 6 символов.':
          !$v.passwords.new.required || passwords.new.length < 6,
      }"
      v-model="passwords.new"
    />
    <regular-input
      elId="passwordRepeat"
      :elLabel="$t('elements.passwordRepeat') + '*'"
      elType="password"
      :errorMessages="{
        'Это поле обязательно для заполнения': !$v.passwords.repeat.required,
        'Пароли должны совпадать': !$v.passwords.repeat.sameAsPassword,
      }"
      :error="$v.passwords.repeat.$invalid"
      v-model="passwords.repeat"
    />
    <div class="password__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.passwords.$invalid"
        @click="send"
      >
        {{ $t('elements.send') }}
      </regular-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import RegularInput from '../../../components/primitives/RegularInput.vue';
import RegularButton from '../../../components/primitives/RegularButton.vue';
import { required, sameAs } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import { mapState } from 'vuex';

export default {
  name: 'ProfilePassword',
  mixins: [validationMixin],
  data: function() {
    return {
      passwords: {
        old: null,
        new: null,
        repeat: null,
      },
      userId: null,
    };
  },
  mounted() {
    this.userId = localStorage.getItem('userId');
  },
  computed: {
    ...mapState({
      coreURL: state => state.common.urls.core,
    }),
  },
  components: {
    RegularInput,
    RegularButton,
  },
  validations: {
    passwords: {
      old: {
        required,
      },
      new: {
        required,
      },
      repeat: {
        required,
        sameAsPassword: sameAs('new'),
      },
    },
  },
  methods: {
    send() {
      let data = {
        user_id: this.userId,
        password: this.passwords.old,
        new_password: this.passwords.new,
      };
      axios({
        url: this.coreURL + '/rest/v1/auth/changepassword',
        data: JSON.stringify(data),
        method: 'POST',
      })
        .then(resp => {
          console.log('resp', resp);
          if (!resp.data.error) {
            let notification = {};
            notification.title = 'Смена пароля';
            notification.text = 'Пароль успешно изменен.';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          } else {
            let notification = {};
            notification.title = 'Ошибка при смене пароля';
            notification.text =
              'Возникла ошибка при смене пароля: (' + resp.data.error + ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
  },
};
</script>

<style scoped lang="scss">
.password {
  &__description {
    padding: 10px;
  }
  &__buttons {
    margin-top: 30px;
    text-align: center;

    &__separator {
      margin: 0 10px;
    }
  }
}
</style>
