<template>
  <div>
    <p class="block" v-html="campInfo.description"></p>
    <h3 class="block-header">Расположение</h3>
    <p class="block" v-html="campInfo.address"></p>
    <h3 class="block-header">Контакты</h3>
    <p class="block" v-html="campInfo.contacts"></p>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  computed: {
    ...mapState({
      campInfo: state => state.user.campInfo,
    }),
  },
};
</script>

<style lang="scss" scoped>
.block {
  &-header {
    margin-top: 40px;
    font-size: $semi-big;
  }
}
</style>
