<template>
  <div class="user">
    <!-- for tests -->
    <!-- <regular-input  elId="id" 
                    elLabel="id"
                    v-model="user.id"/> -->
    <!-- for tests -->
    <!-- <div class="user__birth">
      <regular-select :placeholder="$t('elements.birthdayDay')" 
                      class="user__birth__day"
                      :option-list="days" 
                      :value="user.userDay"
                      @select="selectDate"
                      />
      <regular-select :placeholder="$t('elements.birthdayMonth')" 
                      class="user__birth__month"
                      :option-list="monthes" 
                      :value="user.userMonth"
                      @select="selectMonth"
                      />
      <regular-select :placeholder="$t('elements.birthdayYear')" 
                      class="user__birth__year"
                      :option-list="years" 
                      :value="user.userYear"
                      @select="selectYear"
                      />
    </div> -->
    <regular-select
      :placeholder="$t('elements.gender')"
      :option-list="genderList"
      :value="user.gender == 'null' ? null : user.gender"
      @select="selectGender"
    />
    <regular-input
      elId="name"
      :elLabel="$t('elements.name')"
      v-model="user.name"
    />
    <regular-input
      elId="second_name"
      :elLabel="$t('elements.secondName')"
      v-model="user.surname"
    />
    <regular-input
      elId="email"
      :elLabel="$t('elements.email')"
      v-model="user.email"
    />
    <!-- <regular-input  elId="login" 
                    :elLabel="$t('elements.phone')"
                    v-model="user.login"/> -->
    <regular-input-masked
      elId="login"
      :elLabel="$t('elements.phone') + '*'"
      :mask="'+# ### ###-##-##'"
      v-model="user.login"
    />
    <regular-input
      elId="city"
      :elLabel="$t('elements.city')"
      v-model="user.city"
    />
    <regular-file-input label="Загрузить" @uploaded="fileAdded" />
    <div class="user__buttons">
      <regular-button :elClass="['corporate']" @click="editApply">
        {{ $t('elements.send') }}
      </regular-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
// import moment from 'moment';
import RegularInput from '../../../components/primitives/RegularInput.vue';
import RegularInputMasked from '../../../components/primitives/RegularInputMasked.vue';
import RegularButton from '../../../components/primitives/RegularButton.vue';
import RegularSelect from '../../../components/primitives/RegularSelect.vue';
import RegularFileInput from '../../../components/primitives/RegularFileInput.vue';
import userValidate from '../../../helpers/validations/user.js';
import { dates } from '../../../helpers/data/dates.js';
import { validationMixin } from 'vuelidate';
import { mapState } from 'vuex';

export default {
  name: 'user',
  mixins: [validationMixin, dates],
  data: function() {
    return {
      user: {
        id: null,
        // userDay: null,
        // userMonth: null,
        // userYear: null,
        gender: null,
        name: '',
        second_name: '',
        email: '',
        phone: '',
        city: '',
        isAdmin: null,
        file: null,
      },
      genderList: [
        { name: this.$t('constants.male'), value: 'male' },
        { name: this.$t('constants.female'), value: 'female' },
      ],
    };
  },
  mounted() {
    this.user = this.userInfo;
  },
  watch: {
    userInfo(val) {
      this.user = val;
    },
  },
  computed: {
    ...mapState({
      coreURL: state => state.common.urls.core,
      userInfo: state => state.user.info,
    }),
  },
  components: {
    RegularInput,
    RegularInputMasked,
    RegularButton,
    RegularSelect,
    RegularFileInput,
  },
  validations: userValidate,
  methods: {
    fileAdded(file) {
      this.user.file = file;
    },
    editApply() {
      let formData = new FormData();
      const regEx = /[^\d]/g;
      // let chosenDate;
      // if (this.user.userYear&&this.user.userMonth&&this.user.userDay){
      //   chosenDate = `${this.user.userYear}-${this.user.userMonth<10?'0':''}${this.user.userMonth}-${this.user.userDay<10?'0':''}${this.user.userDay}`;
      // }
      // let birthday = moment.utc(chosenDate).valueOf();
      if (this.user.file) {
        formData.append('user_pic', this.user.file, `${this.user.id}_avatar`);
      }
      formData.append('id', this.user.id);
      formData.append('name', this.user.name);
      formData.append('surname', this.user.surname);
      formData.append('email', this.user.email);
      formData.append('username', this.user.phone);
      formData.append('password', this.user.password);
      formData.append('gender', this.user.gender);
      // formData.append('birthday', birthday);
      formData.append('city', this.user.city);
      formData.append('username', this.user.login.replace(regEx, ''));
      axios
        .post(this.coreURL + '/rest/v1/auth/edit', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .then(data => {
          if (data.data.ok) {
            console.log('ok');
            var userId = localStorage.getItem('userId');
            this.$store.dispatch(
              'user/getUserInfo',
              JSON.stringify({ id: userId })
            );
          }
        })
        .catch(function(err) {
          console.log('FAILURE!!', err);
        });
    },
    // selectDate(date){
    //   this.user.userDay = date;
    // },
    // selectMonth(month){
    //   this.user.userMonth = month;
    // },
    // selectYear(year){
    //   this.user.userYear = year;
    // },
    selectGender(gender) {
      this.user.gender = gender;
    },
  },
};
</script>

<style scoped lang="scss">
.user {
  &__birth {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__day {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
    }
    &__month {
      max-width: 40%;
      display: flex;
      flex-grow: 1;
    }
    &__year {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
    }
  }
  &__buttons {
    margin-top: 30px;

    &__separator {
      margin: 0 10px;
    }
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    &__forgot {
      display: inline-block;
      color: $corporate;
      font-size: $small;
      font-weight: 500;
    }
  }
}
</style>
