<template>
  <div class="bills">
    <div v-if="bills && bills.length > 0" class="bills__conatiner">
      <div
        v-for="(bill, key) in bills"
        :key="'bill-' + key"
        class="bills__container__bill"
      >
        <h2 class="bills__container__bill__title">Чек № {{ bill.check_no }}</h2>
        <span class="bills__container__bill__date">{{
          formatDate(bill.created_at)
        }}</span>
        <span class="bills__container__bill__summ"
          >Сумма: {{ bill.total_sum }} руб.</span
        >
        <table class="bills__container__bill__items">
          <thead>
            <tr>
              <td>Товар</td>
              <td>Количество</td>
              <td>Цена</td>
              <td>Сумма</td>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, key) in bill.orderCheckItems"
              :key="'item-' + key"
            >
              <td>{{ item.product_name }}</td>
              <td>x {{ item.product_qty }}</td>
              <td>{{ item.product_price }} руб.</td>
              <td>
                <b>{{ item.total_price }} руб.</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-else class="bills__conatiner">
      <h3>К сожалению у данного пользователя не найдено чеков.</h3>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
export default {
  computed: {
    ...mapState({
      bills: state => state.user.kidBills,
      userId: state => state.account.userId,
    }),
  },
  watch: {
    userId: {
      immediate: true,
      handler() {
        this.getBills();
      },
    },
  },
  methods: {
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy hh:mm');
      }
    },
    getBills() {
      if (this.userId) {
        this.$store.dispatch(
          'user/getKidBills',
          JSON.stringify({ user_id: this.userId })
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.bills {
  &__container {
    &__bill {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__date {
      }

      &__items {
        width: 100%;
        thead {
          td {
            font-size: $regular + 2px;
            font-weight: 500;
            padding: 5px;
          }
        }
        tbody {
          td {
            font-size: $regular;
            font-weight: 300;
            padding: 5px;
          }
        }
        td {
          &:nth-child(1) {
            width: 55%;
          }
          &:nth-child(2) {
            width: 15%;
          }
          &:nth-child(3) {
            width: 15%;
          }
          &:nth-child(4) {
            width: 15%;
          }
        }
      }
    }
  }
}
</style>
