<template>
  <div class="service">
    <div class="service__header">
      <span
        class="service__header__link"
        :class="{ active: currentTab === 'SendRequest' }"
        @click="currentTab = 'SendRequest'"
        >Отправить запрос</span
      >
      <span
        class="service__header__link"
        :class="{ active: currentTab === 'MyRequests' }"
        @click="currentTab = 'MyRequests'"
        >Мои запросы</span
      >
    </div>
    <div class="service__container">
      <component
        :is="currentTabComponent"
        :categories="categories"
        :campId="kidCamp.camp_id"
        :userId="userInfo.id"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ServiceMyRequests from '@/components/user/service/MyRequests';
import ServiceSendRequest from '@/components/user/service/SendRequest';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  name: 'KidsServiceMessages',
  data: function() {
    return {
      currentTab: 'SendRequest',
      categories: [],
    };
  },
  components: {
    ServiceSendRequest,
    ServiceMyRequests,
  },
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeKidCamp,
      userInfo: state => state.user.info,
    }),
    currentTabComponent() {
      return `Service${this.currentTab}`;
    },
  },
  watch: {
    'kidCamp.camp_id': {
      immediate: true,
      handler() {
        if (this.kidCamp.camp_id) {
          this.getServiceMessagesCategory();
        }
      },
    },
  },
  methods: {
    // createCategory() {
    //   let params = {
    //     camp_id: this.kidCamp.camp_id,
    //     name: 'test',
    //   };
    //   axios({
    //     url:
    //       'https://justapp.org:8085' +
    //       '/rest/v1/service-message-category/create',
    //     data: JSON.stringify(params),
    //     headers: {
    //       'Content-Type': 'application/json',
    //     },
    //     method: 'POST',
    //   }) //Отчет по списаниям
    //     .then(resp => {
    //       console.log(resp);
    //     })
    //     .catch(err => {
    //       console.log(err);
    //     });
    // },
    async getServiceMessagesCategory() {
      const serviceMessagesRepository = RepositoryFactory.get(
        'serviceMessages'
      );
      let params = {
        camp_id: this.kidCamp.camp_id,
      };
      try {
        const resp = await serviceMessagesRepository.getCategories(params);
        if (resp.data.status == 'ok') {
          this.categories = resp.data.data.items;
        } else {
          componentErrorHandler(
            this,
            'Получение категорий сервисных сообщений',
            'Возникла ошибка при получении категорий сервисных сообщений',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.service {
  padding: 20px;
  &__header {
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;

    &__link {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      margin-right: 20px;
      padding: 0px 10px 15px 10px;
      display: inline-block;
      cursor: pointer;

      &.active {
        padding: 0px 10px 15px 10px;
        display: inline-block;
        border-bottom: 2px solid $corporate;
      }
    }
  }
}
</style>
