<template>
  <div class="account">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component
      :is="activeTab"
      :activeKid="userInfo"
      :department="department"
      :currentCurrency="currentCurrency"
      :link="'/kids/kinder/account/debt/'"
    ></component>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import pageTabs from '@/components/user/common/PageTabs';
import Bills from '@/components/user/account/Operations';
import Restrictions from '@/components/user/account/KidRestrictions';
import DayLimit from '@/components/user/account/KidsDayLimit';

export default {
  name: 'KidsAccount',
  components: {
    // refill: Refill,
    bills: Bills,
    // operations: Operations,
    restrictions: Restrictions,
    dayLimit: DayLimit,
    pageTabs,
  },
  data() {
    return {
      activeTab: null,
      tabs: [
        { val: 'bills', name: this.$t('user.titles.billsTab') },
        { val: 'dayLimit', name: this.$t('user.titles.dayLimitTab') },
        { val: 'restrictions', name: this.$t('user.titles.restrictionsTab') },
      ],
    };
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
      department: state => state.user.activeDepartment,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.account {
  padding: 20px;
}
</style>
