<template>
  <div class="chat">
    <div class="chat__left">
      <chats-list
        :chats="chats"
        :currentUser="currentUser"
        :status="status"
        @historyRequest="historyRequest"
      />
    </div>
    <div class="chat__main">
      <div class="chat__main__messages">
        <chat-messages :currentUser="currentUser" :messages="messages" />
        <message-area />
      </div>
    </div>
  </div>
</template>

<script>
import io from 'socket.io-client';
import ChatsList from '@/components/user/chat/ChatsList';
import ChatMessages from '@/components/user/chat/ChatMessages';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import MessageArea from '@/components/user/chat/MessageArea';

let socket = null;
const chatUrl = process.env.VUE_APP_API_CHAT;

export default {
  name: 'Chat',
  components: { MessageArea, ChatMessages, ChatsList },
  data: function() {
    return {
      status: 'disconnected',
      chats: [],
      messages: [],
      currentUser: 1,
      users: [],
      userIds: [15],
    };
  },
  watch: {
    chats() {
      console.log(this.chats);
      this.chats.forEach(chat =>
        this.userIds.push(...this.getUsersFromChatId(chat.id))
      );
      this.userIds = [...new Set(this.userIds)];
      this.userIds.forEach(user => this.users.push(this.getUserInfo(user)));
      console.log(this.users);
    },
  },
  mounted() {
    this.connect();
  },
  methods: {
    connect() {
      console.log('⚡ Try connect');
      this.status = 'connecting';
      socket = io(chatUrl, {
        transports: ['websocket'],
        query: {
          token: this.currentUser,
        },
      });
      socket.on('exception', e => {
        console.log('🚫 Exception: ' + e.message);
      });
      socket
        .on('connect', () => {
          console.log('✅ Connected!');
          this.status = 'connected';
        })
        .on('exception:unauthorized', error => {
          console.log('🚫 Unauthorized: ' + error);
        })
        .on('authorized', () => {
          console.log('🔒 Authorized!');
          this.chatsRequest();
        });
      socket.on('🔄 reconnecting', () => {
        this.status = 'reconnecting';
      });
      socket.on('disconnect', () => {
        console.log('❌ Disconnected...');
        this.status = 'disconnected';
      });
      socket.on('error', () => {
        this.status = 'error';
      });
      socket.on('exception:validation', e => {
        console.log('🚫 Validation Exception: ' + JSON.stringify(e));
      });
      // socket.on('message', this.receiveMessage);
      // socket.on('typing', this.getTyping);
    },
    chatsRequest() {
      socket.emit('chats-request', null, chats => {
        this.chats = chats;
      });
    },
    historyRequest(chatId) {
      socket.emit(
        'history-request',
        {
          chatId,
        },
        messages => {
          console.log(messages);
          this.messages = messages.map(message => ({
            ...message,
          }));
        }
      );
    },
    getUsersFromChatId(id) {
      const parts = id.split('~');
      if (parts.length !== 2) {
        return null;
      }
      const [user1, user2] = parts;
      if (user1 > user2) {
        return null;
      }
      return [user1, user2];
    },
    async getUserInfo(id) {
      try {
        const userRepository = RepositoryFactory.get('user');
        const resp = await userRepository.getUserInfo(
          JSON.stringify({ id: id })
        );
        if (resp.data?.status == 'ok') {
          console.log(resp.data.data);
          return resp.data.data;
        } else {
          console.error('Error');
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.chat {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  &__left {
    min-width: 200px;
    min-height: 100%;
  }
  &__main {
    width: 100%;
    height: 100%;

    &__messages {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }
  }
}
</style>
