<template>
  <div class="files">
    <div class="files__header">
      <page-title title="Ваши файлы" />
    </div>
    <page-tabs
      :tabs="types.reverse()"
      :activeTab="activeTab.val"
      @selectTab="selectTab"
    />
    <div class="files__upload">
      <div>
        Загрузить новый документ
        <input
          type="file"
          id="file"
          ref="file"
          accept="application/pdf, image/jpeg, image/png, image/jpg"
          @change="handleFileUpload()"
        />
      </div>
      <img :src="imagePreview" v-show="showPreview" />
      <btn :elClass="['submit']" @click="uploadFile">Отправить</btn>
    </div>
    <div class="files__items">
      <div
        class="files__items__item"
        @click="openFile(item.url)"
        :key="index"
        v-for="(item, index) in files"
      >
        <img :src="item.preview" alt="Preview" />
        <span class="title">{{ item.file_name }}</span>
        <span class="date">{{ item.created_at }}</span>
        <img
          @click.prevent.stop="deleteFile(item.id)"
          src="@/assets/img/svg/delete.svg"
          alt="Delete"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
import PageTabs from '@/components/user/common/PageTabs';
import RegularButton from '@/components/primitives/RegularButton';

import { mapState } from 'vuex';
import { format, fromUnixTime } from 'date-fns';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

const filesAPI = RepositoryFactory.get('files');

const pdf = () => require('@/assets/img/svg/filesTypes/pdf.svg');
const jpg = () => require('@/assets/img/svg/filesTypes/jpg.svg');

export default {
  name: 'Files',
  components: {
    PageTitle,
    btn: RegularButton,
    PageTabs,
  },
  data() {
    return {
      file: '',
      showPreview: false,
      imagePreview: '',
      filesRaw: [],
      typesRaw: [],
      format,
      fromUnixTime,
      activeTab: {
        val: null,
      },
    };
  },
  async mounted() {
    try {
      const resp = await filesAPI.getDocumentsTypes();
      if (resp.data.status === 'ok') {
        this.typesRaw = resp.data.data;
      } else {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно установить соединение с сервером',
          'error'
        );
      }
    } catch (e) {
      componentErrorHandler(
        this,
        'Ошибка загрузки данных',
        'Невозможно установить соединение с сервером',
        'error'
      );
    }
  },
  computed: {
    files() {
      return this.filesRaw.map(item => {
        if (item.type === 'application/pdf') {
          item.preview = pdf();
        } else {
          item.preview = jpg();
        }
        item.created_at = this.format(
          this.fromUnixTime(item.created_at),
          "yyyy-MM-dd' 'HH:mm"
        );
        return item;
      });
    },
    types() {
      return this.typesRaw
        .filter(item => {
          return item.docs_storage_type_id !== 3;
        })
        .map(item => {
          return {
            val: item.docs_storage_type_id,
            name: this.$t(`kinder.documents.tabs.${item.type_name}`),
          };
        });
    },
    ...mapState({
      currentUser: state => state.user.info,
    }),
  },
  watch: {
    activeTab: {
      async handler() {
        await this.getFiles();
      },
    },
    types() {
      this.activeTab = this.types[0];
    },
  },
  methods: {
    async getFiles() {
      try {
        const resp = await filesAPI.getFilesByType({
          user_id: localStorage.getItem('userId'),
          department_id: this.getDepartmentId(),
          document_type: this.activeTab.val,
        });
        if (resp.data.status === 'ok') {
          this.filesRaw = resp.data.data;
        } else {
          componentErrorHandler(
            this,
            'Загрузка файлов',
            'Возникла ошибка при отображении файлов',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Загрузка файлов',
          'Возникла ошибка при отображении файлов',
          'error'
        );
      }
    },
    async deleteFile(document_id) {
      try {
        const resp = await filesAPI.deleteFile({ document_id: document_id });
        if (resp.data.status === 'ok') {
          await this.getFiles();
        } else {
          componentErrorHandler(
            this,
            'Загрузка файлов',
            'Возникла ошибка при загрузки файлов на сервер',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Загрузка файлов',
          'Возникла ошибка при загрузки файлов на сервер',
          'error'
        );
      }
    },
    selectTab(val) {
      this.activeTab = this.types.find(item => item.val === val);
    },
    handleFileUpload() {
      this.showPreview = false;
      this.imagePreview = null;
      this.file = this.$refs.file.files[0];
      let reader = new FileReader();
      if (this.file) {
        if (/\.(pdf)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
          this.showPreview = true;
          this.imagePreview = pdf();
        } else if (/\.(jpe?g|png)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
          this.showPreview = true;
          this.imagePreview = jpg();
        } else {
          this.file = '';
          componentErrorHandler(
            this,
            'Ошибка загрузки файла',
            'Не допустимый формат файлов',
            'error'
          );
        }
      }
    },
    openFile(link) {
      window.open(link, '_blank');
    },
    async uploadFile() {
      try {
        let formData = new FormData();
        formData.append('file', this.file);
        formData.set('document_type', this.activeTab.val);
        formData.set('user_id', localStorage.getItem('userId'));
        formData.set('department_id', this.getDepartmentId());
        const resp = await filesAPI.uploadFile(formData);
        if (resp.data.status === 'ok') {
          componentErrorHandler(this, 'Успех!', 'Файл загружен', 'success');
          await this.getFiles();
        } else {
          componentErrorHandler(
            this,
            'Загрузка файлов',
            'Возникла ошибка при загрузки файлов на сервер',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Загрузка файлов',
          'Возникла ошибка при загрузки файлов на сервер',
          'error'
        );
      }
    },
    getDepartmentId() {
      if (this.$route.name === 'kinderFiles') {
        return this.currentUser.departmentClient.find(
          item => item.type_department === 'kindergarten'
        ).department_id;
      } else if (this.$route.name === 'kid-files') {
        return this.currentUser.departmentClient.find(
          item => item.type_department === 'camp'
        ).department_id;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.files {
  padding: 20px;
  &__upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin-bottom: 20px;
    img {
      max-width: 100px;
      max-height: 100px;
    }
    input {
      border-radius: 8px;
      padding: 18px 30px;
      border: 1px dashed $corporate;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    div {
      @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0 40px 50px 40px;
      width: 90%;

      &:hover {
        outline: 1px solid $corporate;
        transform: scale(1.1);
      }

      img {
        height: 80px;
        width: 80px;
        padding: 5px;
      }
      span {
        width: max-content;
        font-weight: 500;
      }
      .title {
        font-size: $semi-big;
      }
      .date {
        margin-left: auto;
        justify-self: flex-end;
        padding: 10px;
        color: $corporate;
      }
    }
  }
}
</style>
