<template>
  <div class="calendar">
    <calendar :activeDepartment="activeDepartment" :activeKid="activeKid" />
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Calendar from '@/components/user/calendar/kids/Calendar';
export default {
  name: 'KidsCalendar',
  components: { Calendar },
  computed: {
    ...mapState({
      activeDepartment: state => state.user.activeDepartment,
      activeKid: state => state.user.info,
    }),
  },
};
</script>
<style lang="scss" scoped>
.calendar {
  padding: 20px;
}
</style>
