<template>
  <div class="main">
    <page-title :title="$t('user.titles.main')" />
    <div class="main__container">
      <p>
        {{ $t('user.kids.welcome') }}
      </p>
      <p>
        {{ $t('user.kids.support') }}
        <a :href="`mailto:${$t('user.kids.supportEmail')}`">{{
          $t('user.kids.supportEmail')
        }}</a>
      </p>
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
export default {
  name: 'KidsMain',
  components: {
    PageTitle,
  },
};
</script>

<style lang="scss" scoped>
.main {
  padding: 20px;
}
</style>
