<template>
  <div class="settings">
    <page-tabs :tabs="tabs" :activeTab="activeTab" @selectTab="selectTab" />
    <component :is="activeTab" :userId="userId"></component>
  </div>
</template>

<script>
import pageTabs from '@/components/user/common/PageTabs';
import Password from '@/components/user/settings/Password';
import Profile from '@/components/user/settings/Profile';

export default {
  name: 'Settings',
  components: {
    Profile,
    Password,
    pageTabs,
  },
  computed: {},
  data() {
    return {
      userId: null,
      activeTab: null,
      tabs: [
        { val: 'password', name: this.$t('user.titles.changePasswordTab') },
        { val: 'profile', name: this.$t('user.titles.profileTab') },
      ],
    };
  },
  created() {
    this.activeTab = this.tabs[0]?.val;
    this.userId = localStorage.getItem('userId');
  },
  methods: {
    selectTab(val) {
      this.activeTab = val;
    },
  },
};
</script>

<style scoped>
.settings {
  padding: 20px;
}
</style>
