<template>
  <div class="side-bar">
    <div class="side-bar__user">
      <kid-info />
      <kid-category
        class="kids-sidebar"
        v-for="category in Kids"
        :key="category.id"
        :category="category"
        :activeCategory="activeCategory"
        :disabled="
          !departments.find(item => item.type_department === category.id)
        "
        @activateCategory="activateCategory"
      />
    </div>
    <div class="side-bar__parents">
      <h2 class="side-bar__parents__title">
        {{ $t('user.titles.menu.parents') }}:
      </h2>
      <kid-parent v-for="id in userParents" :key="id.parent_id" :id="id" />
    </div>
    <span @click="logout" class="side-bar__exit">
      {{ $t('user.buttons.logout') }}
    </span>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import { kidsCategoriesLink } from '@/helpers/data/usersLinks';

import KidParent from '@/components/user/sideBar/KidParent';
import KidInfo from '@/components/user/sideBar/KidInfo';
import KidCategory from '@/components/user/sideBar/KidCategory';

export default {
  name: 'SideBar',
  components: {
    KidInfo,
    KidCategory,
    KidParent,
  },
  mixins: [kidsCategoriesLink],
  computed: {
    ...mapState({
      kidCamp: state => state.user.activeKidCamp,
      userInfo: state => state.user.info,
      userParents: state => state.user.currentUserParents,
      departments: state => state.user.departments,
    }),
  },
  data() {
    return {
      activeCategory: '',
    };
  },
  methods: {
    activateCategory(val) {
      if (this.activeCategory === val) {
        this.activeCategory = null;
        this.$store.commit('user/SET_ACTIVE_DEPARTMENT', {});
      } else {
        this.activeCategory = val;
        console.log(
          this.departments.find(item => item.type_department === val)
        );
        this.$store.commit('user/SET_ACTIVE_DEPARTMENT', [
          this.departments.find(item => item.type_department === val),
        ]);
      }
    },
    logout() {
      this.$store
        .dispatch('logout')
        .then(() => this.$router.push({ name: 'home' }));
    },
  },
};
</script>

<style lang="scss" scoped>
.side-bar {
  &__user {
    background-color: $corporate-menu;
    padding-bottom: 20px;
  }
  &__parents {
    padding: 10px;
  }
  &__title {
    font-size: $regular;
    color: $dark-grey-font;
  }
  &__exit {
    display: block;
    padding: 10px 10px 10px 35px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 10px;
      left: 10px;
      height: 15px;
      width: 15px;
      background-image: url('../../../assets/img/svg/exit.svg');
    }
  }
}
</style>
