<template>
  <header>
    <div class="header-container">
      <logo class="logo"></logo>
      <language-selector class="language-selector" />
      <!-- <header-nav class="main-nav" /> -->
    </div>
  </header>
</template>

<script>
import logo from './../components/auth/Logo';
import LanguageSelector from './../components/auth/LanguageSelector';
// import HeaderNav from './../components/auth/HeaderNav';

export default {
  name: 'auth-header',
  components: {
    logo,
    LanguageSelector,
    // HeaderNav
  },
  mounted() {
    console.log(this.$route);
  },
};
</script>

<style scoped lang="scss">
header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  .header-container {
    display: grid;
    grid-template-columns: 155px 115px auto;
    grid-template-rows: 55px;
    grid-template-areas: 'logo lang nav';
    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 50% 0 50%;
      grid-template-rows: 55px;
      grid-template-areas: 'logo lang nav';
    }
    .logo {
      grid-area: logo;
    }
    .language-selector {
      grid-area: lang;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    .main-nav {
      grid-area: nav;
    }
  }
}
</style>
