<template>
  <div>
    <button @click.prevent="login()">Login</button>
    <button @click.prevent="test()">test</button>
    <button @click.prevent="refresh()">refresh</button>
  </div>
</template>

<script>
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  name: 'authTest',
  data: function() {
    return {
      token: null,
      refresh_token: null,
      uid: null,
    };
  },
  methods: {
    async login() {
      let data = {
        username: '123456321',
        password: 'Vekmnabkmv2019',
      };
      const authRepository = RepositoryFactory.get('auth');
      try {
        const resp = await authRepository.login(JSON.stringify(data));
        if (resp.data.status == 'ok') {
          this.token = resp.data.data.token;
          this.refresh_token = resp.data.data.refresh_token;
          this.uid = resp.data.data.uid;
        } else {
          componentErrorHandler(
            this,
            'Ошибка авторизации',
            'Возникла ошибка при авторизации:',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    async test() {
      let data = {
        uid: this.uid,
        Authorization: `Bearer ${this.token}`,
      };
      const authRepository = RepositoryFactory.get('auth');
      try {
        const resp = await authRepository.check(data);
        if (resp.data.status == 'ok') {
          // this.token = resp.data.data.token;
          // this.refresh_token = resp.data.data.refresh_token;
          // this.uid = resp.data.data.uid;
        } else {
          componentErrorHandler(
            this,
            'Ошибка авторизации',
            'Возникла ошибка при авторизации:',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    async refresh() {
      let data = {
        refresh_token: this.refresh_token,
        uid: this.uid,
      };
      const authRepository = RepositoryFactory.get('auth');
      try {
        const resp = await authRepository.refresh(data);
        if (resp.data.status == 'ok') {
          this.token = resp.data.data.token;
          this.refresh_token = resp.data.data.refresh_token;
          this.uid = resp.data.data.uid;
        } else {
          componentErrorHandler(
            this,
            'Ошибка авторизации',
            'Возникла ошибка при авторизации:',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>
<style lang="scss" scoped></style>
