<template>
  <div class="auth">
    <!--    <auth-header class="auth__header" />-->
    <links-header />
    <div class="auth__body">
      <router-view class="auth__body__container" />
    </div>
    <div class="auth__presentation">
      <presentation />
    </div>
    <auth-footer class="auth__footer" />
  </div>
</template>

<script>
// import AuthHeader from './AuthHeader';
import AuthFooter from '@/components/home/MainFooter';
import LinksHeader from '@/components/home/MainHeader.vue';
import Presentation from './../components/auth/Presentation';

export default {
  components: {
    // AuthHeader,
    AuthFooter,
    Presentation,
    LinksHeader,
  },
  mounted() {
    if (localStorage.getItem('role') === 'parent') {
      this.$router.push('/parents');
    } else if (localStorage.getItem('role') === 'child') {
      this.$router.push('/kids');
    }
  },
};
</script>

<style scoped lang="scss">
.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(./../assets/img/home/lines.png),
    url(./../assets/img/svg/vectorpaint.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-x: right, center;
  background-position-y: top, 50%;
  background-size: 50%, 1920px;
  background-color: $user_bg;
  @media screen and (min-width: 1900px) {
    background-size: 50%, 100%;
  }
  @media screen and (max-width: 800px) {
    background-image: url(./../assets/img/svg/vectorpaint.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-size: 1920px;
  }

  &__header {
  }
  &__body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;

    &__container {
      max-width: 50%;
      margin: 0;
      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__footer {
  }
  &__presentation {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    padding: 10px 20px;
  }
}
</style>
