<template>
  <section class="home">
    <Advantages /><!-- преимущества -->
    <Scope /><!-- возможности -->
    <Child /><!-- ребенок -->
    <User /><!-- пользователи -->
    <how-it-works /><!-- Как это работает -->
  </section>
</template>

<script>
import Advantages from '@/views/home/Advantages.vue';
import Scope from '@/views/home/Scope.vue';
import Child from '@/views/home/Child.vue';
import User from '@/views/home/User.vue';
import HowItWorks from '@/views/home/HowItWorks.vue';

export default {
  name: 'home',
  components: {
    Advantages,
    Scope,
    Child,
    User,
    HowItWorks,
  },
  mounted() {
    // if (localStorage.getItem('role') === 'parent') {
    //   this.$router.push('/parents');
    // } else if (localStorage.getItem('role') === 'child') {
    //   this.$router.push('/kids');
    // }
  },
};
</script>

<style lang="scss" scoped>
.home {
  background-color: $background-grey;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
</style>
