<template>
  <div class="notFound">
    <img src="@/assets/img/logo.svg" class="logo" alt="Logo" />
    <div class="notFound__message">
      <h1>{{ $t('messages.404') }}</h1>
      <h2>{{ $t('messages.4042') }}</h2>
      <myButton
        @click="$router.push('/')"
        :elClass="['corporate-light-radius-small']"
        >{{ $t('home.buttons.backToMain') }}</myButton
      >
    </div>
    <img src="@/assets/img/svg/brand/luja404.svg" alt="404 Image" />
  </div>
</template>
<script>
import RegularButton from '@/components/primitives/RegularButton';
export default {
  components: {
    myButton: RegularButton,
  },
};
</script>
<style scoped lang="scss">
.notFound {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $white;
  background: url('~@/assets/img/svg/brand/luja3.svg'),
    url('~@/assets/img/svg/brand/luja4.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  background-size: 20%, 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    justify-content: center;
  }

  &__message {
    max-width: 50%;
    h1 {
      font-weight: bold;
      font-size: 80px;
      color: #454545;
      margin: 0;
    }
    h2 {
      font-weight: normal;
      font-size: 24px;
      color: #454545;
    }
    .regular-button {
      padding: 20px 30px !important;
    }
    @media screen and (max-width: 1000px) {
      h1 {
        font-size: 65px;
      }
      h2 {
        font-size: 22px;
      }
    }
    @media screen and (max-width: 850px) {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 767px) {
      max-width: 70%;
    }
    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
  }

  img:not(.logo) {
    width: 40%;
    @media screen and (max-width: 1000px) {
      width: 60%;
      align-self: flex-end;
      margin-bottom: 8%;
    }
    @media screen and (max-width: 850px) {
      width: 50%;
      margin-bottom: 20%;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 8%;
      align-self: center;
    }
    @media screen and (max-width: 425px) {
      width: 85%;
      margin-bottom: 10%;
      align-self: center;
    }
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30%;
    height: auto;
  }
}
</style>
