<template>
  <div class="bg">
    <main class="partner">
      <div class="partner__description">
        <div
          style=" background-color: rgba(131, 224, 228, .1);"
          class="block block1"
        >
          <h2 class="block__title">
            {{ $t('home.about.appForKidTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.appForKidText') }}
          </p>
          <img
            class="block__img"
            src="@/assets/img/home/about/hand.png"
            alt=""
          />
        </div>
        <div
          style="background-color: rgba(255, 219, 146, .1);"
          class="block block2"
        >
          <img
            class="block__img"
            src="@/assets/img/home/about/location.png"
            alt=""
          />
          <h2 class="block__title">
            {{ $t('home.about.kidLocationTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.kidLocationText') }}
          </p>
        </div>
        <div
          style="background-color: rgba(46, 195, 202, .1);"
          class="block block3"
        >
          <img
            class="block__img"
            src="@/assets/img/home/partners/qr-phones.png"
            alt=""
          />
          <h2 class="block__title">
            {{ $t('home.about.kidCareTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.kidCareText') }}
          </p>
        </div>
        <div
          style="background-color: rgba(96, 223, 228, .1);"
          class="block block4"
        >
          <h2 class="block__title">
            {{ $t('home.about.settingsTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.settingsText') }}
          </p>
          <img
            class="block__img"
            src="@/assets/img/home/about/notebook-parent.png"
            alt=""
          />
        </div>
        <div
          style="background-color: rgba(191, 155, 80, .1);"
          class="block block5"
        >
          <h2 class="block__title">
            {{ $t('home.about.problemsTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.problemsText') }}
          </p>
          <img
            class="block__img"
            src="@/assets/img/home/about/toolbox.png"
            alt=""
          />
        </div>
        <div
          style="background-color: rgba(131, 224, 228, .1);"
          class="block block6"
        >
          <h2 class="block__title">
            {{ $t('home.about.calendarTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.calendarText') }}
          </p>
          <img
            class="block__img"
            src="@/assets/img/home/partners/calendar1.png"
            alt=""
          />
        </div>
        <div
          style="background-color: rgba(131, 224, 228, .1);"
          class="block block7"
        >
          <h2 class="block__title">
            {{ $t('home.about.contactsTitle') }}
          </h2>
          <p class="block__text">
            {{ $t('home.about.contactsText') }}
          </p>
          <img
            class="block__img"
            src="@/assets/img/home/about/people.png"
            alt=""
          />
        </div>
        <div
          class="block block8"
          style="background-color: rgba(131, 224, 228, .1);"
        >
          <h2 class="block__title">
            {{ $t('home.about.moreAhead') }}
          </h2>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  name: 'About',
};
</script>

<style lang="scss" scoped>
.bg {
  background-image: url(./../assets/img/svg/vectorpaint.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-color: $user_bg;
  @media screen and (min-width: 1900px) {
    background-size: cover;
  }
  @media screen and (max-width: 800px) {
    background-image: url(./../assets/img/svg/vectorpaint.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-size: 1920px;
  }
}
.partner {
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  padding: 10px 20px;
  &__description {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    margin-top: -50px;

    @media screen and (max-width: 800px) {
      margin-top: -50px;
    }

    .block {
      width: 48%;
      height: 600px;
      margin: 1%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 20px;

      @media screen and (max-width: 800px) {
        width: 98%;
      }
      @media screen and (max-width: 500px) {
        height: 500px;
      }

      &:nth-child(2n + 1) {
        margin-top: -300px;
        @media screen and (max-width: 800px) {
          margin-top: 1%;
        }
      }

      &.block1 {
        justify-content: flex-end;
        padding-bottom: 0;
      }

      &.block1 .block__title {
      }

      &.block1 .block__img {
        max-height: 50%;
        @media screen and (max-width: 800px) {
          margin-top: 80px;
        }
        @media screen and (max-width: 400px) {
          margin-top: 20px;
        }
      }

      &.block2 .block__img {
        max-width: 40%;
      }

      &.block3 .block__img {
        max-width: 40%;
      }
      &.block4 .block__img {
        margin-top: 20px;
        max-width: 80%;
      }
      &.block5 .block__img {
      }

      &.block6 .block__img {
        margin-bottom: -100px;
        @media screen and (max-width: 800px) {
          max-height: 50%;
        }
      }

      &.block7 .block__img {
      }

      &.block8 {
        @media screen and (max-width: 800px) {
        }
      }
      &__title {
        text-align: center;
        font-size: $big;
        font-weight: 200;
      }
      &__text {
        text-align: center;
        color: $black-font;
        max-width: 350px;
      }
      &__img {
        max-width: 80%;
        max-height: 100%;
      }
    }
  }
}
</style>
