<template>
  <div class="brand-center">
    <div class="brand-center__header">
      <h1>БРЕНД-<span>ЦЕНТР</span></h1>
      <h3>
        Добро пожаловать в Бренд-центр Justapp. Если вы хотите получить
        актуальную информацию, включая ссылки на скриншоты, фото и изображения,
        скачайте полный брендбук.
      </h3>
      <regular-button :elClass="['submit']"
        >Скачать полный БРЕНД-БУК</regular-button
      >
    </div>
    <div class="brand-center__logo">
      <h2><span>Логотип</span></h2>
      <h3>
        Базовый логотип Justapp представлен в нескольких вариантах, чтобы
        обеспечить гибкость его использования в различных форматах.
      </h3>
      <div class="brand-center__logo__body">
        <div class="brand-center__logo__body__top">
          <div class="brand-center__logo__body__top__item img">
            <img src="@/assets/img/svg/brand/logo-blue-invisible.svg" />
          </div>
          <img
            src="@/assets/img/svg/brand/logo-black-square.svg"
            class="brand-center__logo__body__top__item img"
          />
          <img
            src="@/assets/img/svg/brand/logo-blue-square.svg"
            class="brand-center__logo__body__top__item img"
          />
          <div class="brand-center__logo__body__top__item img">
            <img src="@/assets/img/svg/brand/logo-black-invisible.svg" />
          </div>
        </div>
        <div class="brand-center__logo__body__bottom">
          <img
            src="@/assets/img/svg/brand/logo-blue-round.svg"
            class="brand-center__logo__body__bottom__item"
          />
          <img
            src="@/assets/img/svg/brand/logo-white-round.svg"
            class="brand-center__logo__body__bottom__item"
          />
          <img
            src="@/assets/img/svg/brand/logo-black-round.svg"
            class="brand-center__logo__body__bottom__item"
          />
        </div>
      </div>
      <regular-button :elClass="['submit']"
        >Скачать все логотипы</regular-button
      >
    </div>
    <div class="brand-center__colors">
      <h2>Фирменные <span>цвета</span></h2>
      <h3>
        Базовый логотип Justapp представлен в нескольких вариантах, чтобы
        обеспечить гибкость его использования в различных форматах.
      </h3>
      <div class="brand-center__colors__body">
        <div class="brand-center__colors__body__item">
          <p><span>#</span>OCA8AD</p>
          <p><span>R</span>12 <span>G</span>168 <span>B</span>173</p>
          <div :style="'background: #0ca8ad'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>1BBFC6</p>
          <p><span>R</span>27 <span>G</span>191 <span>B</span>198</p>
          <div :style="'background: #1bbfc6'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>6ED1D1</p>
          <p><span>R</span>110 <span>G</span>209 <span>B</span>215</p>
          <div :style="'background: #6ED1D1'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>7FF9FE</p>
          <p><span>R</span>127 <span>G</span>249 <span>B</span>245</p>
          <div :style="'background: #7FF9FE'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>EDEBE5</p>
          <p><span>R</span>237 <span>G</span>235 <span>B</span>229</p>
          <div :style="'background: #EDEBE5'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>F3F2EB</p>
          <p><span>R</span>243 <span>G</span>242 <span>B</span>235</p>
          <div :style="'background: #F3F2EB'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>E1ECED</p>
          <p><span>R</span>225 <span>G</span>236 <span>B</span>237</p>
          <div :style="'background: #E1ECED'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>E8F2F2</p>
          <p><span>R</span>232 <span>G</span>242 <span>B</span>242</p>
          <div :style="'background: #E8F2F2'"></div>
        </div>
        <div class="brand-center__colors__body__item">
          <p><span>#</span>F3F4F4</p>
          <p><span>R</span>243 <span>G</span>244 <span>B</span>244</p>
          <div :style="'background: #F3F4F4'"></div>
        </div>
      </div>
    </div>
    <div class="brand-center__font">
      <h2><span>Фирменный</span> шрифт</h2>
      <h3>
        На всех носителях фирменного стиля Justapp используются шрифты семейства
        Gilroy. О соотношении размеров, использовании различных начертаний и
        стилическом оформлении текста рассказывается в разделах, посвященных
        конкретным носителям.
      </h3>
      <div class="brand-center__font__body">
        <img src="@/assets/img/svg/brand/fonts.svg" alt="Fonts" />
      </div>
      <regular-button :elClass="['submit']">Скачать шрифт</regular-button>
    </div>
    <div class="brand-center__combination">
      <h2>Недопустимые <span>комбинации</span></h2>
      <h3>
        Недопустимо разделять части логотипа, изменять пропорции частей лого
        относительно друг друга, применять прозрачность, изменять цвет.
        Недопустимо непропорциональное изменение размеров, искажение знака по
        вертикали и горизонтали
      </h3>
      <div class="brand-center__combination__body">
        <img
          src="@/assets/img/svg/brand/combination-desktop.svg"
          alt="Combination"
          class="desktop"
        />
        <img
          src="@/assets/img/svg/brand/combination-mobile.svg"
          alt="Combination"
          class="mobile"
        />
      </div>
    </div>
    <div class="brand-center__screen">
      <h2><span>Скриншоты</span></h2>
      <h3>
        Используйте предоставленные скриншоты “как есть”. Запрещается
        редактировать, исправлять, деформировать, изменять положение или
        цветовую гамму скриншотов
      </h3>
      <div class="brand-center__screen__body">
        <img
          src="@/assets/img/svg/brand/screen-small-one-min.png"
          alt="Combination"
          class="desktop"
        />
        <img
          src="@/assets/img/svg/brand/screen-big-min.png"
          alt="Combination"
          class="mobile"
        />
        <img
          src="@/assets/img/svg/brand/screen-small-two-min.png"
          alt="Combination"
          class="mobile"
        />
      </div>
      <regular-button :elClass="['submit']"
        >Скачать все скриншоты</regular-button
      >
    </div>
    <div class="brand-center__buttons">
      <h2>Кнопки</h2>
      <div class="brand-center__buttons__body">
        <img
          src="@/assets/img/svg/brand/buttons-blue-min.png"
          alt="Combination"
          class="desktop"
        />
        <img
          src="@/assets/img/svg/brand/buttons-white-min.png"
          alt="Combination"
          class="mobile"
        />
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from '@/components/primitives/RegularButton';
export default {
  name: 'BrandCenter',
  components: {
    RegularButton,
  },
};
</script>

<style scoped lang="scss">
.brand-center {
  background: #f9f9f9;
  color: #454545;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  button {
    @media screen and (min-width: 900px) {
      font-size: $semi-big !important;
    }
  }

  & h1,
  & h1 span {
    span {
      color: $corporate;
    }
    font-size: 114px;
    font-weight: normal;
    @media screen and (max-width: 1024px) {
      font-size: 100px;
    }
    @media screen and (max-width: 900px) {
      font-size: 70px;
    }
    @media screen and (max-width: 426px) {
      font-size: 40px;
    }
  }
  & h2,
  & h2 span {
    font-size: 80px;
    font-weight: normal;
    span {
      color: $corporate;
    }
    @media screen and (max-width: 1024px) {
      font-size: 65px;
    }
    @media screen and (max-width: 900px) {
      font-size: 50px;
    }
    @media screen and (max-width: 426px) {
      font-size: 30px;
    }
  }
  & h3,
  & h3 span {
    font-size: 22px;
    font-weight: normal;
    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
    @media screen and (max-width: 900px) {
      font-size: 14px;
    }
  }
  &__header {
    text-align: center;
    overflow: hidden;
    min-height: 600px;
    background: url('~@/assets/img/svg/brand/luja1.svg'),
      url('~@/assets/img/svg/brand/luja2.svg');
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, 16%;

    h3 {
      width: 60%;
      margin: 20px auto;
    }
    button {
      margin: 0 auto;
      @media screen and (max-width: 426px) {
        margin-bottom: 60px;
        padding: 25px 20% !important;
      }
    }
    @media screen and (max-width: 900px) {
      min-height: 400px;
    }
    @media screen and (max-width: 426px) {
      background-position: 0 -20%, 100% -20%;
      background-size: 30%, 24%;
      padding-top: 100px;
    }
  }
  &__logo {
    position: relative;
    margin-bottom: 100px;
    &__body {
      background: #e8f2f2;
      background-image: url('~@/assets/img/svg/brand/waves2top.svg'),
        url('~@/assets/img/svg/brand/waves2bot.svg');
      background-repeat: no-repeat, no-repeat;
      background-position: top, bottom;
      background-size: 100%, 100%;
      &__top {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 699px) {
          .img:nth-child(1) {
            order: 1;
          }
          .img:nth-child(2) {
            order: 4;
          }
          .img:nth-child(3) {
            order: 2;
          }
          .img:nth-child(4) {
            order: 3;
          }
          padding-top: 0;
        }
        .img {
          width: 48%;
          display: flex;
          justify-content: center;
          @media screen and (max-width: 1024px) {
            width: 400px;
          }
          @media screen and (max-width: 900px) {
            width: 350px;
            height: 250px;
          }
          @media screen and (max-width: 426px) {
            width: 250px;
            height: 180px;
          }
        }
      }
      &__bottom {
        padding-bottom: 120px;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 426px) {
          padding-bottom: 10%;
        }

        img {
          width: 25%;
          display: flex;
          justify-content: center;
        }
      }
    }
    button {
      position: absolute !important;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      @media screen and (max-width: 1024px) {
        bottom: -10%;
      }
      @media screen and (max-width: 699px) {
        bottom: -6%;
      }
      @media screen and (max-width: 426px) {
        padding: 25px 20% !important;
        bottom: -10%;
      }
    }
    h2 {
      margin: 0 0 10px 0;
      padding: 0 50px;
    }
    h3 {
      padding: 0 50px;
    }
  }
  &__colors {
    text-align: right;
    &__body {
      display: flex;
      justify-content: center;
      width: 85%;
      height: max-content;
      margin: 60px auto 0 auto;
      position: relative;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-left: -10px;
        p {
          span {
            color: $corporate-menu;
          }
          margin: 0;
        }
        div {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin: 10px 0;
          box-shadow: 0px 36.1607px 28.9286px rgba(0, 0, 0, 0.0503198),
            0px 19.3332px 15.4666px rgba(0, 0, 0, 0.0417275),
            0px 10.8381px 8.67044px rgba(0, 0, 0, 0.035),
            0px 5.75601px 4.60481px rgba(0, 0, 0, 0.0282725),
            0px 2.3952px 1.91616px rgba(0, 0, 0, 0.0196802);
        }
      }
      @media screen and (max-width: 1023px) {
        flex-wrap: wrap;
      }
    }
    h2 {
      margin: 120px 0 0 0;
      padding: 0 50px;
      @media screen and (max-width: 375px) {
        margin: 0;
      }
      @media screen and (max-width: 320px) {
        margin: 30px 0 0 0;
      }
    }
    h3 {
      padding: 0 50px;
    }
  }
  &__font {
    position: relative;
    &__body {
      background: url('~@/assets/img/svg/brand/waves3.svg') no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      padding: 60px 0 220px 0;
      img {
        height: 100%;
        width: 90%;
      }
    }
    h2 {
      margin: 100px 0 10px 0;
      padding: 0 50px;
    }
    h3 {
      padding: 0 50px;
    }
    button {
      position: absolute !important;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      @media screen and (max-width: 1024px) {
        bottom: 10px;
      }
      @media screen and (max-width: 426px) {
        padding: 25px 30% !important;
      }
    }
  }
  &__combination {
    text-align: right;
    &__body {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      .mobile {
        display: none;
      }
      @media screen and (max-width: 800px) {
        .mobile {
          display: block;
        }
        .desktop {
          display: none;
        }
      }
      img {
        width: 80%;
      }
    }
    h2 {
      margin: 120px 0 0 0;
      padding: 0 50px;
      @media screen and (max-width: 1024px) {
        margin: 80px 0 0 0;
      }
    }
    h3 {
      padding: 0 50px;
    }
  }
  &__screen {
    position: relative;
    &__body {
      background: url('~@/assets/img/svg/brand/waves.svg') no-repeat;
      background-size: cover;
      padding-bottom: 120px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      /*justify-content: space-between;*/
      align-items: center;
      justify-items: center;
      /*width: 100%;*/

      img {
        width: 80%;
      }
      img:nth-child(2) {
        width: 120%;
        @media screen and (max-width: 426px) {
          width: 100%;
          grid-area: big;
        }
      }
      img:nth-child(1) {
        @media screen and (max-width: 426px) {
          grid-area: small1;
        }
      }
      img:nth-child(3) {
        @media screen and (max-width: 426px) {
          grid-area: small2;
        }
      }
      @media screen and (max-width: 426px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 1fr;
        grid-template-areas:
          'big big'
          'small1 small2';
      }
    }
    h2 {
      margin: 120px 0 0 0;
      padding: 0 50px;
    }
    h3 {
      padding: 0 50px;
    }
    button {
      position: absolute !important;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 50px;

      @media screen and (max-width: 426px) {
        padding: 25px 20% !important;
      }
    }
  }
  &__buttons {
    text-align: right;
    h2 {
      margin: 40px 0 0 0;
      padding: 0 50px;
      @media screen and (max-width: 900px) {
        margin: 0;
      }
    }
    h3 {
      padding: 0 50px;
    }
    &__body {
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      img {
        width: 80%;
        @media screen and (max-width: 426px) {
          width: 100%;
        }
      }
      img:nth-child(1) {
        align-self: flex-end;
      }
    }
  }
}
</style>
