<template>
  <div class="bg">
    <div class="contacts">
      <div class="contacts__container">
        <div
          style=" background-color: rgba(131, 224, 228, .1);"
          class="contacts__container__item"
        >
          <div class="map map1">
            <img
              src="@/assets/img/home/contacts/amsterdam.jpg"
              alt=""
              class="map__image"
            />
          </div>
          <h2 class="city">{{ $t('home.contacts.amsterdam') }}</h2>
          <span class="phone"
            ><a href="tel:+31 9701 028-09-03">+31 9701 028-09-03</a></span
          >
          <span class="email"
            ><a href="mailto:nl.office@justapp.org"
              >nl.office@justapp.org</a
            ></span
          >
        </div>
        <div
          style="background-color: rgba(255, 219, 146, .1);"
          class="contacts__container__item"
        >
          <div class="map">
            <img
              src="@/assets/img/home/contacts/new-york.jpg"
              alt=""
              class="map__image"
            />
          </div>
          <h2 class="city">{{ $t('home.contacts.newYork') }}</h2>
          <span class="phone"
            ><a href="tel:+1 347 775-22-92">+1 347 775-22-92</a></span
          >
          <span class="email"
            ><a href="mailto:us.office@justapp.org"
              >us.office@justapp.org</a
            ></span
          >
        </div>
        <div
          style="background-color: rgba(46, 195, 202, .1);"
          class="contacts__container__item"
        >
          <div class="map">
            <img
              src="@/assets/img/home/contacts/moscow.jpg"
              alt=""
              class="map__image"
            />
          </div>
          <h2 class="city">{{ $t('home.contacts.moscow') }}</h2>
          <span class="phone"
            ><a href="tel:+7 499 113-25-45">+7 499 113-25-45</a></span
          >
          <span class="email"
            ><a href="mailto:ru.office@justapp.org"
              >ru.office@justapp.org</a
            ></span
          >
        </div>
        <div
          style="background-color: rgba(96, 223, 228, .1);"
          class="contacts__container__item"
        >
          <div class="map">
            <img
              src="@/assets/img/home/contacts/kyiv.jpg"
              alt=""
              class="map__image"
            />
          </div>
          <h2 class="city">{{ $t('home.contacts.kyiv') }}</h2>
          <span class="phone"
            ><a href="tel:+380443337529">+38 044 333-75-29</a></span
          >
          <span class="email"
            ><a href="mailto:ua.office@justapp.org"
              >ua.office@justapp.org</a
            ></span
          >
        </div>
        <div
          style="background-color: rgba(191, 155, 80, .1);"
          class="contacts__container__item"
        >
          <div class="map">
            <img
              src="@/assets/img/home/contacts/nur-sultan.jpg"
              alt=""
              class="map__image"
            />
          </div>
          <h2 class="city">
            {{ $t('home.contacts.nurSultan') }}
          </h2>
          <span class="phone"></span>
          <span class="email"
            ><a href="mailto:kz.office@justapp.org"
              >kz.office@justapp.org</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contacts',
};
</script>

<style lang="scss" scoped>
.bg {
  background-image: url(./../assets/img/svg/vectorpaint.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-color: $user_bg;
  @media screen and (min-width: 1900px) {
    background-size: cover;
  }
  @media screen and (max-width: 800px) {
    background-image: url(./../assets/img/svg/vectorpaint.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-size: 1920px;
  }
}
.contacts {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;

  &__header {
    margin-left: 2%;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__item {
      width: 48%;
      margin: 1%;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media screen and (max-width: 800px) {
        width: 98%;
      }

      &:first-of-type {
        padding: 40px;
        width: 98%;
        @media screen and (max-width: 800px) {
          padding: 20px;
        }
        .city {
          font-size: $big + 3px;
          font-weight: 500;
        }
        .phone {
          a {
            color: $black-font;
            font-size: $semi-big;

            font-weight: 500;
          }
        }
      }

      .map {
        &.map1 {
          @media screen and (min-width: 800px) {
            max-height: 70vh;
            overflow: hidden;
          }
          .map__image {
            @media screen and (min-width: 800px) {
              object-fit: cover;
              object-position: center;
            }
          }
        }
        &__image {
          width: 100%;
        }
      }
      .city {
        font-size: $big;
        font-weight: 200;
      }
      .phone {
        margin-bottom: 10px;
        a {
          color: $black-font;
          font-size: $semi-big;
          font-weight: 200;
        }
      }
      .email {
        a {
          color: $black-font;
        }
      }
    }
  }
}
</style>
