<template>
  <section class="auth">
    <div class="auth__body">
      <component
        class="auth__body__container"
        v-bind:is="current"
        :isEntity="isEntity"
        @goToRegister="registerObject"
        @goToLogin="goToLogin"
        @current="changeCurrent"
      ></component>
    </div>
    <!--    <div v-if="current == 'Login'" class="auth__news">-->
    <!--      <news />-->
    <!--    </div>-->
  </section>
</template>

<script>
// import News from '@/components/home/News';
import Login from '@/views/home/auth/Login';
import Forgot from '@/views/home/auth/Forgot';
import Register from '@/views/home/auth/RegisterObject';

export default {
  name: 'Home',
  components: {
    // News,
    Login,
    Forgot,
    Register,
  },
  data() {
    return {
      current: 'Login',
      isEntity: false,
    };
  },
  mounted() {
    let role = localStorage.getItem('role');
    if (role === 'child') {
      this.$router.push('/kids');
    } else if (role === 'outlet-manager' || role === 'outlet-user') {
      this.$router.push('/shop');
    } else if (role) {
      this.$router.push('/parents');
    } else if (this.$route.query.regEntity === 'true') {
      this.isEntity = true;
      this.current = 'Register';
    }
  },
  methods: {
    changeCurrent(val) {
      this.current = val;
    },
    registerObject() {
      this.isEntity = true;
      this.changeCurrent('Register');
    },
    goToLogin() {
      this.isEntity = false;
      this.changeCurrent('Login');
    },
  },
};
</script>

<style lang="scss" scoped>
.auth {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-image: url(./../assets/img/svg/vectorpaint.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-color: $user_bg;

  @media screen and (min-width: 1900px) {
    background-size: cover;
  }

  @media screen and (max-width: 800px) {
    background-image: url(./../assets/img/svg/vectorpaint.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-size: 1920px;
  }

  &__body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;

    @media screen and (max-width: 370px) {
      padding: 10px 5px 10px 0;
    }

    &__container {
      max-width: 60%;
      margin: 50px auto;

      @media screen and (max-width: 1024px) {
        max-width: 80%;
      }

      @media screen and (max-width: 900px) {
        max-width: 100%;
      }
    }
  }

  &__news {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    padding: 10px 20px;
  }
}
</style>
