<template>
  <div class="kids">
    <kids-header class="kids__header" />
    <div class="kids__main">
      <side-bar
        :key="'kids-side-bar' + $i18n.locale"
        class="kids__main__side-bar"
      />
      <router-view :key="'kids' + $i18n.locale" class="kids__main__container" />
    </div>

    <kids-footer :key="'kids-footer' + $i18n.locale" class="kids__footer" />
    <notification-catcher :id="this.userId * 1" />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Header from './user/parents/Header';
import SideBar from './user/kids/SideBar';
import Footer from './user/parents/ParentsFooter';
import NotificationCatcher from '@/components/common/NotificationCatcher';

export default {
  name: 'Kids',
  data: function() {
    return {
      userId: null,
    };
  },
  components: {
    NotificationCatcher,
    'kids-header': Header,
    'side-bar': SideBar,
    'kids-footer': Footer,
  },
  watch: {
  },
  mounted() {
    this.userId = localStorage.getItem('userId');
    this.$store.dispatch('user/getUserInfo', { id: this.userId });
    this.$store.dispatch('user/getUserParents');
    this.$store
      .dispatch('user/getKidAccount', JSON.stringify({ user_id: this.userId })) //@todo Зачем это тут?
      .then(() => {
        this.$store.dispatch('user/getCampInfo', {
          camp_id: this.kidCamp.camp_id,
        });
      });
  },
  computed: {
    ...mapState({
      // currentUser: state => state.user.info,
      kidCamp: state => state.user.activeKidCamp,
      // campInfo: state => state.user.kidCamp
    }),
  },
};
</script>

<style lang="scss" scoped>
.kids {
  background: $user_bg;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  min-height: 100vh;

  &__header {
    flex-grow: 0;
  }
  &__main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
    flex-grow: 2;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: stretch;
      padding: 0 20px;
    }

    &__container {
      /*min-height: calc(100vh - 200px);*/
      max-width: 74%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      min-height: 700px;

      @media screen and (max-width: 800px) {
        max-width: 100%;
        margin-top: 20px;
      }
    }
    &__side-bar {
      height: fit-content;
      flex-grow: 0;
      max-width: 24%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__footer {
    flex-grow: 0;
  }
}
</style>
