<template>
  <div class="kitchen">
    <loader v-if="loading" />
    <kitchen-main-header class="kitchen__main__header" />
    <router-view class="kitchen__main__body" />
    <kitchen-catalog-header class="kitchen__catalog__header" />
    <kitchen-catalog class="kitchen__catalog__body" />
  </div>
</template>

<script>
import Loader from '@/components/common/Loader.vue';
import { mapState } from 'vuex';
import KitchenCatalog from './shop/KitchenCatalog.vue';
import KitchenMainHeader from './shop/KitchenMainHeader.vue';
import KitchenCatalogHeader from './shop/KitchenCatalogHeader.vue';
import { asyncGetLocalStorage } from '@/helpers/methods/asyncLocalStorage';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  name: 'Kitchen',
  components: {
    KitchenMainHeader,
    KitchenCatalogHeader,
    KitchenCatalog,
    Loader,
  },
  data: function() {
    return {
      timestamps: [],
      loading: true,
    };
  },
  computed: {
    ...mapState({
      user_camp: state => state.user?.activeKidCamp?.camp_id,
      outlet_id: state => state.outlet.outlet_id,
      outlet_info: state => state.outlet.outletInfo,
      kitchenList: state => state.outlet.kitchenList,
      currentKitchen: state => state.outlet.currentKitchen,
    }),
  },
  watch: {
    currentKitchen() {
      if (this.currentKitchen) {
        this.$store.dispatch('outlet/getKitchenInfo', {
          kitchen_id: this.currentKitchen,
        });
        this.$store.dispatch('outlet/getKitchenProducts', {
          kitchen_id: this.currentKitchen,
          per_page: 10000,
        });
        this.$store.dispatch('outlet/getKitchenCategories', {
          kitchen_id: this.currentKitchen,
        });
      }
    },
  },
  async mounted() {
    this.userId = await asyncGetLocalStorage('userId');
    await this.$store.dispatch('user/getKidAccount', { user_id: this.userId });
    await this.$store.dispatch('outlet/getKitchenList', {
      camp_id: this.user_camp,
    });
    if (this.kitchenList.length < 1) {
      this.$router.push('/shop');
      componentErrorHandler(
        this,
        'Кухня',
        'К сожалению мы не нашли доступных кухонь.',
        'error'
      );
    }
    this.loading = false;
    this.$store.dispatch('outlet/getKitchenInfo', {
      kitchen_id: this.kitchenList[0].id,
    });
    this.$store.dispatch('outlet/getKitchenProducts', {
      kitchen_id: this.kitchenList[0].id,
      per_page: 10000,
    });
    this.$store.dispatch('outlet/getKitchenCategories', {
      kitchen_id: this.kitchenList[0].id,
    });

    // this.$store
    //   .dispatch('outlet/getOutletId', {
    //     user_id: localStorage.getItem('userId'),
    //   })
    //   .then(() => {
    //     this.$store
    //       .dispatch('outlet/getOutletInfo', { outlet_id: this.outlet_id })
    //       .then(() => {
    //         this.$store
    //           .dispatch('outlet/getKitchenList', {
    //             camp_id: this.outlet_info.camp_id,
    //           })
    //           .then(() => {
    //             this.$store.dispatch('outlet/getKitchenInfo', {
    //               kitchen_id: this.kitchenList[0].id,
    //             });
    //             this.$store.dispatch('outlet/getKitchenProducts', {
    //               kitchen_id: this.kitchenList[0].id,
    //             });
    //             this.$store.dispatch('outlet/getKitchenCategories', {
    //               kitchen_id: this.kitchenList[0].id,
    //             });
    //           });
    //         this.loading = false;
    //       });
    //   });
  },
};
</script>

<style lang="scss" scoped>
.kitchen {
  position: relative;
  display: grid;
  grid-template-columns: [main] 2fr [catalog] 1fr;
  grid-template-rows: [headers] 70px [bodys] auto;
  grid-template-areas: 'shop-main-header shop-catalog-header' 'shop-main-body shop-catalog-body';
  background-color: $white;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  min-height: 100vh;

  &__main {
    &__header {
      grid-area: shop-main-header;
      border-bottom: 2px solid $grey;
      border-right: 1px solid $grey;
      padding: 15px;
    }

    &__body {
      grid-area: shop-main-body;
      border-right: 1px solid $grey;
    }
  }

  &__catalog {
    &__header {
      grid-area: shop-catalog-header;
      border-bottom: 2px solid $grey;
      border-left: 1px solid $grey;
    }

    &__body {
      grid-area: shop-catalog-body;
      border-left: 1px solid $grey;
      padding: 15px;
    }
  }
}
</style>
