<template>
  <div class="leader">
    <loader v-if="loading" />
    <leader-header class="leader__header" />
    <div class="leader__main">
      <side-bar
        :key="'leader-side-bar' + $i18n.locale"
        class="leader__main__side-bar"
        :class="{ '-mobileOpen': mobileMenuOpened }"
      />
      <router-view
        :key="'leader' + $i18n.locale"
        id="main"
        class="leader__main__container"
      />
    </div>

    <leader-footer
      :key="'leader-footer' + $i18n.locale"
      :parent="true"
      class="leader__footer"
    />
    <notification-catcher :id="this.userId * 1" />
  </div>
</template>

<script>
import Loader from '@/components/common/Loader.vue';
import LeaderHeader from '@/views/user/parents/Header';
import SideBar from '@/views/user/leader/SideBar';
import Footer from '@/views/user/parents/ParentsFooter';
import NotificationCatcher from '@/components/common/NotificationCatcher';
import { mapState } from 'vuex';

export default {
  name: 'Leader',
  components: {
    LeaderHeader,
    Loader,
    SideBar,
    NotificationCatcher,
    'leader-footer': Footer,
  },
  data: function() {
    return {
      loading: false,
      userId: null,
      role: null,
    };
  },
  watch: {
    $route() {
      this.scrollToMain();
    },
  },
  async mounted() {
    //Получаем размер окна.
    this.windowWidth = window.innerWidth;
    //
    this.role = localStorage.getItem('role');
    this.userId = localStorage.getItem('userId');
    await this.$store.dispatch('user/getUserInfo', { id: this.userId });
    this.$store.commit(
      'user/SET_ROLE_INFO',
      this.roles.find(i => {
        return i.role === this.role;
      })
    );
  },
  computed: {
    ...mapState({
      roles: state => state.user.roles,
      account: state => state.account,
    }),
  },
  methods: {
    scrollToMain() {
      if (this.windowWidth < 800) {
        document.getElementById('main').scrollIntoView({ behavior: 'smooth' });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.leader {
  background: $user_bg;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  min-height: 100vh;

  &__header {
    flex-grow: 0;
  }
  &__main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
    flex-grow: 2;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: stretch;
      padding: 0 20px;
    }

    &__container {
      /*min-height: calc(100vh - 200px);*/
      max-width: 74%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      min-height: 700px;

      @media screen and (max-width: 800px) {
        max-width: 100%;
        margin-top: 20px;
      }
    }
    &__side-bar {
      height: fit-content;
      flex-grow: 0;
      max-width: 24%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__footer {
    flex-grow: 0;
  }
}
</style>
