<template>
  <div class="main">
    <main-header :key="'header-' + $i18n.locale" class="main__header" />
    <!--    key used for update menu items after locale change-->
    <router-view class="main__container" />
    <main-footer :key="'footer-' + $i18n.locale" class="main__footer" />
  </div>
</template>

<script>
import MainHeader from '@/components/home/MainHeader';
import MainFooter from '@/components/home/MainFooter';

export default {
  name: 'MainPage',
  components: { MainHeader, MainFooter },
};
</script>

<style lang="scss" scoped>
.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;

  &__header {
    flex-grow: 0;
  }
  &__container {
    flex-grow: 2;
  }
  &__footer {
    flex-grow: 0;
  }
}
</style>
