<template>
  <div class="parents">
    <parents-header class="parents__header" />

    <div class="parents__main">
      <parents-side-bar
        :key="'parents-side-bar' + $i18n.locale"
        class="parents__main__side-bar"
        :class="{ '-mobileOpen': mobileMenuOpened }"
      />
      <router-view
        :key="'parents' + $i18n.locale"
        id="main"
        class="parents__main__container"
      />
    </div>

    <parents-footer
      :key="'parents-footer' + $i18n.locale"
      :parent="true"
      class="parents__footer"
    />
    <notification-catcher :id="this.userId * 1" />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Header from './user/parents/Header';
import SideBar from './user/parents/SideBar';
import Footer from './user/parents/ParentsFooter';
import NotificationCatcher from '@/components/common/NotificationCatcher';

export default {
  name: 'Parents',
  data: function() {
    return {
      userId: null,
      mobileMenuOpened: false,
      windowWidth: 0,
    };
  },
  components: {
    NotificationCatcher,
    'parents-header': Header,
    'parents-side-bar': SideBar,
    'parents-footer': Footer,
  },
  watch: {
    $route() {
      this.scrollToMain();
    },
    userKids() {
      this.$store.commit('user/CLEAR_USER_KIDS_INFO');
      this.userKids.map(item => {
        this.$store.dispatch('user/getMyKidsInfo', { id: item.user_id });
      });
    },
    userKidsInfo() {
      if (this.userKidsInfo.length > 0) {
        this.$store.commit('user/SET_ACTIVE_KID', this.userKidsInfo[0]);
      }
    },
  },
  async mounted() {
    //Получаем размер окна.
    this.windowWidth = window.innerWidth;
    //
    this.userId = localStorage.getItem('userId');
    await this.$store.dispatch('user/getUserInfo', { id: this.userId });
    await this.$store.dispatch('user/getUsersKids', { parent_id: this.userId });
  },
  computed: {
    ...mapState({
      userKids: state => state.user.kids,
      userKidsInfo: state => state.user.kidsInfo,
    }),
  },
  methods: {
    scrollToMain() {
      if (this.windowWidth < 800) {
        document.getElementById('main').scrollIntoView({ behavior: 'smooth' });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.parents {
  background: $user_bg;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  min-height: 100vh;

  &__header {
    flex-grow: 0;
  }
  &__main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
    flex-grow: 2;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: stretch;
      padding: 0 20px;
    }

    &__container {
      /*min-height: calc(100vh - 200px);*/
      max-width: 74%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      min-height: 700px;

      @media screen and (max-width: 800px) {
        max-width: 100%;
        margin-top: 20px;
      }
    }
    &__side-bar {
      height: fit-content;
      flex-grow: 0;
      max-width: 24%;
      width: 100%;
      background-color: $white;
      box-shadow: 0 0 6px #e7e7e7;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__footer {
    flex-grow: 0;
  }
}
</style>
