<template>
  <div class="bg">
    <div class="partner-tabs">
      <div class="partner-tabs__container">
        <router-link
          class="partner-tabs__container__link"
          :to="{ name: 'kindergarten' }"
          >{{ $t('home.partner.tabs.kindergarten') }}</router-link
        >/
        <router-link
          class="partner-tabs__container__link"
          :to="{ name: 'school' }"
          >{{ $t('home.partner.tabs.school') }}</router-link
        >/
        <router-link
          class="partner-tabs__container__link"
          :to="{ name: 'camp' }"
          >{{ $t('home.partner.tabs.camp') }}</router-link
        >
      </div>
    </div>
    <div :key="$route.name" class="partner">
      <router-view @redirectSignUp="redirectSignUp" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Partner',
  methods: {
    redirectSignUp() {
      this.$router.push('/register-company');
    },
  },
};
</script>

<style lang="scss" scoped>
.bg {
  background-image: url(./../assets/img/svg/vectorpaint.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-color: $user_bg;
  @media screen and (min-width: 1900px) {
    background-size: cover;
  }
  @media screen and (max-width: 800px) {
    background-image: url(./../assets/img/svg/vectorpaint.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-size: 1920px;
  }
}
.partner-tabs {
  width: 100%;
  background-color: $white;
  position: relative;
  z-index: 99;

  &__container {
    max-width: 1400px;
    width: 100%;
    padding: 30px 20px;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__link {
      margin: 0 20px;
      font-size: $semi-big;
      font-weight: 300;
      color: $dark-grey-font;
      text-transform: uppercase;
      @media screen and (max-width: 700px) {
        margin: 10px 20px;
      }

      &.-active {
        font-size: $big;
        color: $corporate-menu;
      }
    }
  }
}
.partner {
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  padding: 10px 20px;
}
</style>
