<template>
  <div class="rates-wrp">
    <div class="rates">
      <reflective-hover
        :elClass="['rates__header']"
        :elText="$t('home.header.rates')"
      />
      <div class="rates__body">
        <div
          v-for="item in rateItems"
          :key="item.data.title"
          class="rates__body__item"
        >
          <rate-template :rateItem="item" @signup="redirectSignUp" />
        </div>
      </div>
    </div>
    <div class="faqs">
      <reflective-hover
        :elClass="['faqs__header']"
        :elText="$t('home.header.faq')"
      />
      <div v-for="(item, i) in faqItems" :key="i" class="faqs__body__item">
        <faq-template
          @click="resolveFaq"
          :faqItem="item"
          :show="isOpened(item.id)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ReflectiveHover from '@/components/primitives/custom/ReflectiveHover';
import RateTemplate from '@/components/home/RateTemplate';
import FaqTemplate from '@/components/home/FaqTemplate';

export default {
  name: 'Rates',
  components: {
    ReflectiveHover,
    FaqTemplate,
    RateTemplate,
  },
  data() {
    return {
      rateItems: {
        test: {
          data: 'home.rates.test',
          general: 'home.rates.general',
          btn: 'home.buttons.registerPartner',
        },
        month: {
          data: 'home.rates.month',
          general: 'home.rates.general',
          btn: 'home.buttons.registerPartner',
        },
        quarter: {
          data: 'home.rates.quarter',
          general: 'home.rates.general',
          btn: 'home.buttons.registerPartner',
        },
        year: {
          data: 'home.rates.year',
          general: 'home.rates.general',
          btn: 'home.buttons.registerPartner',
        },
        special: {
          data: 'home.rates.special',
          general: 'home.rates.general',
          btn: 'home.buttons.registerPartner',
        },
      },
      openedFAQItem: -1,
      faqItems: [
        {
          id: 1,
          title: 'home.faq.question1.title',
          content: 'home.faq.question1.question',
        },
        {
          id: 2,
          title: 'home.faq.question2.title',
          content: 'home.faq.question2.question',
        },
        {
          id: 3,
          title: 'home.faq.question3.title',
          content: 'home.faq.question3.question',
        },
      ],
    };
  },
  methods: {
    redirectSignUp() {
      this.$router.push('/register-company');
    },
    isOpened(id) {
      return this.openedFAQItem === id;
    },
    resolveFaq(id) {
      if (this.openedFAQItem === id) {
        this.openedFAQItem = -1;
      } else {
        this.openedFAQItem = id;
      }
    },
  },
};
</script>

<style lang="scss">
.rates-wrp {
  background-color: $white;
  padding: 20px 0;

  .rates {
    &__header {
      width: max-content;
      margin: 0 auto;
    }
    &__body {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      &__item {
        margin: 20px;
      }
      @media screen and (max-width: 1023px) {
        flex-direction: column;

        &__item {
          margin: 20px 0;
        }
      }
    }
  }
  .faqs {
    margin-bottom: 40px;
    &__header {
      width: max-content;
      margin: 0 auto;
    }
  }
}
</style>
