<template>
  <div class="bg">
    <div class="security">
      <div class="security__container">
        <div class="item item1">
          <div class="item__icon">
            <img src="@/assets/img/home/security/shield.png" alt="" />
          </div>
          <div
            style="background-color: rgba(255, 219, 146, .1);"
            class="item__text"
          >
            <h2>{{ $t('home.security.trafficTitle') }}</h2>
            <p>
              {{ $t('home.security.trafficText') }}
            </p>

            <span>{{ $t('home.security.trafficListName') }}</span>
            <ul>
              <li
                v-for="(item, key) in $t('home.security.trafficList')"
                :key="key"
              >
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
        <div class="item item2">
          <div
            style="background-color: rgba(46, 195, 202, .1);"
            class="item__text"
          >
            <h2>{{ $t('home.security.personalDataTitle') }}</h2>
            <p>
              {{ $t('home.security.personalDataText') }}
            </p>
          </div>
          <div class="item__icon">
            <img src="@/assets/img/home/security/lock.png" alt="" />
          </div>
        </div>
        <div class="item item3">
          <div class="item__icon">
            <img src="@/assets/img/home/security/qr.png" alt="" />
          </div>
          <div
            style="background-color: rgba(191, 155, 80, .1);"
            class="item__text"
          >
            <h2>{{ $t('home.security.qrTitle') }}</h2>
            <p>
              {{ $t('home.security.qrText') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Security',
};
</script>

<style lang="scss" scoped>
.bg {
  background-image: url(./../assets/img/svg/vectorpaint.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-color: $user_bg;
  @media screen and (min-width: 1900px) {
    background-size: cover;
  }
  @media screen and (max-width: 800px) {
    background-image: url(./../assets/img/svg/vectorpaint.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-size: 1920px;
  }
}
.security {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  &__container {
    .item {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      flex-wrap: nowrap;
      border-radius: 20px;
      margin-bottom: 40px;
      @media screen and (max-width: 800px) {
        margin-bottom: 10px;
        flex-direction: column;
      }
      &.item2 {
        @media screen and (max-width: 800px) {
          flex-direction: column-reverse;
        }
      }

      &__icon {
        flex-grow: 1;
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 150px;

          @media screen and (max-width: 800px) {
            max-width: 100px;
            margin-bottom: 20px;
          }
        }
      }
      &__text {
        flex-grow: 1;
        padding: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 800px) {
          padding: 20px;
        }

        h2 {
          font-size: $big;
          font-weight: 300;
        }
      }
    }
  }
}
</style>
