<template>
  <div class="shop">
    <shop-main-header class="shop__main__header" />
    <router-view class="shop__main__body" />

    <shop-catalog-header class="shop__catalog__header" />
    <shop-catalog class="shop__catalog__body" />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ShopCatalog from './shop/ShopCatalog.vue';
import ShopMainHeader from './shop/ShopMainHeader.vue';
import ShopCatalogHeader from './shop/ShopCatalogHeader.vue';
import {
  asyncGetLocalStorage,
  asyncSetLocalStorage,
} from '@/helpers/methods/asyncLocalStorage';

export default {
  async mounted() {
    this.userId = await asyncGetLocalStorage('userId');
    await this.$store.dispatch('user/getKidAccount', { user_id: this.userId });
    await this.$store.dispatch('outlet/getUserOutletsList', {
      user_id: this.userId,
    });
    let storageOutlet = await asyncGetLocalStorage('outletID');
    let outletAvailable = !!this.userOutletsList.find(
      outlet => outlet.id == storageOutlet
    );
    if (!this.outlet_id && storageOutlet && outletAvailable) {
      await this.$store.commit(
        'outlet/SET_CURRENT_OUTLET',
        asyncGetLocalStorage('outletID')
      );
    } else {
      await this.$store.commit(
        'outlet/SET_CURRENT_OUTLET',
        this.userOutletsList[0].id
      );
      await asyncSetLocalStorage('outletID', this.userOutletsList[0].id);
    }
    this.changeOutlet(this.outlet_id);
    window.addEventListener('keydown', this.handleGlobalKeyDown);
  },
  watch: {
    outlet_id() {
      this.changeOutlet(this.outlet_id);
    },
  },
  data: function() {
    return {
      barcode: '',
      barcodes: [],
      timestamps: [],
    };
  },
  computed: {
    ...mapState({
      outlet_id: state => state.outlet.outlet_id,
      user_camp: state => state.user?.activeKidCamp?.camp_id,
      userOutletsList: state => state.outlet.userOutletsList,
    }),
    isBarcodeScanner() {
      const [prev, next] = this.timestamps;
      const diff = next - prev;
      return diff < 300;
    },
  },
  components: {
    ShopMainHeader,
    ShopCatalog,
    ShopCatalogHeader,
  },
  methods: {
    handleGlobalKeyDown(event) {
      this.queueTimeStamps(event.timeStamp);
      if (this.isBarcodeScanner) {
        if (event.key === 'Enter') {
          this.$store.dispatch('outlet/scanBarcode', this.barcode);
          this.barcodes.push(this.barcode);
          this.barcode = '';
        } else {
          this.barcode += event.key;
        }
      }
    },
    queueTimeStamps(timeStamp) {
      this.timestamps.push(timeStamp);

      if (this.timestamps.length > 2) {
        this.timestamps.shift();
      }
    },
    changeOutlet(id) {
      this.$store.dispatch('outlet/getOutletInfo', { outlet_id: id });
      this.$store.dispatch('outlet/getBarcodeList', {
        outlet_id: id,
      });
    },
  },
  beforeDestroy() {
    window.removeEventListener('keydown', this.handleGlobalKeyDown);
  },
};
</script>

<style lang="scss" scoped>
.shop {
  display: grid;
  grid-template-columns: [main] 2fr [catalog] 1fr;
  grid-template-rows: [headers] 70px [bodys] auto;
  grid-template-areas:
    'shop-main-header shop-catalog-header'
    'shop-main-body shop-catalog-body';
  background-color: $white;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  min-height: 100vh;

  &__main {
    &__header {
      grid-area: shop-main-header;
      border-bottom: 2px solid $grey;
      border-right: 1px solid $grey;
      padding: 15px;
    }
    &__body {
      grid-area: shop-main-body;
      border-right: 1px solid $grey;
    }
  }
  &__catalog {
    &__header {
      grid-area: shop-catalog-header;
      border-bottom: 2px solid $grey;
      border-left: 1px solid $grey;
    }
    &__body {
      grid-area: shop-catalog-body;
      border-left: 1px solid $grey;
      padding: 15px;
    }
  }
}
</style>
