<template functional>
  <div class="kitchen-catalog__header">
    <h2 class="kitchen-catalog__header__title">
      {{ parent.$t('elements.productCatalog') }}
    </h2>
  </div>
</template>

<style lang="scss" scoped>
.kitchen-catalog {
  &__header {
    height: 100%;

    &__title {
      font-size: $big;
      font-weight: 500;
      color: $black-font;
      padding: 24px;
      margin: 0;
    }
  }
}
</style>
