// Компонент формирования продажи
<template>
  <div class="write-off">
    <table class="write-off__list">
      <thead class="write-off__list__header">
        <tr class="write-off__list__header__line">
          <td class="write-off__list__header__line__item">Ордер №</td>
          <td class="write-off__list__header__line__item">Позиций</td>
          <td class="write-off__list__header__line__item">Дата</td>
          <td class="write-off__list__header__line__item">Коментарий</td>
          <td class="write-off__list__header__line__item">Сумма</td>
        </tr>
      </thead>
      <tbody class="write-off__list__item__body">
        <tr
          class="write-off__list__body__item"
          v-for="item in kitchenWriteOffs"
          :key="item.id"
          @click="openOrder(item.id)"
          @contextmenu.prevent="openOrderWindow(item.id)"
        >
          <td class="write-off__list__body__item__cell">
            {{ item.id }}
          </td>
          <td class="write-off__list__body__item__cell">
            {{ item.items.length }}
          </td>
          <td class="write-off__list__body__item__cell">
            {{ formatDate(item.created_at) }}
          </td>
          <td class="write-off__list__body__item__cell">
            {{ item.comment }}
          </td>
          <td class="write-off__list__body__item__cell">
            {{ (item.total_price * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />
  </div>
</template>

<script>
import Pagination from './../../components/common/Pagination.vue';
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';

export default {
  data: function() {
    return {
      items: null,
      pagination: {
        page: 1,
        perPage: 10,
      },
    };
  },
  components: {
    Pagination,
  },
  mounted() {
    this.updateData();
  },
  computed: {
    ...mapState({
      currentKitchen: state => state.outlet.currentKitchen,
      currentCurrency: state => state.common.currentCurrency,
      kitchenWriteOffs: state => state.outlet.kitchenWriteOffs,
      currentPagination: state => state.outlet.currentPagination,
    }),
  },
  watch: {
    currentKitchen: {
      immediate: true,
      handler() {
        this.updateData();
      },
    },
  },
  methods: {
    updateData() {
      if (this.currentKitchen) {
        this.$store.dispatch('outlet/getKitchenWriteOffs', {
          kitchen_id: this.currentKitchen,
          page: this.pagination?.page || 1,

          per_page: this.pagination?.perPage || 20,
        });
      }
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
    openOrderWindow() {},
    openOrder(id) {
      this.$router.push({
        name: 'kitchenWriteOffListItem',
        params: { id: id },
        query: {
          kitchen_id: this.currentKitchen,
        },
      });
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.updateData();
    },
    changePage(val) {
      this.pagination.page = val;
      this.updateData();
    },
  },
};
</script>

<style lang="scss" scoped>
.write-off {
  margin-top: 20px;
  padding: 0 20px;
  &__list {
    width: 100%;
    padding-top: 20px;
    border-collapse: collapse;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;

        &__item {
          font-size: $regular + 2px;
          font-weight: 600;
          padding-bottom: 5px;

          margin: 0;
        }
      }
    }
    &__body {
      &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;

        &__cell {
          font-size: $regular;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
</style>
