// Компонент формирования продажи
<template>
  <div class="acceptance">
    <shop-product-table
      class="acceptance__list"
      @removeItem="removeFromList"
      :items="currentProducts"
    >
      <template #header>
        <td></td>
        <td>{{ $t('elements.shop.title') }}</td>
        <td>{{ $t('elements.shop.priceIn') }}</td>
        <td>{{ $t('elements.shop.qty') }}</td>
      </template>
      <template #body="{ item: productItem, index: index }">
        <td>{{ index + 1 }}</td>
        <td class="acceptance__list__body__name">{{ productItem.name }}</td>
        <td class="acceptance__list__body__price-in">
          <input
            type="number"
            class="acceptance__list__body__price-in__input"
            :value="parseFloat(productItem.price).toFixed(2)"
            @change="
              changeProductValue(
                index,
                'price',
                formatDecimals($event.target.value)
              )
            "
          />Руб
        </td>
        <td class="acceptance__list__body__quantity">
          <quantity-selector
            :quantity="productItem.quantity"
            @change="changeProductValue(index, 'quantity', ...arguments)"
          />
        </td>
      </template>
    </shop-product-table>

    <div class="acceptance__summ">
      {{ $t('elements.shop.totalPriceIn') }}:
      <span class="acceptance__summ__value">{{ summ }} руб</span>
    </div>

    <object-select
      :placeholder="$t('elements.shop.provider')"
      v-if="providerList"
      :optionList="providerList"
      :value="selectedProvider"
      @select="selectProvider"
    />

    <regular-input
      elId="provider"
      :elLabel="$t('elements.shop.provider')"
      v-model="provider"
    />
    <regular-input
      elId="comment"
      :elLabel="$t('elements.comment')"
      v-model="comment"
    />

    <div class="acceptance__extra-info"></div>
    <div class="acceptance__buttons">
      <button class="acceptance__buttons__apply" @click.prevent="send">
        {{ $t('elements.send') }}
      </button>
      <button
        class="acceptance__buttons__new"
        @click.prevent="showAddNewProduct = true"
      >
        {{ $t('elements.product.addNewProduct') }}
      </button>
      <button class="acceptance__buttons__cancel" @click.prevent="applyCancel">
        {{ $t('elements.cancel') }}
      </button>
    </div>
    <add-new-kitchen-product
      v-if="showAddNewProduct"
      @cancel="newProductCancel"
      @apply="addNewProduct"
    />
  </div>
</template>

<script>
import RegularInput from './../../components/primitives/RegularInput.vue';
import ObjectSelect from './../../components/primitives/custom/ObjectSelect.vue';
import { mapState } from 'vuex';
import axios from 'axios';
import AddNewKitchenProduct from './../../components/shop/AddNewKitchenProduct.vue';
import QuantitySelector from './../../components/shop/QuantitySelector.vue';
import ShopProductTable from './../../components/shop/ShopProductTable.vue';
import { decimal } from '@/helpers/methods/decimal.js';

export default {
  name: 'KitchenAcceptance',
  mixins: [decimal], //formatDecimals(val)
  components: {
    AddNewKitchenProduct,
    RegularInput,
    ObjectSelect,
    QuantitySelector,
    ShopProductTable,
  },
  data: function() {
    return {
      provider: null,
      comment: null,
      showAddNewProduct: false,
      showAddNewBarcode: false,
      productForBarcode: {},
      selectedProvider: {},
    };
  },
  props: {},
  computed: {
    ...mapState({
      currentProducts: state => state.outlet.currentProducts,
      currentKitchen: state => state.outlet.currentKitchen,
      outlet_info: state => state.outlet.outletInfo,
      currentCurrency: state => state.common.currentCurrency,
      providerList: state => state.outlet.providerList,
    }),
    summ() {
      let summ = 0;
      this.currentProducts.map(x => (summ += x.price * x.quantity));
      return summ.toFixed(2);
    },
  },
  watch: {
    currentProducts: {
      deep: true,
      handler(val) {
        val.map(product => {
          if (product.quantity <= 0) {
            this.removeFromList(product.id);
          }
        });
      },
    },
    outlet_info: {
      deep: true,
      immediate: true,
      handler() {
        if (this.outlet_info?.camp_id) {
          let params = {
            camp_id: this.outlet_info?.camp_id,
          };
          this.$store.dispatch('outlet/getProvidersList', params);
        }
      },
    },
  },
  methods: {
    changeProductValue(index, key, value) {
      this.$store.dispatch('outlet/editCurrentProduct', {
        index: index,
        value: value,
        field: key,
      });
    },
    removeFromList(id) {
      let index = this.currentProducts?.findIndex(x => x.id === id);
      this.$store.dispatch('outlet/removeCurrentProduct', index);
    },
    applyCancel() {
      this.$store.dispatch('outlet/clearCurrentProduct');
      this.provider = null;
      this.comment = null;
    },
    addNewProduct(product) {
      product.quantity = 1;
      this.$store.dispatch('outlet/getKitchenProducts', {
        kitchen_id: this.currentKitchen,
      });
      this.$store.dispatch('outlet/addCurrentProduct', product);
      this.showAddNewProduct = false;
    },
    newProductCancel() {
      this.showAddNewProduct = false;
    },
    selectProvider(provider) {
      this.selectedProvider = provider;
    },
    send() {
      let request = {};
      request.kitchen_id = this.currentKitchen;
      request.products = [];
      if (this.provider) {
        request.provider = this.provider;
      }
      if (this.comment) {
        request.comment = this.comment;
      }
      this.currentProducts.forEach(product => {
        if (product.id) {
          request.products.push({
            product_id: product.id,
            product_price: product.price,
            product_qty: product.quantity,
          });
        }
      });
      let url =
        process.env.VUE_APP_API_OUTLET +
        '/rest/v1/offlineoutletkitchen/arrivekitchenproducts';
      axios({
        url: url,
        data: JSON.stringify(request),
        method: 'POST',
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Прием товара';
            notification.text = 'Документ о приеме товара сохранен успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );

            this.$store.dispatch('outlet/getKitchenProducts', {
              kitchen_id: this.currentKitchen,
            });
            this.$store.dispatch('outlet/getKitchenCategories', {
              kitchen_id: this.currentKitchen,
            });
            this.applyCancel();
          } else {
            let notification = {};
            notification.title = 'Прием товара';
            notification.text =
              'Возникла ошибка при приеме товара. (' + resp.data.message + ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
      this.$store.dispatch('outlet/getProviderList', {
        outlet_id: this.outlet_id,
      });
    },
  },
  beforeDestroy() {
    this.applyCancel();
  },
};
</script>

<style lang="scss" scoped>
.acceptance {
  &__list {
    &__body {
      &__barcode {
        cursor: pointer;
        padding: 6px 5px 0 !important;
      }
      &__name {
        color: $black-font;
        font-size: $regular + 2px;
        padding: 0 10px;
      }
      &__quantity {
        min-width: 150px;
      }
      &__price-in {
        text-align: right;

        &__input {
          font-size: $semi-big;
          color: $black-font;
          font-weight: 400;
          max-width: 80px;
          text-align: right;
          border: 0px solid transparent;
          -moz-appearance: textfield; /* Firefox */

          &::-webkit-outer-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
          &::-webkit-inner-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
      &__price-out {
        text-align: right;

        &__input {
          font-size: $semi-big;
          color: $black-font;
          font-weight: 600;
          max-width: 80px;
          text-align: right;
          -moz-appearance: textfield; /* Firefox */
          border: 0px solid transparent;

          &::-webkit-outer-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
          &::-webkit-inner-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }
  &__summ {
    text-align: right;
    padding: 0 25px;
    font-weight: 500;
    font-size: $small;
    color: $black-font;
    padding: 0 25px 40px;

    &__value {
      font-size: $regular;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $corporate-light;
      color: $white-font;
      border: 0px solid transparent;
      padding: 30px;
      flex: 1 1;
      width: 33%;
      cursor: pointer;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__new {
      cursor: pointer;
      flex: 1 1;
      width: 33%;
      border: 0px solid transparent;
      background-color: $grey;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__cancel {
      cursor: pointer;
      flex: 1 1;
      width: 33%;
      border: 0px solid transparent;
      background-color: $red;
      color: $white-font;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
</style>
