<template>
  <div>
    <div class="shop-select">
      <regular-select-slots
        placeholder="test"
        :optionList="outletsList"
        v-model="currentOutlet"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.name }} (ID: {{ valueName.id }} )
        </template>
      </regular-select-slots>
      <shop-catalog-categories
        class="shop-catalog__container"
        :item="currentShopCategories"
        :products="currentShopProducts"
        :selected="selectedCatalog"
        @selectItem="selectCatalog"
        @selectProduct="selectProduct"
        v-if="
          currentShopProducts &&
            currentShopCategories.children &&
            currentShopCategories.children.length > 0
        "
      />
    </div>
    <ul>
      <h2>{{ $t('kitchen.recipes') + ':' }}</h2>
      <li v-for="recipe in kitchenRecipes" :key="recipe.id">
        <recipe :recipe="recipe"></recipe>
      </li>
    </ul>

    <ul>
      <li v-for="product in currentProducts" :key="product.id">
        {{ product }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Recipe from '@/components/shop/Recipe';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import ShopCatalogCategories from './../../components/shop/ShopCatalogCategories.vue';

export default {
  name: 'KitchenCooking',
  components: {
    RegularSelectSlots,
    ShopCatalogCategories,
    Recipe,
  },
  data: function() {
    return {
      currentOutlet: null,
      selectedCatalog: {},
    };
  },
  computed: {
    ...mapState({
      kitchenList: state => state.outlet.kitchenList,
      outlet_info: state => state.outlet.outletInfo,
      outletsList: state => state.outlet.outletsList,
      currentShopCategories: state => state.outlet.currentShopCategories,
      currentShopProducts: state => state.outlet.currentShopProducts,
      kitchenRecipes: state => state.outlet.kitchenRecipes,
      currentKitchen: state => state.outlet.currentKitchen,
      currentProducts: state => state.outlet.currentProducts,
      products: state => state.outlet.kitchenProducts,
    }),
  },
  watch: {
    'outlet_info.camp_id': {
      deep: true,
      immediate: true,
      handler(value) {
        if (value) {
          this.$store.dispatch('outlet/getOutletsList', {
            camp_id: this.outlet_info.camp_id,
          });
        }
      },
    },
    kitchenList: {
      deep: true,
      immediate: true,
      handler(value) {
        if (value && value.length > 0) {
          this.$store.dispatch('outlet/getKitchenRecipes', {
            kitchen_id: this.kitchenList[0].id,
          });
        }
      },
    },
    currentKitchen: {
      immediate: true,
      handler(value) {
        if (value && this.kitchenList.length > 0) {
          this.$store.dispatch('outlet/getKitchenRecipes', {
            kitchen_id: value,
          });
        }
      },
    },
    currentOutlet: {
      immediate: true,
      handler(value) {
        if (value || value === 0) {
          this.$store.dispatch('outlet/getCurrentShopCategories', {
            outlet_id: this.outletsList[this.currentOutlet].id,
          });
          this.$store.dispatch('outlet/getCurrentShopProducts', {
            outlet_id: this.outletsList[this.currentOutlet].id,
          });
        }
      },
    },
  },
  methods: {
    selectCatalog(item) {
      this.selectedCatalog = item;
    },
    selectProduct(item) {
      console.log(item);
    },
  },
};
</script>

<style lang="scss" scoped></style>
