// Компонент формирования продажи
<template>
  <div class="acceptance-list-item">
    <div class="acceptance-list-item__info">
      <h3 class="acceptance-list-item__info__header">
        {{ $t('elements.shop.orderNumber') }} {{ $route.params.id }}
      </h3>
      <span class="acceptance-list-item__info__date"
        >{{ $t('elements.shop.from') }}
        {{ formatDate(writeOfInfo.created_at) }}</span
      >
      <br /><span class="acceptance-list-item__info__comment">{{
        writeOfInfo.comment
      }}</span>
      <br /><span class="acceptance-list-item__info__comment"
        >{{ $t('elements.shop.summ') }}:
        {{ (writeOfInfo.total_price * currentCurrency.ratio).toFixed(2) }}
        {{ currentCurrency.abbr }}</span
      >
    </div>
    <table class="acceptance-item__container">
      <thead>
        <tr>
          <td>
            {{ $t('elements.shop.title') }}
          </td>
          <td>
            {{ $t('elements.shop.qty') }}
          </td>
          <td>
            {{ $t('elements.shop.priceIn') }}
          </td>
          <td>
            {{ $t('elements.shop.totalPriceIn') }}
          </td>
          <td>
            {{ $t('kitchen.comment') }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(product, key) in acceptanceProducts"
          :key="'acceptance-' + key"
        >
          <td>{{ product.product_name }}</td>
          <td>{{ product.product_qty }}</td>
          <td>
            {{ (product.product_price * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
          <td>
            {{ (product.total_price * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
          <td>
            {{ product.comment }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { fromUnixTime, format } from 'date-fns';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { mapState } from 'vuex';

const OutletRepository = RepositoryFactory.get('outlet');

export default {
  data: function() {
    return {
      acceptanceProducts: [],
      writeOfInfo: {},
    };
  },
  created() {
    this.getItem();
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  methods: {
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
    async getItem() {
      let params = {
        order_id: this.$route.params.id,
        kitchen_id: this.$route.query.kitchen_id,
      };
      try {
        const resp = await OutletRepository.getKitchenWriteOff(params);
        if (resp.data.status === 'ok') {
          this.writeOfInfo = resp.data.data[0];
          this.acceptanceProducts = resp.data.data[0].items;
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.acceptance-item__container {
  width: 100%;
  margin: 20px 0;

  thead {
    tr {
      td {
        font-size: $regular;
        font-weight: 500;
        padding: 10px 0;
        border-bottom: 1px solid $border;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: $regular + 2px;
        padding: 10px 0;
        max-width: 150px;

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }
}
</style>
