<template>
  <div class="kitchen-catalog">
    <div class="kitchen-catalog__search">
      <h3 class="kitchen-catalog__search__title">
        {{ $t('elements.searchBy') }}
      </h3>

      <shop-search-field
        elId="searchBarcode"
        :elLabel="$t('elements.barCode')"
        v-model="search.barcode"
      />

      <shop-search-field
        elId="searchTitle"
        :elLabel="$t('elements.title')"
        v-model="search.title"
      />

      <div class="kitchen-catalog__search__buttons">
        <regular-button :elClass="['grey']" @click="resetSearch">{{
          $t('elements.reset')
        }}</regular-button>
      </div>
    </div>

    <Kitchen-catalog-categories
      class="kitchen-catalog__container"
      :item="categories"
      :products="products"
      :selected="selectedCatalog"
      @selectItem="selectCatalog"
      @selectProduct="selectProduct"
      v-if="categories && !productSearch"
    />

    <kitchen-catalog-search
      v-if="productSearch"
      @selectProduct="selectProduct"
      :searchTitle="search.title"
      :searchBarcode="search.barcode"
    />
  </div>
</template>

<script>
import ShopSearchField from './../../components/primitives/custom/ShopSearchField.vue';
import KitchenCatalogCategories from './../../components/shop/KitchenCatalogCategories.vue';
import KitchenCatalogSearch from './../../components/shop/KitchenCatalogSearch.vue';
import RegularButton from './../../components/primitives/RegularButton.vue';
import { mapState } from 'vuex';

export default {
  name: 'KitchenCatalog',
  components: {
    KitchenCatalogCategories,
    KitchenCatalogSearch,
    ShopSearchField,
    RegularButton,
  },
  data: function() {
    return {
      search: {
        barcode: null,
        title: null,
      },
      selectedCatalog: {},
      selectedProduct: [],
      sale: [],
    };
  },
  computed: {
    ...mapState({
      categories: state => state.outlet.kitchenCategories,
      products: state => state.outlet.kitchenProducts,
      currentProducts: state => state.outlet.currentProducts,
    }),
    productSearch() {
      return this.search.barcode || this.search.title;
    },
  },
  created() {},
  methods: {
    selectCatalog(item) {
      this.selectedCatalog = item;
    },
    selectProduct(item) {
      console.log(item);
      // if (item.product_status_id == 1) {
      if (this.currentProducts.find(x => x.id === item.id)) {
        let newQty =
          this.currentProducts.find(x => x.id === item.id).quantity + 1;
        this.$store.dispatch('outlet/editCurrentProduct', {
          id: item.id,
          value: parseInt(newQty, 10),
          field: 'quantity',
        });
      } else {
        this.$store.dispatch('outlet/addCurrentProduct', item);
        this.$store.dispatch('outlet/editCurrentProduct', {
          id: item.id,
          value: parseInt(1, 10),
          field: 'quantity',
        });
      }
      // }
    },
    barCodeSearch(barCode) {
      this.search.barcode = barCode;
    },
    barCodeSearchCancel() {
      this.showBarCodeScanner = false;
    },
    resetSearch() {
      this.search.barcode = this.search.title = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.kitchen-catalog {
  &__search {
    border-bottom: 2px solid $grey;
    padding: 5px 5px 18px 5px;

    &__title {
      font-size: $big - 4px;
      font-weight: 500;
      color: $black-font;
      padding: 10px;
      margin: 0;
      text-align: center;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 10px;
    }
  }

  &__container {
    list-style: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @media screen and (min-height: 600px) {
      max-height: calc(100vh - 350px);
      height: calc(100vh - 350px);
      display: block;
      overflow: auto;
    }
  }
}
</style>
