<template>
  <div>
    <div class="recipe__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="false"
        @click="showNewRecipeModal = true"
        >Новый рецепт</regular-button
      >
    </div>
    <ul>
      <h2>{{ $t('kitchen.recipes') + ':' }}</h2>
      <li v-for="recipe in kitchenRecipes" :key="recipe.id">
        <recipe :recipe="recipe">
          <template #header>
            <kitchen-edit-delete
              :showEdit="false"
              @edit="edit(recipe.id)"
              @cook="cook(recipe.id)"
              @remove="remove(recipe.id)"
            ></kitchen-edit-delete>
          </template>
        </recipe>
      </li>
    </ul>
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />

    <add-new-kitchen-recipe
      v-if="showNewRecipeModal"
      @cancel="newRecipeCancel"
      @apply="newRecipeCancel"
    />

    <modal
      v-if="!!cookConfirmation"
      @apply="cookRecipe(deleteConfirmation)"
      @cancel="cookConfirmation = null"
    >
      <template #header
        ><h2 class="warning">
          Внимание! Вы подтверждаете создание продукта по рецепту?
        </h2></template
      >
      <template #body
        ><p class="message">
          Вы собираетесь изготовить продукт: "{{
            findProductById(currentRecipe.product_id).name
          }}
          " используя рецепт "{{ currentRecipe.name }}". Будут использованы
          следующие продукты:
        </p>
        <ul>
          <li v-for="item in currentRecipe.items" :key="item.id">
            <b>{{ findProductById(item.product_id).name }}</b> x
            {{ item.product_qty }} из {{ findProductById(item.product_id).qty }}
          </li>
        </ul>
        <regular-input
          elId="quantity"
          :elLabel="'Количество'"
          v-model="recipeQty"
        />
      </template>
    </modal>

    <modal
      v-if="!!deleteConfirmation"
      @apply="deleteRecipe(deleteConfirmation)"
      @cancel="deleteConfirmation = null"
    >
      <template #header
        ><h2 class="warning">
          Внимание! Вы подтверждаете удаление рецепта?
        </h2></template
      >
      <template #body
        ><p class="message">
          После подтверждения удаления рецепта, он не будет отображаться в
          списке. Его можно восстановить в панели администратора. Вся история
          будет сохранена.
        </p></template
      >
    </modal>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Recipe from '@/components/shop/Recipe';
import RegularButton from '@/components/primitives/RegularButton.vue';
import KitchenEditDelete from '@/components/shop/KitchenEditDelete';
import AddNewKitchenRecipe from '@/components/shop/AddNewKitchenRecipe';
import Pagination from '@/components/common/Pagination';
import Modal from '@/components/common/Modal';
import axios from 'axios';
import RegularInput from '@/components/primitives/RegularInput';

export default {
  name: 'KitchenRecipes',
  components: {
    RegularInput,
    AddNewKitchenRecipe,
    KitchenEditDelete,
    RegularButton,
    Pagination,
    Modal,
    Recipe,
  },
  data: function() {
    return {
      showNewRecipeModal: false,
      deleteConfirmation: null,
      cookConfirmation: null,
      recipeQty: 1,
      pagination: {
        page: 1,
        perPage: 10,
      },
    };
  },
  computed: {
    ...mapState({
      kitchenList: state => state.outlet.kitchenList,
      outlet_info: state => state.outlet.outletInfo,
      currentShopCategories: state => state.outlet.currentShopCategories,
      currentShopProducts: state => state.outlet.currentShopProducts,
      kitchenRecipes: state => state.outlet.kitchenRecipes,
      currentPagination: state => state.outlet.currentPagination,
      currentKitchen: state => state.outlet.currentKitchen,
      products: state => state.outlet.kitchenProducts,
    }),
    currentRecipe() {
      return this.kitchenRecipes.find(x => x.id == this.cookConfirmation) || {};
    },
  },
  watch: {
    'outlet_info.camp_id': {
      deep: true,
      immediate: true,
      handler(value) {
        if (value) {
          this.$store.dispatch('outlet/getOutletsList', {
            camp_id: this.outlet_info.camp_id,
          });
        }
      },
    },
    kitchenList: {
      deep: true,
      immediate: true,
      handler(value) {
        if (!this.currentKitchen && value && value.length > 0) {
          this.getRecipes(this.kitchenList[0].id);
          // this.$store.dispatch('outlet/getKitchenRecipes', {
          //   kitchen_id: this.kitchenList[0].id,
          // });
        }
      },
    },
    currentKitchen: {
      immediate: true,
      handler(value) {
        if (value && this.kitchenList.length > 0) {
          this.getRecipes(value);
        }
      },
    },
    currentOutlet: {
      immediate: true,
      handler(value) {
        if (value || value === 0) {
          this.$store.dispatch('outlet/getCurrentShopCategories', {
            outlet_id: this.outletsList[this.currentOutlet].id,
          });
          this.$store.dispatch('outlet/getCurrentShopProducts', {
            outlet_id: this.outletsList[this.currentOutlet].id,
          });
        }
      },
    },
  },
  methods: {
    getRecipes(val) {
      this.$store.dispatch('outlet/getKitchenRecipes', {
        kitchen_id: val,
        page: this.pagination?.page || 1,
        per_page: this.pagination?.perPage || 20,
        status: 1,
      });
    },
    newRecipeCancel() {
      this.showNewRecipeModal = false;
    },
    cookRecipe() {
      let url =
        process.env.VUE_APP_API_OUTLET +
        '/rest/v1/offlineoutletkitchen/createkitchenproduct';
      axios({
        url: url,
        data: JSON.stringify({
          kitchen_id: this.currentRecipe.kitchen_id,
          recipe_id: this.currentRecipe.id,
          qty: this.recipeQty,
        }),
        method: 'POST',
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Приготовление продукта по рецепту';
            notification.text = 'Продукт приготовлен успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );

            axios({
              url:
                process.env.VUE_APP_API_OUTLET +
                '/rest/v1/offlineoutletkitchen/movetooutlet',
              data: JSON.stringify({
                kitchen_id: this.currentRecipe.kitchen_id,
                products: [
                  {
                    recipe_id: this.currentRecipe.id,
                    product_id: this.currentRecipe.product_id,
                    product_qty: this.recipeQty,
                  },
                ],
              }),
              method: 'POST',
            })
              .then(resp => {
                if (resp.data.status === 'ok') {
                  let notification = {};
                  notification.title = 'Перемещение продукта на торговую точку';
                  notification.text = 'Перемещение прошло успешно';
                  notification.notificationType = 'success';
                  notification.status = 'new';
                  this.$store.dispatch(
                    'notifications/addNewNotification',
                    notification
                  );

                  this.recipeQty = 1;
                  this.cookConfirmation = null;
                } else {
                  let notification = {};
                  notification.title = 'Перемещение продукта на торговую точку';
                  notification.text =
                    'Возникла ошибка при перемещении продукта. (' +
                    resp.data.message +
                    ')';
                  notification.notificationType = 'error';
                  notification.status = 'new';
                  this.$store.dispatch(
                    'notifications/addNewNotification',
                    notification
                  );
                }
              })
              .catch(err => {
                console.log(err);
              });

            this.$store.dispatch('outlet/getKitchenProducts', {
              per_page: 10000,
              kitchen_id: this.currentKitchen,
            });
            this.recipeQty = 1;
            this.cookConfirmation = null;
          } else {
            let notification = {};
            notification.title = 'Приготовление продукта по рецепту';
            notification.text =
              'Возникла ошибка при приготовлении продукта. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    cook(id) {
      this.cookConfirmation = id;
    },
    remove(id) {
      this.deleteConfirmation = id;
    },
    deleteRecipe(id) {
      let url =
        process.env.VUE_APP_API_OUTLET +
        '/rest/v1/offlineoutletkitchen/deletekitchenrecipe';
      axios({
        url: url,
        data: JSON.stringify({
          recipe_id: id,
          kitchen_id: this.currentKitchen,
        }),
        method: 'POST',
      })
        .then(resp => {
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Удаление рецепта';
            notification.text = 'Рецепт удален успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );

            this.getRecipes(this.currentKitchen);
            this.deleteConfirmation = null;
          } else {
            let notification = {};
            notification.title = 'Удаление рецепта';
            notification.text =
              'Возникла ошибка при удалении рецепта. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.getRecipes(this.currentKitchen);
    },
    changePage(val) {
      this.pagination.page = val;
      this.getRecipes(this.currentKitchen);
    },
    findProductById(id) {
      return this.products.find(x => x.id == id);
    },
  },
};
</script>

<style lang="scss" scoped>
.recipe {
  &__buttons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid $border;

    button {
      min-width: 200px;
    }
  }
}
::v-deep .warning {
  font-size: $semi-big;
  color: red;
  text-align: center;
}
::v-deep .message {
  font-size: $regular + 2px;
  text-align: center;
  max-width: 800px;
  margin: 60px auto;
}
</style>
