// Компонент списания товара кухни
<template>
  <div class="write-off">
    <shop-product-table
      class="write-off__list"
      @removeItem="removeFromList"
      :items="currentProducts"
    >
      <template #header>
        <td>Название</td>
        <td>Количество</td>
        <td>Цена</td>
        <td>Сумма</td>
      </template>
      <template #body="{ item: productItem }">
        <td class="write-off__list__name">{{ productItem.name }}</td>
        <td>
          <quantity-selector
            :quantity="productItem.quantity"
            @change="
              changeProductValue(productItem.id, 'quantity', ...arguments)
            "
          />
        </td>
        <td class="write-off__list__price">
          x {{ (productItem.price * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </td>
        <td class="write-off__list__price">
          {{
            (
              productItem.price *
              productItem.quantity *
              currentCurrency.ratio
            ).toFixed(2)
          }}
          {{ currentCurrency.abbr }}
        </td>
      </template>
    </shop-product-table>

    <regular-input
      elId="comment"
      :elLabel="$t('elements.comment')"
      v-model="comment"
    />

    <div class="write-off__extra-info">
      <h3>
        Сумма: {{ (summ * currentCurrency.ratio).toFixed(2) }}
        {{ currentCurrency.abbr }}
      </h3>
    </div>
    <div class="write-off__buttons">
      <button class="write-off__buttons__apply" @click.prevent="send">
        {{ $t('elements.send') }}
      </button>
      <button class="write-off__buttons__cancel" @click.prevent="applyCancel">
        {{ $t('elements.cancel') }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import RegularInput from './../../components/primitives/RegularInput.vue';
import QuantitySelector from './../../components/shop/QuantitySelector.vue';
import ShopProductTable from './../../components/shop/ShopProductTable.vue';
import axios from 'axios';

export default {
  name: 'KitchenWriteOff',
  components: {
    RegularInput,
    QuantitySelector,
    ShopProductTable,
  },
  data: function() {
    return {
      comment: null,
    };
  },
  computed: {
    ...mapState({
      currentProducts: state => state.outlet.currentProducts,
      currentCurrency: state => state.common.currentCurrency,
      currentKitchen: state => state.outlet.currentKitchen,
    }),
    summ() {
      let summ = 0;
      this.currentProducts.map(x => (summ += x.price * x.quantity));
      return summ;
    },
  },
  beforeDestroy() {
    this.applyCancel();
  },
  methods: {
    changeProductValue(id, key, value) {
      this.$store.dispatch('outlet/editCurrentProduct', {
        id: id,
        value: value,
        field: key,
      });
    },
    removeFromList(id) {
      let index = this.currentProducts.findIndex(x => x.id === id);
      this.$store.dispatch('outlet/removeCurrentProduct', index);
    },
    send() {
      let url =
        process.env.VUE_APP_API_OUTLET +
        '/rest/v1/offlineoutletkitchen/writeoffkitchenproducts';
      let request = {};
      request.kitchen_id = this.currentKitchen;
      request.comment = this.comment;
      request.products = [];
      this.currentProducts.forEach(product => {
        request.products.push({
          product_id: product.id,
          product_qty: product.quantity,
        });
      });
      axios({
        url: url,
        data: JSON.stringify(request),
        method: 'POST',
      })
        .then(resp => {
          this.$store.dispatch('outlet/getKitchenProducts', {
            kitchen_id: this.currentKitchen,
          });
          this.$store.dispatch('outlet/getKitchenCategories', {
            kitchen_id: this.currentKitchen,
          });
          if (resp.data.status === 'ok') {
            let notification = {};
            notification.title = 'Списание';
            notification.text = 'Списание прошло успешно';
            notification.notificationType = 'success';
            notification.status = 'new';
            this.$store
              .dispatch('notifications/addNewNotification', notification)
              .then(this.applyCancel());
          } else {
            let notification = {};
            notification.title = 'Списание';
            notification.text =
              'Возникла ошибка при списании товара. (' +
              resp.data.message +
              ')';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    applyCancel() {
      this.$store.dispatch('outlet/clearCurrentProduct');
      this.comment = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.write-off {
  &__list {
    &__name,
    &__price {
      color: $black-font;
      font-size: $regular + 2px;
      font-weight: 400;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    max-width: 400px;
    margin: 20px auto 0;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $corporate-light;
      color: $white-font;
      border: 0px solid transparent;
      padding: 15px;
      flex: 1 1;
      width: 50%;
      cursor: pointer;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__cancel {
      flex: 1 1;
      width: 50%;
      border: 0px solid transparent;
      background-color: $red;
      color: $white-font;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
</style>
