// Компонент формирования продажи
<template>
  <div class="reserve">
    <!-- <reserve-list :products="products" />
    <reserve-category-list :products="products" />-->
    <div class="reserve__buttons">
      <button
        class="reserve__buttons__button"
        v-for="tab in tabs"
        v-bind:key="tab.name"
        v-bind:class="['tab-button', { active: currentTab.name === tab.name }]"
        v-on:click="currentTab = tab"
      >
        {{ $t(tab.name) }}
      </button>
    </div>

    <component
      v-bind:is="currentTab.component"
      :products="products"
      :categories="categories"
      :item="categories"
      class="reserve__tab"
      :class="currentTab.class"
    ></component>
  </div>
</template>

<script>
import ReserveCategoryList from './../../components/shop/ReserveCategoryList.vue';
import ReserveList from './../../components/shop/ReserveList.vue';
import { mapState } from 'vuex';

var tabs = [
  {
    name: 'elements.list',
    component: ReserveList,
  },
  {
    name: 'elements.withCategories',
    component: ReserveCategoryList,
    class: 'tree',
  },
];

export default {
  data: function() {
    return {
      tabs: tabs,
      currentTab: tabs[0],
    };
  },
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      categories: state => state.outlet.productCategories,
      outlet_id: state => state.outlet.outlet_id,
    }),
  },
  watch: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.reserve {
  margin-top: 20px;
  padding: 0 20px;
  &__buttons {
    border-bottom: 1px solid $border;
    &__button {
      border: 1px solid $border;
      background-color: $grey;
      padding: 10px 15px;
      cursor: pointer;

      &.active {
        background-color: $white;
        -webkit-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
      }

      &:first-child {
        border-radius: 10px 0 0 0;
      }
      &:last-child {
        border-radius: 0 10px 0 0;
      }
    }
  }
  &__tab {
    &.tree {
      padding-right: 20px;
      margin-top: 20px;
      list-style: none;
    }
    margin-top: 20px;
  }
}
</style>
