// Компонент переценки товара
<template>
  <div class="overcharge">
    <shop-product-table
      class="overcharge__list"
      @removeItem="removeFromList"
      :items="currentProducts"
    >
      <template #header>
        <td>{{ $t('elements.shop.title') }}</td>
        <td>{{ $t('elements.shop.oldPrice') }}</td>
        <td>{{ $t('elements.shop.newPrice') }}</td>
      </template>
      <template #body="{ item: productItem }">
        <td class="overcharge__list__name">{{ productItem.name }}</td>
        <td class="overcharge__list__price-in">
          {{ (productItem.price_out * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </td>
        <td class="overcharge__list__price-out">
          <input
            type="number"
            @change="
              productEdit(
                productItem.id,
                formatDecimals($event.target.value / currentCurrency.ratio),
                'new_price'
              )
            "
            class="overcharge__list__price-out__input"
            :value="(productItem.new_price * currentCurrency.ratio).toFixed(2)"
          />
          {{ currentCurrency.abbr }}
        </td>
      </template>
    </shop-product-table>
    <div class="overcharge__extra-info"></div>
    <regular-input
      elId="comment"
      :elLabel="$t('elements.comment')"
      v-model="comment"
    />
    <div class="overcharge__buttons">
      <button class="overcharge__buttons__apply" @click.prevent="send">
        {{ $t('elements.send') }}
      </button>
      <button class="overcharge__buttons__cancel" @click.prevent="applyCancel">
        {{ $t('elements.cancel') }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ShopProductTable from './../../components/shop/ShopProductTable.vue';
import RegularInput from './../../components/primitives/RegularInput.vue';
import { decimal } from '@/helpers/methods/decimal.js';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

export default {
  name: 'Overcharge',
  components: {
    ShopProductTable,
    RegularInput,
  },
  mixins: [decimal], //formatDecimals(val)
  data: function() {
    return {
      comment: null,
    };
  },
  computed: {
    ...mapState({
      currentProducts: state => state.outlet.currentProducts,
      outletURL: state => state.common.urls.outlet,
      outlet_id: state => state.outlet.outlet_id,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  beforeDestroy() {
    this.applyCancel();
  },
  methods: {
    productEdit(id, value, field) {
      this.$store.dispatch('outlet/editCurrentProduct', {
        id: id,
        value: value,
        field: field,
      });
    },
    removeFromList(id) {
      let index = this.currentProducts.findIndex(x => x.id === id);
      this.$store.dispatch('outlet/removeCurrentProduct', index);
    },
    applyCancel() {
      this.$store.dispatch('outlet/clearCurrentProduct');
      this.comment = null;
    },
    async send() {
      let request = {};
      request.outlet_id = this.outlet_id;
      request.comment = this.comment;
      request.products = [];
      this.currentProducts.forEach(product => {
        request.products.push({
          product: {
            id: product.id,
            new_price: product.new_price,
          },
        });
      });

      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.postOvercharge(
          JSON.stringify(request)
        );
        if (resp.data.status === 'ok') {
          let notification = {};
          notification.title = 'Переоценка';
          notification.text = 'Переоценка прошла успешна';
          notification.notificationType = 'success';
          notification.status = 'new';
          await this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );

          await this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: this.outlet_id,
          });
          await this.$store.dispatch('outlet/getProductsList', {
            outlet_id: this.outlet_id,
          });
          this.applyCancel();
        } else {
          let notification = {};
          notification.title = 'Переоценка';
          notification.text =
            'Переоценка не сохранена. (' + resp.data.message + ')';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.overcharge {
  &__list {
    &__name {
      color: $black-font;
      font-size: $regular + 2px;
      padding: 0 10px;
    }
    &__price-in {
      text-align: center;
    }
    &__price-out {
      text-align: center;
      &__input {
        text-align: center;
        font-size: $semi-big;
        color: $black-font;
        font-weight: 600;
        max-width: 80px;
        -moz-appearance: textfield; /* Firefox */
        border: 0px solid transparent;

        &::-webkit-outer-spin-button {
          /* Chrome */
          -webkit-appearance: none;
          margin: 0;
        }
        &::-webkit-inner-spin-button {
          /* Chrome */
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    max-width: 400px;
    margin: 20px auto 0;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $corporate-light;
      color: $white-font;
      border: 0px solid transparent;
      padding: 15px;
      flex: 1 1;
      width: 50%;
      cursor: pointer;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__cancel {
      cursor: pointer;
      flex: 1 1;
      width: 50%;
      border: 0px solid transparent;
      background-color: $red;
      color: $white-font;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
</style>
