<template>
  <div
    v-click-outside-except="{ handler: collapseMenu }"
    class="shop-main-header"
  >
    <shop-menu
      :expanded="menuExpanded"
      @collapse="collapseMenu"
      class="shop-menu"
    />
    <div class="shop-main-header__left-block">
      <a
        @click.prevent="menuExpand"
        class="shop-main-header__left-block__menu-button"
      >
        <img src="./../../assets/img/svg/nav.svg" alt="menu" />
      </a>
      <span class="shop-main-header__left-block__title">
        {{ $t('elements.' + $route.name) }}
      </span>
    </div>

    <regular-button
      class="shop-main-header__return"
      :elClass="['corporate']"
      @click="$router.push({ name: 'return' })"
      v-if="this.$route.name === 'sale'"
    >
      {{ $t('elements.makeRefund') }}
    </regular-button>

    <regular-button
      class="shop-main-header__return"
      :elClass="['corporate']"
      @click="$router.push({ name: 'sale' })"
      v-if="this.$route.name === 'return'"
    >
      {{ $t('elements.makeSale') }}
    </regular-button>
    <regular-button
      v-show="$route.params.id"
      class="shop-main-header__left-block__button"
      @click="back"
      >Back</regular-button
    >
  </div>
</template>

<script>
import { ClickOutsideExcept } from '@/helpers/directives/ClickOutsideDirectiveExcept.js';
import RegularButton from './../../components/primitives/RegularButton.vue';
import ShopMenu from './ShopMenu.vue';
export default {
  data: function() {
    return {
      menuExpanded: false,
    };
  },
  components: {
    RegularButton,
    ShopMenu,
  },
  directives: {
    ClickOutsideExcept,
  },
  methods: {
    collapseMenu() {
      this.menuExpanded = false;
    },
    menuExpand() {
      this.menuExpanded = true;
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-main-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .shop-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  &__left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__button {
      margin-left: auto;
    }
    &__menu-button {
      margin-right: 20px;
      cursor: pointer;
    }
    &__title {
      text-transform: capitalize;
      font-size: $big;
      font-weight: 500;
      color: $black-font;
    }
  }

  &__return {
  }
}
</style>
