// Компонент формирования продажи
<template>
  <div class="overcharge">
    <table class="overcharge__list">
      <thead class="overcharge__list__header">
        <tr class="overcharge__list__header__line">
          <td class="overcharge__list__header__line__item">Ордер №</td>
          <td class="overcharge__list__header__line__item">Позиций</td>
          <td class="overcharge__list__header__line__item">Дата</td>
          <td class="overcharge__list__header__line__item">Коментарий</td>
        </tr>
      </thead>
      <tbody class="overcharge__list__item__body">
        <tr
          class="overcharge__list__body__item"
          v-for="(item, key) in overchargeProducts"
          :key="key"
          @click="openOrder(item.id)"
        >
          <td class="overcharge__list__body__item__cell">
            {{ item.id }}
          </td>
          <td class="overcharge__list__body__item__cell">
            {{ item.orderItems.length }}
          </td>
          <td class="overcharge__list__body__item__cell">
            {{ formatDate(item.created_at) }}
          </td>
          <td class="overcharge__list__body__item__cell">
            {{ item.comment }}
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import Pagination from '@/components/common/Pagination.vue';

export default {
  data: function() {
    return {
      overchargeProducts: [],
      pagination: {
        page: 1,
        perPage: 10,
      },
    };
  },
  components: {
    Pagination,
  },
  props: {},
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outlet_id: state => state.outlet.outlet_id,
      currentPagination: state => state.outlet.currentPagination,
      outletURL: state => state.common.urls.outlet,
    }),
  },
  watch: {
    outlet_id: {
      immediate: true,
      handler() {
        if (this.outlet_id) {
          this.updateData();
        }
      },
    },
  },
  methods: {
    async updateData() {
      let params = {
        outlet_id: this.outlet_id,
        page: this.pagination?.page || 1,
        per_page: this.pagination?.perPage || 20,
      };
      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.getOverchargeList(params);
        if (resp.data.status === 'ok') {
          this.overchargeProducts = resp.data.data.orders;
          this.$store.commit(
            'outlet/GET_CURRENT_PAGINATION',
            resp.data.pagination
          );
        } else {
          componentErrorHandler(
            this,
            'Получение документов о переоценке',
            'Возникла ошибка при получении документов о переоценке.',
            'error',
            resp.data.message
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
    openOrder(id) {
      this.$router.push({ name: 'overchargeListItem', params: { id: id } });
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.updateData();
    },
    changePage(val) {
      this.pagination.page = val;
      this.updateData();
    },
  },
};
</script>

<style lang="scss" scoped>
.overcharge {
  margin-top: 20px;
  padding: 0 20px;
  &__list {
    width: 100%;
    padding-top: 20px;
    border-collapse: collapse;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;

        &__item {
          font-size: $regular + 2px;
          font-weight: 600;
          padding-bottom: 5px;

          margin: 0;
        }
      }
    }
    &__body {
      &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;

        &__cell {
          font-size: $regular;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
</style>
