// Компонент формирования продажи
<template>
  <div class="return">
    <shop-product-table
      class="return__list"
      @removeItem="removeFromList"
      :items="currentProducts"
    >
      <template #header>
        <td>{{ $t('elements.shop.title') }}</td>
        <td>{{ $t('elements.shop.price') }}</td>
        <td>{{ $t('elements.shop.qty') }}</td>
        <td>{{ $t('elements.shop.summ') }}</td>
      </template>
      <template #body="{ item: productItem }">
        <td class="return__list__body__name">{{ productItem.name }}</td>
        <td class="return__list__body__price">
          {{ (productItem.price * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </td>
        <td>
          <quantity-selector
            :quantity="productItem.quantity"
            @change="
              changeProductValue(productItem.id, 'quantity', ...arguments)
            "
          />
        </td>
        <td class="return__list__body__summ">
          {{
            (
              productItem.price *
              productItem.quantity *
              currentCurrency.ratio
            ).toFixed(2)
          }}
          {{ currentCurrency.abbr }}
        </td>
      </template>
    </shop-product-table>
    <div class="return__extra-info">
      <div class="return__summ">
        {{ $t('elements.totalWithoutDiscount') }}:
        <span class="return__summ__value"
          >{{ (summ * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}</span
        >
      </div>
    </div>
    <div class="return__buttons">
      <button
        v-if="!buyer"
        class="return__buttons__apply"
        @click.prevent="
          applyCancel();
          qrScan = true;
        "
      >
        <span v-if="buyer">{{ $t('elements.pay') }}</span>
        {{ $t('elements.scan') }}
      </button>
      <button
        v-if="buyer"
        class="return__buttons__apply"
        :disabled="applyDisabled || currentProducts.length === 0"
        @click.prevent="applyReturn"
      >
        <span>{{ $t('elements.applyReturn') }}</span>
        <span class="return__buttons__apply__value"
          >{{ (summ * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}</span
        >
      </button>
      <button class="return__buttons__cancel" @click.prevent="applyCancel">
        {{ $t('elements.cancel') }}
      </button>
    </div>
    <qr-code-scanner
      v-if="qrScan"
      @qrCode="getUserQR"
      @closeModal="qrScan = false"
    />
    <user-info
      @apply="
        qrScan = false;
        userInfoModal = false;
        buyer = true;
      "
      v-if="userInfoModal"
      :userInfo="buyerInfo"
      @closeModal="
        qrScan = false;
        userInfoModal = false;
        applyCancel();
        buyer = false;
      "
    />
    <bill-sale
      v-if="billModal"
      :billAction="'Возврат товара'"
      :outletInfo="outletInfo"
      :billData="billData"
      @closeModal="
        billModal = false;
        applyCancel();
      "
      :products="currentProducts"
    />
  </div>
</template>

<script>
import QuantitySelector from './../../components/shop/QuantitySelector.vue';
import ShopProductTable from './../../components/shop/ShopProductTable.vue';
import QrCodeScanner from './../../components/shop/QrCodeScanner.vue';
import BillSale from './../../components/shop/BillSale.vue';
import UserInfo from './../../components/shop/UserInfo.vue';
import { mapState } from 'vuex';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

export default {
  name: 'Return',
  components: {
    ShopProductTable,
    QuantitySelector,
    QrCodeScanner,
    UserInfo,
    BillSale,
  },
  data: function() {
    return {
      qrScan: false,
      userInfoModal: false,
      billModal: false,
      billData: {},
      buyer: false,
      buyer_id: null,
      applyDisabled: false,
    };
  },
  computed: {
    ...mapState({
      // returnProducts: state => state.outlet.productsForReturn,

      currentProducts: state => state.outlet.currentProducts,
      outletInfo: state => state.outlet.outletInfo,
      buyerInfo: state => state.outlet.buyerInfo,
      outletURL: state => state.common.urls.outlet,
      currentCurrency: state => state.common.currentCurrency,
      scanedBarcode: state => state.outlet.scanedBarcode,
      outlet_id: state => state.outlet.outlet_id,
      activeCamp: state => state.user.activeKidCamp,
    }),
    summ() {
      let summ = 0;
      this.currentProducts.map(x => (summ += x.price * x.quantity));
      return summ;
    },
  },
  watch: {
    currentProducts: {
      deep: true,
      handler(val) {
        val.map(product => {
          if (product.quantity < 1) {
            this.removeFromList(product.id);
          }
        });
      },
    },
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'outlet/SCAN_BARCODE') {
        if (state.outlet.scanedBarcode > 0 && !this.buyer.id && this.qrScan) {
          this.getUserQR(state.outlet.scanedBarcode);
        }
      }
    });
  },
  beforeDestroy() {
    this.applyCancel();
  },
  methods: {
    changeProductValue(id, key, value) {
      this.$store.dispatch('outlet/editCurrentProduct', {
        id: id,
        value: value,
        field: key,
      });
    },
    getUserQR(id) {
      console.log('userQR', id);
      this.buyer_id = id;
      this.$store
        .dispatch(
          'outlet/getBuyerInfo',
          JSON.stringify({ account_id: id, camp_id: this.activeCamp.camp_id })
        )
        .then(() => {
          if (this.buyerInfo.id) {
            this.userInfoModal = true;
          } else {
            let notification = {};
            notification.title = 'Пользователь не опознан';
            notification.text =
              'Пользователь с таким счетом не найден. Попробуйте просканировать QR снова.';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        });
    },
    removeFromList(id) {
      let index = this.currentProducts.findIndex(x => x.id === id);
      this.$store.dispatch('outlet/removeCurrentProduct', index);
    },
    applyCancel() {
      this.$store.dispatch('outlet/clearBuyerInfo');
      this.$store.dispatch('outlet/clearCurrentProduct');
      this.buyer = false;
    },
    async applyReturn() {
      const OutletRepository = RepositoryFactory.get('outlet');
      this.applyDisabled = true;
      let saleList = {};
      saleList.outlet_id = this.outlet_id;
      saleList.user_id = this.buyerInfo.id;
      saleList.account_id = this.buyer_id;
      saleList.products = [];
      this.currentProducts.map(x => {
        saleList.products.push({
          product: { id: x.id, qty: x.quantity, price: x.price },
        });
      });

      try {
        const resp = await OutletRepository.returnProduct(
          JSON.stringify(saleList)
        );
        if (resp.data.status === 'ok') {
          this.billData = resp.data.data;
          this.billModal = true;
          this.applyDisabled = false;
        } else {
          let notification = {};
          notification.title = 'Возврат продукта';
          notification.text =
            'Возникла ошибка при попытке возврата товара: ' + resp.data.message;
          notification.notificationType = 'error';
          notification.status = 'new';
          await this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.applyDisabled = false;
        }
      } catch (err) {
        console.error(err);
        this.applyDisabled = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.return {
  &__list {
    &__body {
      &__name {
        color: $black-font;
        font-size: $regular + 2px;
        font-weight: 400;
        padding: 0 10px;
      }
      &__price {
        font-size: $semi-big;
        color: $black-font;
        font-weight: 400;
        text-align: right;
      }

      &__summ {
        font-size: $semi-big;
        color: $black-font;
        font-weight: 600;
        text-align: right;
      }
    }
  }
  &__summ {
    text-align: right;
    padding: 0 25px;
    font-weight: 500;
    font-size: $small;
    color: $black-font;
    padding: 0 25px 40px;

    &__value {
      font-size: $regular;
    }
  }
  &__summ {
    text-align: right;
    padding: 0 25px;
    font-weight: 500;
    font-size: $small;
    color: $black-font;
    padding: 0 25px 40px;

    &__value {
      font-size: $regular;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $red;
      color: $white-font;
      border: 0px solid transparent;
      padding: 30px;
      flex: 0 4 auto;
      width: 80%;
      cursor: pointer;
      font-size: $semi-big;
      font-weight: 400;
      text-transform: uppercase;
      &:disabled {
        opacity: 0.6;
        cursor: default;
      }
      &__value {
        text-align: right;
        font-size: $big;
        font-weight: 500;
      }
    }

    &__cancel {
      flex: 0 1 auto;
      width: 20%;
      border: 0px solid transparent;
      background-color: $grey;
      cursor: pointer;

      &:disabled {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
}
</style>
