<template>
  <div class="shop-catalog">
    <div class="shop-catalog__search">
      <h3 class="shop-catalog__search__title">{{ $t('elements.searchBy') }}</h3>

      <shop-search-field
        elId="searchBarcode"
        :elLabel="$t('elements.barCode')"
        v-model="search.barcode"
      />

      <shop-search-field
        elId="searchTitle"
        :elLabel="$t('elements.title')"
        v-model="search.title"
      />

      <div class="shop-catalog__search__buttons">
        <regular-button :elClass="['grey']" @click="resetSearch">{{
          $t('elements.reset')
        }}</regular-button>
      </div>
    </div>

    <shop-catalog-categories
      class="shop-catalog__container"
      :item="categories"
      :products="products"
      :selected="selectedCatalog"
      @selectItem="selectCatalog"
      @selectProduct="selectProduct"
      v-if="categories && !productSearch"
    />

    <shop-catalog-search
      v-if="productSearch"
      @selectProduct="selectProduct"
      :searchTitle="search.title"
      :searchBarcode="search.barcode"
    />
  </div>
</template>

<script>
import ShopSearchField from './../../components/primitives/custom/ShopSearchField.vue';
import ShopCatalogCategories from './../../components/shop/ShopCatalogCategories.vue';
import ShopCatalogSearch from './../../components/shop/ShopCatalogSearch.vue';
import RegularButton from './../../components/primitives/RegularButton.vue';
import { mapState } from 'vuex';

export default {
  name: 'ShopCatalog',
  components: {
    ShopCatalogCategories,
    ShopCatalogSearch,
    ShopSearchField,
    RegularButton,
  },
  data: function() {
    return {
      search: {
        barcode: null,
        title: null,
      },
      selectedCatalog: {},
      selectedProduct: [],
      sale: [],
    };
  },
  computed: {
    ...mapState({
      outlet_id: state => state.outlet.outlet_id,
      categories: state => state.outlet.productCategories,
      products: state => state.outlet.productList,
      saleProducts: state => state.outlet.productsForSale,
      acceptProducts: state => state.outlet.productsForAcceptance,
      WriteOffProducts: state => state.outlet.productsForWriteOff,
      ReturnProducts: state => state.outlet.productsForReturn,
      OverchargedProducts: state => state.outlet.productsForOvercharge,
      scanedBarcode: state => state.outlet.scanedBarcode,
      buyerInfo: state => state.outlet.buyerInfo,
      currentProducts: state => state.outlet.currentProducts,
    }),
    productSearch() {
      return this.search.barcode || this.search.title;
    },
  },
  watch: {
    outlet_id: {
      immediate: true,
      handler() {
        if (this.outlet_id) {
          this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: this.outlet_id,
          });
          this.$store.dispatch('outlet/getProductsList', {
            outlet_id: this.outlet_id,
          });
        }
      },
    },
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'outlet/SCAN_BARCODE') {
        if (state.outlet.scanedBarcode > 0) {
          let item = this.products.filter(item =>
            item.barcodes.find(element =>
              element.barcode
                .toString()
                .includes(state.outlet.scanedBarcode.toString())
            )
          );
          if (item.length > 0) {
            this.selectProduct(item[0]);
          } else if (item.length <= 0 && this.buyerInfo.id) {
            let notification = {};
            notification.title = 'Товар не распознан';
            notification.text =
              'При сканировании штрих-кода товар был не распознан.';
            notification.notificationType = 'error';
            notification.status = 'new';
            this.$store.dispatch(
              'notifications/addNewNotification',
              notification
            );
          }
        }
      }
    });
  },
  methods: {
    selectCatalog(item) {
      this.selectedCatalog = item;
    },
    selectProduct(item) {
      if (item.product_status_id == 1) {
        if (this.currentProducts.find(x => x.id === item.id)) {
          let newQty =
            this.currentProducts.find(x => x.id === item.id).quantity + 1;
          this.$store.dispatch('outlet/editCurrentProduct', {
            id: item.id,
            value: parseInt(newQty, 10),
            field: 'quantity',
          });
        } else {
          this.$store.dispatch('outlet/addCurrentProduct', item);
          this.$store.dispatch('outlet/editCurrentProduct', {
            id: item.id,
            value: parseInt(1, 10),
            field: 'quantity',
          });
        }
      }
    },
    barCodeSearch(barCode) {
      this.search.barcode = barCode;
      this.showBarCodeScanner = false;
    },
    barCodeSearchCancel() {
      this.showBarCodeScanner = false;
    },
    resetSearch() {
      this.search.barcode = this.search.title = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-catalog {
  &__search {
    border-bottom: 2px solid $grey;
    padding: 5px 5px 18px 5px;

    &__title {
      font-size: $big - 4px;
      font-weight: 500;
      color: $black-font;
      padding: 10px;
      margin: 0;
      text-align: center;
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 10px;
    }
  }
  &__container {
    list-style: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @media screen and (min-height: 600px) {
      max-height: calc(100vh - 350px);
      height: calc(100vh - 350px);
      display: block;
      overflow: auto;
    }
  }
}
</style>
