// Компонент формирования продажи
<template>
  <div class="acceptance">
    <shop-product-table
      class="acceptance__list"
      @removeItem="removeFromList"
      :items="currentProducts"
    >
      <template #header>
        <td></td>
        <td></td>
        <td>{{ $t('elements.shop.title') }}</td>
        <td>{{ $t('elements.shop.priceIn') }}</td>
        <td>{{ $t('elements.shop.qty') }}</td>
        <td>{{ $t('elements.shop.priceOut') }}</td>
      </template>
      <template #body="{ item: productItem, index: index }">
        <td
          v-if="productItem.id"
          class="acceptance__list__body__barcode"
          @click.prevent="newBarcode(productItem)"
        >
          <img
            height="14px"
            width="20px"
            src="@/assets/img/svg/barcode.svg"
            alt="barcode"
          />
        </td>
        <td v-if="!productItem.id">
          <!--In case of new product -->
        </td>
        <td>{{ index + 1 }}</td>
        <td class="acceptance__list__body__name">{{ productItem.name }}</td>
        <td class="acceptance__list__body__price-in">
          <input
            type="number"
            class="acceptance__list__body__price-in__input"
            :value="productItem.price_in.toFixed(2)"
            @change="
              changeProductValue(
                index,
                'price_in',
                formatDecimals($event.target.value)
              )
            "
          />Руб
        </td>
        <td class="acceptance__list__body__quantity">
          <quantity-selector
            :quantity="productItem.quantity"
            @change="changeProductValue(index, 'quantity', ...arguments)"
          />
        </td>
        <td class="acceptance__list__body__price-out">
          <input
            type="number"
            @change="
              changeProductValue(
                index,
                'price_out',
                formatDecimals($event.target.value / currentCurrency.ratio)
              )
            "
            class="acceptance__list__body__price-out__input"
            :value="(productItem.price_out * currentCurrency.ratio).toFixed(2)"
          />
          {{ currentCurrency.abbr }}
        </td>
      </template>
    </shop-product-table>

    <div class="acceptance__summ">
      {{ $t('elements.shop.totalPriceIn') }}:
      <span class="acceptance__summ__value">{{ summ }} руб</span>
    </div>

    <object-select
      :placeholder="$t('elements.shop.provider')"
      :optionList="providerList"
      :value="selectedProvider"
      @select="selectProvider"
    />

    <regular-input
      elId="provider"
      :elLabel="$t('elements.shop.provider')"
      v-model="provider"
    />
    <regular-input
      elId="comment"
      :elLabel="$t('elements.comment')"
      v-model="comment"
    />

    <div class="acceptance__extra-info"></div>
    <div class="acceptance__buttons">
      <button class="acceptance__buttons__apply" @click.prevent="send">
        {{ $t('elements.send') }}
      </button>
      <button
        class="acceptance__buttons__new"
        @click.prevent="showAddNewProduct = true"
      >
        {{ $t('elements.product.addNewProduct') }}
      </button>
      <button class="acceptance__buttons__cancel" @click.prevent="applyCancel">
        {{ $t('elements.cancel') }}
      </button>
    </div>
    <add-new-product
      v-if="showAddNewProduct"
      @cancel="newProductCancel"
      @apply="addNewProduct"
    />
    <add-bar-code
      :product="productForBarcode"
      v-if="showAddNewBarcode"
      @cancel="newBarcodeCancel"
      @apply="addNewBarcode"
    />
  </div>
</template>

<script>
import RegularInput from './../../components/primitives/RegularInput.vue';
import ObjectSelect from './../../components/primitives/custom/ObjectSelect.vue';
import { mapState } from 'vuex';
import AddNewProduct from './../../components/shop/AddNewProduct.vue';
import AddBarCode from './../../components/shop/AddBarCode.vue';
import QuantitySelector from './../../components/shop/QuantitySelector.vue';
import ShopProductTable from './../../components/shop/ShopProductTable.vue';
import { decimal } from '@/helpers/methods/decimal.js';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

export default {
  name: 'Acceptance',
  mixins: [decimal], //formatDecimals(val)
  components: {
    AddNewProduct,
    RegularInput,
    ObjectSelect,
    AddBarCode,
    QuantitySelector,
    ShopProductTable,
  },
  data: function() {
    return {
      provider: null,
      comment: null,
      showAddNewProduct: false,
      showAddNewBarcode: false,
      productForBarcode: {},
      selectedProvider: {},
    };
  },
  props: {},

  computed: {
    ...mapState({
      currentProducts: state => state.outlet.currentProducts,
      outlet_id: state => state.outlet.outlet_id,
      outletInfo: state => state.outlet.outletInfo,
      outletURL: state => state.common.urls.outlet,
      currentCurrency: state => state.common.currentCurrency,
      providerList: state => state.outlet.providerList,
    }),
    summ() {
      let summ = 0;
      this.currentProducts.map(x => (summ += x.price_in * x.quantity));
      return summ.toFixed(2);
    },
  },
  watch: {
    'outletInfo.camp_id': {
      immediate: true,
      handler() {
        this.getProviders();
      },
    },
    currentProducts: {
      deep: true,
      handler(val) {
        val.map(product => {
          if (product.quantity <= 0) {
            this.removeFromList(product.id);
          }
        });
      },
    },
  },
  methods: {
    changeProductValue(index, key, value) {
      this.$store.dispatch('outlet/editCurrentProduct', {
        index: index,
        value: value,
        field: key,
      });
    },
    removeFromList(id) {
      let index = this.currentProducts.findIndex(x => x.id === id);
      this.$store.dispatch('outlet/removeCurrentProduct', index);
    },
    applyCancel() {
      this.$store.dispatch('outlet/clearCurrentProduct');
      this.provider = null;
      this.comment = null;
    },
    addNewProduct(product) {
      this.$store.dispatch('outlet/addCurrentProduct', product);
      this.showAddNewProduct = false;
    },
    newProductCancel() {
      this.showAddNewProduct = false;
    },
    newBarcode(product) {
      this.productForBarcode = product;
      this.showAddNewBarcode = true;
    },
    addNewBarcode() {
      this.newBarcodeCancel();
      this.$store.dispatch('outlet/getProductsList', {
        outlet_id: this.outlet_id,
      });
    },
    newBarcodeCancel() {
      this.showAddNewBarcode = false;
      this.productForBarcode = {};
    },
    getProviders() {
      if (this.outletInfo?.camp_id) {
        let data = {
          camp_id: this.outletInfo?.camp_id,
        };
        this.$store.dispatch('outlet/getProviderList', data);
      }
    },
    selectProvider(provider) {
      this.selectedProvider = provider;
    },
    async send() {
      let request = {};
      request.outlet_id = this.outlet_id;
      request.products = [];
      if (this.provider) {
        request.provider = this.provider;
      }
      if (this.comment) {
        request.comment = this.comment;
      }
      this.currentProducts.forEach(product => {
        if (product.id) {
          request.products.push({
            product: {
              id: product.id,
              price_in: product.price_in,
              price_out: product.price_out,
              qty: product.quantity,
            },
          });
        } else {
          let obj = {};
          obj.product = {
            name: product.name,
            product_status_id: 1,
            category_id: product.category.id,
            outlet_id: this.outlet_id,
            price_in: product.price_in,
            price_out: product.price_out,
            qty: product.quantity,
            vendor_code: product.article,
          };
          if (product.barCode) {
            obj.barcodes = [
              {
                barcode: product.barCode,
                barcode_type_id: 1, //@ToDo
              },
            ];
          }
          request.products.push(obj);
        }
      });
      const OutletRepository = RepositoryFactory.get('outlet');
      try {
        const resp = await OutletRepository.postAcceptance(
          JSON.stringify(request)
        );
        if (resp.data.status === 'ok') {
          let notification = {};
          notification.title = 'Прием товара';
          notification.text = 'Документ о приеме товара сохранен успешно';
          notification.notificationType = 'success';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );

          this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: this.outlet_id,
          });
          this.$store.dispatch('outlet/getProductsList', {
            outlet_id: this.outlet_id,
          });
          this.applyCancel();
        } else {
          let notification = {};
          notification.title = 'Прием товара';
          notification.text =
            'Возникла ошибка при приеме товара. (' + resp.data.message + ')';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
        }
      } catch (err) {
        console.error(err);
      }
      this.getProviders();
    },
  },
  beforeDestroy() {
    this.applyCancel();
  },
};
</script>

<style lang="scss" scoped>
.acceptance {
  &__list {
    &__body {
      &__barcode {
        cursor: pointer;
        padding: 6px 5px 0 !important;
      }
      &__name {
        color: $black-font;
        font-size: $regular + 2px;
        padding: 0 10px;
      }
      &__quantity {
        min-width: 150px;
      }
      &__price-in {
        text-align: right;

        &__input {
          font-size: $semi-big;
          color: $black-font;
          font-weight: 400;
          max-width: 80px;
          text-align: right;
          border: 0px solid transparent;
          -moz-appearance: textfield; /* Firefox */

          &::-webkit-outer-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
          &::-webkit-inner-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
      &__price-out {
        text-align: right;

        &__input {
          font-size: $semi-big;
          color: $black-font;
          font-weight: 600;
          max-width: 80px;
          text-align: right;
          -moz-appearance: textfield; /* Firefox */
          border: 0px solid transparent;

          &::-webkit-outer-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
          &::-webkit-inner-spin-button {
            /* Chrome */
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }
  &__summ {
    text-align: right;
    padding: 0 25px;
    font-weight: 500;
    font-size: $small;
    color: $black-font;
    padding: 0 25px 40px;

    &__value {
      font-size: $regular;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $corporate-light;
      color: $white-font;
      border: 0px solid transparent;
      padding: 30px;
      flex: 1 1;
      width: 33%;
      cursor: pointer;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__new {
      cursor: pointer;
      flex: 1 1;
      width: 33%;
      border: 0px solid transparent;
      background-color: $grey;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__cancel {
      cursor: pointer;
      flex: 1 1;
      width: 33%;
      border: 0px solid transparent;
      background-color: $red;
      color: $white-font;
      font-size: $regular + 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
</style>
