<template>
  <div :class="{ expanded: expanded }">
    <div class="shop-menu__header">
      <span class="shop-menu__header__logo">
        <img
          src="./../../assets/img/svg/logo-white.svg"
          class="shop-menu__header__logo__img"
          alt="Justapp"
        />
      </span>
      <a @click.prevent="collapse" href="" class="shop-menu__header__close">
        <img
          src="./../../assets/img/svg/menu-close.svg"
          class="shop-menu__header__close__img"
          alt="x"
        />
      </a>
    </div>
    <div class="shop-menu__user"></div>
    <div class="shop-menu__select">
      <regular-select-slots
        class="shop-menu__selector"
        placeholder="Выберите магазин:"
        v-if="userOutletsList.length > 1"
        :optionList="userOutletsList"
        @input="currentOutletUpdate"
        :value="currentOutletIndex"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.name }} (ID: {{ valueName.id }} )
        </template>
      </regular-select-slots>
    </div>
    <!--    <div class="shop-menu__select">-->
    <!--      <regular-select-slots-->
    <!--        class="shop-menu__selector"-->
    <!--        placeholder="Выберите кухню:"-->
    <!--        v-if="kitchenList.length > 1"-->
    <!--        :optionList="kitchenList"-->
    <!--        @input="currentKitchenUpdate"-->
    <!--        :value="currentKitchenIndex"-->
    <!--      >-->
    <!--        <template v-slot:value="{ valueName }">-->
    <!--          {{ valueName.name }} (ID: {{ valueName.id }} )-->
    <!--        </template>-->
    <!--      </regular-select-slots>-->
    <!--    </div>-->
    <div class="shop-menu__items">
      <ul class="shop-menu__items__list">
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop`">
            Продажа
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/return/`">
            Возврат товара
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/acceptance/`">
            Прием товара
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/write-off/`">
            Списание товара
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/overcharge/`">
            Переоценка товара
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/reserve`">
            Остатки товара
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/sale-list`">
            Список продаж
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/acceptance-list/`">
            Список документов о приеме товара
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/write-off-list/`">
            Список документов о списаниях
          </router-link>
        </li>
        <li class="shop-menu__items__list__link">
          <router-link :to="`/shop/overcharge-list/`">
            Список документов о переоценке
          </router-link>
        </li>
      </ul>
    </div>
    <div class="shop-menu__sub-menu">
      <ul class="shop-menu__sub-menu__list">
        <li class="shop-menu__sub-menu__list__link">
          <router-link to="/kitchen">Кухня</router-link>
        </li>
        <li class="shop-menu__sub-menu__list__link">
          Помощь
        </li>
        <li @click="logout" class="shop-menu__sub-menu__list__link">
          Выход
        </li>
      </ul>
    </div>
    <div class="shop-menu__sub-menu">
      <h3 class="shop-menu__sub-menu__title">
        {{ $t('elements.currency.chooseCurrency') }}
      </h3>
      <ul class="shop-menu__sub-menu__list">
        <li
          class="shop-menu__sub-menu__list__link"
          v-for="(currency, key) in currencies"
          :key="'currency-' + key"
          @click="changeCurrency(currency.id)"
          :class="{ '-current': currency.id === currentCurrency.id }"
        >
          {{ currency.title }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import { asyncSetLocalStorage } from '@/helpers/methods/asyncLocalStorage';

export default {
  components: { RegularSelectSlots },
  props: {
    expanded: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
      currencies: state => state.common.currencies,
      userOutletsList: state => state.outlet.userOutletsList,
      outlet_id: state => state.outlet.outlet_id,
    }),
    currentOutletIndex() {
      if (this.outlet_id && this.outlet_id >= 0) {
        return this.userOutletsList?.findIndex(val => val.id == this.outlet_id);
      } else {
        return 0;
      }
    },
  },
  // watch: {
  //   userOutletsList: {
  //     deep: true,
  //     immediate: true,
  //     async handler() {
  //       let storageOutlet = await asyncGetLocalStorage('outletID');
  //       if (!this.outlet_id && storageOutlet) {
  //         this.$store.commit(
  //           'outlet/SET_CURRENT_OUTLET',
  //           asyncGetLocalStorage('outletID')
  //         );
  //       } else if (!this.outlet_id && !storageOutlet) {
  //         this.currentOutletUpdate(0);
  //       }
  //     },
  //   },
  // },
  methods: {
    collapse() {
      this.$emit('collapse');
    },
    changeCurrency(id) {
      this.$store.dispatch('common/changeCurrentCurrency', id);
    },
    async logout() {
      await this.$store.dispatch('logout');
      this.$router.push('/');
    },
    currentOutletUpdate(value) {
      this.$store.commit('outlet/CURRENT_PRODUCT_CLEAR');
      this.$store.commit(
        'outlet/SET_CURRENT_OUTLET',
        this.userOutletsList[value]?.id
      );
      asyncSetLocalStorage('outletID', this.userOutletsList[value].id);
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-menu {
  background-color: $corporate-menu;
  height: 100vh;
  width: 0;
  padding: 0;
  overflow: auto;

  &.expanded {
    width: 50%;
    padding: 10px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
      padding: 0px 10px;
    }
    &__close {
      padding: 0px 20px;
    }
  }
  &__user {
    display: none;
  }
  &__items {
    &__list {
      list-style: none;
      padding: 25px;
      margin: 0;
      &__link {
        font-size: $semi-big;
        color: $white;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-weight: 500;
        a {
          color: $white;
          cursor: pointer;

          &:visited {
            color: $white;
          }
        }
      }
    }
  }
  &__sub-menu {
    padding-top: 30px;
    &__list {
      list-style: none;
      padding: 25px;
      margin: 0;

      &__link {
        font-size: $semi-big;
        color: $white;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-weight: 500;
        cursor: pointer;

        a {
          font-size: $semi-big;
          color: $white;
          text-transform: capitalize;
          padding-bottom: 10px;
          font-weight: 500;
          cursor: pointer;
        }

        &.-current {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
