// Компонент формирования продажи
<template>
  <div class="sale-list-item">
    <div class="sale-list-item__info">
      <h3 class="sale-list-item__info__header">
        {{ $t('elements.shop.orderNumber') }} {{ $route.params.id }}
      </h3>
      <span class="sale-list-item__info__date"
        >{{ $t('elements.shop.from') }}
        {{ formatDate(writeOfInfo.created_at) }}</span
      >
      <br /><span class="sale-list-item__info__comment"
        >{{ $t('elements.shop.buyerId') }}: {{ writeOfInfo.buyer_id }}</span
      >
      <br /><span class="sale-list-item__info__comment"
        >{{ $t('elements.shop.checkNumber') }}: {{ writeOfInfo.check_no }}</span
      >
      <br /><span v-if="buyerInfo.name"
        >{{ buyerInfo.name }} {{ buyerInfo.surname }}</span
      >
    </div>
    <table class="sale-list-item__container">
      <thead>
        <tr>
          <td>
            {{ $t('elements.shop.title') }}
          </td>
          <td>
            {{ $t('elements.shop.qty') }}
          </td>
          <td>
            {{ $t('elements.shop.price') }}
          </td>
          <td>
            {{ $t('elements.product.discount') }}
          </td>
          <td>
            {{ $t('elements.shop.summ') }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, key) in saleProducts" :key="key">
          <td>{{ findName(product.product_id) }}</td>
          <td>{{ product.product_qty }}</td>
          <td>
            {{ (product.product_price * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
          <td>{{ product.product_discount }}</td>
          <td>
            {{ (product.total_price * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
        </tr>
      </tbody>
    </table>
    <span class="sale-list-item__total_sum"
      >{{ $t('elements.shop.result') }}: {{ writeOfInfo.total_sum }}</span
    >
    <br />
    <div v-show="false" id="print">
      <div style="max-width: 80mm; padding: 5mm; page-break-after: always;">
        <center>
          {{ $t('elements.shop.checkNumber') }}: {{ writeOfInfo.check_no }}
        </center>
        <br />
        <center>
          <strong>{{ buyerInfo.name }} {{ buyerInfo.surname }}</strong>
        </center>
        <br /><br />
        <table>
          <tbody>
            <tr>
              <td style="padding-bottom: 20px;">
                {{ $t('elements.shop.orderNumber') }}
              </td>
              <td></td>
              <td style="padding-bottom: 20px;">{{ $route.params.id }}</td>
            </tr>
            <tr>
              <td style="padding-bottom: 20px;">
                {{ formatDate(writeOfInfo.created_at) }}
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr v-for="(product, key) in saleProducts" :key="key">
              <td>{{ findName(product.product_id) }}</td>
              <td style="text-align:right;">{{ product.product_qty }}</td>
              <td>
                x
                {{ (product.product_price * currentCurrency.ratio).toFixed(2) }}
                {{ currentCurrency.abbr }}
              </td>
            </tr>
          </tbody>
        </table>
        <h2>{{ $t('elements.shop.result') }}: {{ writeOfInfo.total_sum }}</h2>
      </div>
    </div>
    <button class="print" @click.prevent="print">Печатать чек</button>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
import axios from 'axios';

export default {
  data: function() {
    return {
      saleProducts: [],
      writeOfInfo: {},
    };
  },
  components: {
    // ReportsList
  },
  props: {},
  mounted() {
    let params = {
      order_id: this.$route.params.id,
    };
    axios({
      url: this.outletURL + '/rest/v1/offlinepayment/getpaymentorder',
      params: params,
      method: 'GET',
    })
      .then(resp => {
        console.log('resp', resp);
        this.saleProducts = resp.data.data.items;
        this.writeOfInfo = resp.data.data.order;
        this.$store.dispatch(
          'outlet/getBuyerInfo',
          JSON.stringify({ account_id: this.writeOfInfo.user_id })
        );
      })
      .catch(err => {
        console.log(err);
      });
  },
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outlet_id: state => state.outlet.outlet_id,
      outletURL: state => state.common.urls.outlet,
      currentCurrency: state => state.common.currentCurrency,
      buyerInfo: state => state.outlet.buyerInfo,
    }),
  },
  watch: {},
  methods: {
    findName(id) {
      if (this.saleProducts.length > 0 && this.products) {
        return this.products?.find(x => x.id === id)?.name;
      } else {
        return '';
      }
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
    print() {
      const prtHtml = document.getElementById('print').innerHTML;
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,toolbar=0,scrollbars=0,status=0'
      );
      let stylesHtml = '';
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML;
      }
      WinPrint.document.write(`<!DOCTYPE html>
                                        <html>
                                          <head>
                                             ${stylesHtml}
                                          </head>
                                          <body>
                                            ${prtHtml}
                                          </body>
                                        </html>`);
      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.addEventListener(
        'load',
        () => {
          WinPrint.print();
          WinPrint.close();
        },
        false
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.sale-list-item {
  .print {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0px solid transparent;
  }
  &__container {
    margin: 20px 0;
    width: 100%;

    thead {
      tr {
        td {
          font-size: $regular;
          font-weight: 500;
          padding: 10px 0;
          border-bottom: 1px solid $border;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: $regular + 2px;
          padding: 10px 0;

          &:not(:first-child) {
            text-align: center;
          }
        }
      }
    }
  }
  &__total_sum {
    font-size: $big;
  }
}
</style>
