// Компонент отчета по товару
<template>
  <div class="product-log">
    <div class="product-log__info">
      <h2>{{ product.name }}</h2>
      <span>ID: {{ product.id }}</span
      ><br />
      <span
        >Цена: {{ (product.price_out * currentCurrency.ratio).toFixed(2) }}
        {{ currentCurrency.abbr }}</span
      >
    </div>
    <table class="product-log__operation">
      <tbody>
        <tr v-for="(operation, key) in productLog" :key="'productlog-' + key">
          <td>
            <b>{{ findType(operation.op_type) }}</b>
          </td>
          <td>{{ formatDate(operation.date) }}</td>
          <td>
            <span v-if="operation.product_price_in"
              >Вход:
              {{
                (operation.product_price_in * currentCurrency.ratio).toFixed(2)
              }}
              {{ currentCurrency.abbr }}</span
            >
            <span v-if="operation.product_old_price"
              >{{
                (operation.product_old_price * currentCurrency.ratio).toFixed(2)
              }}
              ->
              {{
                (operation.product_new_price * currentCurrency.ratio).toFixed(2)
              }}
              {{ currentCurrency.abbr }}</span
            >
          </td>
          <td>
            <span v-if="operation.product_price_out || operation.product_price"
              >Цена:
              {{
                (
                  (operation.product_price_out
                    ? operation.product_price_out
                    : operation.product_price) * currentCurrency.ratio
                ).toFixed(2)
              }}
              {{ currentCurrency.abbr }}</span
            >
          </td>
          <td>
            <span v-if="operation.product_qty"
              >Кол-во: {{ operation.product_qty }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
import axios from 'axios';

export default {
  name: 'productLog',
  data: function() {
    return {
      product_id: null,
      product: {},
      productLog: [],
    };
  },
  components: {
    // ReportsList
  },
  props: {},
  mounted() {
    this.product_id = this.$route.params.id;
    let params = {
      product_id: this.$route.params.id,
    };
    axios({
      url: this.outletURL + '/rest/v1/offlineproduct/getproductinfo',
      params: params,
      method: 'GET',
    })
      .then(resp => {
        this.product = resp.data.data.product;
        this.productLog = []
          .concat(
            resp.data.data.arrival.items.map(x => ({
              ...x,
              op_type: 'arrival',
            })),
            resp.data.data.payment.items.map(x => ({
              ...x,
              op_type: 'payment',
            })),
            resp.data.data.reprice.items.map(x => ({
              ...x,
              op_type: 'reprice',
            })),
            resp.data.data.writeoff.items.map(x => ({
              ...x,
              op_type: 'writeoff',
            }))
          )
          .sort((a, b) => a.date - b.date);
      })
      .catch(err => {
        console.log(err);
      });
  },
  computed: {
    ...mapState({
      outletURL: state => state.common.urls.outlet,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  watch: {},
  methods: {
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy hh:mm');
      }
    },
    findType(type) {
      switch (type) {
        case 'arrival':
          return 'Поступление';
        case 'payment':
          return 'Покупка';
        case 'reprice':
          return 'Переоценка';
        case 'writeoff':
          return 'Списание';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.product-log__operation {
  width: 100%;
  margin-top: 20px;

  tr {
    td {
      padding: 10px;
    }

    &:nth-child(2n) td {
      background-color: $grey;
    }
  }
}
</style>
