// Компонент формирования продажи
<template>
  <div class="sale">
    <table class="sale__list">
      <thead class="sale__list__header">
        <tr class="sale__list__header__line">
          <td class="sale__list__header__line__item">Ордер №</td>
          <td class="sale__list__header__line__item">Позиций</td>
          <td class="sale__list__header__line__item">Дата</td>
          <td class="sale__list__header__line__item">ID покупателя</td>
          <td class="sale__list__header__line__item">№ чека</td>
          <td class="sale__list__header__line__item">Сумма</td>
        </tr>
      </thead>
      <tbody class="sale__list__item__body">
        <tr
          class="sale__list__body__item"
          v-for="(item, key) in saleProducts"
          :key="key"
          @click="openOrder(item.id)"
          @contextmenu.prevent="openOrderWindow(item.id)"
        >
          <td class="sale__list__body__item__cell">{{ item.id }}</td>
          <td class="sale__list__body__item__cell">
            {{ item.orderItems.length }}
          </td>
          <td class="sale__list__body__item__cell">
            {{ formatDate(item.created_at) }}
          </td>
          <td class="sale__list__body__item__cell">{{ item.buyer_id }}</td>
          <td class="sale__list__body__item__cell">{{ item.check_no }}</td>
          <td class="sale__list__body__item__cell">
            {{ (item.total_sum * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />
  </div>
</template>

<script>
import Pagination from './../../components/common/Pagination.vue';
import { fromUnixTime, format } from 'date-fns';
import { mapState } from 'vuex';
// import moment from 'moment';
import axios from 'axios';

export default {
  data: function() {
    return {
      saleProducts: [],
      pagination: {
        page: 1,
        perPage: 10,
      },
    };
  },
  props: {},
  components: {
    Pagination,
  },
  mounted() {
    this.updateData();
  },
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outlet_id: state => state.outlet.outlet_id,
      currentPagination: state => state.outlet.currentPagination,
      outletURL: state => state.common.urls.outlet,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  watch: {
    outlet_id() {
      if (this.outlet_id) {
        this.updateData();
      }
    },
  },
  methods: {
    updateData() {
      let params = {
        outlet_id: this.outlet_id,
        page: this.pagination?.page || 1,
        per_page: this.pagination?.perPage || 20,
      };
      axios({
        url: this.outletURL + '/rest/v1/offlinereport/getpaymentreport',
        params: params,
        method: 'GET',
      }) //Отчет по списаниям
        .then(resp => {
          this.saleProducts = resp.data.data.orders;
          this.$store.commit(
            'outlet/GET_CURRENT_PAGINATION',
            resp.data.pagination
          );
        })
        .catch(err => {
          console.log(err);
        });
    },
    formatDate(date) {
      // return moment.unix(date).format('DD.MM.YYYY HH:mm');
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy hh:mm');
      }
    },
    openOrder(id) {
      this.$router.push({ name: 'saleListItem', params: { id: id } });
    },
    openOrderWindow(id) {
      let routeData = this.$router.resolve({
        name: 'saleListItem',
        params: { id: id },
      });
      window.open(routeData.href, '_blank');
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.updateData();
    },
    changePage(val) {
      this.pagination.page = val;
      this.updateData();
    },
  },
};
</script>

<style lang="scss" scoped>
.sale {
  margin-top: 20px;
  padding: 0 20px;
  &__list {
    width: 100%;
    padding-top: 20px;
    border-collapse: collapse;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;

        &__item {
          font-size: $regular + 2px;
          font-weight: 600;
          padding-bottom: 5px;

          margin: 0;
        }
      }
    }
    &__body {
      &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;

        &:nth-child(2n) {
          td {
            background-color: $grey;
          }
        }

        &__cell {
          font-size: $regular;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
</style>
