// Компонент формирования продажи
<template>
  <div class="overcharge-list-item">
    <div class="overcharge-list-item__info">
      <h3 class="overcharge-list-item__info__header">
        {{ $t('elements.shop.orderNumber') }} {{ $route.params.id }}
      </h3>
      <span class="overcharge-list-item__info__date"
        >{{ $t('elements.shop.from') }}
        {{ formatDate(overchargeInfo.created_at) }}</span
      >
      <br />
      <span class="overcharge-list-item__info__comment">{{
        overchargeInfo.comment
      }}</span>
    </div>

    <table class="overcharge-list-item__container">
      <thead>
        <tr>
          <td>
            {{ $t('elements.shop.title') }}
          </td>
          <td>
            {{ $t('elements.shop.price') }}
          </td>
          <td>
            {{ $t('elements.shop.newPrice') }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(product, key) in overchargeProducts"
          :key="'acceptance-' + key"
        >
          <td>{{ findName(product.product_id) }}</td>
          <td>{{ product.product_old_price }}</td>
          <td>{{ product.product_new_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
import axios from 'axios';

export default {
  data: function() {
    return {
      overchargeProducts: [],
      overchargeInfo: {},
    };
  },
  components: {
    // ReportsList
  },
  props: {},
  mounted() {
    let params = {
      order_id: this.$route.params.id,
    };
    axios({
      url: this.outletURL + '/rest/v1/offlineproduct/getrepriceorder',
      params: params,
      method: 'GET',
    })
      .then(resp => {
        console.log('data', resp.data);
        this.overchargeProducts = resp.data.data.items;
        this.overchargeInfo = resp.data.data.order;
      })
      .catch(err => {
        console.log(err);
      });
  },
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outletURL: state => state.common.urls.outlet,
      outlet_id: state => state.outlet.outlet_id,
    }),
  },
  watch: {},
  methods: {
    findName(id) {
      if (this.overchargeProducts.length > 0 && this.products) {
        return this.products?.find(x => x.id === id)?.name;
      } else {
        return '';
      }
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy hh:mm');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.overcharge-list-item__container {
  width: 100%;
  margin: 20px 0;
  padding: 20px;

  thead {
    tr {
      td {
        font-size: $regular;
        font-weight: 500;
        padding: 10px 0;
        border-bottom: 1px solid $border;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: $regular + 2px;
        padding: 10px 0;

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }
}
</style>
