// Компонент формирования продажи
<template>
  <div class="acceptance-list-item">
    <div class="acceptance-list-item__info">
      <h3 class="acceptance-list-item__info__header">
        {{ $t('elements.shop.orderNumber') }} {{ $route.params.id }}
      </h3>
      <span class="acceptance-list-item__info__date"
        >{{ $t('elements.shop.from') }}
        {{ formatDate(writeOfInfo.created_at) }}</span
      >
      <br /><span class="acceptance-list-item__info__comment">{{
        writeOfInfo.comment
      }}</span>
      <br /><span class="acceptance-list-item__info__comment"
        >{{ $t('elements.shop.summ') }}:
        {{ (writeOfInfo.total_sum_in * currentCurrency.ratio).toFixed(2) }}
        {{ currentCurrency.abbr }}</span
      >
    </div>

    <table class="acceptance-item__container">
      <thead>
        <tr>
          <td>
            {{ $t('elements.shop.title') }}
          </td>
          <td>
            {{ $t('elements.shop.qty') }}
          </td>
          <td>
            {{ $t('elements.shop.priceIn') }}
          </td>
          <td>
            {{ $t('elements.shop.priceOut') }}
          </td>
          <td>
            {{ $t('elements.shop.totalPriceIn') }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(product, key) in acceptanceProducts"
          :key="'acceptance-' + key"
        >
          <td>{{ findName(product.product_id) }}</td>
          <td>{{ product.product_qty }}</td>
          <td>
            {{ (product.product_price_in * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
          <td>
            {{ (product.product_price_out * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
          <td>
            {{ (product.total_price_in * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { fromUnixTime, format } from 'date-fns';
import axios from 'axios';

export default {
  data: function() {
    return {
      acceptanceProducts: [],
      writeOfInfo: {},
    };
  },
  components: {
    // ReportsList
  },
  props: {},
  mounted() {
    let params = {
      order_id: this.$route.params.id,
    };
    axios({
      url: this.outletURL + '/rest/v1/offlineproduct/getarrivalorder',
      params: params,
      method: 'GET',
    })
      .then(resp => {
        console.log('resp', resp);
        this.acceptanceProducts = resp.data.data.items;
        this.writeOfInfo = resp.data.data.order;
      })
      .catch(err => {
        console.log(err);
      });
  },
  computed: {
    ...mapState({
      products: state => state.outlet.productList,
      outlet_id: state => state.outlet.outlet_id,
      outletURL: state => state.common.urls.outlet,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  watch: {},
  methods: {
    findName(id) {
      if (this.acceptanceProducts.length > 0 && this.products) {
        return this.products?.find(x => x.id === id)?.name;
      } else {
        return '';
      }
    },
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.acceptance-item__container {
  width: 100%;
  margin: 20px 0;

  thead {
    tr {
      td {
        font-size: $regular;
        font-weight: 500;
        padding: 10px 0;
        border-bottom: 1px solid $border;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: $regular + 2px;
        padding: 10px 0;

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }
}
</style>
