<template>
  <div class="register-company">
    <find-company class="register-company__find" @select="getFindedCompany" />
    <form class="register-company__form">
      <regular-input
        elId="companyName"
        :elLabel="'Наименование компании'"
        :error="!$v.company.name.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.name.required,
        }"
        v-model="company.name"
      />
      <regular-input
        elId="companyFullName"
        :elLabel="'Полное наименование компании'"
        :error="!$v.company.fullName.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.fullName.required,
        }"
        v-model="company.fullName"
      />
      <regular-input
        elId="companyInn"
        :elLabel="'ИНН'"
        v-model="company.inn"
        :elDisabled="true"
      />
      <regular-input
        elId="companyKpp"
        :elLabel="'КПП'"
        :error="!$v.company.kpp.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.kpp.required,
        }"
        v-model="company.kpp"
      />
      <regular-input
        elId="companyOgrn"
        :elLabel="'ОГРН'"
        :error="!$v.company.ogrn.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.ogrn.required,
        }"
        v-model="company.ogrn"
      />
      <regular-input
        elId="companyOkpo"
        :elLabel="'ОКПО'"
        v-model="company.okpo"
      />
      <regular-input
        elId="companyOkved"
        :elLabel="'ОКВЭД'"
        :error="!$v.company.okved.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.okved.required,
        }"
        v-model="company.okved"
      />
      <regular-input
        elId="companyAddress"
        :elLabel="'Адрес компании'"
        :error="!$v.company.address.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.address.required,
        }"
        v-model="company.address"
      />
      <regular-input
        elId="companyPaymentAccount"
        :elLabel="'Расчетный счет организации'"
        :error="!$v.company.paymentAccount.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.paymentAccount
            .required,
        }"
        v-model="company.paymentAccount"
      />
      <regular-input
        elId="companyBankAccount"
        :elLabel="'Корреспондентский счет банка'"
        :error="!$v.company.bankAccount.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.bankAccount
            .required,
        }"
        v-model="company.bankAccount"
      />
      <regular-input
        elId="companyBankBik"
        :elLabel="'БИК банка'"
        :error="!$v.company.bankBik.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.company.bankBik.required,
        }"
        v-model="company.bankBik"
      />
    </form>
    <div class="register-company__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.company.$invalid"
        @click="registerApply"
      >
        Продолжить
      </regular-button>
    </div>
  </div>
</template>

<script>
import FindCompany from '@/components/home/auth/FindCompany';
import RegularInput from '@/components/primitives/RegularInput';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import RegularButton from '@/components/primitives/RegularButton';

export default {
  name: 'RegisterCompany',
  components: { RegularButton, RegularInput, FindCompany },
  mixins: [validationMixin],
  validations: {
    company: {
      name: {
        required,
      },
      fullName: {
        required,
      },
      kpp: {
        required,
      },
      address: {
        required,
      },
      ogrn: {
        required,
      },
      okved: {
        required,
      },
      paymentAccount: {
        required,
      },
      bankAccount: {
        required,
      },
      bankBik: {
        required,
      },
    },
  },
  data: function() {
    return {
      findedCompany: {},
      company: {
        inn: null,
        name: null,
        fullName: null,
        kpp: null,
        address: null,
        ogrn: null,
        okpo: null,
        okved: null,
        paymentAccount: null,
        bankAccount: null,
        bankBik: null,
      },
    };
  },
  methods: {
    getFindedCompany(value) {
      this.company.name = value.value;
      this.company.fullName = value.data.name.full_with_opf;
      this.company.inn = value.data.inn;
      this.company.kpp = value.data.kpp;
      this.company.address = value.data.address.unrestricted_value;
      this.company.okpo = value.data.okpo || null;
      this.company.ogrn = value.data.ogrn || null;
      this.company.okved = value.data.okved;
    },
    registerApply() {
      this.$emit('apply', this.company);
    },
  },
};
</script>

<style lang="scss" scoped>
.register-company {
  &__find {
    margin-bottom: 20px;
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
</style>
