<template>
  <div class="register">
    <form class="register__form" autocomplete="off" name="register">
      <div class="register__birth">
        <regular-select
          :placeholder="$t('elements.birthdayDay') + '*'"
          class="register__birth__day"
          :option-list="days"
          :value="register.userDay"
          @select="selectDate"
        />
        <regular-select
          :placeholder="$t('elements.birthdayMonth') + '*'"
          class="register__birth__month"
          :option-list="monthes"
          :value="register.userMonth"
          @select="selectMonth"
        />
        <regular-select
          :placeholder="$t('elements.birthdayYear') + '*'"
          class="register__birth__year"
          :option-list="years"
          :value="register.userYear"
          @select="selectYear"
        />
      </div>
      <regular-select
        :placeholder="$t('elements.gender') + '*'"
        :option-list="genderList"
        :value="register.gender"
        @select="selectGender"
      />
      <regular-input
        elId="name"
        :elLabel="$t('elements.name') + '*'"
        :error="!$v.register.name.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.register.name.required,
        }"
        v-model="register.name"
      />
      <regular-input
        elId="second_name"
        :elLabel="$t('elements.secondName') + '*'"
        :error="!$v.register.second_name.required"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.register.second_name
            .required,
        }"
        v-model="register.second_name"
      />
      <regular-input
        elId="email"
        :elLabel="$t('elements.email') + '*'"
        :errorMessages="{
          'Укажите корректный email':
            !$v.register.email.required || !$v.register.email.email,
        }"
        :error="!$v.register.email.required || !$v.register.email.email"
        v-model="register.email"
      />
      <regular-input-masked
        elId="phone"
        :elLabel="$t('elements.phone') + '*'"
        :errorMessages="{ 'Укажите телефон': !$v.register.phone.required }"
        :error="!$v.register.phone.required"
        :mask="'+# ### ###-##-##'"
        v-model="register.phone"
      />
      <regular-input-password
        elId="password"
        :elLabel="$t('elements.password') + '*'"
        elType="password"
        :error="!$v.register.password.required || register.password.length < 6"
        :errorMessages="{
          'Это поле обязательно для заполнения, не меньше 6 символов.':
            !$v.register.password.required || register.password.length < 6,
        }"
        v-model="register.password"
      />
      <regular-input-password
        elId="passwordRepeat"
        :elLabel="$t('elements.passwordRepeat') + '*'"
        elType="password"
        :errorMessages="{
          'Это поле обязательно для заполнения': !$v.register.passwordRepeat
            .required,
          'Пароли должны совпадать': !$v.register.passwordRepeat.sameAsPassword,
        }"
        :error="$v.register.passwordRepeat.$invalid"
        v-model="register.passwordRepeat"
      />
      <div class="register__helpers">
        <regular-checkbox
          elValue="personalData"
          @click="register.personalData = !register.personalData"
          :elChecked="register.personalData"
          elId="personalData"
        >
          {{ $t('elements.personalData') }} *
        </regular-checkbox>
      </div>
    </form>

    <p
      class="warning"
      v-if="
        !register.gender ||
          !register.userYear ||
          !register.personalData ||
          !register.password ||
          !register.email ||
          !register.phone ||
          !register.second_name ||
          !register.name
      "
    >
      * Поля обязательные для заполнения
    </p>
    <div class="register__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.register.$invalid"
        @click="registerApply"
      >
        Продолжить
      </regular-button>
    </div>
  </div>
</template>

<script>
import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularSelect from '@/components/primitives/RegularSelect.vue';
import RegularCheckbox from '@/components/primitives/RegularCheckbox.vue';
import { parrentValidate } from '@/helpers/validations/register.js';
import { dates } from '@/helpers/data/dates.js';
import { validationMixin } from 'vuelidate';
import RegularInputPassword from '@/components/primitives/RegularInputPassword';

export default {
  name: 'RegisterUser',
  mixins: [validationMixin, dates],
  data: function() {
    return {
      register: {
        userDay: null,
        userMonth: null,
        userYear: null,
        gender: null,
        name: null,
        second_name: null,
        email: null,
        phone: null,
        password: null,
        passwordRepeat: null,
        personalData: false, //Разрешение на обработку персональных данных
        isAdmin: null,
      },
      genderList: [
        { name: this.$t('constants.male'), value: 'male' },
        { name: this.$t('constants.female'), value: 'female' },
      ],
    };
  },
  components: {
    RegularInputPassword,
    RegularInput,
    RegularInputMasked,
    RegularButton,
    RegularSelect,
    RegularCheckbox,
  },
  validations: parrentValidate,
  methods: {
    registerApply() {
      let chosenDate = `${this.register.userYear}-${
        this.register.userMonth < 10 ? '0' : ''
      }${this.register.userMonth ? this.register.userMonth : '1'}-${
        this.register.userDay < 10 ? '0' : ''
      }${this.register.userDay ? this.register.userDay : '1'}`;
      // let birthday = moment.utc(chosenDate).valueOf();
      let birthday = new Date(chosenDate).toISOString().valueOf();
      const regEx = /[^\d]/g;
      let data = {
        name: this.register.name,
        surname: this.register.second_name,
        email: this.register.email,
        username: this.register.phone.replace(regEx, ''),
        password: this.register.password,
        gender: this.register.gender,
        birthday: birthday,
        personalDataAgreement: this.register.personalData,
      };
      this.$emit('apply', data);
      // this.$store
      //   .dispatch('register', JSON.stringify(data))
      //   .then(() => {
      //     if (
      //       localStorage.getItem('role') === 'outlet_manager' ||
      //       localStorage.getItem('role') === 'outlet_user'
      //     ) {
      //       this.$router.push('/shop');
      //     } else if (localStorage.getItem('role') === 'parent') {
      //       this.$router.push('/parents');
      //     } else if (localStorage.getItem('role') === 'child') {
      //       this.$router.push('/');
      //     }
      //     // else {
      //
      //     // }
      //   })
      //   .catch(err => console.log(err));
    },
    selectDate(date) {
      this.register.userDay = date;
    },
    selectMonth(month) {
      this.register.userMonth = month;
    },
    selectYear(year) {
      this.register.userYear = year;
    },
    selectGender(gender) {
      this.register.gender = gender;
    },
  },
};
</script>

<style scoped lang="scss">
.register {
  &__instruct {
    color: $red;
  }
  &__birth {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__day {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
    }
    &__month {
      max-width: 40%;
      display: flex;
      flex-grow: 1;
    }
    &__year {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
    }
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__separator {
      margin: 0 10px;
    }
    button {
      @media screen and (max-width: 800px) {
        margin: 10px 0;
      }
    }
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    &__forgot {
      display: inline-block;
      color: $corporate;
      font-size: $small;
      font-weight: 500;
    }
  }
}
</style>
