<template>
  <div @click="$emit('click', faqItem.id)" class="faq-wrp">
    <div class="faq">
      <div class="faq__body">
        <div class="faq__body__question">
          <span :class="{ active: show }">{{ $t(`${faqItem.title}`) }}</span>
          <span v-if="!show" class="faq__body__question__plus">+</span>
          <span v-else class="faq__body__question__plus span-active">-</span>
        </div>
        <div v-show="show" class="faq__body__answer">
          <span>{{ $t(`${faqItem.content}`) }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FaqTemplate',
  props: {
    faqItem: Object,
    show: Boolean,
  },
};
</script>

<style scoped lang="scss">
.span-active {
  color: #319ded;
}
.faq-wrp {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  .faq {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid rgba(61, 59, 78, 0.2);

    &__body {
      display: flex;
      flex-direction: column;
      &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 20px;
          &.active {
            color: $corporate;
          }
        }
        &__plus {
          font-size: 40px;
        }
      }
      &__answer {
        align-self: center;
        width: 90%;
        padding: 40px 0;
        span {
          font-size: 16px;
        }
      }
    }
  }
}
</style>
