<template>
  <header :class="{ '-scrolled': scrolled }">
    <div class="header">
      <div class="header__top"></div>
      <div class="header__container">
        <a class="logo" href="/">
          <img
            src="./../../assets/img/logo.svg"
            class="logo__img"
            alt="Justapp"
          />
        </a>
        <div ref="button" @click="collapsed = true" class="menu__collapse">
          <img src="@/assets/img/svg/nav.svg" alt="menu" />
        </div>
        <div
          id="menu"
          class="header__container__menu"
          :class="{ '-collapsed': collapsed }"
        >
          <div class="mobile-header">
            <a class="logo-mobile" href="/">
              <img
                src="@/assets/img/svg/logo-white.svg"
                class="logo__img"
                alt="Justapp"
              />
            </a>
            <div @click="collapsed = false" class="close">+</div>
          </div>
          <ul class="header__container__menu__items">
            <li
              @click="collapsed = false"
              class="header__container__menu__items__item"
              v-for="item in headerMenuItems"
              :key="item.name"
            >
              <router-link
                class="header__container__menu__items__item__link"
                :to="item.route"
                >{{ item.name }}</router-link
              >
            </li>
            <language-selector />
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { mainLinks } from '@/helpers/data/mainHeaderMenu.js';
import LanguageSelector from '../auth/LanguageSelector';

export default {
  name: 'MainHeader',
  components: { LanguageSelector },
  data: function() {
    return {
      scrolled: false,
      collapsed: false,
    };
  },
  mixins: [mainLinks],
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 45) {
        this.scrolled = true;
      } else if (window.scrollY < 45) {
        this.scrolled = false;
      }
    },
    collapseMenu() {
      this.collapsed = false;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  position: relative;
  z-index: 9999;
  background-color: $white;

  .header__top {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: $corporate-gradient;
  }
  .header__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .logo {
      &__img {
        max-height: 45px;

        @media screen and (max-width: 1024px) {
          max-width: 160px;
        }
      }
    }

    .menu__collapse {
      display: none;
      @media screen and (max-width: 990px) {
        display: block;
        position: absolute;
        top: 55px;
        right: 30px;
      }
    }

    &__menu {
      height: 100%;
      position: relative;

      @media screen and (max-width: 990px) {
        background-color: $corporate-light;
        position: fixed;
        display: block;
        top: 0px;
        right: 0;
        width: 0px;
        height: 100vh;
        padding: 20px 0px;
        overflow: hidden;
        transition: width 0.5s;
      }

      .mobile-header {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
      }

      .logo-mobile {
        display: none;
        @media screen and (max-width: 990px) {
          display: block;
          flex-grow: 2;
          padding: 0 20px;
        }
      }

      &.-collapsed {
        @media screen and (max-width: 990px) {
          width: 100vw;
          transition: width 0.5s;
        }
      }

      .close {
        display: none;
        &:hover {
          cursor: pointer;
        }
        @media screen and (max-width: 990px) {
          display: block;
          position: initial;
          top: 20px;
          right: 25px;
          transform: rotate(45deg);
          font-size: 50px;
          color: $white;
          padding: 0 20px;
        }
      }

      &__items {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;

        @media screen and (max-width: 990px) {
          flex-direction: column;
          justify-content: stretch;
          min-width: 100%;
          margin: 30px 0 0 0;
          padding: 0 50px;
        }

        &__item {
          padding: 0 30px;

          @media screen and (max-width: 990px) {
            width: 100%;
            padding: 0px;
            border-bottom: 1px solid $border;
          }

          &__link {
            color: $black-font;
            font-size: $regular + 2px;
            font-weight: 500;
            padding: 10px 0;
            position: relative;
            text-transform: capitalize;
            @media screen and (max-width: 990px) {
              color: $white;
              font-size: $regular + 2px;
              display: inline-block;
              width: 100%;
              padding: 20px 0;
            }

            &.router-link-active {
              @media screen and (max-width: 990px) {
                border-bottom: 2px solid;
              }

              &:after {
                display: block;
                content: '';
                position: absolute;
                bottom: 1px;
                left: 5%;
                width: 90%;
                height: 2px;
                background-color: $corporate;
                border-radius: 2px;
                @media screen and (max-width: 990px) {
                  background-color: transparent;
                  bottom: 0px;
                  width: 100%;
                  height: 0px;
                  left: 0%;
                }
              }
            }

            &:hover {
              &:after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0px;
                left: 5%;
                width: 90%;
                height: 4px;
                background-color: $corporate;
                border-radius: 2px;
                @media screen and (max-width: 990px) {
                  background-color: transparent;
                  bottom: 0px;
                  width: 100%;
                  height: 0px;
                  left: 0%;
                }
              }
            }
          }
        }
      }
    }
  }
  &.-scrolled {
    min-height: 110px;
    content: '';
    display: block;

    .header {
      position: fixed;
      min-width: 100vw;
      background-color: $white;
      border: 0 solid transparent;
      -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
    }
    @media screen and (max-width: 990px) {
      .menu__collapse {
        top: 25px;
      }
    }

    .header__top {
      display: none;
    }

    .logo {
      img {
        max-height: 40px;
      }
    }
  }
}
</style>
