<template>
  <div class="presentation">
    <div class="presentation__container">
      <news-card
        @activate="activate"
        :active="active == card.id"
        v-for="(card, key) in cards"
        :key="'card-' + key"
        :card="card"
      />
    </div>
  </div>
</template>

<script>
import NewsCard from '@/components/auth/NewsCard';

export default {
  name: 'News',
  data: function() {
    return {
      cards: [
        {
          id: 1,
          title: '27.04.2020',
          preview:
            '<p>Виртуальный кошелек всегда с собой для доступа к развлечениям и возможности радовать себя покупками. </p>',
          text:
            '<p>Виртуальный кошелек всегда с собой для доступа к развлечениям и возможности радовать себя покупками. </p><p> Чат для общения со сверстниками. Расстояние не помеха, поддерживать связь после каникул станет еще проще. </p><p>Доступ к информации и расписанию лагеря. Все что должен знать и помнить ребенок теперь на экране его телефона.</p><p>Инструмент для комфортного общения с  вожатыми и администрацией лагеря. Даже самый стеснительный ребенок сможет задать волнующий его вопрос или сообщить о проблеме.</p>',
        },
        {
          id: 2,
          title: '10.04.2020',
          preview:
            '<p>Ненавязчивый родительский контроль трат и занятий ребенка на расстоянии</p>',
          text:
            '<p>Ненавязчивый родительский контроль трат и занятий ребенка на расстоянии</p><p>Мы предоставляем единую платформу для родителей и детей. Наша система позволяет избавиться от наличных расчетов - достаточно пополнить счет ребенка и отслеживать историю платежей, а в случае необходимости вводить ограничения на определенные группы товара либо лимиты на расходы.</p><p>Justapp позволяет получать информацию о расписании ребенка, перемещениях, контакты его вожатых и преподавателей. Встроенный чат позволит детям расширять свой круг общения, а родителям связываться друг с другом и администрацией по любым вопросам.</p>',
        },
        {
          id: 3,
          title: '23.03.2020',
          preview:
            '<p>Администрация объектов получит доступ в режиме реального времени ко всей необходимой информации и аналитике</p>',
          text:
            '<p>Администрация объектов получит доступ в режиме реального времени ко всей необходимой информации и аналитике:<br/>- Формирование меню столовых и кафе на основании предпочтений и выбора детей<br/>- Изучение спроса на досуг, экскурсии.<br/>- Контроль точек продаж, отсутствие возможности воровства и махинаций с ценами.<br/>- Оптимизация бухгалтерии и ресурсов.<br/>- Контроль и учет технических и бытовых неисправностей на территории объекта.<br/>- Анализ отзывов, предложений от детей, и результатов работы отделов объекта.<br/>- Обратная связь с детьми и родителями. Оповещения внутри системы и рассылки.</p>',
        },
        {
          id: 4,
          title: '23.03.2020',
          preview:
            '<p>Администрация объектов получит доступ в режиме реального времени ко всей необходимой информации и аналитике</p>',
          text:
            '<p>Администрация объектов получит доступ в режиме реального времени ко всей необходимой информации и аналитике:<br/>- Формирование меню столовых и кафе на основании предпочтений и выбора детей<br/>- Изучение спроса на досуг, экскурсии.<br/>- Контроль точек продаж, отсутствие возможности воровства и махинаций с ценами.<br/>- Оптимизация бухгалтерии и ресурсов.<br/>- Контроль и учет технических и бытовых неисправностей на территории объекта.<br/>- Анализ отзывов, предложений от детей, и результатов работы отделов объекта.<br/>- Обратная связь с детьми и родителями. Оповещения внутри системы и рассылки.</p>',
        },
      ],
      active: null,
    };
  },
  components: {
    NewsCard,
  },
  methods: {
    activate(id) {
      this.active = id;
    },
  },
};
</script>

<style lang="scss" scoped>
.presentation {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 1 auto;
    flex-wrap: wrap;

    & > div {
      max-width: 23%;
      margin: 1%;
      @media screen and (max-width: 1024px) {
        max-width: 48%;
        min-width: 48%;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;

      & > div {
        max-width: 98%;
      }
    }
  }
}
</style>
