<template>
  <div class="rate-wrp">
    <div class="rate">
      <div v-if="$t(`${rateItem.data}.discount`)" class="rate__wrap-ribbon">
        <div class="rate__wrap-ribbon__ribbon">
          {{ $t(`${rateItem.data}.discount`) }}
        </div>
      </div>
      <h3 class="rate__title">{{ $t(`${rateItem.data}.title`) }}</h3>
      <div class="rate__monthly">
        <span
          >{{ $t(`${rateItem.general}.currency`) }}
          {{ $t(`${rateItem.data}.monthly`) }}</span
        >
        <span>{{ $t(`${rateItem.general}.monthly`) }}</span>
      </div>
      <div class="rate__price">
        <span
          >{{ $t(`${rateItem.general}.currency`) }}
          {{ $t(`${rateItem.data}.price`) }}</span
        >
        <span>{{ $t(`${rateItem.general}.price`) }}</span>
      </div>
      <div class="rate__period">
        <span>{{ $t(`${rateItem.data}.period`) }}</span>
        <span>{{ $t(`${rateItem.general}.period`) }}</span>
      </div>
      <div class="rate__tax">
        <span>{{ $t(`${rateItem.data}.tax`) }}%</span>
        <span>{{ $t(`${rateItem.general}.tax`) }}</span>
      </div>
      <div class="rate__status">
        <span class="rate__status__text">{{
          $t(`${rateItem.data}.status`)
        }}</span>
      </div>
      <div class="rate__btn">
        <rate-button
          @click="$emit('signup', $event)"
          :text="$t(`${rateItem.btn}`)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import RateButton from '@/components/primitives/RateButton';
export default {
  name: 'RateTemplate',
  props: {
    rateItem: Object,
  },
  components: {
    RateButton,
  },
};
</script>

<style scoped lang="scss">
.rate-wrp {
  width: 230px;
  cursor: default;
  @media screen and (max-width: 1391px) {
    width: 300px;
  }
  @media screen and (max-width: 1060px) {
    width: 250px;
  }
  @media screen and (max-width: 1024px) {
    width: 260px;
  }
  transition: transform 0.8s ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.1);
  }

  .rate {
    background: rgba(234, 242, 242, 0.4);
    border-radius: 20px;
    width: 100%;
    min-height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__wrap-ribbon {
      width: 106px;
      height: 106px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;

      &__ribbon {
        position: relative;
        width: 150px;
        background-color: $red;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        padding: 7px 0;
        top: 25px;
        right: 40px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      color: $corporate-menu;
    }
    &__monthly,
    &__price,
    &__period,
    &__tax {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      span:first-child {
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000000;
      }
      span:last-child {
        font-size: 11px;
        line-height: 13px;
        text-transform: lowercase;
        color: #919191;
      }
    }
    &__status {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      min-height: 30px;
      padding: 0 5%;

      span {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        max-width: 220px;
      }
    }
    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0 20px 0;

      button {
        cursor: pointer;
      }
    }
  }
}
</style>
