<template>
  <div class="new-kid-accept">
    <div class="new-kid-accept__bg"></div>
    <div class="new-kid-accept__modal">
      <div class="new-kid-accept__modal__main">
        <div class="new-kid-accept__modal__main__foto">
          <img :src="data.image" />
        </div>
        <div class="new-kid-accept__modal__main__info">
          <table>
            <tr>
              <td>{{ $t('user.fields.name') }}</td>
              <td class="value">{{ data.name }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.secondName') }}</td>
              <td class="value">{{ data.surname }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.birthday') }}</td>
              <td class="value">{{ data.birthday }}</td>
            </tr>
            <tr>
              <td>{{ $t('user.fields.phone') }}</td>
              <td class="value">{{ numberToNormal(data.login) }}</td>
            </tr>
            <tr>
              <td>
                <b>{{ $t('user.fields.parents') }}</b>
              </td>
            </tr>
            <tr :key="parent.id" v-for="parent in parents">
              <td>{{ parent.name }}{{ parent.surname }}</td>
              <td class="value">{{ numberToNormal(parent.phone) }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="new-kid-accept__modal__buttons">
        <regular-button :elClass="['red']" @click="close">
          {{ $t('user.buttons.cancel') }}
        </regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import RegularButton from '@/components/primitives/RegularButton.vue';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
const userApi = RepositoryFactory.get('user');

export default {
  name: 'KidModal',
  props: {
    data: Object,
  },
  data() {
    return {
      parents: [],
      parentsId: [],
    };
  },
  computed: {
    ...mapState({}),
  },
  components: {
    RegularButton,
  },
  async mounted() {
    try {
      const resp = await userApi.getLinkedParents({
        user_id: this.data.user_id,
      });
      if (resp.data.status === 'ok') {
        this.parentsId = resp.data.data;
      } else {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить информацию по ребенку',
          'error'
        );
      }
    } catch (e) {
      componentErrorHandler(
        this,
        'Ошибка загрузки данных',
        'Невозможно получить информацию по ребенку',
        'error'
      );
    }
  },
  watch: {
    async parentsId() {
      this.parentsId.map(item => {
        this.getParentsInfo(item.parent_id);
      });
    },
  },
  methods: {
    numberToNormal(login) {
      if (login?.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
    close() {
      this.$emit('close');
    },

    async getParentsInfo(parent_id) {
      try {
        const resp = await userApi.getUserInfo({ id: parent_id });
        if (resp.data.status === 'ok') {
          this.parents.push(resp.data.data);
        } else {
          componentErrorHandler(
            this,
            'Ошибка загрузки данных',
            'Невозможно получить информацию по ребенку',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить информацию по ребенку',
          'error'
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.new-kid-accept {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 9999;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $dark-grey-font;
    opacity: 0.7;
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 20px;
    min-width: 500px;
    border-radius: 10px;

    &__main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__foto {
        padding: 10px;
        img {
          border-radius: 10px;
          max-width: 250px;
        }
      }
      &__info {
        table {
          width: 100%;
          tr {
            td {
              padding: 5px;
              &.value {
                font-weight: 500;
                font-size: $regular + 2px;
              }
            }
          }
        }
      }
    }
    &__buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
</style>
