<template>
  <div class="leader-list">
    <page-title title="Списки Детей" />
    <div class="leader-list__filters">
      <header-search v-model="search" placeholder="Имя подопечного" />
    </div>
    <div class="leader-list__list">
      <div class="leader-list__list__header">
        <div class="leader-list__list__header__line">
          <span class="leader-list__list__header__line__item">ФИО ребенка</span>
          <span class="leader-list__list__header__line__item">
            Телефон
          </span>
        </div>
      </div>
      <div class="leader-list__list__item__body">
        <div
          class="leader-list__list__body__item"
          v-for="(item, key) in filteredList"
          :key="key"
          @click="kidModal = item"
        >
          <span class="leader-list__list__body__item__cell">
            {{ item.name }} {{ item.surname }}
          </span>
          <span class="leader-list__list__body__item__cell">
            {{ numberToNormal(item.phone) }}
          </span>
        </div>
      </div>
    </div>

    <kid-modal
      @close="kidModal = null"
      v-if="kidModal !== null"
      :data="kidModal"
    />
  </div>
</template>

<script>
import { format } from 'date-fns';
import { mapState } from 'vuex';

import HeaderSearch from '@/components/primitives/HeaderSearch';
import PageTitle from '@/components/user/common/PageTitle';
import KidModal from '@/views/user/leader/KidModal';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
const attendanceAPI = RepositoryFactory.get('attendance');

// import axios from 'axios';

export default {
  data: function() {
    return {
      format,
      data: [],
      search: '',
      kidModal: null,
    };
  },
  components: {
    HeaderSearch,
    PageTitle,
    KidModal,
  },
  async mounted() {
    try {
      const resp = await attendanceAPI.getList({
        id: this.roleInfo.group_id,
      });
      if (resp.data.status === 'ok') {
        this.data = resp.data.data;
      } else {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить журнал',
          'error'
        );
      }
    } catch (e) {
      componentErrorHandler(
        this,
        'Ошибка загрузки данных',
        'Невозможно получить журнал',
        'error'
      );
    }
  },
  computed: {
    ...mapState({
      roleInfo: state => state.user.roleInfo,
      currentPagination: state => state.outlet.currentPagination,
      currentCurrency: state => state.common.currentCurrency,
    }),
    filteredList() {
      return this.data.filter(post => {
        return post.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  methods: {
    numberToNormal(login) {
      if (login?.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.secondary {
  @media screen and (max-width: 800px) {
    display: none;
  }
}
li,
ul {
  padding: 0;
  list-style: none;
}
.leader-list {
  padding: 0 20px;
  border-radius: 10px;
  background-color: $white;

  @media screen and (max-width: 800px) {
    margin: 20px auto;
    min-width: 94%;
  }
  &__filters {
    width: 200px;
    margin: 20px auto;
  }
  &__list {
    width: 100%;
    padding-top: 20px;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__item {
          font-weight: 500;
          font-size: $regular;
          padding-bottom: 5px;
          text-align: left;
          color: #454545;
          margin: 0;

          &.center {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &__body {
      &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &:nth-child(2n) {
          background-color: #e4fdff;
        }

        &__cell {
          font-size: $regular;
          padding: 5px;
          text-align: left;
          position: relative;

          /*input[type='text'] {*/
          /*}*/

          &.center {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
</style>
