<template>
  <div class="leader-main">
    <page-title title="Журнал" />
    <div class="leader-main__filters">
      <div class="leader-main__filters__date">
        <label for="start">Выберайте Дату</label>
        <input
          id="start"
          class="date-picker"
          type="date"
          min="2019-01-01"
          v-model="date"
          data-date="{'buttonOnly': true}"
        />
      </div>
      <div class="leader-main__filters__button">
        <regular-button @click="setToday" :elClass="['submit']"
          >Сегодня</regular-button
        >
      </div>
    </div>
    <div class="leader-main__list">
      <div class="leader-main__list__header">
        <div class="leader-main__list__header__line">
          <span class="leader-main__list__header__line__item">ФИО ребенка</span>
          <span class="leader-main__list__header__line__item">Комментарий</span>
          <span class="leader-main__list__header__line__item center"
            >Присутствует</span
          >
        </div>
      </div>
      <div class="leader-main__list__item__body">
        <div
          class="leader-main__list__body__item"
          v-for="(item, key) in data"
          :key="item.user_id"
        >
          <span class="leader-main__list__body__item__cell">
            {{ item.name }} {{ item.surname }}
          </span>
          <span class="leader-main__list__body__item__cell comment">
            <input v-model="item.comment" type="text" />
          </span>
          <span class="leader-main__list__body__item__cell center">
            <input :checked="item.isPresent" type="checkbox" class="checkbox" />
            <label
              class="checkmark"
              @click="markPresence(item.isPresent, key)"
            />
          </span>
        </div>
      </div>
    </div>
    <regular-button @click="save" :elClass="['submit']"
      >Сохранить</regular-button
    >
  </div>
</template>

<script>
import { format } from 'date-fns';
import { mapState } from 'vuex';

import RegularButton from '@/components/primitives/RegularButton';
import PageTitle from '@/components/user/common/PageTitle';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
const attendanceAPI = RepositoryFactory.get('attendance');

export default {
  name: 'LeaderMain',
  data: function() {
    return {
      format,
      data: [],
      date: '',
      comment: '',
    };
  },
  components: {
    RegularButton,
    PageTitle,
  },
  async mounted() {
    this.date = this.format(new Date(), 'yyyy-MM-dd');
    try {
      const resp = await attendanceAPI.getList({
        id: 1, // this.roleInfo.department_id TODO
      });
      if (resp.data.status === 'ok') {
        this.data = resp.data.data;
        await this.getPresence();
      } else {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить журнал',
          'error'
        );
      }
    } catch (e) {
      componentErrorHandler(
        this,
        'Ошибка загрузки данных',
        'Невозможно получить журнал',
        'error'
      );
    }
  },
  computed: {
    ...mapState({
      roleInfo: state => state.user.roleInfo,
    }),
  },
  watch: {
    async date() {
      await this.getPresence();
    },
  },
  methods: {
    async save() {
      try {
        for await (let item of this.data) {
          try {
            console.log(item);
            const resp = await attendanceAPI.setClientPresence({
              user_id: item.user_id,
              attendance_type: 'client', //user если сотрудник
              security_id: this.roleInfo.user_id,
              department_id: item.kindergarten_group_id,
              group_id: item.kindergarten_group_id,
              attended: item.isPresent ? 1 : 0,
              attended_at: this.date,
              comment: item.comment,
            });
            if (resp.data.status !== 'ok') {
              componentErrorHandler(
                this,
                'Ошибка загрузки данных',
                'Невозможно отметить журнал ' + item.surname,
                'error'
              );
            }
          } catch (e) {
            console.log(e);
            componentErrorHandler(
              this,
              'Ошибка загрузки данных',
              'Невозможно отметить журнал ' + item.surname,
              'error'
            );
          }
        }
        await this.getPresence();
        componentErrorHandler(
          this,
          'Журнал успешно изменен',
          'Журнал успешно изменен',
          'success'
        );
      } catch (e) {
        console.log(e);
      }
    },
    async getPresence() {
      try {
        const resp = await attendanceAPI.getPresence({
          group_id: 1, // this.roleInfo.group_id
          presence_at_from: this.date,
          presence_at_to: this.date,
        });
        if (resp.data.status === 'ok') {
          this.data = this.data.map((i, index) => {
            this.$set(
              this.data[index],
              'isPresent',
              resp.data.data.presence[i.user_id] === '1'
            );
            this.$set(this.data[index], 'comment', '');
            return i;
          });
        } else {
          componentErrorHandler(
            this,
            'Ошибка загрузки данных',
            'Невозможно получить журнал',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить журнал',
          'error'
        );
      }
    },
    setToday() {
      this.date = this.format(new Date(), 'yyyy-MM-dd');
    },
    markPresence(i, key) {
      console.log(this.data[key], i);
      this.data[key].isPresent = !i;
    },
  },
};
</script>

<style lang="scss" scoped>
.secondary {
  @media screen and (max-width: 800px) {
    display: none;
  }
}
li,
ul {
  padding: 0;
  list-style: none;
}
.leader-main {
  border-radius: 10px;
  background-color: $white;
  padding: 0 20px;

  @media screen and (max-width: 800px) {
    margin: 20px auto;
    min-width: 94%;
  }

  &__filters {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__button {
      align-self: flex-end;
    }

    &__date {
      display: flex;
      max-width: 180px;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;

      .date-picker {
        border: 1px solid $corporate;
        padding: 15px 23px;
        width: 100%;
        background-color: $white;
        border-radius: 5px;
      }
      input[type='date']::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
      }
    }
  }

  &__list {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;

    &__header {
      &__line {
        border-bottom: 2px solid $grey;
        display: grid;
        grid-template-columns: 1fr 1fr 100px;

        &__item {
          font-weight: 500;
          font-size: $regular;
          padding-bottom: 5px;
          text-align: left;
          color: #454545;
          margin: 0;

          &.center {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &__body {
      &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 1fr 100px;
        align-items: center;

        &:nth-child(2n) {
          background-color: #e4fdff;
        }

        &__cell {
          font-size: $regular;
          padding: 5px;
          text-align: left;
          position: relative;

          /*input[type='text'] {*/
          /*}*/

          &.center {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .checkbox {
            display: none;

            + label {
              display: block;
              cursor: pointer;
              padding: 0.2em;
              font-size: $small;
              color: $dark-grey-font;
              font-weight: 500;

              &:before {
                content: '\2714';
                background-color: #fff;
                border: 1px solid $active-border;
                border-radius: 3px;
                display: inline-block;
                width: 23px;
                height: 23px;
                padding-left: 0.2em;
                padding-bottom: 0.3em;
                margin-right: 0.2em;
                vertical-align: middle;
                color: transparent;
                transition: 0.2s;
                font-size: 20px;
              }
              &:active:before {
                transform: scale(0);
              }
            }
            &:checked + label:before {
              background-color: $corporate;
              border-color: $corporate;
              color: $white;
            }
            &:disabled + label:before {
              transform: scale(1);
              border-color: $border;
            }
            &:checked:disabled + label:before {
              transform: scale(1);
              background-color: $border;
              border-color: $border;
            }
          }
          &.comment {
            height: 100%;
            input {
              width: 100%;
              height: 100%;
              border: 1px solid $corporate;
            }
          }
        }
      }
    }
  }
}
</style>
