<template>
  <div class="leader-header">
    <div class="leader-header__left-block">
      <span class="leader-header__left-block__title">{{
        $t('elements.' + $route.name)
      }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LeaderHeader',
};
</script>

<style lang="scss" scoped>
.leader-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__menu-button {
      margin-right: 20px;
      cursor: pointer;
    }
    &__title {
      text-transform: capitalize;
      font-size: $big;
      font-weight: 500;
      color: $black-font;
    }
  }
}
</style>
