import {format} from "date-fns";
<template>
  <div class="leader-qr">
    <page-title title="QR-сканнер" />
    <div class="leader-qr__scan-zone">
      <qrcode-stream
        v-if="renderComponent && !cameraError"
        @init="onInit"
        @decode="onDecode"
      />
      <span v-if="cameraError"><b>Камера не обнаружена.</b></span>
    </div>
    <user-info
      v-if="userInfoModal"
      :userInfo="user_info"
      :parents="parents"
      :loading="loading"
      @closeModal="reScan"
      @rescan="reScan"
    />
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
import UserInfo from '@/components/user/SecurityModal.vue';
import { mapState } from 'vuex';
import { format } from 'date-fns';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { QrcodeStream } from 'vue-qrcode-reader';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
const userAPI = RepositoryFactory.get('user');
const authorityAPI = RepositoryFactory.get('authority');
const attendanceAPI = RepositoryFactory.get('attendance');

export default {
  name: 'LeaderQr',
  components: {
    UserInfo,
    PageTitle,
    QrcodeStream,
  },
  data: function() {
    return {
      cameraError: false,
      userInfoModal: false,
      user_info: null,
      renderComponent: true,
      format,
      parents: [],
      loading: false,
    };
  },
  computed: {
    ...mapState({
      scanedBarcode: state => state.outlet.scanedBarcode,
      activeCamp: state => state.user.activeKidCamp,
      roleInfo: state => state.user.roleInfo,
    }),
  },
  methods: {
    async onInit(promise) {
      // show loading indicator
      try {
        await promise;
        this.cameraInited = true;

        // successfully initialized
        //@todo добавить переводы!
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          // user denied camera access permisson
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text =
            'Разрешение на использование камеры не предоставлено.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotFoundError') {
          // no suitable camera device installed
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не обнаружена.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotSupportedError') {
          // page is not served over HTTPS (or localhost)
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'SSL сертификат отсутствует.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'NotReadableError') {
          // maybe camera is already in use
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'OverconstrainedError') {
          // did you requested the front camera although there is none?
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        } else if (error.name === 'StreamApiNotSupportedError') {
          // browser seems to be lacking features
          let notification = {};
          notification.title = 'Инициализация камеры';
          notification.text = 'Камера не отвечает.';
          notification.notificationType = 'error';
          notification.status = 'new';
          this.$store.dispatch(
            'notifications/addNewNotification',
            notification
          );
          this.cameraError = true;
        }
      } finally {
        // hide loading indicator
        this.cameraInited = true;
      }
    },
    forceRerender() {
      this.renderComponent = false;

      this.$nextTick(() => {
        this.renderComponent = true;
      });
    },
    async onDecode(idRaw) {
      const id = idRaw.substring(3);
      if (idRaw[1] === '1') {
        componentErrorHandler(
          this,
          'Нет доступа',
          'Вы не можете сканировать взрослых людей',
          'error'
        );
      } else {
        try {
          this.parents = [];
          const resp = await userAPI.getUserInfo({ account_id: id });
          if (resp.data.status === 'ok') {
            this.renderComponent = false;
            this.userInfoModal = true;
            this.user_info = resp.data.data;
            this.getAccountInfo(id);
            this.getAuthorities(id);
            this.getLinkedParents(this.user_info.id);
            const setPresenceResponse = await attendanceAPI.setClientPresence({
              user_id: this.user_info.id,
              attendance_type: 'client', //user если сотрудник
              security_id: this.roleInfo.user_id,
              department_id: this.user_info.departmentClient[0].department_id,
              group_id: this.user_info.departmentClient[0]
                .kindergarten_group_id,
              attended: 1,
              attended_at: format(new Date(), 'dd.MM.yyyy'),
              comment: '',
            });
            if (setPresenceResponse.data.status === 'error') {
              componentErrorHandler(
                this,
                'Ошибка сервиса отметок',
                'Возникла ошибка при попытке отметить посещение:' +
                  setPresenceResponse.data.data[0],
                'error'
              );
            }
          }
        } catch (e) {
          console.log(e);
        }
      }
    },
    async getLinkedParents(id) {
      const resp = await userAPI.getLinkedParents({
        user_id: id,
      });
      if (resp.data.status === 'ok') {
        this.loading = true;
        resp.data?.data.map(item => {
          this.getParentsInfo(item.parent_id);
        });
        this.loading = false;
      }
    },
    async getAuthorities(id) {
      const resp = await authorityAPI.getAuthorities({ child_id: id });
      if (resp.data.status === 'ok') {
        this.$set(this.user_info, 'authority', resp.data?.data);
      }
    },
    async getAccountInfo(id) {
      const resp = await userAPI.getAccountInfo({ user_id: id });
      if (resp.data.status === 'ok') {
        this.$set(this.user_info, 'account_main', resp.data?.data[0]?.main);
      } else {
        this.$set(this.user_info, 'account_main', 0);
      }
    },
    async getParentsInfo(parent_id) {
      try {
        const resp = await userAPI.getUserInfo({ id: parent_id });
        if (resp.data.status === 'ok') {
          this.parents.push(resp.data.data);
        } else {
          componentErrorHandler(
            this,
            'Ошибка загрузки данных',
            'Невозможно получить информацию по ребенку',
            'error'
          );
        }
      } catch (e) {
        componentErrorHandler(
          this,
          'Ошибка загрузки данных',
          'Невозможно получить информацию по ребенку',
          'error'
        );
      }
    },
    reScan() {
      this.userInfoModal = false;
      this.renderComponent = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.leader-qr {
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
  @media screen and (max-width: 800px) {
    margin: 20px auto;
    min-width: 94%;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__apply {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $corporate-light;
      color: $white-font;
      border: 0px solid transparent;
      padding: 30px;
      flex: 0 4 auto;
      width: 80%;
      cursor: pointer;
      font-size: $semi-big;
      font-weight: 400;
      text-transform: uppercase;
      &:disabled {
        opacity: 0.6;
        cursor: default;
      }
      &__value {
        text-align: right;
        font-size: $big;
        font-weight: 500;
      }
    }

    &__cancel {
      flex: 0 1 auto;
      width: 20%;
      border: 0px solid transparent;
      background-color: $grey;
      cursor: pointer;

      &:disabled {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
  &__scan-zone {
    margin: 20px auto;
    height: 300px;
    max-width: 400px;
    display: block;

    .viewport video {
      height: 300px;
      max-width: 400px;
    }

    .viewport canvas {
      height: 300px;
      max-width: 400px;
    }
  }
}
</style>
