<template>
  <div class="info">
    <page-title :title="'Расположение'" />
    <div v-if="!activeKidCamp.camp_id" class="kids-bills__conatiner">
      <h3>
        К сожалению данного пользователь не привязан к лагерю в текущий момент.
      </h3>
    </div>
    <div class="info__content">
      <div v-if="campInfo.address" v-html="campInfo.address"></div>
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';

export default {
  name: 'objectLocation',
  components: {
    PageTitle,
  },
  props: {
    campInfo: {},
    activeKidCamp: {},
  },
};
</script>

<style lang="scss" scoped>
.info {
  padding: 20px;
}
</style>
