<template>
  <section class="info">
    <page-title :title="$t('user.titles.objectContacts')" />
    <div
      v-if="campInfo.data_contacts.length === 0"
      class="kids-bills__conatiner"
    >
      <h3>
        {{ $t('user.object.noObject') }}
      </h3>
    </div>
    <div v-if="campInfo.data_contacts" class="info__content">
      <div
        v-for="contact in campInfo.data_contacts"
        :key="contact.phone"
        class="contact"
      >
        <span class="contact__position"> {{ contact.position }} </span>
        <span class="contact__name"> {{ contact.name }} </span>
        <span class="contact__phone">
          {{ $t('user.fields.phone') }}:
          <a :href="`tel:+${contact.phone}`">{{ contact.phone }}</a>
        </span>
        <span class="contact__email">
          {{ $t('user.fields.email') }}:
          <a :href="`mailto:${contact.phone}`">{{ contact.email }}</a>
        </span>
      </div>
    </div>
  </section>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';

export default {
  name: 'objectContacts',
  components: {
    PageTitle,
  },
  props: {
    campInfo: Object,
    activeKidCamp: {},
  },
};
</script>

<style lang="scss" scoped>
.info {
  padding: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  margin-bottom: 20px;
  &__position {
    font-size: $regular;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__name {
    font-size: $regular + 2px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__phone {
    a {
      font-size: $semi-big;
      font-weight: 300;
      color: black;
      margin-bottom: 5px;
    }
  }
  &__email {
    a {
      font-size: $regular + 2px;
      font-weight: 400;
      color: black;
    }
  }
}
</style>
