<template>
  <section class="info">
    <page-title :title="$t('user.titles.objectInfo')" />
    <div v-if="!campInfo.id" class="kids-bills__conatiner">
      <h3>
        {{ $t('user.object.noObject') }}
      </h3>
    </div>
    <div class="info__content">
      <h2 class="camp__title">{{ campInfo.name }}</h2>
      <div v-if="campInfo.description" v-html="campInfo.description"></div>
    </div>
  </section>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';

export default {
  name: 'objectInfo',
  components: {
    PageTitle,
  },
  props: {
    campInfo: Object,
    activeKidCamp: {},
  },
};
</script>

<style lang="scss" scoped>
.info {
  padding: 20px;
}
</style>
