<template>
  <section class="group">
    <page-title :title="$t('user.titles.objectGroup')" />
    <div v-if="!groupInfo" class="kids-bills__conatiner">
      <h3>{{ $t('user.object.noObjectGroup') }}</h3>
    </div>
    <div v-if="groupInfo.squad" class="squad">
      <div class="group__description">
        <h1>{{ groupInfo.squad.name }}</h1>
        <div v-if="groupInfo.squad.info" v-html="groupInfo.squad.info"></div>
        <div
          v-if="groupInfo.squad.description"
          v-html="groupInfo.squad.description"
        ></div>
      </div>
      <div
        v-if="groupInfo.leaders && groupInfo.leaders.length > 0"
        class="leaders"
      >
        <div
          v-for="leader in groupInfo.leaders"
          :key="leader.id"
          class="group__leader__item"
        >
          <div class="group__leader__item__img">
            <img :src="leader.image" alt="" />
          </div>
          <div class="group__leader__item__info">
            <span class="group__leader__item__info__string"
              ><h3>
                {{ leader.name }}
                {{ leader.surname }}
              </h3></span
            ><br />
            <span class="group__leader__item__info__string">{{
              numberToNormal(leader.username)
            }}</span>
            <span v-if="leader.email" class="group__leader__item__info__string">
              email: {{ leader.email }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

export default {
  name: 'ObjectGroup',
  components: {
    PageTitle,
  },
  props: {
    activeKid: Object,
    activeKidCamp: Object,
  },
  data() {
    return {
      groupInfo: {},
    };
  },
  watch: {
    'activeKidCamp.squad_id': {
      immediate: true,
      handler() {
        this.getGroupInfo();
      },
    },
  },
  methods: {
    async getGroupInfo() {
      this.groupInfo = {};
      const UserRepository = RepositoryFactory.get('user');
      if (this.activeKidCamp.squad_id) {
        try {
          const resp = await UserRepository.getSquadInfo({
            squad_id: this.activeKidCamp.squad_id,
          });
          if (resp?.data?.status != 'ok') {
            componentErrorHandler(
              this,
              'Получение дынных о лагере',
              'Возникла ошибка при получении данных о лагере',
              'error'
            );
          } else {
            this.groupInfo = resp?.data?.data;
          }
        } catch (err) {
          console.error(err);
        }
      }
    },
    numberToNormal(login) {
      if (login?.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.group {
  padding: 20px;
  &__description {
    margin-bottom: 40px;
  }
  &__leader {
    &__item {
      display: flex;
      padding: 20px 0;
      flex-direction: row;
      border-bottom: 1px solid $border;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }

      &__img {
        border-radius: 75px;
        width: 150px;
        height: 150px;
        overflow: hidden;

        img {
          min-width: 100%;
          min-height: 100%;
          height: 100%;
        }
      }

      &__info {
        padding: 20px;
        display: flex;
        flex-direction: column;

        &__string {
        }
      }
    }
  }
}
</style>
