<template>
  <div
    class="categories-item"
    :class="{
      '-active': activeCategory == category.id,
      '-disabled': disabled,
    }"
  >
    <div @click="activateCategory" class="categories-item__header">
      <span class="categories-item__header__title">{{ category.name }}</span>
    </div>
    <div v-if="activeCategory == category.id" class="categories-item__nav">
      <router-link
        v-for="item in category.menu"
        :key="item.id"
        class="categories-item__link"
        :to="item.route"
      >
        <img class="categories-item__link__ico" :src="item.icon()" alt="" />
        <img
          class="categories-item__link__ico -active"
          :src="item.iconActive()"
          alt=""
        />
        {{ item.name }}
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'KidCategory',
  props: {
    category: Object,
    activeCategory: String,
    disabled: Boolean,
  },
  methods: {
    activateCategory() {
      if (!this.disabled) {
        this.$emit('activateCategory', this.category.id);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.categories-item {
  &.-active {
    .categories-item__header {
      &:after {
        transform: rotate(270deg);
      }
    }
  }
  &.-disabled {
    color: $light-grey-font;

    .categories-item__header {
      cursor: auto;
    }
  }
  &__header {
    position: relative;
    padding: 10px 20px;
    background-color: $background-grey;
    cursor: pointer;

    &:after {
      position: absolute;
      content: url('../../../assets/img/svg/common-icons/arrow.svg');
      transform: rotate(90deg);
      width: 15px;
      height: 15px;
      top: 12px;
      right: 20px;
    }
    &__title {
      font-weight: 600;
      font-size: $regular + 2px;
    }
  }

  &__link {
    font-size: $regular;
    font-weight: 400;
    color: $dark-grey-font;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    &:hover {
      background-color: $user_bg;
      .categories-item__link__ico {
        display: none;
        &.-active {
          display: block;
        }
      }
    }

    &__ico {
      max-height: 15px;
      margin: 0 15px 0 0px;
      &.-active {
        display: none;
      }
    }

    &.-active {
      background-color: $white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    }
  }
}
.kids-sidebar.categories-item {
  .categories-item {
    &__header {
      background-color: $corporate;
      &__title {
        color: $white-font;
      }
      &:after {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(44deg)
          brightness(103%) contrast(101%);
      }
    }
    &__link {
      color: $white;
      .categories-item__link__ico {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(44deg)
          brightness(103%) contrast(101%);
      }

      &:hover {
        background-color: $corporate-menu;

        .categories-item__link__ico {
          display: none;

          &.-active {
            display: block;
          }
        }
      }
      &.-active {
        background-color: $corporate-menu;
      }
    }
  }
  &.-disabled {
    .categories-item__header__title {
      color: $corporate-light;
    }

    .categories-item__header:after {
      filter: invert(67%) sepia(78%) saturate(420%) hue-rotate(129deg)
        brightness(88%) contrast(87%);
    }
  }
}
</style>
