<template>
  <div class="user-info">
    <div @click="goToMain" class="user-info__ava" :style="userImage"></div>
    <div @click="goToMain" class="user-info__text">
      <h4 class="user-info__text__name">
        <span v-if="userInfo.name">{{ userInfo.name }} </span>
        <span v-if="userInfo.surname"> {{ userInfo.surname }}</span>
      </h4>
      <span v-if="userInfo.login" class="user-info__text__phone">
        {{ $t('user.common.login') }}:
        <strong>{{ numberToNormal(userInfo.login) }}</strong>
      </span>
      <span v-if="campInfo && campInfo.name" class="user-info__text__camp-info">
        {{ $t('user.common.camp') }}: <strong>{{ campInfo.name }}</strong>
      </span>
      <span class="user-info__text__balance">
        {{ $t('user.common.balance') }}:
        <strong v-if="account"
          >{{ (account.main * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </strong>
        <strong v-else>-</strong>
      </span>
    </div>
    <div class="user-info__settings">
      <router-link class="user-info__settings__link" to="/kids/settings/">
        <img
          class="user-info__settings__link__ico"
          src="@/assets/img/svg/user-icons/settings.svg"
          alt=""
        />
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

const UserRepository = RepositoryFactory.get('user');

export default {
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
      userInfo: state => state.user.info,
      campInfo: state => state.user.campInfo,
      department: state => state.user.activeDepartment,
    }),
    userImage() {
      return this.userInfo.image
        ? 'background-image: url(' + this.userInfo.image + ');'
        : '';
    },
  },
  data() {
    return {
      account: false,
    };
  },
  watch: {
    async department() {
      try {
        const resp = await UserRepository.getAccountInfo({
          user_id: localStorage.getItem('userId'),
        });
        if (resp.data.status === 'ok') {
          this.account = resp.data.data.find(
            item => item.department_id === this.department.department_id
          );
        } else {
          this.account = false;
        }
      } catch (e) {
        console.log(e);
      }
    },
  },
  methods: {
    numberToNormal(login) {
      if (login.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
    goToMain() {
      if (this.$route.name != 'kidsMain') {
        this.$router.push({ name: 'kidsMain' });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  //background-color: $corporate-menu;

  &__ava {
    content: '';
    height: 40px;
    width: 40px;
    background-color: blue;
    margin-right: 10px;
    border: 2px solid $white;
    border-radius: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $grey;
    background-image: url('../../../assets/img/svg/avatar.svg');
  }
  &__text {
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 10px;

    &__name {
      color: $white;
      font-size: $regular;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 10px;
    }
    &__phone {
      display: block;
      color: $grey;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $white;
        font-size: $regular;
        font-weight: 500;
      }
    }
    &__camp-info {
      display: block;
      color: $grey;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $white;
        font-size: $regular;
        font-weight: 500;
      }
    }
    &__balance {
      display: block;
      color: $grey;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $white;
        font-size: $regular;
        font-weight: 500;
      }
    }
  }
  &__settings {
    &__link {
      display: block;
      img {
        filter: invert(100%);
        transition: all 0.3s;
        margin-top: 0;
        width: 20px;
        margin-left: 15px;
      }

      &:hover {
        img {
          transition: all 0.3s;
          width: 30px;
          margin-right: 10px;
        }
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $grey;
  }
}
</style>
