<template>
  <div class="sidebar-parent">
    <div @click="showMenu = !showMenu" class="sidebar-parent__container">
      <div class="sidebar-parent__ava" :style="currentKidAva"></div>
      <div class="sidebar-parent__info">
        <h4 class="sidebar-parent__info__name">
          <span v-if="data.name">{{ data.name }} </span>
          <span v-if="data.surname"> {{ data.surname }}</span>
        </h4>
        <span v-if="data.login" class="sidebar-parent__info__phone">
          {{ $t('user.common.login') }}:
          <strong>{{ numberToNormal(data.login) }}</strong>
        </span>
      </div>
    </div>
    <div v-show="showMenu" class="sidebar-parent__menu">
      <div
        class="sidebar-parent__menu__item"
        :key="i"
        v-for="(item, i) in menu"
      >
        <img :src="item.icon()" :alt="item.id" />
        <span>{{ item.name }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import { kidsParentsMenu } from '@/helpers/data/usersLinks';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler.js';

export default {
  name: 'KidParent',
  mixins: [kidsParentsMenu],
  props: {
    id: Object,
  },
  data() {
    return {
      activeCategory: 'camp',
      data: {},
      showMenu: false,
    };
  },
  async mounted() {
    try {
      const userRepository = RepositoryFactory.get('user');
      const resp = await userRepository.getUserInfo({
        id: this.id.parent_id,
      });
      if (resp.data?.status === 'ok') {
        this.data = resp.data?.data;
      } else {
        componentErrorHandler(
          this,
          'Мы не смогли показать информацию про одного или нескольких родителей',
          'Возникла ошибка при запросе информации о родителе',
          'error'
        );
      }
    } catch (err) {
      componentErrorHandler(
        this,
        'Мы не смогли показать информацию про одного или нескольких родителей',
        'Возникла ошибка при запросе информации о родителе',
        'error'
      );
    }
  },
  computed: {
    ...mapState({
      activeKid: state => state.user.activeKid,
      currentCurrency: state => state.common.currentCurrency,
    }),
    currentKidAva() {
      return this.data.image
        ? 'background-image: url(' + this.data.image + ');'
        : '';
    },
  },
  methods: {
    numberToNormal(login) {
      if (login.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar-parent {
  margin-bottom: 20px;
  position: relative;

  &__container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
  }
  &__menu {
    display: flex;
    justify-content: space-around;

    &__item {
      cursor: pointer;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        filter: invert(58%) sepia(77%) saturate(465%) hue-rotate(134deg)
          brightness(92%) contrast(89%);
        height: 30px;
        width: auto;
      }
    }
  }

  &__ava {
    content: '';
    height: 40px;
    width: 40px;
    background-color: $grey;
    margin-right: 10px;
    border-radius: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $grey;
    background-image: url('../../../assets/img/svg/avatar.svg');
  }
  &__info {
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 10px;

    &__name {
      color: $black-font;
      font-size: $regular;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 10px;
    }
    &__phone {
      display: block;
      color: $dark-grey-font;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $black-font;
        font-size: $regular;
        font-weight: 500;
      }
    }
    &__balance {
      display: block;
      color: $dark-grey-font;
      font-size: $small;
      font-weight: 400;
      margin-bottom: 10px;

      strong {
        color: $black-font;
        font-size: $regular;
        font-weight: 500;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    bottom: 0;
    left: 10px;
    background-color: $grey;
  }
}
</style>
