<template>
  <div class="user">
    <div class="user__panel">
      <div @click="goToMain" class="user__panel__ava" :style="userImage"></div>
      <div @click="goToMain" class="user__panel__info">
        <h4 class="user__panel__info__name">
          <span v-if="userInfo.name">{{ userInfo.name }} </span>
          <span v-if="userInfo.surname"> {{ userInfo.surname }}</span>
        </h4>
        <span v-if="userInfo.login" class="user__panel__info__login">
          {{ $t('user.common.login') }}:
          <strong>{{ numberToNormal(userInfo.login) }}</strong>
        </span>
        <span v-if="account" class="user__panel__info__balance">
          {{ $t('user.common.balance') }}:
          <strong
            >{{ (userInfo.account_main * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}
          </strong>
        </span>
      </div>
      <div v-if="role === 'parent'" class="user__panel__settings">
        <router-link
          class="user__panel__settings__link"
          to="/parents/settings/"
        >
          <img
            class="user__panel__settings__link__ico"
            src="@/assets/img/svg/user-icons/settings.svg"
            alt=""
          />
        </router-link>
      </div>
    </div>
    <div class="user__nav">
      <div
        v-if="role === 'parent'"
        @click.prevent="addKidModal = true"
        class="user__nav__item"
      >
        <img
          src="@/assets/img/svg/add-user.svg"
          class="user__nav__item__icon"
          alt="Add new kid"
        />
        <span class="user__nav__item__text">
          {{ $t('user.buttons.addKid') }}
        </span>
      </div>
      <div
        v-if="role === 'parent'"
        @click="$router.push('/parents/account')"
        class="user__nav__item"
      >
        <img
          src="@/assets/img/svg/user-icons/wallet.svg"
          class="user__nav__item__icon"
          alt="Account"
        />
        <span class="user__nav__item__text">
          {{ $t('user.titles.menu.payment') }}
        </span>
      </div>
      <div
        v-if="role === 'leader'"
        @click="$router.push('/leader')"
        class="user__nav__item"
      >
        <img
          src="@/assets/img/svg/list.svg"
          class="user__nav__item__icon"
          alt="List"
        />
        <span class="user__nav__item__text">
          {{ $t('user.buttons.journal') }}
        </span>
      </div>
      <div
        v-if="role === 'leader'"
        @click="$router.push('/leader/lists/')"
        class="user__nav__item"
      >
        <img
          src="@/assets/img/svg/diary.svg"
          class="user__nav__item__icon"
          alt="Diary"
        />
        <span class="user__nav__item__text">
          {{ $t('user.buttons.childrenList') }}
        </span>
      </div>
      <div
        v-if="role === 'leader'"
        @click="$router.push('/leader/qr/')"
        class="user__nav__item"
      >
        <img
          class="user__nav__item__icon qr"
          alt="QR"
          src="@/assets/img/svg/common-icons/qr.svg"
        />
        <span class="user__nav__item__text">
          {{ $t('user.buttons.scanQr') }}
        </span>
      </div>
    </div>
    <add-new-kid-modal @close="addKidModal = false" v-if="addKidModal" />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import AddNewKidModal from '@/components/user/AddNewKidModal';
import QrSmallButton from '@/components/user/sideBar/QrSmallButton';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

const UserRepository = RepositoryFactory.get('user');

export default {
  components: { AddNewKidModal, QrSmallButton },
  data: function() {
    return {
      addKidModal: false,
      showChooseRole: false,
      role: null,
      account: {},
    };
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
      roles: state => state.user.roles,
      // account: state => state.account,
      currentCurrency: state => state.common.currentCurrency,
    }),
    userImage() {
      return this.userInfo.image
        ? 'background-image: url(' + this.userInfo?.image + ');'
        : '';
    },
    rolesList() {
      let res = this.roles.map(i => {
        switch (i.role) {
          case 'leader':
            i.name = 'Воспитатель';
            break;
          case 'security':
            i.name = 'Охранник';
            break;
        }
        return i;
      }, []);
      res.push({ role: 'parent', name: 'Родитель' });
      return res;
    },
  },
  async mounted() {
    this.role = localStorage.getItem('role');
    try {
      const resp = await UserRepository.getAccountInfo({
        user_id: localStorage.getItem('userId'),
      });
      if (resp.data.status === 'ok') {
        this.account = resp.data.data[0];
      } else {
        this.account = false;
      }
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    numberToNormal(login) {
      if (login?.length === 11) {
        return login.replace(
          /(\d)(\d{3})(\d{3})(\d{2})(\d{2})/,
          '+$1 $2 $3-$4-$5'
        );
      } else {
        return login;
      }
    },
    goToMain() {
      this.$router.push({ name: localStorage.getItem('role') });
    },
    chooseRole(role) {
      localStorage.setItem('role', role.role);
      this.$router.push({ name: role.role });
    },
  },
};
</script>

<style lang="scss" scoped>
.user {
  padding: 10px;
  background-image: $corporate-gradient-header;
  border-bottom: 2px solid $grey;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;

    &__ava {
      content: '';
      height: 40px;
      width: 40px;
      background-color: blue;
      margin-right: 10px;
      border: 2px solid $white;
      border-radius: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $grey;
      background-image: url('../../../assets/img/svg/avatar.svg');
    }
    &__info {
      flex-shrink: 1;
      flex-grow: 1;
      padding-left: 10px;
      color: $white;

      &__name {
        font-size: $regular;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 10px;
        cursor: pointer;
      }
      &__login {
        display: block;
        font-size: $small;
        font-weight: 400;
        margin-bottom: 10px;
        cursor: pointer;

        strong {
          color: $grey;
          font-size: $regular;
          font-weight: 500;
        }
      }
    }
    &__settings {
      &__link {
        display: block;
        img {
          filter: invert(100%);
          transition: all 0.3s;
          margin-top: 0;
          width: 20px;
          margin-right: 15px;
        }

        &:hover {
          img {
            transition: all 0.3s;
            width: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  &__nav {
    width: 100%;

    &__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0;
      cursor: pointer;

      &.list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: flex-start;
      }

      &__submenu {
        margin-top: 10px;
        margin-left: 15px;
        color: $white-font;
        &__item {
          &:hover {
            color: $corporate-menu;
            background-color: white;
          }
        }
      }

      &__icon {
        margin-right: 10px;
        max-height: 15px;
      }
      &__icon:not(.qr) {
        filter: invert(100%);
      }
      &__text {
        color: $white;
      }
    }
  }
}
</style>
