<template>
  <div
    :class="[
      'cv-wrapper',
      'locale-' + languageCode(displayLocale),
      'locale-' + displayLocale,
      'y' + periodStart.getFullYear(),
      'm' + paddedMonth(periodStart),
      'period-' + displayPeriodUom,
      'periodCount-' + displayPeriodCount,
      {
        past: isPastMonth(periodStart),
        future: isFutureMonth(periodStart),
        noIntl: !supportsIntl,
      },
    ]"
  >
    <slot :header-props="headerProps" name="header" />
    <div class="cv-header-days">
      <template v-for="(label, index) in weekdayNames">
        <slot :index="getColumnDOWClass(index)" :label="label" name="dayHeader">
          <div
            :key="getColumnDOWClass(index)"
            :class="getColumnDOWClass(index)"
            class="cv-header-day"
          >
            {{ label }}
          </div>
        </slot>
      </template>
    </div>
    <div class="cv-weeks">
      <div
        v-for="(weekStart, weekIndex) in weeksOfPeriod"
        :key="`${weekIndex}-week`"
        :class="[
          'cv-week',
          'week' + (weekIndex + 1),
          'ws' + isoYearMonthDay(weekStart),
        ]"
      >
        <div
          v-for="(day, dayIndex) in daysOfWeek(weekStart)"
          :key="getColumnDOWClass(dayIndex)"
          :class="[
            'cv-day',
            getColumnDOWClass(dayIndex),
            'd' + isoYearMonthDay(day),
            'd' + isoMonthDay(day),
            'd' + paddedDay(day),
            'instance' + instanceOfMonth(day),
            {
              today: isSameDate(day, today()),
              outsideOfMonth: !isSameMonth(day, defaultedShowDate),
              past: isInPast(day),
              future: isInFuture(day),
              last: isLastDayOfMonth(day),
              lastInstance: isLastInstanceOfMonth(day),
            },
            ...((dateClasses && dateClasses[isoYearMonthDay(day)]) || null),
          ]"
          @click="onClickDay(day, $event)"
        >
          <div
            :class="[{ active: isSameDate(currentDate, day) }]"
            class="cv-day-number"
          >
            {{ day.getDate() }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CalendarMathMixin from '@/helpers/methods/calendarMathMixin';

export default {
  name: 'CalendarView',
  mixins: [CalendarMathMixin],
  props: {
    currentDate: { type: Date, default: undefined },
    showDate: { type: Date, default: undefined },
    displayPeriodUom: { type: String, default: 'month' },
    displayPeriodCount: { type: Number, default: 1 },
    locale: { type: String, default: undefined },
    monthNameFormat: { type: String, default: 'long' },
    weekdayNameFormat: { type: String, default: 'short' },
    disablePast: { type: Boolean, default: false },
    disableFuture: { type: Boolean, default: false },
    dateClasses: { type: Object, default: () => {} },
    startingDayOfWeek: { type: Number, default: 0 },
    currentPeriodLabel: { type: String, default: '' },
  },
  data: () => ({
    currentDragItem: null,
    currentHoveredItemId: undefined,
  }),
  computed: {
    displayLocale() {
      return this.locale || this.getDefaultBrowserLocale();
    },
    defaultedShowDate() {
      if (this.showDate) return this.dateOnly(this.showDate);
      return this.today();
    },
    periodStart() {
      return this.beginningOfPeriod(
        this.defaultedShowDate,
        this.displayPeriodUom,
        this.startingDayOfWeek
      );
    },
    periodEnd() {
      return this.addDays(
        this.incrementPeriod(
          this.periodStart,
          this.displayPeriodUom,
          this.displayPeriodCount
        ),
        -1
      );
    },
    displayFirstDate() {
      return this.beginningOfWeek(this.periodStart, this.startingDayOfWeek);
    },
    displayLastDate() {
      return this.endOfWeek(this.periodEnd, this.startingDayOfWeek);
    },
    weeksOfPeriod() {
      // Returns an array of object representing the date of the beginning of each week
      // included in the view.
      const numWeeks = Math.floor(
        (this.dayDiff(this.displayFirstDate, this.displayLastDate) + 1) / 7
      );
      return Array(numWeeks)
        .fill()
        .map((_, i) => this.addDays(this.displayFirstDate, i * 7));
    },
    monthNames() {
      return this.getFormattedMonthNames(
        this.displayLocale,
        this.monthNameFormat
      );
    },
    weekdayNames() {
      return this.getFormattedWeekdayNames(
        this.displayLocale,
        this.weekdayNameFormat,
        this.startingDayOfWeek
      );
    },
    periodLabel() {
      return this.formattedPeriod(
        this.periodStart,
        this.periodEnd,
        this.displayPeriodUom,
        this.monthNames
      );
    },
    currentPeriodStart() {
      return this.beginningOfPeriod(
        this.today(),
        this.displayPeriodUom,
        this.startingDayOfWeek
      );
    },
    currentPeriodEnd() {
      return this.addDays(
        this.incrementPeriod(
          this.currentPeriodStart,
          this.displayPeriodUom,
          this.displayPeriodCount
        ),
        -1
      );
    },
    currentPeriodLabelFinal() {
      const c = this.currentPeriodStart;
      const s = this.periodStart;
      if (!this.currentPeriodLabel)
        return this.formattedPeriod(
          c,
          this.currentPeriodEnd,
          this.displayPeriodUom,
          this.monthNames
        );
      if (this.currentPeriodLabel === 'icons')
        return this.currentPeriodLabelIcons[Math.sign(c - s) + 1];
      return this.currentPeriodLabel;
    },
    headerProps() {
      return {
        previousYear: this.getIncrementedPeriod(-12),
        previousPeriod: this.getIncrementedPeriod(-1),
        nextPeriod: this.getIncrementedPeriod(1),
        previousFullPeriod: this.getIncrementedPeriod(-this.displayPeriodCount),
        nextFullPeriod: this.getIncrementedPeriod(this.displayPeriodCount),
        nextYear: this.getIncrementedPeriod(12),
        currentPeriod: this.currentPeriodStart,
        currentPeriodLabel: this.currentPeriodLabelFinal,
        periodStart: this.periodStart,
        periodEnd: this.periodEnd,
        displayLocale: this.displayLocale,
        displayFirstDate: this.displayFirstDate,
        displayLastDate: this.displayLastDate,
        monthNames: this.monthNames,
        periodLabel: this.periodLabel,
      };
    },
  },
  methods: {
    onClickDay(day, windowEvent) {
      if (this.disablePast && this.isInPast(day)) return;
      if (this.disableFuture && this.isInFuture(day)) return;
      this.$emit('click-date', day, windowEvent);
    },

    getColumnDOWClass(dayIndex) {
      return 'dow' + ((dayIndex + this.startingDayOfWeek) % 7);
    },

    getIncrementedPeriod(count) {
      const newStartDate = this.incrementPeriod(
        this.periodStart,
        this.displayPeriodUom,
        count
      );
      const newEndDate = this.incrementPeriod(
        newStartDate,
        this.displayPeriodUom,
        this.displayPeriodCount
      );
      if (this.disablePast && newEndDate <= this.today()) return null;
      if (this.disableFuture && newStartDate > this.today()) return null;
      return newStartDate;
    },
  },
};
</script>
<style>
/* Position/Flex */
/* Make the calendar flex vertically */
.cv-wrapper {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 260px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cv-wrapper,
.cv-wrapper div {
  box-sizing: border-box;
  line-height: 1em;
  /*font-size: 1em;*/
}
.cv-header-days {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex-flow: row nowrap;
  border-width: 0 0 0 1px;
}
.cv-header-day {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: 1px 1px 0 0;
}
/* The calendar grid should take up the remaining vertical space */
.cv-weeks {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-flow: column nowrap;
  border-width: 0 0 1px 1px;

  /* Allow grid to scroll if there are too may weeks to fit in the view */
  overflow-y: auto;
  -ms-overflow-style: none;
}
/* Use flex basis of 0 on week row so all weeks will be same height regardless of content */
.cv-week {
  display: flex;
  /* Shorthand flex: 1 1 0 not supported by IE11 */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  flex-flow: row nowrap;
  min-height: 1.5em;
  border-width: 0;

  /* Allow week events to scroll if they are too tall */
  position: relative;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;

  /* Days of the week go left to right even if user's language is RTL (#138) */
  direction: ltr;
}
.cv-day {
  /* Shorthand flex: 1 1 0 not supported by IE11 */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative; /* Fallback for IE11, which doesn't support sticky */
  position: sticky; /* When week's items are scrolled, keep the day content fixed */
  border-width: 1px 1px 0 0;
  /* Restore user's direction setting (overridden for week) */
  direction: initial;
  cursor: pointer;
  overflow-y: auto;
  scrollbar-width: 0;
}
.cv-day::-webkit-scrollbar {
  width: 0;
}
/* 
A bug in Microsoft Edge 41 (EdgeHTML 16) has been reported (#109) where days "disappear" because they are
wrapping under the next week (despite the "nowrap" on cv-week). This appears to be an issue specifically
with our metrics and the sticky positioning. I was not able to reproduce this issue in Edge 38, 42, or 44.
I'm reticent to turn off the sticky functionality for all Edge users because of one version (or perhaps an
interaction of that version with a specific graphics adapter or other setting). So instead, I'm leaving this
as an example for anyone forced to support Edge 41 who may see the same issue. If that's the case, just
add this selector to your own CSS.

@supports (-ms-ime-align: auto) {
	.cv-day {
		position: relative;
	}
}
*/
_:-ms-lang(x),
.cv-day {
  position: relative;
}
.cv-day-number {
  margin: 0 auto;
}
/* Colors */
.cv-header-days,
.cv-header-day,
.cv-weeks,
.cv-week,
.cv-day {
  border-style: solid;
  border-color: #ddd;
}
/* Internal Metrics */
.cv-header-day,
.cv-day-number,
/* Allows emoji icons or labels (such as holidays) to be added more easily to specific dates by having the margin set already. */
.cv-day-number::before {
}
/* Hide scrollbars for the grid and the week */
.cv-weeks::-webkit-scrollbar,
.cv-week::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
</style>
