<template>
  <div class="event-modal">
    <div class="event-modal__content">
      <div @click="$emit('close')" class="event-modal__content__close">
        <img src="@/assets/img/svg/close.svg" alt="Close" />
      </div>
      <div class="event-modal__content__header">
        <div class="event-modal__content__header__left">
          <img src="@/assets/img/home/partners/calendar1.png" alt="Photo" />
        </div>
        <div class="event-modal__content__header__right">
          <div class="date">23:00</div>
          <p class="title">В Питере - Пить: Алко-тур 12+</p>
          <p class="subtitle">
            Санкт-Питербург - Один из лучхиш Мегаполисов мира. Посмотреть на
            который можно путешествинникам из разных страy
          </p>
        </div>
      </div>
      <div class="event-modal__content__price">
        <div class="event-modal__content__price__left">
          <span>15000$ за сутки</span>
        </div>
        <div class="event-modal__content__price__right">
          <btn :elClass="['corporate-light-radius-small']">Купить</btn>
          <btn @click="$emit('close')" :elClass="['corporate-radius-small']"
            >Отмена</btn
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from '@/components/primitives/RegularButton';

export default {
  name: 'EventModal',
  props: {
    content: Object,
  },
  components: {
    btn: RegularButton,
  },
  updated() {
    console.log(this.content);
  },
};
</script>

<style scoped lang="scss">
.event-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      &__left {
        flex: 1;
      }
      &__right {
        flex: 1;

        .date {
          background-color: #ff5a5a;
          font-size: 18px;
          color: white;
          padding: 20px;
        }
        .title {
          font-weight: 600;
          font-size: 18px;
          color: #0ca8ad;
        }
        .subtitle {
          font-size: 14px;
          text-transform: capitalize;
        }
      }
      img {
        max-height: 200px;
      }
    }
    &__price {
      display: flex;
      justify-content: space-between;
      margin: 0 10px;

      &__left {
        span {
          font-weight: 600;
          font-size: 26px;
          color: #454545;
        }
      }
      &__rigth {
        display: flex;
        justify-content: space-between;

        button {
          margin-right: 10px;
        }
      }
    }

    &__close {
      position: absolute;
      top: -20px;
      right: -20px;
    }
  }
}
</style>
