<template>
  <div class="purchase">
    <div class="purchase__info">
      <h3>
        {{
          $t('user.onlineOutlet.checkAndDate', {
            number: [purchase.id],
            date: [
              purchase.created_at
                ? format(
                    new Date(fromUnixTime(purchase.created_at)),
                    'dd.MM.yyyy HH:mm'
                  )
                : '-',
            ],
          })
        }}
      </h3>
      <div class="product__info">
        <h2 class="product__info__title">
          {{ product.name }}
        </h2>
        <div
          class="product__info__status"
          :class="
            purchase.is_used == 1
              ? 'used'
              : purchase.is_refunded == 1
              ? 'refunded'
              : 'new'
          "
        >
          {{
            purchase.is_used == 1
              ? $t('user.onlineOutlet.done')
              : purchase.is_refunded == 1
              ? $t('user.onlineOutlet.refilled')
              : $t('user.onlineOutlet.new')
          }}
        </div>
      </div>
    </div>
    <div v-if="product.create_event" class="purchase__dates">
      <table>
        <thead>
          <tr>
            <td>
              <span v-if="product.create_event">{{
                $t('user.fields.dateFrom')
              }}</span>
            </td>
            <td>
              <span v-if="product.create_event">{{
                $t('user.fields.dateTo')
              }}</span>
            </td>
            <td>
              <span v-if="product.day_of_week > 0 && product.create_event">{{
                $t('user.fields.eventDay')
              }}</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span v-if="product.create_event">
                {{ format(new Date(product.event_date_start), 'dd.MM.yyyy') }}
              </span>
            </td>
            <td>
              <span v-if="product.create_event">
                {{ format(new Date(product.event_date_finish), 'dd.MM.yyyy') }}
              </span>
            </td>
            <td>
              <span v-if="product.day_of_week > 0 && product.create_event">{{
                dayOfWeek[product.day_of_week]
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <div class="price">
        {{
          `${(product.price * currentCurrency.ratio).toFixed(2)} ${$t(
            'user.common.jcoin'
          )}`
        }}
      </div>
      <div
        v-if="purchase.is_used == 0 && purchase.is_refunded == 0"
        class="button"
      >
        <button @click="returnProduct">{{ $t('user.buttons.refill') }}</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { format, fromUnixTime } from 'date-fns';
import onlineOutletRepository from '@/helpers/apiFactory/onlineOutletRepository';

export default {
  name: 'OnlineOutletPurchase',
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  data: function() {
    return {
      format,
      fromUnixTime,
      dayOfWeek: [
        '-',
        'Понедельник',
        'Вторник',
        'Среда',
        'Четверг',
        'Пятница',
        'Суббота',
        'Воскресенье',
      ],
      product: {},
    };
  },
  props: {
    purchase: Object,
  },
  methods: {
    returnProduct() {
      this.$emit('refund', this.product);
    },
    async getProduct() {
      try {
        const resp = await onlineOutletRepository.getProduct({
          id: this.purchase.product_id,
        });
        if (resp.data.status == 'ok') {
          this.product = resp.data.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
  created() {
    this.getProduct();
  },
};
</script>

<style lang="scss" scoped>
.purchase {
  border-bottom: 1px solid $border;
  margin: 10px 0;
  .product__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      font-size: $semi-big;
      margin-right: 20px;
    }
    &__status {
      padding: 2px;
      &.used {
        border: 1px solid $red;
        color: $red;
      }
      &.refunded {
        border: 1px solid $light-grey-font;
        color: $light-grey-font;
      }
      &.new {
        border: 1px solid $corporate;
        color: $corporate;
      }
    }
  }
  &__dates {
    margin-bottom: 20px;
    table {
      width: 100%;
      tbody {
        tr {
          td {
            font-size: $regular + 2px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    .price {
      font-size: $regular + 2px;
      font-weight: 500;
      margin-right: 30px;
    }
    .button {
      button {
        border: 1px solid $red-back;
        border-radius: 20px;
        background: transparent;
        color: $red-back;
        padding: 5px 10px;
        cursor: pointer;
        margin: 1px;

        &:hover {
          margin: 0px;
          border: 2px solid $red;
          color: $red;
        }
      }
    }
  }
}
</style>
