<template>
  <div class="section">
    <page-title
      :title="
        $t('user.titles.productsInCategory', { category: [chosenCategoryName] })
      "
    />
    <div class="products">
      <transition-group name="productlist" tag="p" class="products">
        <div
          v-for="product in products"
          :key="product.id"
          class="products__item"
        >
          <online-product
            :product="product"
            :currentCurrency="currentCurrency"
            @selectProduct="$emit('selectProduct', product)"
          />
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
import onlineProduct from '@/components/user/onlineOutlet/onlineProduct';

export default {
  name: 'OnlineOutletProducts',
  components: {
    PageTitle,
    onlineProduct,
  },
  props: {
    chosenCategoryName: String,
    products: Object,
    currentCurrency: Object,
  },
};
</script>

<style lang="scss" scoped>
.section {
  padding: 20px;
  border-bottom: 1px solid $grey;
  &__header {
    h1 {
      display: inline-block;
      margin-bottom: 0;
      padding: 0px 10px 5px 10px;
      border-bottom: 3px solid #3fd4d9;
      font-size: $semi-big;
      font-weight: 600;
      color: $black-font;
    }
  }
  .products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &__item {
      width: 31%;
      margin: 10px 1%;

      @media screen and (max-width: 900px) {
        width: 48%;
      }
      @media screen and (max-width: 490px) {
        width: 98%;
      }
    }
  }
  .productlist-enter-active {
    transition: all 1s;
  }
  .productlist-leave-active {
    transition: all 1s;
  }
  .productlist-enter {
    opacity: 0;
  }
  .productlist-leave {
    opacity: 0;
  }
}
</style>
