<template functional>
  <div @click="listeners['selectCat'](props.category)" class="category">
    <div class="category__container">
      <div v-if="props.category.image" class="category__container__img">
        <img
          :src="`https://justapp.org:8081/${props.category.image}`"
          :alt="props.category.name"
        />
      </div>
      <div v-if="!props.category.image" class="category__container__img -empty">
        <img
          src="@/assets/img/svg/common-icons/folder.svg"
          alt="category.name"
          style=""
        />
      </div>
      <div class="category__container__info">
        <span class="category__container__info__title">
          {{
            props.category.name.length > 12
              ? `${props.category.name.slice(0, 12)}...`
              : props.category.name
          }}
        </span>
        <span
          v-if="props.category.name.length > 12"
          class="category__container__info__title-hover"
        >
          {{ props.category.name }}
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.category {
  transition-duration: 0.5s;
  transform: translate(0px, 0px);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0);
  border: 1px solid $corporate;
  border-radius: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__container {
    &__img {
      height: 100px;
      overflow: hidden;
      background-color: $grey;
      position: relative;
      border-radius: 10px 10px 0 0;
      overflow: hidden;

      img {
        transition-duration: 1s;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.-empty {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          filter: invert(100%);
          max-width: 50%;
          height: auto;
        }
      }
    }
    &__info {
      padding: 10px;
      position: relative;

      &__title {
        color: $dark-grey-font;
        font-size: $regular;
        font-weight: 500;

        &-hover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: white;
          text-align: center;
          z-index: 999;
          overflow-wrap: break-word;
          padding: 5px;
          min-height: 100%;
          border-radius: 0 0 10px 10px;
          transition: opacity 0.5s ease-in-out;
          opacity: 0;
        }
      }
    }
  }
  &:hover {
    z-index: 99;
    .category__container__info__title-hover {
      opacity: 1;
    }
    .category__container {
      &__img {
        img {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}
</style>
