<template>
  <section v-if="purchasesList.length > 0" class="store-history">
    <page-title :title="$t('user.titles.onlineCatalogHistory')" />
    <div class="filters-dates">
      <div class="filters__date">
        <label for="start">{{ $t('user.fields.dateFrom') }}</label>
        <input
          id="start"
          class="date-picker"
          type="date"
          min="2019-01-01"
          v-model="dateFrom"
          :max="dateTo ? dateTo : format(new Date(), 'yyyy-MM-dd')"
          data-date="{'buttonOnly': true}"
          @change="getOperations"
        />
      </div>
      <div class="filters__date">
        <label for="finish">{{ $t('user.fields.dateTo') }}</label>
        <input
          id="finish"
          class="date-picker"
          type="date"
          v-model="dateTo"
          :min="dateFrom ? dateFrom : '2019-01-01'"
          :max="format(new Date(), 'yyyy-MM-dd')"
          data-date="{'buttonOnly': true}"
          @change="getOperations"
        />
      </div>
    </div>
    <div v-for="purchase in purchasesList" :key="purchase.id">
      <online-outlet-purchase
        @refund="refundProductConfirmation"
        :purchase="purchase"
      />
    </div>
    <refund-confirmation
      :product="refundingProduct"
      v-if="refundingProduct.id"
      @apply="refundProduct"
      @cancel="cancel"
    />
    <pagination
      :pages="currentPagination.total_pages * 1"
      :items="currentPagination.total_count * 1"
      :perPage="currentPagination.per_page * 1"
      :currentPage="currentPagination.page * 1"
      @changePage="changePage"
      @changePerPage="changePerPage"
    />
  </section>
  <div v-else class="store-history">
    <h2>{{ $t('user.onlineOutlet.noBills') }}</h2>
  </div>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { format, startOfYear } from 'date-fns';

import PageTitle from '@/components/user/common/PageTitle';
import OnlineOutletPurchase from '@/components/user/onlineOutlet/OnlineOutletPurchase';
import RefundConfirmation from '@/components/user/onlineOutlet/refundConfirmation';
import Pagination from '@/components/common/Pagination';

const onlineOutletRepository = RepositoryFactory.get('onlineOutlet');

export default {
  name: 'KidsOnlineStoreHistory',
  components: {
    PageTitle,
    RefundConfirmation,
    OnlineOutletPurchase,
    Pagination,
  },
  props: {
    currentUser: Object,
  },
  data: function() {
    return {
      format,
      purchasesList: [],
      refundingProduct: {},
      pagination: {
        page: 1,
        perPage: 10,
      },
      currentPagination: {},
      dateFrom: format(startOfYear(new Date()), 'yyyy-MM-dd'),
      dateTo: format(new Date(), 'yyyy-MM-dd'),
    };
  },
  watch: {
    'currentUser.id': {
      immediate: true,
      async handler() {
        this.updateList();
      },
    },
  },
  methods: {
    async updateList() {
      try {
        const resp = await onlineOutletRepository.userPurchases({
          user_id: this.currentUser.id,
          page: this.pagination?.page || 1,
          per_page: this.pagination?.perPage || 20,
          date_from: new Date(this.dateFrom)
            ? format(new Date(this.dateFrom), 'dd-MM-yyyy')
            : null,
          date_to: new Date(this.dateTo)
            ? format(new Date(this.dateTo), 'dd-MM-yyyy')
            : null,
        });
        if (resp.data.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка покупок',
            'Возникла ошибка при получении списка покупок',
            'error'
          );
        } else {
          this.purchasesList = resp?.data?.data;
          this.currentPagination = resp?.data?.pagination;
        }
      } catch (err) {
        console.error(err);
      }
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination?.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination?.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.updateList();
    },
    changePage(val) {
      this.pagination.page = val;
      this.updateList();
    },
    refundProductConfirmation(product) {
      this.refundingProduct = product;
    },
    async refundProduct() {
      let payload = {
        outlet_id: this.refundingProduct.outlet_id,
        user_id: this.currentUser.id,
        purchase_id: this.refundingProduct.id,
      };
      try {
        const resp = await onlineOutletRepository.refundProduct(
          JSON.stringify(payload)
        );
        if (resp.data.status != 'ok') {
          componentErrorHandler(
            this,
            'Возврат товара',
            'Возникла ошибка при возврате товара',
            'error'
          );
        } else {
          componentErrorHandler(
            this,
            'Возврат товара',
            'Возврат товара осуществлен успешно',
            'success'
          );
        }
      } catch (err) {
        console.error(err);
      }
      if (this.$route.requiresChild) {
        await this.$store.dispatch(
          'user/getUserInfo',
          JSON.stringify({ id: this.currentUser.id })
        );
      } else {
        await this.$store.dispatch(
          'user/getKidAccount',
          JSON.stringify({ user_id: this.currentUser.id })
        );
      }
      await this.updateList();
      this.cancel();
    },
    cancel() {
      this.refundingProduct = {};
    },
  },
};
</script>

<style lang="scss" scoped>
.store-history {
  padding: 20px;
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    flex-wrap: wrap;

    div {
      margin: 2px 5px;
    }

    &__selector {
      flex-grow: 2;
      min-width: 180px;
      max-height: 50px;
    }
    &__date {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;
      margin-right: 20px;

      .date-picker {
        border: 1px solid $border;
        padding: 15px 23px;
        width: 100%;
        background-color: $white;
      }
      input[type='date']::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
      }
    }
  }
  .filters-dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: 842px) {
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
}
</style>
