<template functional>
  <div @click="listeners['goBack']" class="category">
    <div class="category__container">
      <div class="category__container__img -empty">
        <img
          src="@/assets/img/svg/arrow-circle.svg"
          alt="category.name"
          style=""
        />
      </div>
      <div class="category__container__info">
        <span class="category__container__info__title">
          {{ parent.$t('user.onlineOutlet.back') }}
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.category {
  transition-duration: 0.5s;
  transform: translate(0px, 0px);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0);
  border: 1px solid $corporate;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__container {
    &__img {
      height: 100px;
      overflow: hidden;
      background-color: $grey;
      position: relative;

      img {
        transition-duration: 1s;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.-empty {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          filter: invert(100%);
          max-width: 50%;
          height: auto;
          transform: rotate(180deg);
        }
      }
    }
    &__info {
      padding: 10px;

      &__title {
        color: $dark-grey-font;
        font-size: $regular;
        font-weight: 500;
      }
    }
  }
  &:hover {
    .category__container {
      &__img {
        img {
          transform: rotate(180deg) scale(1.1, 1.1);
        }
      }
    }
  }
}
</style>
