<template functional>
  <div @click="listeners['selectProduct'](props.product)" class="product">
    <div class="product__container">
      <div
        class="product__container__img"
        :class="{ '-empty': !props.product.image }"
      >
        <div
          v-if="props.product.price > 0"
          class="product__container__img__price"
        >
          <span class="product__container__img__price__value">
            {{
              `${(props.product.price * props.currentCurrency.ratio).toFixed(
                2
              )}`
            }}</span
          >
        </div>
        <img
          v-if="props.product.image"
          :src="`https://justapp.org:8081/${props.product.image}`"
          :alt="props.product.name"
        />
        <img
          v-if="!props.product.image"
          src="@/assets/img/svg/product.svg"
          alt="category.name"
          style=""
        />
        <div class="product__container__img__title">
          <span class="product__container__img__title__value">{{
            props.product.name.length > 15
              ? `${props.product.name.slice(0, 15)}...`
              : props.product.name
          }}</span>
        </div>
      </div>
      <div
        class="product__container__info"
        :class="{ '-empty': props.product.comment.length < 1 }"
      >
        <div
          class="product__container__info__description"
          v-if="props.product.comment.length > 0"
          v-html="
            props.product.comment.length > 70
              ? `${props.product.comment.slice(0, 70)}...`
              : props.product.comment
          "
        ></div>
        <div class="product__container__info__description" v-else>...</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.product {
  transition-duration: 0.5s;
  transform: translate(0px, 0px);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0);
  border: 1px solid $corporate;
  border-radius: 10px;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: stretch;

  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    &__img {
      height: 120px;
      overflow: hidden;
      background-color: $grey;
      position: relative;

      &__price {
        transition-duration: 0.5s;
        position: absolute;
        background-color: $corporate;
        right: 0;
        top: 0;
        padding: 5px 10px 5px 20px;
        border-radius: 0px 0px 0px 15px;
        z-index: 9;

        &__value {
          color: $white;
          font-size: $semi-big;
          font-weight: 500;
        }
      }
      &__title {
        transition-duration: 0.5s;
        position: absolute;
        background-color: $corporate;
        left: 0;
        bottom: 0;
        padding: 5px 20px 5px 10px;
        border-radius: 0px 15px 0px 0px;

        &__value {
          color: $white;
          font-size: $semi-big;
          font-weight: 500;
        }
      }

      img {
        transition-duration: 1s;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.-empty {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          filter: invert(100%);
          max-width: 50%;
          height: auto;
        }
      }
    }
    &__info {
      padding: 10px;
      word-wrap: break-word;
      font-size: $regular + 2px;

      &.-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
      }

      &__description {
        margin: 0;
        & > * {
          margin: 0;
        }
      }

      * {
        word-wrap: break-word;
        color: $dark-grey-font;
        margin: 0;
      }
    }
  }
  &:hover {
    .product__container {
      &__img {
        &__price {
          transform: translate(0px, -40px);
        }
        img {
          transform: scale(1.1, 1.1);
        }
        &__title {
          transform: translate(0px, 40px);
        }
      }
    }
  }
}
.product__container__info__description {
  * {
    margin: 0;
  }
}
</style>
