<template>
  <div class="section">
    <page-title :title="$t('user.titles.categories')" />
    <transition-group
      name="list"
      tag="div"
      class="categories"
      v-if="outletCategories"
    >
      <div
        v-if="openedCategory.length > 0"
        class="categories__item -back"
        key="back"
      >
        <online-category-back @goBack="$emit('goBack')" />
      </div>
      <div
        v-for="(category, key) in chosenCategory.children"
        :key="category.id"
        v-show="category.status == 1"
        class="categories__item"
      >
        <online-category
          class="categories__item"
          :category="category"
          @selectCat="
            $emit('selectCat', {
              key: key,
              is_parent: category.is_parent,
              id: category.id,
            })
          "
        />
      </div>
    </transition-group>
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
import OnlineCategory from '@/components/user/onlineOutlet/onlineCategory';
import OnlineCategoryBack from '@/components/user/onlineOutlet/onlineCategoryBack';

export default {
  name: 'OnlineOutletCategories',
  components: {
    PageTitle,
    OnlineCategory,
    OnlineCategoryBack,
  },
  props: {
    outletCategories: Object,
    openedCategory: Array,
    chosenCategory: Object,
  },
};
</script>

<style lang="scss" scoped>
.section {
  padding: 20px;
  border-bottom: 1px solid $grey;

  &__header {
    h1 {
      display: inline-block;
      margin-bottom: 0;
      padding: 0px 10px 5px 10px;
      border-bottom: 3px solid #3fd4d9;
      font-size: $semi-big;
      font-weight: 600;
      color: $black-font;
    }
  }
}
.categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -2%;

  &__item {
    width: 16%;
    margin: 10px 2%;

    @media screen and (max-width: 1200px) {
      width: 21%;
    }

    @media screen and (max-width: 900px) {
      width: 29%;
    }
    @media screen and (max-width: 550px) {
      width: 46%;
    }
    @media screen and (max-width: 385px) {
      width: 96%;
    }
  }
  .list-enter-active {
    transition: all 1s;
  }
  .list-leave-active {
    transition: all 0s;
    position: absolute;
  }
  .list-enter {
    opacity: 0;
  }
}
</style>
