<template>
  <section v-if="outletCategories.is_parent" class="store">
    <div id="category">
      <online-outlet-categories
        :outletCategories="outletCategories"
        :openedCategory="openedCategory"
        :chosenCategory="chosenCategory"
        @selectCat="selectCategory"
        @goBack="categoryUp"
      />
    </div>
    <div id="product">
      <online-outlet-products
        :products="products"
        :chosenCategoryName="chosenCategoryName"
        :currentCurrency="currentCurrency"
        @selectProduct="selectProduct"
        v-if="Object.keys(products).length > 0"
      />
    </div>
    <span
      v-if="Object.keys(products).length > 0 && currentScroll"
      class="go-to-products"
      @click="scrollToProduct"
      >{{ $t('user.onlineOutlet.goToProducts') }}</span
    >
    <product-modal
      v-if="selectedProduct.id"
      :product="selectedProduct"
      :currentCurrency="currentCurrency"
      @cancelProduct="cancelProduct"
      @buyProduct="buyProduct"
    />
    <product-bill
      class="product-bill"
      :product="selectedProduct"
      :bill="bill"
      :currentCurrency="currentCurrency"
      v-if="bill.order_id"
      @apply="cancelProduct"
    />
  </section>
  <section v-else class="store -empty">
    <h2>
      {{ $t('user.onlineOutlet.noStore') }}
    </h2>
  </section>
</template>

<script>
import { format } from 'date-fns';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import ProductBill from '@/components/user/onlineOutlet/productBill';
import ProductModal from '@/components/user/onlineOutlet/ProductModal';
import OnlineOutletCategories from '@/components/user/onlineOutlet/OnlineOutletCategories';
import OnlineOutletProducts from '@/components/user/onlineOutlet/OnlineOutletProducts';

const onlineOutletRepository = RepositoryFactory.get('onlineOutlet');

export default {
  name: 'KidsOnlineStoreCatalog',
  components: {
    OnlineOutletProducts,
    OnlineOutletCategories,
    ProductBill,
    ProductModal,
  },
  props: {
    kidCamp: Object,
    currentUser: Object,
    currentCurrency: Object,
  },
  data: function() {
    return {
      bill: {},
      openedCategory: [],
      selectedProduct: {},
      selectedCategory: null,
      currentOutlet: {},
      outletCategories: {},
      products: [],

      currentScroll: false,
    };
  },
  computed: {
    chosenCategory() {
      let obj = { ...this.outletCategories };
      let arr = [...this.openedCategory];
      while (arr.length) {
        obj = obj.children[arr.shift()];
      }
      return obj;
    },
    chosenCategoryName() {
      if (this.chosenCategory?.id == this.selectedCategory) {
        return this.chosenCategory?.name;
      } else {
        let index = this.chosenCategory?.children?.findIndex(
          el => el.id == this.selectedCategory
        );
        return this.chosenCategory?.children[index]?.name;
      }
    },
  },
  watch: {
    'kidCamp.camp_id': {
      immediate: true,
      handler() {
        if (this.kidCamp?.camp_id) {
          this.setCurrentOutlet();
        }
      },
    },
    async selectedCategory(val) {
      this.getProducts(val);
    },
  },
  mounted() {
    window.addEventListener('scroll', this.onScroll);
    this.$on('hook:beforeDestroy', () => {
      window.removeEventListener('scroll', this.onScroll);
    });
  },
  methods: {
    onScroll() {
      if (document.getElementById('category')) {
        let offsetHeight = document.getElementById('category').offsetHeight;
        let elementTop =
          document.getElementById('category').getBoundingClientRect().top +
          window.pageYOffset;
        if (
          window.pageYOffset > elementTop - window.innerHeight &&
          window.pageYOffset < elementTop + offsetHeight - 100
        ) {
          this.currentScroll = true;
        } else {
          this.currentScroll = false;
        }
      }
    },
    async setCurrentOutlet() {
      let outletsList = [];
      this.currentOutlet = {};
      if (this.kidCamp?.camp_id) {
        //Get outlets list
        try {
          const resp = await onlineOutletRepository.getOutlet({
            camp_id: this.kidCamp?.camp_id,
          });
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Получение информации о торговой точке',
              'Возникла ошибка при получении информации о торговой точке',
              'error'
            );
          } else {
            outletsList = await resp?.data?.data;
          }
        } catch (err) {
          console.error(err);
        }
        //choose first outlet
        if (outletsList?.length > 0) {
          this.currentOutlet = await outletsList[0];
        }
        //Get current category
        await this.getOutletCategories();
        this.selectedCategory = this.chosenCategory.id;
      }
    },
    async getOutletCategories() {
      this.outletCategories = {};
      if (this.currentOutlet?.id) {
        try {
          const resp = await onlineOutletRepository.getCategories({
            outlet_id: this.currentOutlet?.id,
          });
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Получение списка категорий',
              'Возникла ошибка при получении списка категорий',
              'error'
            );
          } else {
            this.outletCategories = await resp?.data?.data;
          }
        } catch (err) {
          console.error(err);
        }
      }
    },
    async getProducts(val) {
      this.products = [];
      if (this.currentOutlet?.id) {
        try {
          const resp = await onlineOutletRepository.findProducts({
            outlet_id: this.currentOutlet?.id,
            category_id: val,
          });
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Получение списка товаров',
              'Возникла ошибка при получении списка товаров',
              'error'
            );
          } else {
            this.products = await resp?.data?.data;
          }
        } catch (err) {
          console.error(err);
        }
      }
    },

    async selectCategory(val) {
      if (val.is_parent) {
        await this.openedCategory.push(val.key);
      }
      this.selectedCategory = await val.id;
    },

    categoryUp() {
      this.openedCategory.splice(-1);
      this.selectedCategory = this.chosenCategory.id;
    },

    selectProduct(product) {
      let formatData = {
        ...product,
        event_date_start: product?.event_date_start
          ? format(new Date(product?.event_date_start), 'dd.MM.yyyy')
          : null,
        event_date_finish: product?.event_date_finish
          ? format(new Date(product?.event_date_finish), 'dd.MM.yyyy')
          : null,
      };
      this.selectedProduct = formatData;
    },

    cancelProduct() {
      this.selectedProduct = {};
      this.bill = {};
    },

    async buyProduct() {
      const data = {
        outlet_id: this.currentOutlet?.id,
        user_id: this.currentUser?.id,
        account_id: this.currentUser?.account_main,
        products: [
          {
            product: {
              id: this.selectedProduct?.id,
            },
          },
        ],
      };
      try {
        const resp = await onlineOutletRepository.buyProduct(
          JSON.stringify(data)
        );
        if (resp.data.status != 'ok') {
          componentErrorHandler(
            this,
            'Покупка товара',
            'Возникла ошибка при покупке товара',
            'error'
          );
        } else {
          if (this.$route.requiresChild) {
            await this.$store.dispatch(
              'user/getUserInfo',
              JSON.stringify({ id: this.currentUser.id })
            );
          } else {
            await this.$store.dispatch(
              'user/getKidAccount',
              JSON.stringify({ user_id: this.currentUser.id })
            );
          }
          this.bill = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    scrollToProduct() {
      document.getElementById('product').scrollIntoView({ behavior: 'smooth' });
    },
  },
};
</script>

<style lang="scss" scoped>
.store.-empty {
  padding: 20px;
}
.go-to-products {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: block;
  border: 1px solid rgba(12, 168, 173, 0.7);
  background: rgba(12, 168, 173, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 4px 1px grey;
  @media screen and (min-width: 801px) {
    display: none;
  }
}
</style>
