<template>
  <modal style="box-shadow: 5px 5px 5px 2px rgba(235, 235, 235, 0.75);">
    <template style="text-align: center;" #header
      ><h2>
        {{ $t('user.outlets.productSuccessPurchase') }}
      </h2></template
    >
    <template #body>
      <h3 style="text-align: center">
        {{ $t('user.outlets.youSuccessfullyBought') }}:
      </h3>

      <table style="margin: 0 auto">
        <tbody>
          <tr>
            <td style="padding: 10px 10px">
              <strong>{{ product.name }}</strong>
            </td>
            <td></td>
          </tr>
          <tr>
            <td style="padding: 10px 10px">{{ $t('user.outlets.bill') }} №</td>
            <td style="padding: 10px 10px">{{ bill.check_id }}</td>
          </tr>
          <tr>
            <td style="padding: 10px 10px" colspan="2">{{ formattedDate }}</td>
          </tr>
          <tr>
            <td style="padding: 10px 10px">{{ $t('user.fields.summ') }}:</td>
            <td style="padding: 10px 10px">
              {{
                `${(bill.total_sum * currentCurrency.ratio).toFixed(2)} JCoin`
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </template>
    <template #footer>
      <div class="buttons">
        <regular-button
          class="buttons__item"
          :elClass="['corporate']"
          @click="$emit('apply')"
          >{{ $t('user.buttons.apply') }}</regular-button
        >
      </div>
    </template>
  </modal>
</template>
<script>
import Modal from '@/components/common/Modal';
import { format } from 'date-fns';
import RegularButton from '@/components/primitives/RegularButton';
export default {
  name: 'productBill',
  components: { RegularButton, Modal },
  props: {
    product: Object,
    bill: Object,
    currentCurrency: Object,
  },
  computed: {
    formattedDate() {
      return format(new Date(this.bill.date), 'dd.MM.yyyy');
    },
  },
};
</script>

<style scoped></style>
