<template functional>
  <div class="background">
    <div @click="listeners['cancelProduct']" class="cancel-area"></div>
    <div class="modal">
      <div class="modal_body">
        <div class="product">
          <div class="product__main">
            <div
              class="product__main__img"
              :class="{ '-empty': !props.product.image }"
            >
              <img
                v-if="props.product.image"
                :src="`https://justapp.org:8081/${props.product.image}`"
                :alt="props.product.name"
              />
              <img
                v-if="!props.product.image"
                src="@/assets/img/svg/product.svg"
                alt="category.name"
                style=""
              />
            </div>
            <div
              v-if="
                props.product.event_date_start &&
                  props.product.event_date_finish
              "
              class="product__main__dates"
            >
              <div class="product__main__dates__container">
                <span v-if="props.product.event_date_start" class="date-from">{{
                  props.product.event_date_start
                }}</span>
                <span v-else class="date-from">...</span>

                <span v-if="props.product.event_date_finish" class="date-to">{{
                  props.product.event_date_finish
                }}</span>
                <span v-else class="date-to">...</span>
              </div>
            </div>
            <div class="product__main__title">
              <h2>
                {{ props.product.name }}
              </h2>
            </div>
          </div>
          <div class="product__description">
            <div
              class="product__description__content"
              v-html="props.product.comment"
            ></div>
            <div class="product__description__price">
              <span class="placeholder">Цена:</span>
              {{
                `${(props.product.price * props.currentCurrency.ratio).toFixed(
                  2
                )} JCoin`
              }}
            </div>
            <div class="product__description__buttons">
              <button @click="listeners['buyProduct']" class="accept">
                {{ parent.$t('user.buttons.pay') }}
              </button>
              <button @click="listeners['cancelProduct']" class="cancel">
                {{ parent.$t('user.buttons.cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);

  .cancel-area {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal {
    min-width: 40%;
    background: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    overflow-y: auto;
    max-height: 80vh;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    overflow-y: auto;

    @media screen and (max-width: 900px) {
      min-width: 80%;
      max-width: 80%;
    }

    .product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      @media screen and (max-width: 1600px) {
        flex-direction: column;
      }

      &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 10px;
        @media screen and (max-width: 1600px) {
          width: 100%;
        }
        &__img {
          overflow: hidden;
          margin-bottom: 20px;
          &.-empty {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 200px;
            }
          }
          img {
            max-width: 100%;
            width: 100%;
          }
        }
        &__title {
          text-align: center;
        }
        &__dates {
          border: 1px solid $corporate-light;
          background-image: $corporate-gradient-header;
          border-radius: 30px;
          padding: 3px 20px 11px 20px;
          max-width: 400px;
          width: 100%;
          align-self: center;

          @media screen and (max-width: 400px) {
            padding: 10px;
          }

          &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px dashed $grey;
            @media screen and (max-width: 400px) {
              flex-direction: column;
              border-bottom: 0px dashed transparent;
            }

            .date-from {
              color: $white;
              font-size: $regular;
              line-height: 20px;
              position: relative;
              padding-left: 20px;
              font-weight: 500;

              @media screen and (max-width: 400px) {
                padding-left: 0px;
              }

              @media screen and (min-width: 401px) {
                &:before {
                  position: absolute;
                  bottom: -6px;
                  left: 0px;
                  content: '';
                  width: 15px;
                  height: 15px;
                  background-color: $grey;
                  border-radius: 8px;
                }
              }
            }
            .date-to {
              color: $white;
              font-size: $regular;
              line-height: 20px;
              position: relative;
              padding-right: 20px;
              font-weight: 500;

              @media screen and (max-width: 400px) {
                padding-right: 0px;
              }

              @media screen and (min-width: 401px) {
                &:after {
                  position: absolute;
                  bottom: -6px;
                  right: 0px;
                  content: '';
                  width: 15px;
                  height: 15px;
                  background-color: $grey;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
      &__description {
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (max-width: 1600px) {
          width: 100%;
        }
        &__content {
          font-size: $regular + 2px;
          overflow-wrap: break-word;
        }
        &__price {
          font-size: $semi-big;
          font-weight: 600;
          text-align: right;

          .placeholder {
            font-size: $regular;
            font-weight: 600;
          }
        }
        &__buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 20px 0;

          @media screen and (max-width: 1600px) {
            flex-direction: column;
          }

          .accept {
            transition-duration: 0.2s;
            box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
            background-image: $corporate-gradient;
            border: 1px solid $corporate-menu;
            border-radius: 30px;
            padding: 15px 40px;
            color: $white;
            font-size: $semi-big;
            cursor: pointer;
            font-weight: 500;
            &:active {
              box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0);
              transform: translate(3px, 3px);
            }
            @media screen and (max-width: 1600px) {
              margin: 20px 0;
            }
          }
          .cancel {
            transition-duration: 0.2s;
            box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
            border: 1px solid $red;
            background-color: transparent;
            border-radius: 30px;
            padding: 15px 40px;
            font-size: $semi-big;
            color: $red;
            cursor: pointer;
            font-weight: 500;
            &:active {
              box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0);
              transform: translate(3px, 3px);
            }
            @media screen and (max-width: 1600px) {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
}
</style>
