<template>
  <modal @apply="$emit('apply')" @cancel="$emit('cancel')">
    <template #header
      ><h2 class="header">
        Возврат покупки.
      </h2>
    </template>
    <template #body>
      <div class="main__block">
        <h2 class="main__text">
          Вы подтверждаете возврат товара по ордеру №{{ product.id }} от
          {{
            product.created_at
              ? format(
                  new Date(fromUnixTime(product.created_at)),
                  'dd.MM.yyyy HH:mm'
                )
              : '-'
          }}
        </h2>
        <h2 class="main__text">
          Вернуть {{ product.name }} на сумму
          {{ `${(product.price * currentCurrency.ratio).toFixed(2)} JCoin` }}
        </h2>
      </div>
    </template>
  </modal>
</template>

<script>
import Modal from '@/components/common/Modal';
import { format, fromUnixTime } from 'date-fns';
import { mapState } from 'vuex';

export default {
  name: 'refundConfirmation',
  components: { Modal },
  data: function() {
    return {
      format,
      fromUnixTime,
    };
  },
  computed: {
    ...mapState({
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  props: {
    product: Object,
  },
};
</script>

<style lang="scss" scoped>
::v-deep .header {
  font-size: $big;
  color: $red-back;
  text-align: center;
}

::v-deep .main__block {
  margin: 40px 0;
}

::v-deep .main__text {
  text-align: center;
}
</style>
