<template>
  <section class="messages">
    <page-title :title="$t('user.titles.myRequests')" />
    <article
      v-for="message in messages"
      :key="message.id"
      class="messages__container"
    >
      <div class="messages__container__header">
        <div class="messages__container__header__top">
          <h3>{{ message.title }}</h3>
          <span
            class="messages__container__header__top__status"
            :class="[message.status == 1 ? '-new' : '-regular']"
            >{{ statuses[message.status] }}</span
          >
        </div>
        <div class="messages__container__header__additional">
          <span class="messages__container__header__additional__category">{{
            `${$t('user.fields.category')}: ${message.category.name}`
          }}</span>
          <time class="messages__container__header__additional__date">{{
            `${formatDate(message.created_at)}`
          }}</time>
        </div>
      </div>
      <div class="messages__container__body">
        <p>
          {{ message.descr }}
        </p>
      </div>
    </article>
  </section>
</template>

<script>
import { fromUnixTime, format } from 'date-fns';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
import { componentErrorHandler } from '@/helpers/methods/errorHandler';

import PageTitle from '@/components/user/common/PageTitle';

export default {
  name: 'ServiceMyRequests',
  components: {
    PageTitle,
  },
  props: {
    userId: [Number, String],
  },
  data: function() {
    return {
      messages: [],
      statuses: {
        1: 'Новый',
        2: 'В работе',
        3: 'Выполнено',
        4: 'Не обнаружено',
      },
    };
  },
  watch: {
    userId: {
      immediate: true,
      handler() {
        this.getServiceMessages();
      },
    },
  },
  methods: {
    formatDate(date) {
      if (date) {
        return format(fromUnixTime(date), 'dd.MM.yyyy hh:mm');
      }
    },
    async getServiceMessages() {
      const serviceMessagesRepository = RepositoryFactory.get(
        'serviceMessages'
      );
      let params = {
        user_id: this.userId,
      };
      try {
        const resp = await serviceMessagesRepository.getMessages(params);
        if (resp.data.status == 'ok') {
          this.messages = resp.data.data.items;
        } else {
          componentErrorHandler(
            this,
            'Получение категорий сервисных сообщений',
            'Возникла ошибка при получении категорий сервисных сообщений',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.messages {
  padding: 20px;
  &__container {
    margin-bottom: 30px;

    &__header {
      display: flex;
      flex-direction: column;

      &__top {
        display: flex;
        flex-direction: row;

        h3 {
          font-size: $semi-big;
          margin-right: 20px;
          margin-bottom: 10px;
        }

        &__status {
          font-size: $small;

          &.-new {
            color: $red;
          }
          &.-regular {
            color: $corporate;
          }
        }
      }
      &__additional {
        display: flex;
        flex-direction: row;

        &__category {
          font-size: $regular;
          padding-right: 20px;
        }

        &__date {
          font-size: $regular;
        }
      }
    }
    &__body {
      p {
        margin: 10px 0;
      }
    }
  }
}
</style>
