<template>
  <div class="request">
    <page-title :title="$t('user.titles.sendRequest')" />
    <div v-if="campId" class="request__info">
      <p>
        {{ $t('user.serviceRequest.sendWelcome') }}
      </p>
      <p>
        {{ $t('user.serviceRequest.sendInstructions') }}
      </p>
    </div>
    <div v-if="!campId" class="request__info">
      <h3 class="request__info--error">
        {{ $t('user.serviceRequest.noCamp') }}
      </h3>
    </div>
    <form name="request" class="request__form">
      <regular-select-slots
        :placeholder="$t('user.fields.category')"
        :optionList="categories"
        v-model="selectedCategory"
        v-show="campId"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.name }}
        </template>
      </regular-select-slots>
      <regular-input
        elId="title"
        :elLabel="$t('user.fields.title')"
        v-model="title"
      />
      <regular-text-area
        elId="message"
        :elLabel="$t('user.fields.message')"
        v-model="message"
      />
    </form>
    <div class="request__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="
          (!selectedCategory && selectedCategory != 0) || !title || !message
        "
        @click="createMessage"
        >{{ $t('user.buttons.send') }}</regular-button
      >
      <regular-button
        :elClass="['red']"
        @click="cancel"
        :elDisabled="
          !selectedCategory && selectedCategory != 0 && !title && !message
        "
        >{{ $t('user.buttons.cancel') }}</regular-button
      >
    </div>
  </div>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import PageTitle from '@/components/user/common/PageTitle';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import RegularButton from '@/components/primitives/RegularButton';
import RegularTextArea from '@/components/primitives/RegularTextArea';
import RegularInput from '@/components/primitives/RegularInput';

export default {
  name: 'ServiceSendRequest',
  components: {
    PageTitle,
    RegularInput,
    RegularTextArea,
    RegularButton,
    RegularSelectSlots,
  },
  props: {
    categories: Array,
    userId: [Number, String],
    campId: [Number, String],
  },
  data: function() {
    return {
      selectedCategory: null,
      title: null,
      message: null,
    };
  },
  watch: {
    userId() {
      this.cancel();
    },
  },
  methods: {
    async createMessage() {
      const serviceMessagesRepository = RepositoryFactory.get(
        'serviceMessages'
      );
      let data = {
        department_id: this.campId,
        category_id: this.categories[this.selectedCategory].id,
        title: this.title,
        descr: this.message,
        user_id: this.userId,
      };
      try {
        const resp = await serviceMessagesRepository.addMessage(
          JSON.stringify(data)
        );
        if (resp.data.status == 'ok') {
          componentErrorHandler(
            this,
            'Создание сервисного сообщения',
            'Сервисное сообщение создано.',
            'success'
          );
        } else {
          componentErrorHandler(
            this,
            'Создание сервисного сообщения',
            'Возникла ошибка при создании сервисного сообщения',
            'error'
          );
        }
      } catch (err) {
        console.error(err);
      }
    },
    cancel() {
      this.selectedCategory = null;
      this.title = null;
      this.message = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.request {
  padding: 20px;
  &__info {
    margin-bottom: 20px;
    p {
      font-size: $regular;
      text-align: justify;
    }
    &--error {
      color: $red;
      text-align: center;
    }
  }
  &__form {
    margin-bottom: 50px;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > * {
      margin: 0 30px;

      @media screen and (max-width: 500px) {
        margin: 10px 0;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }
}
</style>
