<template>
  <div class="language" v-click-outside-except="{ handler: collapse }">
    <div
      class="language__current"
      :class="{ expanded: listExpanded }"
      @click.prevent="listExpanded = !listExpanded"
    >
      {{ currentLanguage }}
      <img
        src="@/assets/img/svg/arrow-thin-white.svg"
        :class="{ expanded: listExpanded }"
        alt="Arrow"
      />
    </div>
    <ul class="language__list" :class="{ expanded: listExpanded }">
      <li
        v-for="(language, key) in languageList"
        :key="key"
        @click="selectLanguage(language.abr, language.enabled)"
        class="language__list__item"
        :class="{
          '-disabled': !language.enabled,
          active: language.abr == $i18n.locale,
        }"
      >
        {{ language.title }}
      </li>
    </ul>
  </div>
</template>
<script>
import { ClickOutsideExcept } from '@/helpers/directives/ClickOutsideDirectiveExcept.js';
import languageList from '@/lang/languageList.js';

export default {
  name: 'FooterLanguageSelector',
  data: function() {
    return {
      listExpanded: false,
      languageList: languageList,
    };
  },
  directives: {
    ClickOutsideExcept,
  },
  computed: {
    currentLanguage() {
      return this.languageList.find(x => x.abr === this.$i18n.locale).title;
    },
  },
  methods: {
    selectLanguage(lang, enabled) {
      if (enabled === true) {
        this.$cookies.set('locale', lang);
        this.$root.$i18n.locale = lang;
        this.listExpanded = false;
      }
    },
    collapse() {
      this.listExpanded = false;
    },
  },
};
</script>

<style scoped lang="scss">
.language {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;

  &__current {
    font-size: $regular + 2px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      position: absolute;
      right: 20px;
      height: 20px;
      width: auto;
      transform: rotateZ(90deg);

      &.expanded {
        transform: rotateZ(-90deg);
      }
    }

    /*&:after {*/
    /*  @media screen and (max-width: 800px) {*/
    /*    content: url('../../assets/img/svg/common-icons/arrow.svg');*/
    /*    position: absolute;*/
    /*    width: 20px;*/
    /*    transform: rotate(90deg);*/
    /*    filter: invert(100%);*/
    /*    right: 0;*/
    /*  }*/
    /*}*/

    &.expanded {
      &:after {
        @media screen and (max-width: 800px) {
          transform: rotate(270deg);
        }
      }
    }
  }
  &__list {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    z-index: 9999;
    padding: 15px;
    margin: 0;
    list-style: none;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: $white;
    transition: all 0.3s;
    transform: translate(0, -100%);

    @media screen and (max-width: 800px) {
      width: 100%;
      left: 0;
    }

    &.expanded {
      max-height: 50vh;
      opacity: 1;

      .language__list__item {
        display: block;
        &.active {
          display: none;
        }
      }
    }

    &__item {
      padding: 3px 0;
      color: $black-font;
      cursor: pointer;
      display: none;

      &.active {
        display: none;
      }

      &.-disabled {
        color: $light-grey-font;
      }
    }
  }
}
</style>
