<template>
  <div class="hint">
    <div class="hint__container">
      <span @mouseover="hint" @mouseout="hint" class="hint__container__ico"
        >?</span
      >
      <div
        v-show="showHint"
        id="hint"
        :class="hintPositionClasses"
        class="hint__container__message"
      >
        <slot name="text"> </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hint',
  data: function() {
    return {
      showHint: false,
      hintPositionClasses: [],
    };
  },
  methods: {
    async hint() {
      this.hintPositionClasses = [];
      if (!this.showHint) {
        this.showHint = await true;
        let elem = await document.querySelector('#hint');
        let app = await document.querySelector('#app');
        if (
          elem.getBoundingClientRect().right > app.getBoundingClientRect().right
        ) {
          this.hintPositionClasses.push('left');
        }
        if (elem.getBoundingClientRect().top < 77) {
          this.hintPositionClasses.push('bottom');
        }
        if (elem.getBoundingClientRect().left < 0) {
          this.hintPositionClasses.push('right');
        }
      } else {
        this.showHint = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.hint {
  &__container {
    position: relative;
    &__ico {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark-grey-font;
      background: $white;
      border: 1px solid $dark-grey-font;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      font-weight: 500;
      cursor: pointer;
    }
    &__message {
      position: absolute;
      width: max-content;
      max-width: 39vw;
      z-index: 9999;
      padding: 10px 20px;
      background: $white;
      color: $dark-grey-font;
      top: -10px;
      left: 10px;
      transform: translate(-50%, -100%);
      border: 1px solid $active-border;
      border-radius: 5px;
      box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
      @media screen and (max-width: 800px) {
        max-width: 70vw;
      }
      &.left {
        transform: translateY(-100%) translateX(-100%);
        left: 20px;
        &.bottom {
          transform: translateY(100%) translateX(-100%);
          top: unset;
          bottom: -10px;
        }
      }
      &.right {
        transform: translateY(-100%) translateX(0%);
        left: 0px;
        &.bottom {
          transform: translateY(100%) translateX(0%);
          top: unset;
          bottom: -10px;
        }
      }
      &.bottom {
        transform: translateY(100%) translateX(-50%);
        top: unset;
        bottom: -10px;
      }
    }
  }
}
</style>
