<template functional>
  <div class="loader">
    <div class="loader__spiner">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-color: rgba(50, 50, 50, 0.7);

  &__spiner {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 45vh auto;

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $corporate;
      margin: 35px 5px;
      opacity: 0;

      &:nth-child(1) {
        animation: opacitychange 1s ease-in-out infinite;
      }
      &:nth-child(2) {
        animation: opacitychange 1s ease-in-out 0.33s infinite;
      }
      &:nth-child(3) {
        animation: opacitychange 1s ease-in-out 0.66s infinite;
      }
    }
  }
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
</style>
