<template>
  <div class="background">
    <div class="modal">
      <div class="modal_header">
        <slot name="header"></slot>
      </div>
      <div class="modal_body">
        <slot name="body"></slot>
      </div>
      <div class="modal_footer">
        <slot name="footer">
          <div class="buttons">
            <regular-button
              class="buttons__item"
              :elClass="['corporate']"
              @click="apply"
              >{{ $t('elements.apply') }}</regular-button
            >
            <regular-button
              class="buttons__item"
              :elClass="['grey']"
              @click="cancel"
              >{{ $t('elements.cancel') }}</regular-button
            >
          </div>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from './../primitives/RegularButton.vue';

export default {
  name: 'modal',
  components: { RegularButton },
  methods: {
    apply() {
      this.$emit('apply');
    },
    cancel() {
      this.$emit('cancel');
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(235, 235, 235, 0.6);

  .modal {
    min-width: 40%;
    background: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    overflow-y: auto;
    max-height: 80vh;

    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
}
</style>
