<template>
  <div class="notifications">
    <ul v-if="notificationList.length > 0" class="notifications__list">
      <li
        v-for="(notification, key) in notificationList"
        :key="'notification-' + key"
        v-show="notification.status === 'new'"
        class="notification-list__item"
      >
        <notification-item :notification="notification" />
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import notificationItem from './NotificationItem.vue';

export default {
  name: 'Notifications',
  components: {
    notificationItem,
  },
  computed: {
    ...mapState({
      notificationList: state => state.notifications.notificationList,
    }),
  },
};
</script>

<style lang="scss" scoped>
.notifications {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 99999;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 400px;

  &__list {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
  }
}
</style>
