<template>
  <div class="notification" :class="{ closed: closed }">
    <div class="notification__container">
      <a class="notification__container__close" @click="close">x</a>
      <h3
        class="notification__container__title"
        :class="{
          success: notification.notificationType == 'success',
          warning: notification.notificationType == 'warning',
          info: notification.notificationType == 'info',
          error: notification.notificationType == 'error',
        }"
      >
        {{ notification.title }}
      </h3>
      <span class="notification__container__date">
        <span v-if="notification.time || notification.date"
          >{{ notification.time }} / {{ notification.date }}</span
        >
      </span>
      <span class="notification__container__message">
        {{ notification.text }}
      </span>
    </div>
  </div>
</template>

<script>
const ShowTime = 10000;

export default {
  name: 'NotificationItem',
  props: {
    notification: Object,
  },
  data: function() {
    return {
      closed: false,
    };
  },
  mounted() {
    let notificationStatus = {};
    notificationStatus.status = 'shown';
    notificationStatus.id = this.notification.id;
    setTimeout(() => {
      this.close();
    }, ShowTime);
  },
  methods: {
    close() {
      let notificationStatus = {};
      notificationStatus.status = 'shown';
      notificationStatus.id = this.notification.id;
      this.$store.dispatch(
        'notifications/changeNotificationStatus',
        notificationStatus
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.notification {
  padding: 10px 20px;
  margin: 10px 0;
  box-shadow: 0 0 6px $grey;
  border-radius: 0 10px 10px 0;
  position: relative;
  background-color: $white;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    &__title {
      margin: 0 0 5px 0px;
      &.success {
        color: $corporate;
      }
      &.warning {
        color: $dark-grey-font;
      }
      &.info {
        color: $dark-grey-font;
      }
      &.error {
        color: $red;
      }
    }
    &__date {
      margin-bottom: 10px;
    }
    &__message {
    }
  }
}
</style>
