<script>
import io from 'socket.io-client';
import { componentNotificationHandler } from '@/helpers/methods/NotificationHandler';

let socket = null;
const chatUrl = process.env.VUE_APP_API_NOTIFICATIONS;

export default {
  name: 'NotificationCatcher',
  props: {
    id: Number,
  },
  render(createElement) {
    return createElement();
  },
  mounted() {
    this.connect();
  },
  methods: {
    connect() {
      console.log('⚡ Try connect');
      socket = io(chatUrl, {
        // path: '/v1/notification',
        transports: ['websocket'],
      });
      socket.on('connect', () => {
        console.log('✅ Connected!');
        this.status = 'connected';
        socket.emit('user', this.id);
      });
      socket.on('notifications', msg => {
        if (msg?.length > 0) {
          msg.forEach(item => {
            let title =
              item.sender_role == 'camp_admin'
                ? 'Сообщение от Администрации лагеря.'
                : 'Сообщение от Администрации сайта.';
            componentNotificationHandler(this, title, item.message, 'info');
            socket.emit('status_read', { notification_id: item.id, status: 2 });
          });
        }
      });
    },
  },
};
</script>

<style scoped></style>
