<template>
  <div class="pagination">
    <h3 class="pagination__header">
      {{ $t('elements.pagination.page') }} <b>{{ currentPage }}</b
      >. {{ $t('elements.pagination.items') }}
      <b>{{ fromItem }} - {{ toItem }}</b> {{ $t('elements.pagination.out') }}
      <b>{{ items }}</b
      >.
    </h3>
    <div class="pagination__container">
      <div class="pagination__container__pages">
        <span
          class="pagination__container__pages__dots"
          v-if="startDots"
          @click="$emit('changePage', 1)"
          >...</span
        >
        <ul class="pagination__container__pages__list">
          <li
            v-for="(page, key) in pagination"
            :key="'pagination-' + key"
            class="pagination__container__pages__list__number"
            :class="{ '-current': page == currentPage }"
            @click="$emit('changePage', page)"
          >
            {{ page }}
          </li>
        </ul>
        <span
          class="pagination__container__pages__dots"
          v-if="endDots"
          @click="$emit('changePage', pages)"
          >...</span
        >
      </div>
      <div class="pagination__container__per-page">
        <select
          @change="$emit('changePerPage', $event.target.value)"
          class="pagination__container__per-page__select"
        >
          <option
            v-for="(option, key) in perPageOptions"
            :key="'perPage-' + key"
            :value="option"
            :selected="option == perPage"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      perPageOptions: [1, 10, 20, 30, 40],
    };
  },
  props: {
    currentPage: Number,
    pages: Number,
    perPage: Number,
    items: Number,
  },
  computed: {
    pagination() {
      let pagesList = [];
      if (this.pages < 5) {
        for (let i = 1; i <= this.pages; i++) {
          pagesList.push(i);
        }
      } else {
        for (
          let i = this.currentPage - 2 > 0 ? this.currentPage - 2 : 1;
          i <=
          (this.currentPage + 2 < this.pages
            ? this.currentPage + 2
            : this.pages);
          i++
        ) {
          pagesList.push(i);
        }
      }
      return pagesList;
    },
    startDots() {
      return this.pages > 5 && this.currentPage > 3;
    },
    endDots() {
      return this.pages > 5 && this.currentPage < this.pages - 2;
    },
    fromItem() {
      return this.perPage * (this.currentPage - 1) + 1;
    },
    toItem() {
      return this.perPage * this.currentPage > this.items
        ? this.items
        : this.perPage * this.currentPage;
    },
  },
};
</script>

<style lang="scss" scoped>
.pagination {
  &__header {
    padding: 10px 0px 0px 0px;
    margin: 20px 0 5px 0;
    font-weight: 400;
    font-size: $regular;
  }
  &__container {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__pages {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__dots {
        cursor: pointer;
      }

      &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;

        &__number {
          padding: 10px;
          font-weight: 500;
          font-size: $regular + 2px;
          cursor: pointer;

          &.-current {
            background-color: $corporate;
          }
        }
      }
    }
    &__per-page {
      &__select {
        font-size: $regular + 2px;
        border-top: 0 solid transparent;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 1px solid $border;
        padding: 0 10px;
        margin: 0 10px;
      }
    }
  }
}
</style>
