<template>
  <section class="password">
    <page-title :title="$t('user.titles.changePassword')" />
    <p class="password__description">
      {{ $t('user.settings.passwordInstructions') }}
    </p>
    <form class="edit-user">
      <regular-input
        elId="oldPassword"
        :elLabel="$t('user.fields.oldPassword') + '*'"
        :error="!$v.passwords.old.required"
        :errorMessages="{
          [$t('user.fieldErrors.fieldRequired')]: !$v.passwords.old.required,
        }"
        elType="password"
        v-model="passwords.old"
      />
      <regular-input
        elId="password"
        :elLabel="$t('user.fields.password') + '*'"
        elType="password"
        :error="!$v.passwords.new.required || passwords.new.length < 6"
        :errorMessages="{
          [`${$t('user.fieldErrors.fieldRequired')}, ${$tc(
            'user.fieldErrors.minLength',
            6
          )}`]: !$v.passwords.new.required || passwords.new.length < 6,
        }"
        v-model="passwords.new"
      />
      <regular-input
        elId="passwordRepeat"
        :elLabel="$t('user.fields.passwordCheck') + '*'"
        elType="password"
        :errorMessages="{
          [$t('user.fieldErrors.fieldRequired')]: !$v.passwords.repeat.required,
          [$t('user.fieldErrors.samePassword')]: !$v.passwords.repeat
            .sameAsPassword,
        }"
        :error="$v.passwords.repeat.$invalid"
        v-model="passwords.repeat"
      />
    </form>
    <div class="password__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="$v.passwords.$invalid"
        @click="send"
      >
        {{ $t('user.buttons.apply') }}
      </regular-button>
    </div>
  </section>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, sameAs } from 'vuelidate/lib/validators';

import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import PageTitle from '@/components/user/common/PageTitle';
import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';

export default {
  name: 'Password',
  components: {
    PageTitle,
    RegularInput,
    RegularButton,
  },
  mixins: [validationMixin],
  props: {
    userId: [Number, String],
  },
  data: function() {
    return {
      passwords: {
        old: null,
        new: null,
        repeat: null,
      },
    };
  },
  validations: {
    passwords: {
      old: {
        required,
      },
      new: {
        required,
      },
      repeat: {
        required,
        sameAsPassword: sameAs('new'),
      },
    },
  },
  methods: {
    async send() {
      const AuthRepository = RepositoryFactory.get('auth');
      let data = {
        user_id: this.userId,
        password: this.passwords.old,
        new_password: this.passwords.new,
      };
      try {
        const resp = await AuthRepository.changePassword(JSON.stringify(data));
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Смена пароля',
            'Возникла ошибка при попутке смены пароля.',
            'error'
          );
        } else {
          componentErrorHandler(
            this,
            'Смена пароля',
            'Смена пароля прошла успешно!',
            'success'
          );
          this.passwords = {
            old: null,
            new: null,
            repeat: null,
          };
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.edit-user {
  @media screen and (min-width: 900px) {
    max-width: 60%;
    margin: 0 auto;
  }
}
.password {
  padding: 20px;
  &__description {
  }
  &__buttons {
    margin-top: 30px;
    text-align: center;

    &__separator {
      margin: 0 10px;
    }
  }
}
</style>
