<template>
  <section class="user">
    <page-title :title="$t('user.titles.profile')" />
    <form class="edit-user">
      <div class="user__birth">
        <regular-select
          :placeholder="$t('user.fields.birthday')"
          class="user__birth__day"
          :option-list="days"
          :value="user.userDay"
          @select="selectDate"
        />
        <regular-select
          :placeholder="$t('user.fields.month')"
          class="user__birth__month"
          :option-list="monthes"
          :value="user.userMonth"
          @select="selectMonth"
        />
        <regular-select
          :placeholder="$t('user.fields.year')"
          class="user__birth__year"
          :option-list="years"
          :value="user.userYear"
          @select="selectYear"
        />
      </div>
      <regular-select
        :placeholder="$t('user.fields.gender')"
        :option-list="genderList"
        :value="user.gender == 'null' ? null : user.gender"
        @select="selectGender"
      />
      <regular-input
        elId="name"
        :elLabel="$t('user.fields.name')"
        v-model="user.name"
      />
      <regular-input
        elId="second_name"
        :elLabel="$t('user.fields.secondName')"
        v-model="user.surname"
      />
      <regular-input
        elId="email"
        :elLabel="$t('user.fields.email')"
        v-model="user.email"
      />
      <regular-input-masked
        elId="login"
        :elLabel="$t('user.fields.phone') + '*'"
        :mask="'+# ### ###-##-## (#)'"
        v-model="user.login"
      />
      <regular-input
        elId="city"
        :elLabel="$t('user.fields.city')"
        v-model="user.city"
      />
    </form>
    <div class="user-photo">
      <regular-file-input
        class="user-photo__input"
        :label="$t('user.settings.uploadProfilePhoto')"
        @uploaded="fileAdded"
      />
      <div class="user-photo__instructions">
        <img
          v-if="user.gender == 'female'"
          src="@/assets/img/svg/user-photo/boy.svg"
        />
        <img v-else src="@/assets/img/svg/user-photo/boy.svg" />
        <p>
          {{ $t('user.settings.photoInstructions') }}
        </p>
      </div>
    </div>
    <div class="user__buttons">
      <regular-button
        :elClass="['corporate']"
        :elDisabled="false"
        @click="editApply"
      >
        {{ $t('user.buttons.apply') }}
      </regular-button>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
import { mapState } from 'vuex';
import { format } from 'date-fns';
import { validationMixin } from 'vuelidate';

import { dates } from '@/helpers/data/dates.js';
import userValidate from '@/helpers/validations/user.js';

import PageTitle from '@/components/user/common/PageTitle';
import RegularInput from '@/components/primitives/RegularInput.vue';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularSelect from '@/components/primitives/RegularSelect.vue';
import RegularFileInput from '@/components/primitives/RegularFileInput.vue';

export default {
  name: 'Profile',
  components: {
    PageTitle,
    RegularInput,
    RegularButton,
    RegularSelect,
    RegularFileInput,
    RegularInputMasked,
  },
  mixins: [validationMixin, dates],
  data: function() {
    return {
      user: {
        id: null,
        userDay: null,
        userMonth: null,
        userYear: null,
        gender: null,
        name: '',
        second_name: '',
        email: '',
        phone: '',
        city: '',
        isAdmin: null,
        file: null,
      },
      genderList: [
        { name: this.$t('user.fields.genderValue.male'), value: 'male' },
        { name: this.$t('user.fields.genderValue.female'), value: 'female' },
      ],
    };
  },
  computed: {
    ...mapState({
      coreURL: state => state.common.urls.core,
      userInfo: state => state.user.info,
    }),
  },
  watch: {
    userInfo: {
      immediate: true,
      handler(val) {
        this.setUserData(val);
      },
    },
  },
  validations: userValidate,
  methods: {
    fileAdded(file) {
      this.user.file = file;
    },
    editApply() {
      let formData = new FormData();
      const regEx = /[^\d]/g;
      if (this.user?.userYear && this.user?.userMonth && this.user?.userDay) {
        let chosenDate = `${this.user?.userYear}-${(
          '0' + this.user?.userMonth
        ).slice(-2)}-${('0' + this.user?.userDay).slice(-2)}`;

        let birthday = '' + chosenDate;
        formData.append('birthday', birthday);
      }
      if (this.user.file) {
        formData.append('pic', this.user?.file, `${this.user?.id}_avatar`);
      }
      formData.append('userId', this.user?.id);
      formData.append('name', this.user?.name);
      formData.append('surname', this.user?.surname);
      formData.append('email', this.user?.email);
      formData.append('username', this.user?.phone);
      formData.append('password', this.user?.password);
      formData.append('gender', this.user?.gender);
      formData.append('city', this.user?.city);
      formData.append('username', this.user?.login?.replace(regEx, ''));
      axios
        .post(this.coreURL + '/rest/v1/auth/edit', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .then(data => {
          if (data?.data?.ok) {
            console.log('ok');
            var userId = localStorage.getItem('userId');
            this.$store.dispatch(
              'user/getUserInfo',
              JSON.stringify({ id: userId })
            );
          }
        })
        .catch(function(err) {
          console.error('FAILURE!!', err);
        });
    },
    selectDate(date) {
      this.$set(this.user, 'userDay', date);
    },
    selectMonth(month) {
      this.$set(this.user, 'userMonth', month);
    },
    selectYear(year) {
      this.$set(this.user, 'userYear', year);
    },
    selectGender(gender) {
      this.user.gender = gender;
    },
    setUserData(user) {
      this.user = user;
      this.$set(
        this.user,
        'userDay',
        format(new Date(user.birthday), 'dd') * 1
      );
      this.$set(
        this.user,
        'userMonth',
        format(new Date(user.birthday), 'MM') * 1
      );
      this.$set(
        this.user,
        'userYear',
        format(new Date(user.birthday), 'yyyy') * 1
      );
    },
  },
};
</script>

<style scoped lang="scss">
.edit-user {
}
.user {
  padding: 20px;
  &__birth {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }

    &__day {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
      @media screen and (max-width: 550px) {
        max-width: 100%;
      }
    }
    &__month {
      max-width: 40%;
      display: flex;
      flex-grow: 1;
      @media screen and (max-width: 550px) {
        max-width: 100%;
      }
    }
    &__year {
      max-width: 30%;
      display: flex;
      flex-grow: 1;
      @media screen and (max-width: 550px) {
        max-width: 100%;
      }
    }
  }
  &__buttons {
    margin-top: 30px;
    text-align: center;
  }
  &__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    &__forgot {
      display: inline-block;
      color: $corporate;
      font-size: $small;
      font-weight: 500;
    }
  }
  .user-photo {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    &__input {
      width: 100%;
    }
    &__instructions {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: center;
      img {
        width: 100px;
      }
    }
  }
}
</style>
