<template>
  <div class="advantages">
    <div class="advantages__top">
      <div class="advantages__top__text">
        <h2 class="advantages__top__text__title">
          {{ $t('elements.advantagesTitle') }}
        </h2>
        <img
          class="advantages__top__text__img-mobile"
          src="./../../assets/img/home/advantage-kids.png"
          alt=""
        />
        <div class="advantages__top__text__container">
          <div class="advantages__top__text__container__img">
            <img src="./../../assets/img/home/advantage-hand.png" alt="" />
          </div>
          <div class="advantages__top__text__container__blocks">
            <div class="advantages__top__text__container__blocks__item">
              <h3 class="advantages__top__text__container__blocks__item__title">
                {{ $t('elements.advantagesFirstBlockTitle') }}
              </h3>
              <p
                class="advantages__top__text__container__blocks__item__content"
              >
                {{ $t('elements.advantagesFirstBlockContent') }}
              </p>
            </div>
            <div class="advantages__top__text__container__blocks__item">
              <h3 class="advantages__top__text__container__blocks__item__title">
                {{ $t('elements.advantagesSecondBlockTitle') }}
              </h3>
              <p
                class="advantages__top__text__container__blocks__item__content"
              >
                {{ $t('elements.advantagesSecondBlockContent') }}
              </p>
            </div>
            <div class="advantages__top__text__container__blocks__item">
              <h3 class="advantages__top__text__container__blocks__item__title">
                {{ $t('elements.advantagesThirdBlockTitle') }}
              </h3>
              <p
                class="advantages__top__text__container__blocks__item__content"
              >
                {{ $t('elements.advantagesThirdBlockContent') }}
              </p>
            </div>
            <!--            <regular-button-->
            <!--              :elClass="['corporate']"-->
            <!--              class="advantages__top__text__container__blocks__button"-->
            <!--              @click="register"-->
            <!--            >-->
            <!--              <img src="./../../assets/img/svg/user-white.svg" alt="" />-->
            <!--              {{ $t('elements.register') }}-->
            <!--            </regular-button>-->
          </div>
        </div>
      </div>
      <div class="advantages__top__img">
        <div class="advantages__top__img__bg"></div>
        <img
          class="advantages__top__img__content"
          src="./../../assets/img/home/advantage-kids.png"
          alt=""
        />
        <!-- <div class="advantages__top__img__content">
                    
                </div> -->
      </div>
    </div>
    <div class="advantages__bottom">
      <p class="advantages__bottom__text">
        {{ $t('elements.advantagesBottomText') }}
      </p>
      <p class="advantages__bottom__text">
        {{ $t('elements.advantagesBottomText1') }}
      </p>
      <h3 class="advantages__bottom__title">
        {{ $t('elements.advantagesBottomTitle') }}
      </h3>
      <p class="advantages__bottom__text">
        <b>
          {{ $t('elements.advantagesBottomText2') }}
        </b>
      </p>
    </div>
  </div>
</template>

<script>
// import RegularButton from '../../components/primitives/RegularButton.vue';
export default {
  name: 'advantages',
  components: {
    // RegularButton,
  },
  methods: {
    register() {
      this.$router.push('/auth/register');
    },
  },
};
</script>

<style lang="scss" scoped>
.-scrolled + .advantages {
  margin-top: 130.27px;
}
.advantages {
  margin-bottom: 100px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }

  &__top {
    max-width: 1400px;
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }

    &__text {
      position: relative;
      z-index: 99;

      &__img-mobile {
        display: none;

        @media screen and (max-width: 700px) {
          margin-bottom: 20px;
          display: block;
          width: 150%;
          margin-left: -25%;
        }
      }

      &__title {
        font-size: $big;
        color: $black-font;
        font-weight: 600;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          // border-radius: 3px;
          background-image: $corporate-gradient;
          width: 45px;
          height: 4px;
          bottom: -13px;
          left: 0;
        }
        &:after {
          content: '';
          position: absolute;
          width: 45px;
          height: 4px;
          bottom: -13px;
          border-bottom: 4px dashed $border;
          left: 50px;
        }
      }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        &__img {
          border: 1px solid $border;
          border-radius: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding-top: 80px;
          width: 305px;
          height: 305px;
          margin-right: -50px;

          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
        &__blocks {
          padding-top: 20px;

          @media screen and (max-width: 1024px) {
            padding-top: 0;
          }

          &__item {
            position: relative;
            padding-left: 64px;

            &:before {
              position: absolute;
              content: '';
              top: 50%;
              background-image: url('./../../assets/img/home/advantage-arrow.png');
              margin-top: -27px;
              width: 54px;
              height: 54px;
              left: 0px;
            }

            &:nth-child(2) {
              @media screen and (min-width: 1024px) {
                margin-left: 28px;
              }
            }

            &__title {
              font-size: $semi-big + 2px;
              color: $black-font;
              font-weight: 600;
              padding: 0;
              margin: 10px 0;
            }

            &__content {
              color: $dark-grey-font;

              @media screen and (max-width: 1024px) and (min-width: 700px) {
                font-size: $regular + 2px;
                font-weight: 600;
                color: $black-font;
              }

              @media screen and (min-width: 1024px) {
                max-width: 400px;
              }
            }
          }
          &__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 1024px) {
              margin: 30px auto;
            }

            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
    &__img {
      position: relative;
      padding: 20px;
      z-index: 1;

      @media screen and (max-width: 1024px) {
        left: -300px;
        opacity: 0.4;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }

      &__bg {
        content: '';
        bottom: -700px;
        left: 0;
        height: 1000px;
        min-width: 1000px;
        width: 50vw;
        position: absolute;
        overflow: visible;
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &__content {
        position: absolute;
        z-index: 99;
      }
    }
  }
  &__bottom {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto 60px auto;
    position: relative;
    z-index: 999;

    &__text {
      font-size: $regular;
      color: $dark-grey-font;
      font-weight: 400;
      text-align: justify;
      max-width: 1000px;
      margin: 0 auto;

      b {
        font-weight: 600;
        color: $black-font;
      }
    }

    &__title {
      font-size: $semi-big;
      font-weight: 600;
      color: $black-font;
      text-align: center;
      margin: 30px 0;
    }
  }
}
</style>
