<template>
  <div class="child">
    <div class="child__container">
      <div class="child__container__graf">
        <div class="child__container__graf__bg"></div>
        <img
          class="child__container__graf__img"
          src="./../../assets/img/home/child-image.png"
          alt=""
        />
      </div>
      <div class="child__container__content">
        <h3 class="child__container__content__header">
          {{ $t('elements.childHeader') }}
        </h3>
        <ol class="child__container__content__list">
          <li class="child__container__content__list__item">
            <span class="child__container__content__list__item__number">1</span>
            <span class="child__container__content__list__item__text">{{
              $t('elements.childItem1')
            }}</span>
          </li>
          <li class="child__container__content__list__item">
            <span class="child__container__content__list__item__number">2</span>
            <span class="child__container__content__list__item__text">{{
              $t('elements.childItem2')
            }}</span>
          </li>
          <li class="child__container__content__list__item">
            <span class="child__container__content__list__item__number">3</span>
            <span class="child__container__content__list__item__text">{{
              $t('elements.childItem3')
            }}</span>
          </li>
          <li class="child__container__content__list__item">
            <span class="child__container__content__list__item__number">4</span>
            <span class="child__container__content__list__item__text">{{
              $t('elements.childItem4')
            }}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'child',
};
</script>

<style lang="scss" scoped>
.child {
  margin-bottom: 200px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 100px;
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 50px;
  }

  &__container {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }

    &__graf {
      position: relative;
      max-width: 50%;
      min-width: 50%;

      @media screen and (max-width: 1024px) {
        max-width: 50%;
        min-width: 50%;
      }
      @media screen and (max-width: 700px) {
        max-width: 100%;
        min-width: 100%;
      }

      &__bg {
        content: '';
        bottom: -700px;
        right: 0;
        height: 1000px;
        min-width: 1000px;
        width: 50vw;
        position: absolute;
        overflow: visible;
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      &__img {
        position: absolute;
        z-index: 99;
        right: 20px;

        @media screen and (max-width: 1024px) {
          opacity: 0.3;
        }

        @media screen and (max-width: 700px) {
          max-width: 200%;
          min-width: 200%;
          position: relative;
          left: -50%;
          opacity: 1;
        }
      }
    }

    &__content {
      max-width: 50%;
      margin-top: 100px;
      padding-left: 20px;

      @media screen and (max-width: 1024px) {
        max-width: 70%;
        min-width: 70%;
        margin-top: 50px;
        margin-left: -200px;
        position: relative;
        z-index: 99;
        padding-left: 0;
      }
      @media screen and (max-width: 700px) {
        margin-left: 0px;
        max-width: 100%;
        min-width: 100%;
      }

      &__header {
        font-size: $big + 6px;
        font-weight: 600;
        position: relative;

        @media screen and (max-width: 700px) {
          font-size: $big - 4px;
        }

        &:before {
          content: '';
          position: absolute;
          // border-radius: 3px;
          background-image: $corporate-gradient;
          width: 45px;
          height: 4px;
          bottom: -13px;
          left: 0;
        }
        &:after {
          content: '';
          position: absolute;
          width: 45px;
          height: 5px;
          bottom: -13px;
          border-bottom: 4px dashed $border;
          left: 50px;
        }
      }
      &__list {
        list-style: none;
        padding: 0;

        &__item {
          padding: 5px 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          &__number {
            font-size: $regular;
            font-weight: 500;
            color: $black-font;
            min-height: 54px;
            min-width: 54px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-image: url('./../../assets/img/home/circle.png');
            margin-right: 10px;
          }
          &__text {
            font-size: $regular + 1px;
            text-align: justify;
            @media screen and (max-width: 1024px) {
              font-size: $regular;
            }
          }
        }
      }
    }
  }
}
</style>
