<template>
  <div class="counter">
    <page-title :title="$t('home.counter.already')" />
    <div class="counter__container">
      <div class="counter__container__item">
        <span class="value">
          {{
            counter.users > 0
              ? counter.users.toLocaleString('ru-RU')
              : '--- ---'
          }}
        </span>
        <span class="label">{{
          $tc('home.counter.users', counter.users)
        }}</span>
      </div>
      <div class="counter__container__item">
        <span class="value">{{
          counter.companies > 0
            ? counter.companies.toLocaleString('ru-RU')
            : '---'
        }}</span>
        <span class="label">{{
          $tc('home.counter.companies', counter.companies)
        }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/user/common/PageTitle';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
export default {
  name: 'Counters',
  components: { PageTitle },
  async mounted() {
    const commonRepository = RepositoryFactory.get('common');
    try {
      const resp = await commonRepository.getCounter();
      if (resp.data.status == 'ok') {

        this.counter.users = resp.data.data.users;
        this.counter.companies = resp.data.data.companies;
      } else {
        this.counter.users = 12432;
        this.counter.companies = 122;
        console.error(resp.data);
      }
    } catch (err) {
      this.counter.users = 21883;
      this.counter.companies = 24;
      console.error(err);
    }
  },
  data: function() {
    return {
      counter: {
        users: 0,
        companies: 0,
      },
    };
  },
};
</script>

<style scoped lang="scss">
::v-deep .title {
  font-size: $ultra-big;
  width: auto;
  display: inline-block;
  margin: 40px auto;
}
.counter {
  width: 100%;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;

      .value {
        font-size: $ultra-big;
        font-weight: 700;
        color: $corporate-menu;
      }

      .label {
        font-size: $big;
        font-weight: 400;
      }
    }
  }
}
</style>
