<template>
  <header :class="{ '-scrolled': scrolled }">
    <div class="header__container">
      <a class="logo" href="/#">
        <img
          src="./../../assets/img/logo.svg"
          class="logo__img"
          alt="Justapp"
        />
      </a>
      <div v-if="!this.userId" class="login">
        <h1 class="login__title">
          {{ $t('elements.loginForRegisteredUser') }}
        </h1>
        <form class="login__form">
          <input
            class="login__form__input"
            type="text"
            placeholder="Телефон"
            autocomplete="off"
            v-mask="'+# ### ###-##-##'"
            v-model="auth.login"
          />
          <span class="login__form__pass">
            <input
              class="login__form__input"
              placeholder="Пароль"
              :type="!showPass ? 'password' : 'text'"
              v-model="auth.password"
            />
            <span
              @click="showPass = !showPass"
              class="login__form__pass__show-pass"
            >
              <img
                v-if="!showPass"
                src="./../../assets/img/svg/eye-close.svg"
                alt="Show pass"
              />
              <img
                v-if="showPass"
                src="./../../assets/img/svg/eye-open.svg"
                alt="Hide pass"
              />
            </span>
          </span>
          <regular-button
            :elClass="['corporate']"
            @click="login"
            class="login__form__button"
          >
            {{ $t('elements.login') }}
          </regular-button>
        </form>
        <div class="login__postform">
          <router-link class="login__postform__link" to="/auth/register">{{
            $t('elements.registration')
          }}</router-link>
          <router-link class="login__postform__link" to="/auth/forgot">{{
            $t('elements.forgotPassword')
          }}</router-link>
        </div>
      </div>
      <div v-if="this.userId" class="auth">
        <span class="auth__user">
          {{ this.userInfo.name }}
          {{ this.userInfo.surname }}
        </span>
        <span @click="logout" class="auth__exit">
          <img src="./../../assets/img/svg/exit.svg" alt="" />
        </span>
      </div>
      <div class="login-mobile">
        <router-link to="/auth" v-if="!this.userId"
          ><img
            src="./../../assets/img/svg/user.svg"
            class="login-mobile__ico"
            alt="user"
          />
        </router-link>
        <span @click="logout" v-if="this.userId" class="login-mobile__exit">
          <img src="./../../assets/img/svg/exit.svg" alt="" />
        </span>
      </div>
    </div>
  </header>
</template>

<script>
import RegularButton from '@/components/primitives/RegularButton';
import { mapState } from 'vuex';
import { mask } from 'vue-the-mask';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
export default {
  name: 'HomeHeader',
  components: {
    RegularButton,
  },
  data: function() {
    return {
      auth: {
        login: null,
        password: null,
      },
      userId: null,
      showPass: false,
      scrolled: false,
    };
  },
  mixins: [validationMixin],
  directives: {
    mask,
  },
  validations: {
    auth: {
      login: {
        required,
      },
      password: {
        required,
      },
    },
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
    }),
  },
  mounted() {
    if (
      localStorage.getItem('role') == null ||
      localStorage.getItem('role') == undefined ||
      localStorage.getItem('role') == 'undefined'
    ) {
      localStorage.removeItem('token');
      localStorage.removeItem('userId');
      localStorage.removeItem('role');
      this.$store.dispatch('logout');
    }
    this.userId = localStorage.getItem('userId');
    if (this.userId) {
      this.$store.dispatch(
        'user/getUserInfo',
        JSON.stringify({ id: this.userId })
      );
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      console.log(window.scrollY);
      if (window.scrollY > 45) {
        this.scrolled = true;
      } else if (window.scrollY < 45) {
        this.scrolled = false;
      }
    },
    login() {
      if (
        localStorage.getItem('role') == null ||
        localStorage.getItem('role') == undefined ||
        localStorage.getItem('role') == 'undefined'
      ) {
        const regEx = /[^\d]/g;
        let email = this.auth.login.replace(regEx, '');
        let password = this.auth.password;
        this.$store
          .dispatch('login', JSON.stringify({ email, password }))
          .then(() => {
            if (
              localStorage.getItem('role') === 'outlet_manager' ||
              localStorage.getItem('role') === 'outlet_user'
            ) {
              this.$router.push('/shop');
            } else if (localStorage.getItem('role') === 'parent') {
              this.$router.push('/parents');
            } else if (localStorage.getItem('role') === 'child') {
              this.$router.push('/kids');
            } else {
              this.$router.push('/');
            }
          })
          .catch(err => console.log(err));
      } else {
        let notification = {};
        notification.title = 'Авторизация';
        notification.text = 'Вы уже авторизированы.';
        notification.notificationType = 'warning';
        notification.status = 'new';
        this.$store.dispatch('notifications/addNewNotification', notification);
      }
    },
    logout() {
      this.$store.dispatch('logout').then(() => this.$router.push('/'));
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  position: relative;
  z-index: 99;

  &.-scrolled {
    position: fixed;
    z-index: 9999;
    min-width: 100vw;
    background-color: $grey;
    border: 0 solid transparent;
    -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);

    .logo {
      img {
        max-height: 56px;
      }
    }

    .login {
      &__title {
        display: none;
      }
      &__form {
        margin-bottom: 2px;
      }
    }
  }

  .header__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo {
    &__img {
      max-width: 260px;

      @media screen and (max-width: 1024px) {
        max-width: 160px;
      }
    }
  }
  .login {
    @media screen and (max-width: 1024px) {
      display: none;
    }

    &__title {
      font-size: $semi-big - 2px;
      font-weight: 500;
      color: $corporate;
      margin-bottom: 10px;
    }

    &__form {
      margin-bottom: 10px;

      &__input {
        background-color: $white;
        border: 1px solid $border;
        height: 40px;
        width: 220px;
        color: $dark-grey-font;
        font-size: $small;
        font-weight: 400;
        padding: 15px;
        margin: 1px;
      }

      &__button {
        font-size: $small;
        padding: 14px 40px;
        margin-left: 10px;
      }
      &__pass {
        position: relative;

        &__show-pass {
          position: absolute;
          min-width: 15px;
          top: 0px;
          right: 20px;
        }
      }
    }

    &__postform {
      &__link {
        font-size: $small;
        font-weight: 500;
        color: $corporate;
        margin-right: 152px;
      }
    }

    &-mobile {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1024px) {
        display: flex;
      }

      &__exit {
        min-width: 20px;
        margin-left: 10px;
        cursor: pointer;
        img {
          max-width: 20px;
        }
      }
    }
  }
  .auth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    &__user {
      font-size: $regular + 2px;
      color: $dark-grey-font;
      font-weight: 600;
    }
    &__exit {
      min-width: 20px;
      margin-left: 10px;
      cursor: pointer;
      img {
        max-width: 20px;
      }
    }
  }
}
</style>
