<template>
  <footer class="footer">
    <div class="footer__info">
      <div class="footer__info__app">
        <h3 class="footer__info__app__title">
          {{ $t('elements.footerAppTitle') }}
        </h3>
        <img
          class="footer__info__app__logos"
          src="./../../assets/img/home/footer-app-mobile.png"
          alt="justapp"
        />
        <p class="footer__info__app__info">
          {{ $t('elements.footerAppInfo') }}
        </p>
      </div>
      <div class="footer__info__content">
        <div class="footer__info__content__corp">
          <img
            class="footer__info__content__corp__img"
            src="./../../assets/img/logo.svg"
            alt="Justapp"
          />
          <span class="footer__info__content__corp__text"
            >© 2019. All rights reserved</span
          >
        </div>
        <div class="footer__info__content__links">
          <ul class="footer__info__content__links__group">
            <li class="footer__info__content__links__group__item">
              <a>Регистрация</a>
            </li>
            <li class="footer__info__content__links__group__item">
              <a>Партнерам</a>
            </li>
            <li class="footer__info__content__links__group__item">
              <a>Документы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__visual">
      <div class="footer__visual__bg"></div>
      <img
        class="footer__visual__img"
        src="./../../assets/img/home/footer-app.png"
        alt="justapp"
      />
    </div>
  </footer>
</template>

<script>
export default {
  name: 'home-footer',
};
</script>

<style lang="scss" scoped>
.footer {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  &__info {
    position: relative;
    z-index: 99;

    &__app {
      margin-bottom: 50px;

      &__title {
        font-size: $big + 6px;
        font-weight: 600;

        @media screen and (max-width: 700px) {
          font-size: $big - 4px;
        }
      }
      &__logos {
        display: none;

        @media screen and (max-width: 700px) {
          display: block;
          margin: 0 auto 30px;
        }
      }
      &__info {
        font-size: $regular;
        color: $dark-grey-font;
        text-align: justify;
      }
    }
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
      }

      &__corp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img {
          max-width: 150px;
        }

        &__text {
          font-size: $small;
          font-weight: 600;
        }
      }
      &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-right: 100px;

        @media screen and (max-width: 700px) {
          width: 100%;
          display: none;
          // display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
        }

        &__group {
          &__item {
            font-size: $regular;
            color: $dark-grey-font;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__visual {
    position: relative;
    max-width: 40%;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    &__bg {
      background-image: url('./../../assets/img/home/lines.png');
      content: '';
      bottom: -700px;
      left: -400px;
      height: 1000px;
      min-width: 1000px;
      width: 50vw;
      position: absolute;
      overflow: visible;
      z-index: 1;
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    &__img {
      position: relative;
      z-index: 10;
    }
  }
}
</style>
