<template>
  <div class="payments">
    <div class="payments__container">
      <h3 class="payments__container__title">
        {{ $t('elements.paymentsTitle') }}
      </h3>
      <img
        class="payments__container__logo"
        src="./../../assets/img/logo.svg"
        alt="Justapp"
      />
      <div class="payments__container__main">
        <div class="payments__container__main__left">
          <div class="payments__container__main__left__bg"></div>
          <img
            class="payments__container__main__left__img"
            src="./../../assets/img/home/payments-left.png"
            alt=""
          />
        </div>
        <div class="payments__container__main__right">
          <div class="payments__container__main__right__bg"></div>
          <img
            class="payments__container__main__right__img"
            src="./../../assets/img/home/payments-right.png"
            alt=""
          />
        </div>
        <div class="payments__container__main__top">
          <div class="payments__container__main__top__parents">
            <div class="payments__container__main__top__parents__regular">
              {{ $t('elements.howItWorksTopParents1') }}
            </div>
            <div class="payments__container__main__top__parents__title">
              {{ $t('elements.howItWorksTopParentsTitle') }}
            </div>
            <div class="payments__container__main__top__parents__regular">
              {{ $t('elements.howItWorksTopParents2') }}
            </div>
          </div>
          <div class="payments__container__main__top__kids">
            <div class="payments__container__main__top__kids__regular">
              {{ $t('elements.howItWorksTopKids1') }}
            </div>
            <div class="payments__container__main__top__kids__title">
              {{ $t('elements.howItWorksTopKidsTitle') }}
            </div>
            <div class="payments__container__main__top__kids__regular">
              {{ $t('elements.howItWorksTopKids2') }}
            </div>
          </div>
        </div>
        <div class="payments__container__main__bottom">
          <div class="payments__container__main__bottom__block">
            <span class="payments__container__main__bottom__block__before"
              >!</span
            >
            <p class="payments__container__main__bottom__block__text">
              {{ $t('elements.howItWorksBottom1') }}
            </p>
          </div>
          <div class="payments__container__main__bottom__block">
            <span class="payments__container__main__bottom__block__before"
              >!</span
            >
            <p class="payments__container__main__bottom__block__text">
              {{ $t('elements.howItWorksBottom2') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'how-it-works',
};
</script>

<style lang="scss" scoped>
.payments {
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      font-size: $big + 6px;
      font-weight: 600;
      position: relative;
      margin-bottom: 40px;

      @media screen and (max-width: 700px) {
        font-size: $big - 4px;
      }

      &:before {
        content: '';
        position: absolute;
        // border-radius: 3px;
        background-image: $corporate-gradient;
        width: 45px;
        height: 4px;
        bottom: -13px;
        left: 0;
      }
      &:after {
        content: '';
        position: absolute;
        width: 45px;
        height: 5px;
        bottom: -13px;
        border-bottom: 4px dashed $border;
        left: 50px;
      }
    }
    &__logo {
      max-width: 260px;
      margin-bottom: 60px;
    }
    &__main {
      position: relative;
      max-width: 100%;

      &__left {
        position: absolute;
        left: 0;
        top: 0;

        &__bg {
          content: '';
          top: -200px;
          left: -700px;
          height: 1000px;
          min-width: 1000px;
          width: 50vw;
          position: absolute;
          overflow: visible;
          z-index: 1;
          background-size: contain;
          background-repeat: no-repeat;

          @media screen and (max-width: 700px) {
            display: none;
          }
        }
        &__img {
          position: absolute;
          z-index: 9;
          left: -450px;
          top: -150px;

          @media screen and (max-width: 700px) {
            display: none;
          }
        }
      }
      &__right {
        position: absolute;
        right: 0;
        top: 0;

        &__bg {
          content: '';
          bottom: -700px;
          left: 0;
          height: 1000px;
          min-width: 1000px;
          width: 50vw;
          position: absolute;
          overflow: visible;
          z-index: 1;
          background-size: contain;
          background-repeat: no-repeat;

          @media screen and (max-width: 700px) {
            display: none;
          }
        }
        &__img {
          position: absolute;
          z-index: 9;
          right: -400px;
          top: -100px;

          @media screen and (max-width: 700px) {
            display: none;
          }
        }
      }
      &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 99;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }

        &__parents {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          &__title {
            position: relative;
            font-size: $big - 1px;
            font-weight: 600;
            padding-left: 120px;

            &:before {
              position: absolute;
              content: '';
              top: 50%;
              background-image: url('./../../assets/img/home/payments-parent.png');
              background-size: 109px 101px;
              background-repeat: no-repeat;
              margin-top: -50.5px;
              width: 109px;
              height: 101px;
              left: 0px;
            }
          }
          &__regular {
            position: relative;
            padding-left: 54px;
            margin: 24px 0 24px 119px;
            font-size: $semi-big;
            font-weight: 600;
            max-width: 350px;

            @media screen and (max-width: 700px) {
              font-size: $regular;
            }

            @media screen and (max-width: 400px) {
              margin: 24px 0 24px 24px;
            }

            &:before {
              position: absolute;
              content: '';
              top: 50%;
              background-image: url('./../../assets/img/home/advantage-arrow.png');
              background-size: 44px;
              margin-top: -22px;
              width: 44px;
              height: 44px;
              left: 0px;
            }
          }
        }
        &__kids {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          &__title {
            position: relative;
            font-size: $big - 1px;
            font-weight: 600;
            padding-right: 120px;

            &:before {
              position: absolute;
              content: '';
              top: 50%;
              background-image: url('./../../assets/img/home/payments-kid.png');
              background-size: 109px 101px;
              background-repeat: no-repeat;
              margin-top: -50.5px;
              width: 109px;
              height: 101px;
              right: 0px;
            }
          }
          &__regular {
            position: relative;
            padding-right: 54px;
            margin: 24px 119px 24px 0;
            font-size: $semi-big;
            font-weight: 600;
            max-width: 350px;

            @media screen and (max-width: 700px) {
              font-size: $regular;
            }

            @media screen and (max-width: 400px) {
              margin: 24px 24px 24px 0;
            }

            &:before {
              position: absolute;
              content: '';
              top: 50%;
              background-image: url('./../../assets/img/home/advantage-arrow.png');
              background-size: 44px;
              margin-top: -22px;
              width: 44px;
              height: 44px;
              right: 0px;
              transform: rotate(180deg);
            }
          }
        }
      }
      &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 99;
        padding: 0 70px;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }

        &__block {
          display: flex;
          margin: 20px;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          @media screen and (max-width: 1024px) {
            margin: 10px;
          }

          &__before {
            font-size: $regular + 2px;
            font-weight: 900;
            color: $black-font;

            min-height: 44px;
            min-width: 44px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-image: url('./../../assets/img/home/circle.png');
            background-size: 44px;
            margin-right: 10px;
          }

          &__text {
            font-size: $regular;
            color: $dark-grey-font;
            max-width: 100%;
            text-align: justify;
          }
        }
      }
    }
  }
}
</style>
