<template>
  <div class="scope">
    <h2 class="scope__header">
      {{ $t('elements.scopeTitle') }}
    </h2>

    <div class="scope__container">
      <div class="scope__container__item">
        <img
          src="./../../assets/img/home/scope-1.svg"
          alt=""
          class="scope__container__item__img"
        />
        <span class="scope__container__item__text">
          {{ $t('elements.scopeItem1') }}
        </span>
      </div>
      <div class="scope__container__item">
        <img
          src="./../../assets/img/home/scope-2.svg"
          alt=""
          class="scope__container__item__img"
        />
        <span class="scope__container__item__text">
          {{ $t('elements.scopeItem2') }}
        </span>
      </div>
      <div class="scope__container__item">
        <img
          src="./../../assets/img/home/scope-3.svg"
          alt=""
          class="scope__container__item__img"
        />
        <span class="scope__container__item__text">
          {{ $t('elements.scopeItem3') }}
        </span>
      </div>
      <div class="scope__container__item">
        <img
          src="./../../assets/img/home/scope-4.svg"
          alt=""
          class="scope__container__item__img"
        />
        <span class="scope__container__item__text">
          {{ $t('elements.scopeItem4') }}
        </span>
      </div>
      <div class="scope__container__item">
        <img
          src="./../../assets/img/home/scope-5.svg"
          alt=""
          class="scope__container__item__img"
        />
        <span class="scope__container__item__text">
          {{ $t('elements.scopeItem5') }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'scope',
};
</script>

<style lang="scss" scoped>
.scope {
  max-width: 1400px;
  margin: 0 auto 100px auto;
  padding: 0 20px;
  position: relative;
  z-index: 99;

  @media screen and (max-width: 1024px) {
    margin: 0 auto 50px auto;
  }

  &__header {
    position: relative;
    font-size: $big + 6px;
    font-weight: 600;
    margin-bottom: 50px;

    @media screen and (max-width: 700px) {
      font-size: $big - 4px;
    }

    &:before {
      content: '';
      position: absolute;
      // border-radius: 3px;
      background-image: $corporate-gradient;
      width: 45px;
      height: 4px;
      bottom: -13px;
      left: 0;
    }
    &:after {
      content: '';
      position: absolute;
      width: 45px;
      height: 5px;
      bottom: -13px;
      border-bottom: 4px dashed $border;
      left: 50px;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__item {
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: 1024px) {
        padding: 10px 10px 10px 0;
        max-width: 50%;
        min-width: 50%;
      }

      @media screen and (max-width: 700px) {
        padding: 10px 0;
        min-width: 100%;
      }

      &__img {
        width: 55px;
        margin-right: 10px;

        @media screen and (max-width: 1024px) {
          margin-right: 20px;
        }
      }

      &__text {
        font-size: $regular;
        display: block;

        @media screen and (min-width: 1024px) {
          max-width: 200px;
          font-size: $small;
        }
      }
    }
  }
}
</style>
