<template>
  <div class="user">
    <div class="user__container">
      <img
        class="user__container__graf__img-mobile"
        src="./../../assets/img/home/user-image-mobile.png"
        alt=""
      />
      <div class="user__container__content">
        <p class="user__container__content__description">
          {{ $t('elements.userDescription') }}
        </p>
        <ol class="user__container__content__list">
          <li class="user__container__content__list__item">
            <span class="user__container__content__list__item__number">5</span>
            <span class="user__container__content__list__item__text">{{
              $t('elements.userItem5')
            }}</span>
          </li>
          <li class="user__container__content__list__item">
            <span class="user__container__content__list__item__number">6</span>
            <span class="user__container__content__list__item__text">{{
              $t('elements.userItem6')
            }}</span>
          </li>
          <li class="user__container__content__list__item">
            <span class="user__container__content__list__item__number">7</span>
            <span class="user__container__content__list__item__text">{{
              $t('elements.userItem7')
            }}</span>
          </li>
        </ol>
      </div>
      <div class="user__container__graf">
        <div class="user__container__graf__bg"></div>
        <img
          class="user__container__graf__img"
          src="./../../assets/img/home/user-image.png"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'user',
};
</script>

<style lang="scss" scoped>
.user {
  margin-bottom: 300px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 300px;
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 150px;
  }

  &__container {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }

    &__graf {
      position: relative;
      z-index: 10;
      max-width: 50%;
      min-width: 50%;

      @media screen and (max-width: 1024px) {
        max-width: 40%;
        min-width: 40%;
        margin-left: -300px;
        margin-top: -100px;
      }
      @media screen and (max-width: 700px) {
        max-width: 100%;
        min-width: 100%;
        margin-left: 0px;
      }

      &__bg {
        content: '';
        bottom: -700px;
        left: 0;
        height: 1000px;
        min-width: 1000px;
        width: 50vw;
        position: absolute;
        overflow: visible;
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      &__img {
        position: absolute;
        z-index: 99;
        left: 20px;

        @media screen and (max-width: 1024px) {
        }

        @media screen and (max-width: 700px) {
          max-width: 200%;
          min-width: 200%;
          position: relative;
          left: -50%;
          display: none;
        }

        &-mobile {
          display: none;

          @media screen and (max-width: 700px) {
            display: block;
            max-width: 100%;
            min-width: 100%;
            position: relative;
            left: 0;
          }
        }
      }
    }

    &__content {
      max-width: 50%;
      margin-top: 200px;
      padding-left: 20px;

      @media screen and (max-width: 1024px) {
        max-width: 70%;
        min-width: 70%;
        margin-top: 100px;
        position: relative;
        z-index: 99;
        padding-left: 0;
      }
      @media screen and (max-width: 700px) {
        margin-left: 0px;
        max-width: 100%;
        min-width: 100%;
        margin-top: 30px;
      }

      &__description {
        font-size: $regular + 2px;
        font-weight: 600;
        text-align: justify;
      }
      &__list {
        list-style: none;
        padding: 0;

        &__item {
          padding: 5px 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          &__number {
            font-size: $regular;
            font-weight: 500;
            color: $black-font;
            min-height: 54px;
            min-width: 54px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-image: url('./../../assets/img/home/circle.png');
            margin-right: 10px;
          }
          &__text {
            font-size: $regular + 1px;
            text-align: justify;
            @media screen and (max-width: 1024px) {
              font-size: $regular;
            }
          }
        }
      }
    }
  }
}
</style>
