<template>
  <div id="app">
    <notifications />

    <div class="page">
      <router-view />
    </div>
  </div>
</template>

<script>
import notifications from './components/common/Notifications.vue';

export default {
  components: {
    notifications,
  },
  mounted() {
    if (this.$cookies.isKey('locale')) {
      this.$i18n.locale = this.$cookies.get('locale');
    } else {
      console.log(window.navigator.language);
      if (
        window.navigator.language == 'uk-UA' ||
        window.navigator.language == 'uk'
      ) {
        this.$i18n.locale = 'ua';
      } else if (
        window.navigator.language == 'es' ||
        window.navigator.language == 'es-AR' ||
        window.navigator.language == 'es-BO' ||
        window.navigator.language == 'es-CLe' ||
        window.navigator.language == 'es-CO' ||
        window.navigator.language == 'es-CR' ||
        window.navigator.language == 'es-DO' ||
        window.navigator.language == 'es-EC' ||
        window.navigator.language == 'es-ES' ||
        window.navigator.language == 'es-GT' ||
        window.navigator.language == 'es-HN' ||
        window.navigator.language == 'es-MX' ||
        window.navigator.language == 'es-NI' ||
        window.navigator.language == 'es-PA' ||
        window.navigator.language == 'es-PE' ||
        window.navigator.language == 'es-PR' ||
        window.navigator.language == 'es-PY' ||
        window.navigator.language == 'es-SV' ||
        window.navigator.language == 'es-UY' ||
        window.navigator.language == 'es-VE' ||
        window.navigator.language == 'gl-ES'
      ) {
        this.$i18n.locale = 'es';
      } else if (
        window.navigator.language == 'ru' ||
        window.navigator.language == 'ru-RU'
      ) {
        this.$i18n.locale = 'ru';
      } else {
        this.$i18n.locale = 'en';
      }
    }
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/main.scss';

#app {
  background-color: $user_bg;
  min-height: 100vh;
  min-width: 300px;
  .page {
    min-height: 100vh;
    height: 100%;
  }
}
</style>
