<template functional>
  <div class="bill">
    <!--    <h2 class="bill__title">Чек № {{ props.bill.check.check_no }}</h2>-->
    <!--    <span class="bill__summ"-->
    <!--      >Сумма:-->
    <!--      {{-->
    <!--        (props.bill.check.total_sum * props.currentCurrency.ratio).toFixed(2)-->
    <!--      }}-->
    <!--      JCoin</span-->
    <!--    >-->
    <table class="bill__items">
      <thead>
        <tr>
          <td>{{ parent.$t('user.account.bill.product') }}</td>
          <td>{{ parent.$t('user.account.bill.amount') }}</td>
          <td>{{ parent.$t('user.account.bill.price') }}</td>
          <td>{{ parent.$t('user.account.bill.sum') }}</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in props.bill.items" :key="'item-' + item.id">
          <td>{{ item.product_name }}</td>
          <td>x {{ item.product_qty }}</td>
          <td>
            {{ (item.product_price * props.currentCurrency.ratio).toFixed(2) }}
            JCoin
          </td>
          <td>
            <b
              >{{
                (item.total_price * props.currentCurrency.ratio).toFixed(2)
              }}
              JCoin</b
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
.bill {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid $border;
  &__title {
  }

  &__items {
    width: 100%;
    thead {
      td {
        font-size: $regular;
        font-weight: 300;
        padding: 5px;
        white-space: nowrap;
      }
    }
    tbody {
      td {
        font-size: $regular + 2px;
        font-weight: 500;
        padding: 5px;
      }
    }
    td {
      &:nth-child(1) {
        width: 55%;
      }
      &:nth-child(2) {
        width: 15%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 15%;
      }
    }
  }
}
</style>
