<template>
  <div class="restrictions">
    <page-title :title="$t('user.titles.dayLimit')" />
    <div class="restrictions__daily">
      <p class="restrictions__daily__text">
        <span
          v-if="!cashLimit.user_limit || cashLimit.user_limit.cash_limit === 0"
          >{{ $t('user.account.noDayLimits') }}</span
        >
        <span
          v-if="cashLimit.user_limit && cashLimit.user_limit.cash_limit > 0"
        >
          {{
            $t('user.account.currentLimit', {
              limit: (
                cashLimit.user_limit.cash_limit * currentCurrency.ratio
              ).toFixed(2),
              current: (
                cashLimit.paid_daily_sum * currentCurrency.ratio
              ).toFixed(2),
            })
          }}
        </span>
      </p>
      <regular-input-masked
        elId="dailyLimit"
        class="restrictions__daily__input"
        :elLabel="$t('user.fields.dayLimit')"
        :mask="'############'"
        v-model="dailyLimit"
      />
    </div>
    <div class="restrictions__buttons">
      <button class="restrictions__buttons__button" @click.prevent="apply">
        {{ $t('user.buttons.apply') }}
      </button>
    </div>
  </div>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import PageTitle from '@/components/user/common/PageTitle';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';

const OutletRepository = RepositoryFactory.get('outlet');

export default {
  name: 'DayLimit',
  components: {
    PageTitle,
    RegularInputMasked,
  },
  props: {
    activeKid: Object,
    activeKidCamp: Object,
    currentCurrency: Object,
  },
  data: function() {
    return {
      cashLimit: {},
      dailyLimit: null,
    };
  },
  watch: {
    'activeKid.id': {
      immediate: true,
      async handler() {
        await this.refreshBanData();
      },
    },
  },
  methods: {
    async refreshBanData() {
      this.dailyLimit = null;
      try {
        const resp = await OutletRepository.getCashLimit({
          user_id: this.activeKid?.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение дневного ограничения',
            'Возникла ошибка при получении дневного ограничения',
            'error'
          );
        } else {
          this.cashLimit = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async apply() {
      if (this.dailyLimit > 0) {
        let data = {
          buyer_id: this.activeKid?.account_id,
          user_id: this.activeKid?.id,
          cash_limit: (this.dailyLimit / this.currentCurrency?.ratio).toFixed(
            2
          ),
        };
        try {
          const resp = await OutletRepository.setCashLimit(
            JSON.stringify(data)
          );
          if (resp.data?.status != 'ok') {
            componentErrorHandler(
              this,
              'Установка дневного лимита',
              'Возникла ошибка при установке дневного лимита',
              'error'
            );
          } else {
            componentErrorHandler(
              this,
              'Обновление ограничений',
              'Изменения ограничений сохранены.',
              'success'
            );
            await this.refreshBanData();
          }
        } catch (err) {
          console.error(err);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.restrictions {
  padding: 20px;
  &__daily {
    &__input {
      max-width: 80%;
      margin: 0 auto;

      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__button {
      border-radius: 24px;
      padding: 18px 30px;
      border: 0px solid;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $corporate;
      background-image: $corporate-gradient;
      color: $white-font;
      box-shadow: 0 8px 16px #c1f8f8;

      &:active {
        box-shadow: 0 5px 10px inset $dark-grey-font;
      }
    }
  }
}
</style>
