<template>
  <div class="debts">
    <div class="debts__container">
      <table>
        <thead>
          <tr>
            <td>
              {{ $t('kinder.account.billsTable.gartenName') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.group') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.date') }}
            </td>
            <td>
              {{ $t('kinder.account.billsTable.sum') }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in data"
            :key="item.bill_id"
            @click="goToItem(item.bill_id)"
          >
            <td>{{ item.department_name }}</td>
            <td>{{ item.group_name }}</td>
            <td>{{ formatDate(item.year_month) }}</td>
            <td>
              {{ item.amount + ' руб.' }}
              <!--TODO Quick fix add currency-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--    <pagination-->
    <!--      :pages="currentPagination.total_pages * 1"-->
    <!--      :items="currentPagination.total_count * 1"-->
    <!--      :perPage="currentPagination.per_page * 1"-->
    <!--      :currentPage="currentPagination.page * 1"-->
    <!--      @changePage="changePage"-->
    <!--      @changePerPage="changePerPage"-->
    <!--    />-->
  </div>
</template>

<script>
// import Pagination from '@/components/common/Pagination.vue';
import { fromUnixTime, format } from 'date-fns';
import { mapState } from 'vuex';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
const UserRepository = RepositoryFactory.get('user');

// import moment from 'moment';
// import axios from 'axios';

export default {
  name: 'Debts',
  props: {
    activeKid: Object,
    link: String,
  },
  data: function() {
    return {
      pagination: {
        page: 1,
        perPage: 10,
      },
      rawData: [],
    };
  },
  components: {
    // Pagination,
  },
  watch: {
    'activeKid.id': {
      async handler() {
        try {
          const resp = await UserRepository.getAccountBills({
            user_id: this.activeKid.id,
          });
          if (resp.data.status === 'ok') {
            this.rawData = resp.data.data.items;
          }
        } catch (e) {
          return 'error';
        }
      },
    },
  },
  async mounted() {
    try {
      const resp = await UserRepository.getAccountBills({
        user_id: this.activeKid.id,
      });
      if (resp.data.status === 'ok') {
        this.rawData = resp.data.data.items;
      }
    } catch (e) {
      return 'error';
    }
  },
  computed: {
    ...mapState({
      currentPagination: state => state.outlet.currentPagination,
      currentCurrency: state => state.common.currentCurrency,
      activeDepartment: state => state.user.activeDepartment,
    }),
    data() {
      this.rawData.forEach(item => {
        let department = this.activeKid.departmentClient.find(
          department => department.kindergarten_group_id === item.group_id
        );
        item.department_name = department.department_name;
        item.group_name = department.kindergarten_group_name;
      });
      return this.rawData;
    },
  },
  methods: {
    goToItem(id) {
      this.$router.push(this.link + id);
    },
    formatDate(date) {
      // return moment.unix(date).format('DD.MM.YYYY HH:mm');
      if (date) {
        return format(fromUnixTime(date), 'MM/yyyy');
      }
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.updateData();
    },
    changePage(val) {
      this.pagination.page = val;
      this.updateData();
    },
  },
};
</script>

<style lang="scss" scoped>
ul,
li {
  padding: 0;
  list-style: none;
}
.debts {
  margin-top: 20px;
  padding: 0 20px;
  &__container {
    margin: 20px 0;
    width: 100%;
    overflow-x: auto;
    table {
      width: 100%;
      padding-top: 20px;
      border-collapse: collapse;
      td {
        padding: 20px;
      }

      thead {
        tr {
          border-bottom: 2px solid $grey;

          td {
            font-size: $regular + 2px;
            font-weight: 600;
            padding-bottom: 5px;

            margin: 0;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $grey;
          cursor: pointer;
          &:nth-child(2n) {
            background-color: $grey;
          }

          td {
            font-size: $regular;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
</style>
