<template>
  <div class="restrictions">
    <page-title :title="$t('user.titles.restrictions')" />
    <h3>Ограничения товара.</h3>
    <p>
      {{ $t('user.account.kidRestrictionWelcome') }}
    </p>
    <div class="restrictions__container">
      <div v-for="(item, key) in outletsInfo" :key="'catalog-' + key">
        <products-restrictions
          class="shop-catalog__container"
          :item="item.categories"
          :products="item.products"
          :selected="selectedCatalog"
          :categoryToBan="categoryToBan"
          :productsToBan="productsToBan"
          :categoryToUnban="categoryToUnban"
          :productsToUnban="productsToUnban"
          :categoryRestricts="categoryRestricts"
          :productsRestricts="productsRestricts"
          @selectProduct="selectProduct"
          @selectCategory="selectCategory"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import PageTitle from '@/components/user/common/PageTitle';
import ProductsRestrictions from '@/components/user/Restrictions/ProductsRestrictions';

const OutletRepository = RepositoryFactory.get('outlet');

export default {
  name: 'ShopRestrictions',
  components: {
    PageTitle,
    ProductsRestrictions,
  },
  props: {
    activeKid: Object,
    activeKidCamp: Object,
  },
  data: function() {
    return {
      outletsList: [],
      productsRestricts: [],
      categoryRestricts: [],
      cashLimit: {},
      outletsInfo: [],

      selectedCatalog: {},
      categoryToBan: [],
      productsToBan: [],
      categoryToUnban: [],
      productsToUnban: [],
      dailyLimit: null,
    };
  },
  watch: {
    'activeKid.id': {
      immediate: true,
      async handler() {
        await this.refreshBanData();
        await this.getOutletList();
        await this.getOutletTree();
      },
    },
  },
  methods: {
    async getOutletList() {
      try {
        const resp = await OutletRepository.getOutletsList({
          camp_id: this.activeKidCamp.camp_id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка торговых точек',
            'Возникла ошибка при получении списка торговых точек',
            'error'
          );
        } else {
          this.outletsList = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async getOutletProducts(data) {
      try {
        const resp = await OutletRepository.getCurrentShopProducts({
          outlet_id: data.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка товаров торговой точки',
            'Возникла ошибка при получении списка товаров торговой точки',
            'error'
          );
          return null;
        } else {
          return resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async getOutletCategories(data) {
      try {
        const resp = await OutletRepository.getCurrentShopCategories({
          outlet_id: data.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка категорий торговой точки',
            'Возникла ошибка при получении списка категорий торговой точки',
            'error'
          );
          return null;
        } else {
          return resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async getOutletTree() {
      this.outletsInfo = [];
      for (const [i, item] of this.outletsList.entries()) {
        let data = {
          i: i,
          id: item.id,
        };
        data.products = await this.getOutletProducts(data);
        data.categories = await this.getOutletCategories(data);
        this.outletsInfo.push(data);
      }
    },
    async refreshBanData() {
      this.categoryToBan = [];
      this.productsToBan = [];
      this.categoryToUnban = [];
      this.productsToUnban = [];

      try {
        const resp = await OutletRepository.getProductRestricts({
          user_id: this.activeKid.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка заблокированных товаров',
            'Возникла ошибка при получении списка заблокированных товаров',
            'error'
          );
        } else {
          this.productsRestricts = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }

      try {
        const resp = await OutletRepository.getCategoriesRestricts({
          user_id: this.activeKid.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка заблокированных категорий товаров',
            'Возникла ошибка при получении списка заблокированных категорий товаров',
            'error'
          );
        } else {
          this.categoryRestricts = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    selectProduct() {},
    selectCategory() {},
  },
};
</script>

<style lang="scss" scoped>
.restrictions {
  padding: 20px;

  .shop-catalog__container {
    list-style: none;
    cursor: pointer;
    margin-bottom: 50px;
    border-bottom: 2px solid $border;
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__button {
      border-radius: 24px;
      padding: 18px 30px;
      border: 0px solid;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $corporate;
      background-image: $corporate-gradient;
      color: $white-font;
      box-shadow: 0 8px 16px #c1f8f8;

      &:active {
        box-shadow: 0 5px 10px inset $dark-grey-font;
      }
    }
  }
}
</style>
