<template>
  <div class="restrictions">
    <page-title :title="$t('user.titles.dayLimit')" />
    <div class="restrictions__daily">
      <p class="restrictions__daily__text">
        <span
          v-if="!cashLimit.user_limit || cashLimit.user_limit.cash_limit === 0"
          >{{ user.account.kidNoLimits }}</span
        >
        <span
          v-if="cashLimit.user_limit && cashLimit.user_limit.cash_limit > 0"
          >{{
            $t('user.account.currentLimit', {
              limit: [
                (
                  cashLimit.user_limit.cash_limit * currentCurrency.ratio
                ).toFixed(2),
              ],
              current: [
                (cashLimit.paid_daily_sum * currentCurrency.ratio).toFixed(2),
              ],
            })
          }}</span
        >
      </p>
    </div>
  </div>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import PageTitle from '@/components/user/common/PageTitle';

const OutletRepository = RepositoryFactory.get('outlet');

export default {
  name: 'DayLimit',
  components: {
    PageTitle,
  },
  props: {
    activeKid: Object,
    activeKidCamp: Object,
    currentCurrency: Object,
  },
  data: function() {
    return {
      cashLimit: {},
      dailyLimit: null,
    };
  },
  watch: {
    'activeKid.id': {
      immediate: true,
      async handler() {
        await this.refreshBanData();
      },
    },
  },
  methods: {
    async refreshBanData() {
      this.dailyLimit = null;
      try {
        const resp = await OutletRepository.getCashLimit({
          user_id: this.activeKid.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение дневного ограничения',
            'Возникла ошибка при получении дневного ограничения',
            'error'
          );
        } else {
          this.cashLimit = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.restrictions {
  padding: 20px;
  &__daily {
    &__input {
      max-width: 80%;
      margin: 0 auto;

      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__button {
      border-radius: 24px;
      padding: 18px 30px;
      border: 0px solid;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $corporate;
      background-image: $corporate-gradient;
      color: $white-font;
      box-shadow: 0 8px 16px #c1f8f8;

      &:active {
        box-shadow: 0 5px 10px inset $dark-grey-font;
      }
    }
  }
}
</style>
