<template>
  <div class="outlet">
    <regular-select-slots
      v-if="userOutletsList.length > 1"
      placeholder="Торговая точка"
      :optionList="userOutletsList"
      v-model="currentOutlet"
    >
      <template v-slot:value="{ valueName }">
        {{ valueName.name }} (ID: {{ valueName.id }} )
      </template>
    </regular-select-slots>
    <shop-product-table
      v-if="selectedProducts.length > 0"
      class="sale__list"
      @removeItem="removeFromList"
      :items="selectedProducts"
    >
      <template #header>
        <td>{{ $t('elements.shop.title') }}</td>
        <td>{{ $t('elements.shop.price') }}</td>
        <td>{{ $t('elements.shop.qty') }}</td>
        <td>{{ $t('elements.shop.summ') }}</td>
      </template>
      <template #body="{ item: productItem }">
        <td class="sale__list__body__name">
          {{ productItem.name }}
        </td>
        <td class="sale__list__body__price">
          {{ (productItem.price * currentCurrency.ratio).toFixed(2) }}
          {{ currentCurrency.abbr }}
        </td>
        <td>
          <quantity-selector
            :quantity="productItem.quantity"
            @change="changeProductValue(productItem.id, ...arguments)"
          />
        </td>
        <td class="sale__list__body__summ">
          {{
            (
              productItem.price *
              productItem.quantity *
              currentCurrency.ratio
            ).toFixed(2)
          }}
          {{ currentCurrency.abbr }}
        </td>
      </template>
    </shop-product-table>
    <div class="outlet__catalog">
      <shop-catalog-categories-design
        v-if="currentOutlet || currentOutlet == 0"
        class="shop-catalog__container"
        :item="productCategories"
        :products="productList"
        :selected="selectedCatalog"
        @selectItem="selectCatalog"
        @selectProduct="selectProduct"
      >
        <template v-slot:product="{ product }"
          ><span>{{ product.name }}{{ ' ' }}</span>
          <span
            >{{ (product.price_out * currentCurrency.ratio).toFixed(2) }}
            {{ currentCurrency.abbr }}</span
          ></template
        >
      </shop-catalog-categories-design>
    </div>
    <div class="buttons">
      <regular-button
        v-if="selectedProducts.length > 0"
        :elClass="['corporate']"
        @click="paymentApply"
      >
        {{ $t('user.buttons.pay') }}
      </regular-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import ShopCatalogCategoriesDesign from '@/components/user/ShopCatalogCategoriesDesign';
import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import QuantitySelector from '@/components/shop/QuantitySelector.vue';
import ShopProductTable from '@/components/shop/ShopProductTable';
import RegularButton from '@/components/primitives/RegularButton';

export default {
  name: 'OfflineStore',
  components: {
    RegularButton,
    ShopCatalogCategoriesDesign,
    RegularSelectSlots,
    ShopProductTable,
    QuantitySelector,
  },
  data: function() {
    return {
      currentOutlet: null,
      selectedCatalog: null,
      selectedProducts: [],
    };
  },
  computed: {
    ...mapState({
      userInfo: state => state.user.info,
      campInfo: state => state.user.campInfo,
      userOutletsList: state => state.outlet.userOutletsList,
      productCategories: state => state.outlet.productCategories,
      productList: state => state.outlet.productList,
      currentCurrency: state => state.common.currentCurrency,
    }),
  },
  watch: {
    campInfo: {
      immediate: true,
      async handler() {
        if (this.campInfo.id || this.campInfo.id == 0) {
          await this.$store.dispatch('outlet/getUserOutletsList', {
            camp_id: this.campInfo.id,
          });
          if (this.userOutletsList.length > 0) {
            this.currentOutlet = 0;
          }
        }
      },
    },
    userOutletsList() {
      if (this.userOutletsList.length == 1) {
        this.currentOutlet = 0;
      }
    },
    currentOutlet: {
      immediate: true,
      handler() {
        if (this.currentOutlet || this.currentOutlet == 0) {
          let outletId = this.userOutletsList[this.currentOutlet].id;
          this.$store.dispatch('outlet/getCategoriesList', {
            outlet_id: outletId,
          });
          this.$store.dispatch('outlet/getProductsList', {
            outlet_id: outletId,
          });
        }
      },
    },
  },
  methods: {
    selectCatalog(item) {
      this.selectedCatalog = item;
    },
    selectProduct(item) {
      if (this.selectedProducts.findIndex(x => x.id == item) >= 0) {
        this.selectedProducts[
          this.selectedProducts.findIndex(x => x.id == item)
        ].quantity += 1;
      } else {
        this.selectedProducts.push(this.productList.find(x => x.id == item));
        this.$set(
          this.selectedProducts[
            this.selectedProducts.findIndex(x => x.id == item)
          ],
          'quantity',
          1
        );
      }
    },
    removeFromList(id) {
      this.selectedProducts.splice(
        this.selectedProducts.findIndex(x => x.id == id),
        1
      );
    },
    changeProductValue(id, quantity) {
      if (quantity < 1) {
        this.removeFromList(id);
      } else {
        this.$set(
          this.selectedProducts[
            this.selectedProducts.findIndex(x => x.id == id)
          ],
          'quantity',
          quantity
        );
      }
    },
    paymentApply() {
      let data = {
        outlet_id: this.userOutletsList[this.currentOutlet]?.id,
        user_id: this.userInfo.id,
        account_id: this.userInfo.account_id,
        products: {},
      };
      console.log(data);
    },
  },
};
</script>

<style lang="scss" scoped>
.outlet {
  padding: 10px;
  &__catalog {
    li {
      list-style: none;
    }
  }
  .sale__list {
    margin: 30px auto;
  }
}
</style>
