<template>
  <div class="operations">
    <page-title :title="$t('user.titles.bills')" />
    <div class="filters">
      <regular-select-slots
        class="filters__selector"
        :placeholder="$t('user.fields.operationType')"
        :optionList="operationTypes"
        @input="operationTypeUpdate"
        :value="operationType"
      >
        <template v-slot:value="{ valueName }">
          {{ valueName.name }}
        </template>
      </regular-select-slots>
      <div class="filters-dates">
        <div class="filters__date">
          <label for="start">{{ $t('user.fields.dateFrom') }}</label>
          <input
            id="start"
            class="date-picker"
            type="date"
            min="2019-01-01"
            v-model="dateFrom"
            :max="dateTo ? dateTo : format(new Date(), 'yyyy-MM-dd')"
            data-date="{'buttonOnly': true}"
            @change="getOperations"
          />
        </div>
        <div class="filters__date">
          <label for="finish">{{ $t('user.fields.dateTo') }}</label>
          <input
            id="finish"
            class="date-picker"
            type="date"
            v-model="dateTo"
            :min="dateFrom ? dateFrom : '2019-01-01'"
            :max="format(new Date(), 'yyyy-MM-dd')"
            data-date="{'buttonOnly': true}"
            @change="getOperations"
          />
        </div>
      </div>
    </div>
    <div
      v-if="kidOperations && kidOperations.length > 0"
      class="operations__conatiner"
    >
      <div
        v-for="operation in kidOperations"
        :key="'operation-' + operation.id"
        class="operations__container__operation"
      >
        <h2 class="operation__id">
          {{ $t('user.fields.operation') }} № {{ operation.id }}
        </h2>
        <span class="operation__description"
          >{{ $t('user.fields.camp') }}: {{ operation.camp_name }}</span
        >
        <span class="operation__description"
          >{{ $t('user.fields.operation') }}:
          <b>
            {{
              operation.operation_id == 1
                ? $t('user.fields.refill')
                : $t('user.fields.writeOff')
            }}</b
          ></span
        >
        <span class="operation__description"
          >{{ $t('user.fields.date') }}:
          {{ format(fromUnixTime(operation.created_at), 'dd.MM.yyyy') }}</span
        >
        <span class="operation__description"
          >{{ $t('user.fields.summ') }}:
          {{ (operation.amount * currentCurrency.ratio).toFixed(2) }}
          {{ $t('user.common.jcoin') }}</span
        >
        <span class="operation__description small"
          >{{ $t('user.fields.markerTT') }}: {{ operation.sender }}</span
        >

        <bill
          v-if="
            operation.check &&
              !!operation.check.items &&
              operation.check.items.length > 0
          "
          :bill="operation.check"
          :currentCurrency="currentCurrency"
        />
      </div>
      <pagination
        :pages="currentPagination.total_pages * 1"
        :items="currentPagination.total_count * 1"
        :perPage="currentPagination.per_page * 1"
        :currentPage="currentPagination.page * 1"
        @changePage="changePage"
        @changePerPage="changePerPage"
      />
    </div>
    <div v-else class="kids-bills__conatiner">
      <h3>{{ $t('user.account.noBills') }}</h3>
    </div>
  </div>
</template>

<script>
import { fromUnixTime, format, startOfYear } from 'date-fns';

// import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

import RegularSelectSlots from '@/components/primitives/RegularSelectSlots';
import PageTitle from '@/components/user/common/PageTitle';
import Pagination from '@/components/common/Pagination';
import Bill from '@/components/user/account/Bill';

const UserRepository = RepositoryFactory.get('user');

export default {
  name: 'Operations',
  components: {
    RegularSelectSlots,
    Pagination,
    PageTitle,
    Bill,
  },
  props: {
    activeKid: Object,
    currentCurrency: Object,
  },
  watch: {
    'activeKid.id': {
      async handler() {
        this.getOperations();
      },
    },
  },
  mounted() {
    this.getOperations();
  },
  data() {
    return {
      kidOperations: [],
      dateFrom: format(startOfYear(new Date()), 'yyyy-MM-dd'),
      dateTo: format(new Date(), 'yyyy-MM-dd'),
      operationType: null,
      operationTypes: [
        { id: null, name: this.$i18n.t('user.account.operationType.all') },
        { id: 1, name: this.$i18n.t('user.account.operationType.refill') },
        { id: 2, name: this.$i18n.t('user.account.operationType.writeOff') },
      ],
      fromUnixTime,
      format,
      pagination: {
        page: 0,
        perPage: 10,
      },
      currentPagination: {},
    };
  },
  methods: {
    async getOperations() {
      let params = {
        user_id: this.activeKid?.id,
        page: this.pagination?.page || 0,
        per_page: this.pagination?.perPage || 20,
        operation_id: this.operationType,
        date_from: new Date(this.dateFrom)
          ? format(new Date(this.dateFrom), 'dd-MM-yyyy')
          : null,
        date_to: new Date(this.dateTo)
          ? format(new Date(this.dateTo), 'dd-MM-yyyy')
          : null,
      };
      if (this.activeKid?.id) {
        try {
          const resp = await UserRepository.getAccountLogs(params);
          if (resp.data.status === 'ok') {
            this.kidOperations = resp.data.data.items;
            this.currentPagination = resp.data.pagination;
          }
        } catch (e) {
          console.log(e);
        }
      }
    },
    changePerPage(val) {
      if (this.pagination.page * val > this.currentPagination?.total_count) {
        this.pagination.perPage = val;
        this.pagination.page = Math.floor(
          this.currentPagination?.total_count / val
        );
      }
      this.pagination.perPage = val;
      this.getOperations();
    },
    changePage(val) {
      this.pagination.page = val;
      this.getOperations();
    },
    operationTypeUpdate(val) {
      this.operationType = val;
      this.getOperations();
    },
  },
};
</script>

<style lang="scss" scoped>
.operations {
  padding: 20px;
  .filters-dates {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;

    @media screen and (max-width: 842px) {
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    flex-wrap: wrap;

    div {
      margin: 2px 5px;
    }

    &__selector {
      flex-grow: 2;
      min-width: 180px;
      max-height: 50px;
    }
    &__date {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;
      flex-grow: 1;

      .date-picker {
        border: 1px solid $border;
        padding: 15px 23px;
        width: 100%;
        background-color: $white;
      }
      input[type='date']::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
      }
    }
  }

  &__container {
    &__operation {
      .operation {
        &__id {
        }
        &__description {
          display: block;
          font-size: $regular + 2px;
          margin: 3px 0;

          &.small {
            font-size: $small;
          }
        }
      }
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 2px solid $dark-grey-font;
    }
  }
}
</style>
