<template>
  <section class="payment">
    <page-title :title="$t('user.titles.refill')" />
    <div class="payment__container">
      <div class="payment__user">
        <p>
          {{ $t('user.account.refillPageWelcome') }}
          <b>{{ activeKid.name }} {{ activeKid.surname }}.</b> <br />
          {{ $t('user.account.currentlyOnAccount') }}
          <b>{{ (account.main * currentCurrency.ratio).toFixed(2) }}</b>
          {{ currentCurrency.abbr }}
        </p>
      </div>
      <div class="payment__form">
        <p>
          {{ $t('user.account.aboutJcoin') }}
        </p>
        <p>
          {{ $t('user.account.refillInstructions') }}
        </p>
      </div>
      <regular-input-masked
        elId="summ"
        class="payment__form__input"
        elType="text"
        :elLabel="$t('user.fields.refillJcoin')"
        :mask="'##########'"
        v-model="amountPay"
      />
      <span class="to-pay"
        >{{ $t('user.account.refillSumm') }}
        <small>{{ $t('user.account.commission') }}</small
        >: <b>{{ (amountInRub * 1.055).toFixed(2) }}</b>
        {{ $t('user.account.currency') }}</span
      >
      <regular-button
        :elClass="['corporate']"
        class="payment__form__button"
        :disabled="!amountPay"
        @click="getLink"
      >
        {{ $t('user.buttons.pay') }}
      </regular-button>
    </div>
    <div v-if="$i18n.locale == 'ru'" class="helpers">
      <div class="helpers__payment">
        <h2>
          {{ $t('user.account.helpers.paymentCardTitle') }}
        </h2>
        <p>
          {{ $t('user.account.helpers.paymentCard[0]') }}
        </p>
        <p>
          {{ $t('user.account.helpers.paymentCard[1]') }}
        </p>
        <p>
          {{ $t('user.account.helpers.paymentCard[2]') }}
        </p>
        <p>
          {{ $t('user.account.helpers.paymentCard[3]') }}
        </p>
        <p>
          {{ $t('user.account.helpers.paymentCard[4]') }}
        </p>
        <p>
          {{ $t('user.account.helpers.paymentCard[5]') }}
        </p>
      </div>
      <div class="helpers__payment">
        <h2>
          {{ $t('user.account.helpers.paymentReturnTitle') }}
        </h2>
        <p>
          {{ $t('user.account.helpers.paymentReturn') }}
        </p>
      </div>
      <a
        class="helpers__link"
        :href="$t('user.account.helpers.legalLink')"
        target="_blank"
        >{{ $t('user.account.helpers.legal') }}</a
      >
    </div>
  </section>
</template>

<script>
import axios from 'axios';

import PageTitle from '@/components/user/common/PageTitle';
import RegularButton from '@/components/primitives/RegularButton.vue';
import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';

import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';

const UserRepository = RepositoryFactory.get('user');

const coreURL = process.env.VUE_APP_API_CORE;

export default {
  name: 'Refill',
  components: {
    PageTitle,
    RegularButton,
    RegularInputMasked,
  },
  computed: {
    amountInRub() {
      return (this.amountPay / this.currentCurrency.ratio).toFixed(2);
    },
  },
  props: {
    activeKid: Object,
    department: Number,
    currentCurrency: Object,
  },
  data: function() {
    return {
      amountPay: null,
      account: {},
    };
  },
  async mounted() {
    try {
      const resp = await UserRepository.getAccountInfo({
        user_id: this.activeKid.id,
      });
      if (resp.data.status === 'ok') {
        this.account = resp.data.data.find(
          item => item.department_id === this.department
        );
        console.log(
          resp.data.data.find(item => item.department_id === this.department)
        );
      } else {
        this.account = null;
      }
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    getLink() {
      axios({
        url: coreURL + '/rest/v1/payment/getbutton',
        params: {
          account_id: this.activeKid.id,
          amount: this.amountPay,
        },
        method: 'GET',
      })
        .then(resp => {
          console.log(resp.data.data);
          let newLink = resp.data?.data;
          window.location.href = newLink;
        })
        .catch(err => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.payment {
  padding: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  &__form {
    max-width: 100%;

    &__input {
      margin: 20px auto;
      width: 80%;

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
    &__button {
      margin: 0 auto;
      display: block;
    }
  }
  .to-pay {
    font-size: $semi-big;
    margin-bottom: 30px;
    b {
      font-size: $big;
    }
  }
  .camp-info {
    &__header {
      font-size: $big;
      margin: 40px 0;
    }
    &__text {
    }
  }
  .helpers {
    &__link {
      font-size: $regular + 2px;
      color: $dark-grey-font;
      text-decoration: underline;
    }
  }
}
</style>
