<template>
  <div class="restrictions">
    <page-title :title="$t('user.titles.restrictions')" />
    <p>
      {{ $t('user.account.restrictionWelcome') }}<br />
      {{ $t('user.account.restrictionInfo') }}<br />
    </p>
    <div class="restrictions__container">
      <div v-for="(item, key) in outletsInfo" :key="'catalog-' + key">
        <products-restrictions
          class="shop-catalog__container"
          :item="item.categories"
          :products="item.products"
          :selected="selectedCatalog"
          :categoryToBan="categoryToBan"
          :productsToBan="productsToBan"
          :categoryToUnban="categoryToUnban"
          :productsToUnban="productsToUnban"
          :categoryRestricts="categoryRestricts"
          :productsRestricts="productsRestricts"
          @selectProduct="selectProduct"
          @selectCategory="selectCategory"
        />
      </div>
      <div class="restrictions__buttons">
        <button class="restrictions__buttons__button" @click.prevent="apply">
          {{ $t('user.buttons.apply') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { componentErrorHandler } from '@/helpers/methods/errorHandler';
import { RepositoryFactory } from '@/helpers/apiFactory/RepositoryFactory';
// import RegularInputMasked from '@/components/primitives/RegularInputMasked.vue';

import PageTitle from '@/components/user/common/PageTitle';
import ProductsRestrictions from '@/components/user/Restrictions/ProductsRestrictions';

const OutletRepository = RepositoryFactory.get('outlet');

export default {
  name: 'ShopRestrictions',
  components: {
    PageTitle,
    // RegularInputMasked,
    ProductsRestrictions,
  },
  props: {
    activeKid: Object,
    activeKidCamp: Object,
  },
  data: function() {
    return {
      outletsList: [],
      productsRestricts: [],
      categoryRestricts: [],
      cashLimit: {},
      outletsInfo: [],

      selectedCatalog: {},
      categoryToBan: [],
      productsToBan: [],
      categoryToUnban: [],
      productsToUnban: [],
      dailyLimit: null,
    };
  },
  watch: {
    'activeKid.id': {
      immediate: true,
      async handler() {
        await this.refreshBanData();
        await this.getOutletList();
        await this.getOutletTree();
      },
    },
  },
  methods: {
    async getOutletList() {
      try {
        const resp = await OutletRepository.getOutletsList({
          camp_id: this.activeKidCamp.camp_id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка торговых точек',
            'Возникла ошибка при получении списка торговых точек',
            'error'
          );
        } else {
          this.outletsList = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async getOutletProducts(data) {
      try {
        const resp = await OutletRepository.getCurrentShopProducts({
          outlet_id: data.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка товаров торговой точки',
            'Возникла ошибка при получении списка товаров торговой точки',
            'error'
          );
          return null;
        } else {
          return resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async getOutletCategories(data) {
      try {
        const resp = await OutletRepository.getCurrentShopCategories({
          outlet_id: data.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка категорий торговой точки',
            'Возникла ошибка при получении списка категорий торговой точки',
            'error'
          );
          return null;
        } else {
          return resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    async getOutletTree() {
      this.outletsInfo = [];
      for (const [i, item] of this.outletsList.entries()) {
        let data = {
          i: i,
          id: item.id,
        };
        data.products = await this.getOutletProducts(data);
        data.categories = await this.getOutletCategories(data);
        this.outletsInfo.push(data);
      }
    },
    async refreshBanData() {
      this.categoryToBan = [];
      this.productsToBan = [];
      this.categoryToUnban = [];
      this.productsToUnban = [];

      try {
        const resp = await OutletRepository.getProductRestricts({
          user_id: this.activeKid.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка заблокированных товаров',
            'Возникла ошибка при получении списка заблокированных товаров',
            'error'
          );
        } else {
          this.productsRestricts = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }

      try {
        const resp = await OutletRepository.getCategoriesRestricts({
          user_id: this.activeKid.id,
        });
        if (resp?.data?.status != 'ok') {
          componentErrorHandler(
            this,
            'Получение списка заблокированных категорий товаров',
            'Возникла ошибка при получении списка заблокированных категорий товаров',
            'error'
          );
        } else {
          this.categoryRestricts = resp?.data?.data;
        }
      } catch (err) {
        console.error(err);
      }
    },
    selectProduct(item) {
      if (
        this.productsToBan.findIndex(i => i === item) < 0 &&
        !this.productsRestricts.find(i => i.product_id == item)
      ) {
        this.productsToBan.push(item);
      } else if (
        this.productsToBan.findIndex(i => i === item) < 0 &&
        this.productsToUnban.findIndex(i => i === item) < 0 &&
        this.productsRestricts.find(i => i.product_id == item)
      ) {
        this.productsToUnban.push(item);
      } else if (this.productsToBan.findIndex(i => i === item) >= 0) {
        this.productsToBan.splice(
          this.productsToBan.findIndex(i => i === item),
          1
        );
      } else if (this.productsToUnban.findIndex(i => i === item) >= 0) {
        this.productsToUnban.splice(
          this.productsToUnban.findIndex(i => i === item),
          1
        );
      }
    },
    selectCategory(item) {
      if (
        this.categoryToBan.findIndex(i => i === item) < 0 &&
        !this.categoryRestricts.find(i => i.category_id == item)
      ) {
        this.categoryToBan.push(item);
      } else if (
        this.categoryToBan.findIndex(i => i === item) < 0 &&
        this.categoryToUnban.findIndex(i => i === item) < 0 &&
        this.categoryRestricts.find(i => i.category_id == item)
      ) {
        this.categoryToUnban.push(item);
      } else if (this.categoryToBan.findIndex(i => i === item) >= 0) {
        this.categoryToBan.splice(
          this.categoryToBan.findIndex(i => i === item),
          1
        );
      } else if (this.categoryToUnban.findIndex(i => i === item) >= 0) {
        this.categoryToUnban.splice(
          this.categoryToUnban.findIndex(i => i === item),
          1
        );
      }
    },

    async apply() {
      if (this.categoryToBan.length > 0) {
        let data = {
          user_id: this.activeKid.id,
          categories: [],
        };
        this.categoryToBan.forEach(item => {
          let obj = {
            category: {
              id: item,
            },
          };
          data.categories.push(obj);
        });
        console.log(data);
        try {
          const resp = await OutletRepository.banCategories(
            JSON.stringify(data)
          );
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Блокирование категорий',
              'Возникла ошибка при Блокировании категорий',
              'error'
            );
          }
        } catch (err) {
          console.error(err);
        }
      }
      if (this.categoryToUnban.length > 0) {
        let data = {
          user_id: this.activeKid.id,
          categories: [],
        };
        this.categoryToUnban.forEach(item => {
          let obj = {
            category: {
              id: item,
            },
          };
          data.categories.push(obj);
        });
        console.log(data);
        try {
          const resp = await OutletRepository.unBanCategories(
            JSON.stringify(data)
          );
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Разблокирование категорий',
              'Возникла ошибка при разблокировании категорий',
              'error'
            );
          }
        } catch (err) {
          console.error(err);
        }
      }
      if (this.productsToBan.length > 0) {
        let data = {
          user_id: this.activeKid.id,
          products: [],
        };
        this.productsToBan.forEach(item => {
          let obj = {
            product: {
              id: item,
            },
          };
          data.products.push(obj);
        });
        console.log(data);
        try {
          const resp = await OutletRepository.banProducts(JSON.stringify(data));
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Блокирование товаров',
              'Возникла ошибка при Блокировании товаров',
              'error'
            );
          }
        } catch (err) {
          console.error(err);
        }
      }

      if (this.productsToUnban.length > 0) {
        let data = {
          user_id: this.activeKid.id,
          products: [],
        };
        this.productsToUnban.forEach(item => {
          let obj = {
            product: {
              id: item,
            },
          };
          data.products.push(obj);
        });
        console.log(data);
        try {
          const resp = await OutletRepository.unBanProducts(
            JSON.stringify(data)
          );
          if (resp.data.status != 'ok') {
            componentErrorHandler(
              this,
              'Разлокирование товаров',
              'Возникла ошибка при разблокировании товаров',
              'error'
            );
          }
        } catch (err) {
          console.error(err);
        }
      }
      componentErrorHandler(
        this,
        'Обновление ограничений',
        'Изменения ограничений сохранены.',
        'success'
      );
      await this.refreshBanData();
    },
  },
};
</script>

<style lang="scss" scoped>
.restrictions {
  padding: 20px;

  .shop-catalog__container {
    list-style: none;
    cursor: pointer;
    margin-bottom: 50px;
    border-bottom: 2px solid $border;
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__button {
      border-radius: 24px;
      padding: 18px 30px;
      border: 0px solid;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $corporate;
      background-image: $corporate-gradient;
      color: $white-font;
      box-shadow: 0 8px 16px #c1f8f8;

      &:active {
        box-shadow: 0 5px 10px inset $dark-grey-font;
      }
    }
  }
}
</style>
