<template>
  <div class="search">
    <input
      :value="value"
      @input="$emit('input', $event.target.value)"
      type="text"
      :placeholder="placeholder"
      class="search__input"
    />

    <span class="search__icon"></span>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    placeholder: String,
  },
};
</script>

<style lang="scss" scoped>
.search {
  position: relative;
  width: 100%;
  &__input {
    height: 44px;
    width: 100%;
    border-radius: 22px;
    border: 0 solid transparent;
    display: block;
    background-color: $border;
    position: relative;
    padding: 0 20px;
  }
  &__icon {
    position: absolute;
    content: '';
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    background-image: url(./../../assets/img/svg/search-ico.svg);
  }
}
</style>
