<template>
  <button
    class="regular-button"
    :class="elClass"
    :id="elId ? elId : false"
    :disabled="elDisabled ? true : false"
    @click.prevent="$emit('myclick')"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'HomeButton',
  data: function() {
    return {};
  },
  props: {
    elClass: {
      type: Array,
      default() {
        return [];
      },
    },
    elId: {
      type: String,
      default: '',
    },
    elDisabled: {
      type: Boolean,
      default: null,
    },
  },
};
</script>

<style scoped lang="scss">
.regular-button {
  border-radius: 5px;
  padding: 30px 80px;
  border: 0px solid;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $regular + 11px;
  @media screen and (max-width: 930px) {
    padding: 30px;
    font-size: $regular + 4px;
  }
  @media screen and (max-width: 800px) {
    font-size: $regular + 11px;
    padding: 30px 80px;
  }
  @media screen and (max-width: 520px) {
    padding: 30px;
    font-size: $regular + 4px;
  }

  &:hover {
    cursor: pointer;
  }

  &.corporate {
    background-color: $corporate;
    background-image: $corporate-gradient;
    color: $white-font;
    box-shadow: none;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: none;
    }
  }
  &:disabled {
    opacity: 0.4;
    box-shadow: 0 0 0 transparent;
  }
}
</style>
