<template>
  <span class="logo-link" href="/">
    <img
      src="./../../assets/img/svg/logo-white.svg"
      class="logo-link__img"
      alt="Justapp"
    />
  </span>
</template>

<script>
export default {
  name: 'Logo',
};
</script>

<style scoped lang="scss">
.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
