<template>
  <button @click="$emit('click', $event)">
    {{ text }}<img src="@/assets/img/svg/arrow.svg" alt="Arrow Right" />
  </button>
</template>

<script>
export default {
  name: 'RateButton',
  props: {
    text: String,
  },
};
</script>

<style lang="scss" scoped>
button {
  background: $corporate-menu;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 15px;
  width: 85%;
}
</style>
