<template>
  <button
    class="regular-button"
    :class="elClass"
    :id="elId ? elId : false"
    :disabled="elDisabled ? true : false"
    @click.prevent="$emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'RegularButton',
  data: function() {
    return {};
  },
  props: {
    elClass: {
      type: Array,
      default() {
        return [];
      },
    },
    elId: {
      type: String,
      default: '',
    },
    elDisabled: {
      type: Boolean,
      default: null,
    },
  },
};
</script>

<style scoped lang="scss">
.regular-button {
  border-radius: 24px;
  padding: 18px 30px;
  border: 0px solid;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
  &.submit {
    border-radius: 5px;
    padding: 15px 40px;
    border: 0px solid;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: none;
    font-size: $regular;

    &:hover {
      cursor: pointer;
    }

    background-color: $corporate-menu;
    color: $white-font;
    box-shadow: none;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: none;
    }
  }
  &.corporate {
    background-color: $corporate;
    background-image: $corporate-gradient;
    color: $white-font;
    box-shadow: 0 8px 16px #c1f8f8;

    &:active {
      box-shadow: 0 5px 10px inset $dark-grey-font;
    }
  }
  &.corporate-light-radius-small {
    color: $white-font;
    border-radius: 8px;
    background-color: $corporate-menu;
    font-size: 12px;
    padding: 10px 30px;
  }
  &.corporate-radius-small {
    font-size: 12px;
    color: $white-font;
    border-radius: 8px;
    background-color: $corporate;
    padding: 10px 30px;
  }
  &.corporate-bordered {
    background-color: white;
    border-radius: 12px;
    border: 2px solid $corporate;
    color: $black-font;

    &:active {
      color: $white-font;
      background-color: $corporate;
    }
  }

  &.grey {
    background-color: $grey;
    color: $dark-grey-font;
  }
  &.grey-small {
    background-color: $grey;
    color: $dark-grey-font;
    padding: 12px 30px;
  }

  &.red {
    background-color: $red-back;
    color: $white-font;
  }
  &:disabled {
    opacity: 0.4;
    box-shadow: 0 0 0 transparent;
  }
}
</style>
