<template>
  <div
    :class="[
      'regular-input',
      { '-activated': activated },
      { '-focused': focus },
      { '-error': fieldError },
      { '-disabled': elDisabled },
    ]"
  >
    <label
      v-if="!(errorMessage && fieldError)"
      :for="elId"
      class="regular-input__label"
      :class="elClass"
    >
      {{ elLabel }}
    </label>
    <span v-if="errorMessage && fieldError" class="regular-input__error">
      {{ errorMessage }}
    </span>
    <input
      class="regular-input__field"
      v-mask="mask"
      autocomplete="on"
      :disabled="elDisabled"
      :type="elType"
      :class="elClass"
      :id="elId"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @focus="focused"
      @blur="unfocused"
    />
  </div>
</template>

<script>
import { mask } from 'vue-the-mask';
export default {
  name: 'RegularInputMask',
  directives: { mask },
  data: function() {
    return {
      activated: false, //visited + have data
      visited: false,
      focus: false,
    };
  },
  props: {
    value: {
      type: [String, Number],
      default: null,
    },
    error: {
      type: Boolean,
      default: false,
    },
    errorMessages: {
      type: Object,
      default: null,
    },
    elType: {
      type: String,
      default: 'text',
    },
    elId: {
      type: String,
      default: '',
    },
    elClass: {
      type: Array,
      default() {
        return [];
      },
    },
    elLabel: {
      type: String,
      default: '',
    },
    elDisabled: {
      type: Boolean,
      default: null,
    },
    mask: {
      type: [String, Array],
      default: undefined,
    },
  },
  mounted() {
    this.unfocused;
    if (this.value != null) {
      this.activated = true;
    }
  },
  computed: {
    fieldError() {
      return this.error && this.visited && !this.focus;
    },
    errorMessage() {
      for (let message in this.errorMessages) {
        if (this.errorMessages[message] === true) {
          return message;
        }
      }
      return null;
    },
  },
  watch: {
    value() {
      this.activated = this.value;
    },
  },
  methods: {
    focused() {
      this.activated = true;
      this.visited = true;
      this.focus = true;
    },
    unfocused() {
      this.activated = this.value;
      this.focus = false;
    },
  },
};
</script>

<style scoped lang="scss">
.regular-input {
  display: block;
  position: relative;
  border: 1px solid $border;
  background: $white;
  margin: 2px;
  max-width: 100%;

  &__label {
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 24px;
    color: $light-grey-font;
    font-size: $regular + 2;
    transition: all 0.3s;
    &:hover {
      cursor: text;
    }
  }
  &__error {
    position: absolute;
    top: 5px;
    left: 24px;
    color: $red;
    font-size: $small;
    transition: all 0.3s;
  }
  &__field {
    border: 0px solid;
    width: 100%;
    height: 100%;
    padding: 24px 24px 24px 100px;
    background: transparent;
    outline: 0;

    &:active {
      border: 0px solid;
    }
  }

  &.-activated {
    .regular-input__label {
      font-size: $small;
      top: 5px;
      bottom: auto;
    }
    .regular-input__field {
      padding-left: 24px;
    }
  }
  &.-focused:before {
    content: '';
    top: 0;
    left: -3px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: $corporate;
    position: absolute;
  }
  &.-error:before {
    content: '';
    top: 0;
    left: -3px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: $red;
    position: absolute;
  }
  &.-disabled {
    input {
      background-color: $user_bg;
    }
  }
}
</style>
