<template>
  <div>
    <input
      type="checkbox"
      :class="elClass"
      :id="elId"
      :value="elValue"
      :disabled="elDisabled"
      :checked="elChecked"
      @change.prevent="$emit('click', $event.target.value)"
    />
    <label :for="elId">
      <slot></slot>
    </label>
  </div>
</template>

<script>
export default {
  name: 'RegularCheckbox',
  data: function() {
    return {};
  },
  props: {
    elClass: {
      type: Array,
      default() {
        return [];
      },
    },
    elId: {
      type: String,
      default: '',
    },
    elDisabled: {
      type: Boolean,
      default: null,
    },
    elValue: {
      type: String,
      default: '',
    },
    elChecked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
input[type='checkbox'] {
  display: none;

  + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
    font-size: $small;
    color: $dark-grey-font;
    font-weight: 500;

    &:before {
      content: '\2714';
      background-color: #fff;
      border: 1px solid $active-border;
      border-radius: 3px;
      display: inline-block;
      width: 23px;
      height: 23px;
      padding-left: 0.2em;
      padding-bottom: 0.3em;
      margin-right: 0.2em;
      vertical-align: middle;
      color: transparent;
      transition: 0.2s;
      font-size: 20px;
    }
    &:active:before {
      transform: scale(0);
    }
  }
  &:checked + label:before {
    background-color: $corporate;
    border-color: $corporate;
    color: $white;
  }
  &:disabled + label:before {
    transform: scale(1);
    border-color: $border;
  }
  &:checked:disabled + label:before {
    transform: scale(1);
    background-color: $border;
    border-color: $border;
  }
}
</style>
