<template>
  <div
    @click="expanded = !expanded"
    class="regular-select"
    :class="{
      '-expanded': expanded,
      '-selected': value,
      '-disable': elDisabled,
    }"
    v-click-outside-except="{ handler: collapse }"
  >
    <span class="regular-select__placeholder">
      {{ placeholder }}
    </span>
    <span v-if="value" class="regular-select__value">
      {{ valueName }}
    </span>
    <ul
      class="regular-select__options"
      :class="{ '-expanded': expanded && !elDisabled }"
    >
      <li
        v-for="(option, key) in optionList"
        @click="select(option.value)"
        :key="key"
        class="regular-select__options__option"
      >
        {{ option.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { ClickOutsideExcept } from '@/helpers/directives/ClickOutsideDirectiveExcept.js';
export default {
  name: 'RegularSelect',
  directives: {
    ClickOutsideExcept,
  },
  data: function() {
    return {
      expanded: false,
    };
  },
  props: {
    placeholder: String,
    optionList: Array,
    value: [String, Number],
    elDisabled: Boolean,
  },
  computed: {
    valueName() {
      return this.optionList.find(x => x.value === this.value).name;
    },
  },
  methods: {
    collapse() {
      this.expanded = false;
    },
    select(value) {
      this.$emit('select', value);
      // this.expanded = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.regular-select {
  display: block;
  position: relative;
  border: 1px solid $border;
  background: $white;
  margin: 2px;
  max-width: 100%;
  padding: 31px;
  outline: 0;
  cursor: pointer;

  &:after {
    content: url('../../assets/img/svg/common-icons/arrow.svg');
    transform: rotate(90deg) translate(-50%, 0);
    width: 10px;
    height: 10px;
    position: absolute;
    right: 24px;
    top: 50%;
  }

  &.-disable {
    background: $user_bg;
  }

  &.-selected {
    padding: 23px;

    .regular-select__placeholder {
      font-size: $small;
      top: 5px;
    }
  }

  &.-expanded {
    &:after {
      content: url('../../assets/img/svg/common-icons/arrow.svg');
      transform: rotate(270deg) translate(50%, -5px);
    }
    &:before {
      content: '';
      top: 0;
      left: -3px;
      bottom: 0;
      width: 3px;
      height: 100%;
      background: $corporate;
      position: absolute;
    }
  }

  &__placeholder {
    position: absolute;
    top: 20px;
    bottom: 24px;
    left: 24px;
    color: $light-grey-font;
    font-size: $regular + 2;
    transition: all 0.3s;
  }

  // &__value{

  // }
  &__options {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $white;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    max-height: 0;
    display: none;
    opacity: 0;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px 2px rgba(235, 235, 235, 0.75);
    -moz-box-shadow: 5px 5px 5px 2px rgba(235, 235, 235, 0.75);
    box-shadow: 5px 5px 5px 2px rgba(235, 235, 235, 0.75);
    background-color: $white;
    transition: opacity 0.3s;
    width: 100%;
    left: 0;
    top: 65px;
    z-index: 9999;

    &.-expanded {
      max-height: 50vh;
      opacity: 1;
      overflow: auto;
      display: block;
    }

    &__option {
      cursor: pointer;
      padding: 10px 20px;

      &:hover {
        background-color: $grey;
      }
    }
  }
}
</style>
