<template>
  <div id="container" class="regular-fileinput">
    <div>
      <div
        class="upload regular-fileinput__uploaded"
        v-for="(upload, index) in uploads"
        :key="index"
      >
        <div
          class="ext regular-fileinput__uploaded__ext"
          :style="{ 'background-color': upload.color }"
        >
          <p class="regular-fileinput__uploaded__ext__text">
            {{ upload.ext.toUpperCase() }}
          </p>
        </div>
        <div class="upload-details regular-fileinput__uploaded__details">
          <div
            class="name-container regular-fileinput__uploaded__details__info"
          >
            <p
              class="filename regular-fileinput__uploaded__details__info__filename"
            >
              {{ upload.name }}
            </p>
            <div
              class="filename regular-fileinput__uploaded__details__info__file"
            >
              <p
                class="filesize filename regular-fileinput__uploaded__details__info__file__filesize"
              >
                {{ upload.size }}
              </p>
              <p
                @click="removeUpload(index)"
                class="cancel-btn filename regular-fileinput__uploaded__details__info__file__cancel"
                v-if="upload.progress !== '100%'"
              >
                x
              </p>
            </div>
          </div>
          <div
            class="upload-bar regular-fileinput__uploaded__details__progress"
            v-if="upload.progress !== '100%'"
          >
            <div
              class="upload-progress regular-fileinput__uploaded__details__progress__scale"
              :style="{ width: upload.progress }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
      @click="openFilePicker"
      id="uploader"
      class="regular-fileinput__uploader"
    >
      <p class="regular-fileinput__uploader__label">{{ label }}</p>
      <input
        class="regular-fileinput__uploader__input"
        type="file"
        ref="filepicker"
        @change="uploadFile"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegularFileInput',
  data: function() {
    return {
      uploads: [],
    };
  },
  props: {
    label: {
      type: String,
      default: '',
    },
  },
  methods: {
    removeUpload(index) {
      clearInterval(this.uploads[index].progressTimer);
      this.uploads.splice(index, 1);
    },
    openFilePicker() {
      this.$refs.filepicker.click();
    },
    uploadFile() {
      const input = this.$refs.filepicker;
      const file = input.files[0];

      const upload = {
        id: this.uploads.length + 1,
        name: file.name,
        size: this.getFileSize(file.size),
        progress: '0%',
        ext: file.name.substring(
          file.name.lastIndexOf('.') + 1,
          file.name.length
        ),
        progressTimer: null,
      };

      this.uploads.push(upload);
      const timer = setInterval(this.updateProgress, 300, upload.id);
      upload.progressTimer = timer;
      this.$emit('uploaded', file);
    },
    getFileSize(size) {
      if (size < 1000000) return `${Math.ceil(size / 1024)} kb`;
      else if (size >= 1000000) return `${Math.ceil(size / 1024000)} mb`;
    },
    updateProgress(id) {
      const index = id - 1;
      const progress = Number.parseInt(
        this.uploads[index].progress.replace('%', '')
      );

      this.$set(this.uploads[index], 'progress', `${progress + 10}%`);
      if (progress + 10 === 100)
        clearInterval(this.uploads[index].progressTimer);
    },
  },
};
</script>

<style lang="scss" scoped>
.regular-fileinput {
  margin: 2px;
  max-width: 100%;
  border: 1px solid $border;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;

  &__uploaded {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    &__ext {
      width: 56px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-right: 16px;
      background: $corporate-gradient;

      &__text {
        font-size: 14px;
        color: white;
        font-weight: bold;
      }
    }
    &__details {
      width: 100%;

      &__info {
        display: flex;
        justify-content: space-between;
        font-size: 15px;

        &__filename {
          color: #424242;
          font-weight: bold;
          margin-right: 16px;
        }
        &__file {
          display: flex;
          align-items: center;

          &__filesize {
            color: #9d9d9d;
          }
          &__cancel {
            margin-left: 16px;
            cursor: pointer;
            color: #e4e4e4;
          }
        }
      }
      &__progress {
        width: 100%;
        margin-top: 8px;
        border-radius: 5px;
        background-color: #ebf6f4;

        &__scale {
          height: 10px;
          background-color: #04cd8e;
          border-radius: 5px;
        }
      }
    }
  }
  &__uploader {
    width: calc(100% - 32px);
    height: 100px;
    border: 2px dashed #d9f0ef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding: 0px 16px;
    &__label {
      font-size: 18px;
      color: #b6b6b6;
    }
    &__input {
      display: none;
    }
  }
}

@media screen and (max-width: 567px) {
  #container {
    width: 85%;
  }
}
</style>
