<template>
  <div class="password-input">
    <regular-input
      v-bind="$props"
      :elType="showPass ? 'string' : 'password'"
      v-on="$listeners"
    />
    <span @click="showPass = !showPass" class="password-input__show-pass">
      <img v-show="!showPass" src="@/assets/img/svg/eye-open.svg" alt="" />
      <img v-show="showPass" src="@/assets/img/svg/eye-close.svg" alt="" />
    </span>
  </div>
</template>

<script>
import RegularInput from '@/components/primitives/RegularInput';
export default {
  name: 'RegularInputPassword',
  components: { RegularInput },
  props: [
    'value',
    'error',
    'errorMessages',
    'elType',
    'elId',
    'elClass',
    'elLabel',
    'elDisabled',
  ],
  data: function() {
    return {
      showPass: false,
    };
  },
};
</script>

<style scoped lang="scss">
.password-input {
  position: relative;
  &__show-pass {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    width: 25px;
  }
}
</style>
