<template>
  <nav class="header-nav">
    <router-link
      class="header-nav__link"
      v-for="(link, key) in links"
      :key="key"
      :to="link.url"
      >{{ link.name }}</router-link
    >
  </nav>
</template>

<script>
export default {
  name: 'header-nav',
  data: function() {
    return {
      links: [
        { url: '/', name: 'home', roles: 'kid, parent' },
        { url: '/about', name: 'About', roles: 'kid, parent' },
        { url: '/auth', name: 'Auth', roles: 'kid, parent' },
        { url: '/user', name: 'Edit', roles: 'kid, parent' },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__link {
    color: $dark-grey-font;
    font-size: $regular + 2px;
    font-weight: 300;
    padding: 0 10px;
  }
}
</style>
