<template>
  <div>
    <a class="logo-link" href="/#">
      <img
        src="./../../assets/img/logo-white.svg"
        class="logo-link__img"
        alt="Justapp"
      />
    </a>
  </div>
</template>

<script>
export default {
  name: 'logo',
};
</script>

<style scoped lang="scss">
.logo-link {
  display: block;
  max-width: 150px;
  max-height: 60px;

  &__img {
    max-width: 100%;
    height: auto;
  }
}
</style>
