<template>
  <div class="card">
    <div
      class="card__container"
      style=" background-color: rgba(131, 224, 228, .1);"
    >
      <div class="card__container__header">
        <h2 class="card__container__header__title">{{ card.title }}</h2>
      </div>
      <div v-if="!active" class="card__container__text-preview">
        <p v-html="card.preview"></p>
      </div>
      <div v-if="active" class="card__container__text">
        <p v-html="card.text"></p>
      </div>
      <div @click="activate" class="card__container__button">
        {{
          active
            ? $t('home.buttons.collapse')
            : `... ${$t('home.buttons.expand')}`
        }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewsCard',
  components: {},
  props: {
    card: Object,
    active: Boolean,
  },
  methods: {
    activate() {
      this.$emit('activate', this.active ? null : this.card.id);
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  max-width: 25%;
  min-height: 100%;

  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
  &__container {
    padding: 30px;
    border-radius: 20px;
    position: relative;
    @media screen and (max-width: 800px) {
      padding: 20px;
    }

    &__header {
      position: relative;
      margin-bottom: 30px;

      &__title {
        padding-bottom: 10px;
      }
      &:before {
        content: '';
        position: absolute;
        border-radius: 3px;
        background-image: $corporate-gradient;
        width: 45px;
        height: 5px;
        bottom: -13px;
        left: 0;
      }
      &:after {
        content: '';
        position: absolute;
        width: 45px;
        height: 5px;
        bottom: -13px;
        border-bottom: 5px dashed $border;
        left: 60px;
      }
    }
    &__text-preview {
      font-size: $regular;
      font-weight: 400;
      color: $dark-grey-font;
      text-align: justify;
    }
    &__text {
      display: block;
      font-size: $regular;
      font-weight: 400;
      color: $dark-grey-font;
      text-align: justify;
      padding-right: 0px;
      padding-left: 0px;
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
    &__button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 20px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
</style>
