<template>
  <div class="card" :class="{ '-active': active === card.id }">
    <div class="card__image">
      <img :src="card.img" alt="" />
    </div>
    <div class="card__container">
      <div class="card__container__header">
        <h2 class="card__container__header__title">{{ card.title }}</h2>
      </div>
      <div class="card__container__text-preview">
        <p>{{ card.preview }}</p>
      </div>
      <div class="card__container__text">
        <p v-html="card.text"></p>
      </div>
      <div class="card__container__button">
        <regular-button :elClass="['grey']" @click="activate">
          Подробнее
        </regular-button>
      </div>
    </div>
  </div>
</template>

<script>
import RegularButton from './../primitives/RegularButton';

export default {
  name: 'PresenattionCard',
  components: {
    RegularButton,
  },
  props: {
    card: Object,
    active: Number,
  },
  methods: {
    activate() {
      this.$emit('activate', this.card.id);
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  max-width: 33%;
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
  &__image {
    padding-top: 80%;
    position: relative;
    img {
      max-width: 80%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  &__container {
    padding-left: 75px;
    padding-right: 20px;
    position: relative;
    @media screen and (max-width: 800px) {
      padding: 0 20px;
    }

    &:before {
      content: '';
      background-image: url('./../../assets/img/auth/card-circle.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 55px;
      width: 55px;
      position: absolute;
      top: 0;
      left: 5px;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    &__header {
      &__title {
        font-size: $semi-big + 2px;
        font-weight: 500;
        color: $black-font;
        position: relative;
        &:before {
          @media screen and (max-width: 800px) {
            content: '';
            position: absolute;
            border-radius: 3px;
            background-image: $corporate-gradient;
            width: 45px;
            height: 5px;
            bottom: -13px;
            left: 0;
          }
        }
        &:after {
          @media screen and (max-width: 800px) {
            content: '';
            position: absolute;
            width: 45px;
            height: 5px;
            bottom: -13px;
            border-bottom: 5px dashed $border;
            left: 60px;
          }
        }
      }
    }
    &__text-preview {
      font-size: $regular;
      font-weight: 400;
      color: $dark-grey-font;
      text-align: justify;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    &__text {
      display: none;
      font-size: $regular;
      font-weight: 400;
      color: $dark-grey-font;
      text-align: justify;
      padding-right: 30px;
      padding-left: 0px;
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
    &__button {
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  &.-active {
    .card {
      &__image {
        display: none;
        @media screen and (max-width: 800px) {
          display: block;
        }
      }
      &__container {
        padding: 0;
        @media screen and (max-width: 800px) {
          padding: 0 20px;
        }

        &:before {
          display: none;
        }

        &__header {
          position: relative;
          margin-bottom: 30px;

          &__title {
            padding-bottom: 10px;
          }
          &:before {
            content: '';
            position: absolute;
            border-radius: 3px;
            background-image: $corporate-gradient;
            width: 45px;
            height: 5px;
            bottom: -13px;
            left: 0;
          }
          &:after {
            content: '';
            position: absolute;
            width: 45px;
            height: 5px;
            bottom: -13px;
            border-bottom: 5px dashed $border;
            left: 60px;
          }
        }
        &__text-preview {
          display: none;
        }
        &__text {
          display: block;
        }
        &__button {
          display: none;
        }
      }
    }
  }
}
</style>
