<template>
  <div class="presentation">
    <div class="presentation__container">
      <presentation-card
        @activate="activate"
        v-for="(card, key) in cards"
        :active="active"
        :key="'card-' + key"
        :card="card"
      />
    </div>
  </div>
</template>

<script>
import PresentationCard from './PresentationCard';

export default {
  data: function() {
    return {
      cards: [
        {
          id: 1,
          title: 'Для Ребенка',
          img: '/img/auth/card-1.png',
          preview:
            'Виртуальный кошелек всегда с собой для доступа к развлечениям и возможности радовать себя покупками',
          text:
            '<p>Виртуальный кошелек всегда с собой для доступа к развлечениям и возможности радовать себя покупками. </p><p> Чат для общения со сверстниками. Расстояние не помеха, поддерживать связь после каникул станет еще проще. </p><p>Доступ к информации и расписанию лагеря. Все что должен знать и помнить ребенок теперь на экране его телефона.</p><p>Инструмент для комфортного общения с  вожатыми и администрацией лагеря. Даже самый стеснительный ребенок сможет задать волнующий его вопрос или сообщить о проблеме.</p>',
        },
        {
          id: 2,
          title: 'Для родителей',
          img: '/img/auth/card-2.png',
          preview:
            'Ненавязчивый родительский контроль трат и занятий ребенка на расстоянии',
          text:
            '<p>Ненавязчивый родительский контроль трат и занятий ребенка на расстоянии</p><p>Мы предоставляем единую платформу для родителей и детей. Наша система позволяет избавиться от наличных расчетов - достаточно пополнить счет ребенка и отслеживать историю платежей, а в случае необходимости вводить ограничения на определенные группы товара либо лимиты на расходы.</p><p>Justapp позволяет получать информацию о расписании ребенка, перемещениях, контакты его вожатых и преподавателей. Встроенный чат позволит детям расширять свой круг общения, а родителям связываться друг с другом и администрацией по любым вопросам.</p>',
        },
        {
          id: 3,
          title: 'Для организаций',
          img: '/img/auth/card-3.png',
          preview:
            'Администрация объектов получит доступ в режиме реального времени ко всей необходимой информации и аналитике.',
          text:
            '<p>Администрация объектов получит доступ в режиме реального времени ко всей необходимой информации и аналитике:<br/>- Формирование меню столовых и кафе на основании предпочтений и выбора детей<br/>- Изучение спроса на досуг, экскурсии.<br/>- Контроль точек продаж, отсутствие возможности воровства и махинаций с ценами.<br/>- Оптимизация бухгалтерии и ресурсов.<br/>- Контроль и учет технических и бытовых неисправностей на территории объекта.<br/>- Анализ отзывов, предложений от детей, и результатов работы отделов объекта.<br/>- Обратная связь с детьми и родителями. Оповещения внутри системы и рассылки.</p>',
        },
      ],
      active: 1,
    };
  },
  components: {
    PresentationCard,
  },
  methods: {
    activate(id) {
      this.active = id;
    },
  },
};
</script>

<style lang="scss" scoped>
.presentation {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
}
</style>
